{includeblock APP_DIR.'/BaseModule/forms/@formControls.latte'}
{form userEditForm}
	<table class="formTable innerPadding">
		<tr class="formHeading	">
			<td colspan="3">#Uvodny text pre edit form usera</td>
		</tr>

		{include #email, control => $form['login']}
		{include #password, control => $form['password']}
		{include #password, control => $form['confirmPassword']}
		{include #checkbox, control => $form['newsletter']}
	</table>
{/form}
