{define #row-actions}
	<a href="{plink edit $primary}" data-datagrid-edit class="ajax btn btn-small btn-primary">Edit</a>
	<a href="{plink delete $primary}" data-datagrid-edit class="ajax btn btn-small btn-danger">Delete</a>
{/define}
