.rentalDetail {
    padding-top: 30px;
}
.rentalDetail #pageHeader {
position: fixed;
top: 0;
left: 0;
height: auto;
width: 100%;
border-bottom: none;
background-image: none;
box-shadow: 0 8px 6px -6px rgb(179, 179, 179);
background-image: linear-gradient(bottom,#e6e6e6 0%,#ffffff 100%);
background-image: -o-linear-gradient(bottom,#e6e6e6 0%,#ffffff 100%);
background-image: -moz-linear-gradient(bottom,#e6e6e6 0%,#ffffff 100%);
background-image: -webkit-linear-gradient(bottom,#e6e6e6 0%,#ffffff 100%);
background-image: -ms-linear-gradient(bottom,#e6e6e6 0%,#ffffff 100%);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#e6e6e6),color-stop(1,#ffffff));
}


.otherInfo {
    color: #888;
    text-align: center;
    font-size: .8em;
    margin-bottom: 10px;
    line-height: 1.1em;
}

.rentalDetail #pageHeader nav ul li.pull-right {
    width: auto;
}

.rentalDetail #pageHeader nav ul li.pull-right a,.rentalDetail #pageHeader nav ul li a {
    padding: 5px 12px;
    font-size: 1.3em;
    text-decoration: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: block;
    line-height: 1.5em;
    border: none;
    color: #698308;
    text-shadow: none;
}

.reservationform select {
    width: 48%;
    height: 30px;
    float: left;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    line-height: 30px;
    border-radius: 3px;
}

.reservationform select.tel {
    width: 48%;

}

.reservationform select:nth-child(2n),.reservationform .datepicker:nth-child(2n) {
    float: right;
}

.reservationform input.telnum {
    width: 48%;
    float: right;
}

.rentalDetail #pageHeader nav ul li.pull-right a.active ,.rentalDetail #pageHeader nav ul li a.active {

border-color: rgba(76, 87, 23, 0.31);
background: transparent;
/*box-shadow: inset 0 0 8px #4c5717;*/
text-shadow: none;
color: rgb(250, 250, 250);
text-shadow: 0 0 4px rgb(54, 54, 54);
}

.rentalDetail #pageHeader nav ul li.pull-right a.orange {

border-left: 1px solid rgb(218, 218, 218);

}



.rentalDetail #pageHeader nav ul li a.back {

text-shadow: none;
color: #727272;    
}




.objectDetail {
    background: #fdfdf8;
    padding: 10px;
}

.objectDetail h1 {
margin: 0;
font-weight: normal;
color: #174a90;
font-size: 1.2em;
margin-top: 10px ;
}

.objectDetail h1 .clasification {
    color: #698308;
    margin-right: 0;
}

.objectDetail h1 span {
white-space: nowrap;
}

.objectDetail .type {
    color: #7d3300;
    line-height: 1.3em;
}

.objectDetail .type span {
    color: #888;
    font-size: .7em;
}



.objectDetail .contacts .text {
    float: left;
    width: 48%;

    
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;

border: 1px solid #f68703;
color: #7d3300;

background-image: linear-gradient(bottom,#f68703 0%,#fdbe33 100%);
background-image: -o-linear-gradient(bottom,#f68703 0%,#fdbe33 100%);
background-image: -moz-linear-gradient(bottom,#f68703 0%,#fdbe33 100%);
background-image: -webkit-linear-gradient(bottom,#f68703 0%,#fdbe33 100%);
background-image: -ms-linear-gradient(bottom,#f68703 0%,#fdbe33 100%);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#f68703),color-stop(1,#fdbe33));

}

.objectDetail .contacts .text i , .objectDetail .icons a.btn  {
    display: block;
    float: left;
    width: 25%;
    height: 2.1em;
    border-radius: 0;
    border: none;
    margin: 0;
    padding: 0;
    line-height: 2.17em;
    text-align: center;
    font-size: 1.7em;
    box-shadow: 1px 0 0 #f68703;
    overflow: hidden;
    margin-right: 10px;
    text-decoration: none;
}


.objectDetail .icons a.btn i {
    border: none;
    box-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */        
}

.objectDetail .icons a.btn {
    box-shadow: 1px 0 0 rgb(190, 190, 190);
    color: rgb(102, 102, 102);
}

.objectDetail .contacts .icon i  {
background-image: none;
border-right: 1px solid #fff;

box-shadow: 1px 0 0 rgb(201, 201, 201);
color: #727272;     
}

.objectDetail .contacts {
    color: #333;
}

.objectDetail .contacts span {
display: block;
padding: 8px 0 0;
line-height: .9em;
}

.objectDetail img {
    max-width: 100%;
    height: auto;
    min-width: 100%;
    width: 100%;
}

.objectDetail .gallery img {
    margin-bottom: 10px;
}

.objectDetail .gallery.small img {
    width: 48%;
    min-width: 48%;
    max-width: 48%;
    float: left;
}

.objectDetail .gallery.small img:nth-child(2n){
    float: right;
}

.objectDetail .contacts {
    margin: 10px 0;
    font-size: .8em;
}


.objectDetail .contacts a {
    color: #000;
}


.objectDetail .icons {
width: 48%;
display: table-cell;
float: right;


-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;

    border: 1px solid rgb(201, 198, 198);
background-image: linear-gradient(bottom,#e6e6e6 0%,#ffffff 100%);
background-image: -o-linear-gradient(bottom,#e6e6e6 0%,#ffffff 100%);
background-image: -moz-linear-gradient(bottom,#e6e6e6 0%,#ffffff 100%);
background-image: -webkit-linear-gradient(bottom,#e6e6e6 0%,#ffffff 100%);
background-image: -ms-linear-gradient(bottom,#e6e6e6 0%,#ffffff 100%);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#e6e6e6),color-stop(1,#ffffff));
text-shadow: none;
}


.objectDetail ul.infoBox {
background: rgb(245, 245, 245);
border: 1px solid rgb(190, 190, 190);
padding: 10px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; 
margin-bottom: 10px;
}

    .objectDetail ul.infoBox li {
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

        .objectDetail ul.infoBox li:last-child {
            border: none;
            padding-bottom: 0;
            margin-bottom: 0;
            box-shadow: none;
        }

    .objectDetail ul.infoBox h2 {
        margin: 0;
        padding: 0;
        font-size: .8em;
        line-height: 1.4em;
        font-weight: normal;
        color: #698308;
    }
    
    .objectDetail ul.infoBox li:last-child h2 {
        font-weight: bold;
    }

    .objectDetail ul.infoBox p {
        margin: 0;
        padding: 0;    
        font-size: .8em;
        color: #7d3300;
    }

.detailInfo , .detailInfo  table {
    width: 100%;    
}

.detailInfo .detailmeta .rooms {
line-height: .9em;
    
}

.detailInfo .detailmeta .rooms span {
    color: #888;
    font-size: .7em;
}

.objectDetail .contacts span.phone {
font-size: .8em;
padding-left: 0;
padding-top: 1em;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.teaser {
color: #d32c16;
margin: 10px 0;
font-size: .87em;
line-height: 1.3em;
}

.detailInfo .detailPrice {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
line-height: 15px;
background: #fdf5ce;
text-align: center;
font-size: .7em;
color: #7d3300;

}

.detailInfo .detailPrice span {
    display: block;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    color: #d32c16;
}

.priceDetail {
background: rgb(255, 255, 255);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
margin-bottom: 10px;
border: 1px solid rgb(255, 122, 0);
}

.priceDetail li {
    padding: 5px;
}

.priceDetail li .orderInfo {
    color: #888;
    font-size: .7em;
}

.priceDetail li .price {
float: right;
color: #7d3300;
font-weight: bold;
}

.priceDetail li .count {
    color: #7d3300;
}

.priceDetail li.title {
font-weight: bold;
background: rgb(255, 143, 0);
color: rgb(255, 255, 255);
border-bottom: 1px solid rgb(255, 122, 0);
font-size: 1em;
}