.list h1 {
    font-size: 1.2em;
    margin: 0;
    padding: 10px 10px 0 10px;
    font-weight: normal;
    background: #fdfdf8;
    color:#174a90;
}

/* rental list*/
.rentalList {
    
}

    .rentalList article {
        
        

    }

        .rentalList article a {
            text-decoration: none;
            color: #7d3300;
            padding: 10px 0;
            background: #fdfdf8;
            display: block;
            border-bottom: 1px solid rgb(209, 209, 209);
            border-top: 1px solid rgb(255, 255, 255);            
        }
    
    
        .rentalList article a h2 , .rentalList article a p  {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 1em;    
            font-weight: normal;
        }    

        .rentalList article a h2 {
            font-size: 1em;
            line-height: 1.4em;
            margin: 0; 
            padding: 0;
            color: #698308;
        }



        .rentalList article span {
            font-size: .8em;
        }

        .rentalList article a .priceInfo span {
            color: rgb(173, 173, 173);
        }

        .rentalList article a p {
            font-size: .78em;
            padding-right: 1em;
            line-height: 1.4em;
            margin: 0;
            color: #888;
        }

        .capacity , .price {
            float: left;
            font-size: .9em;

        }

        .capacity span , .price span {
            color: #888;
        }

        .capacity {
            float: right;
            margin-right: .5em;
        }

        .rentalList article p.slogan {
             color: #d32c16;
        }

        .rentalList article img {
            width: 120px;
            height: 71px;
            height: auto;
            float: left;
            margin: 0 .5em;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;    
        }


.filter {
font-size: 1em;
height: 40px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
color: #fff;
line-height: 40px;
font-weight: normal;
margin: 0;
padding: 0 10px 0 0;
background-image: linear-gradient(bottom,#749108 0%,#8eaf12 100%);
background-image: -o-linear-gradient(bottom,#749108 0%,#8eaf12 100%);
background-image: -moz-linear-gradient(bottom,#749108 0%,#8eaf12 100%);
background-image: -webkit-linear-gradient(bottom,#749108 0%,#8eaf12 100%);
background-image: -ms-linear-gradient(bottom,#749108 0%,#8eaf12 100%);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#749108),color-stop(1,#8eaf12));    
}

.filter a {
    color: #fff;
    text-decoration: none;  
    font-size: .8em;  
}

.filter a i {
    display: block;
    width: 10%;
    float: left;
    text-align: center;
    line-height: 40px;
background: transparent;
margin: 0;
border: none;
text-decoration: none;
color: #fff;
padding: 0 5%;
margin-right: 5%;
background: #749108;
border-right: 1px solid rgb(99, 122, 13);
display: block;
float: left;
height: 40px;    
}

/* paginator */
/*.pagination ul {
    clear: both;
    width: 100%;
}

.pagination ul li {

}

.pagination ul li a {
    display: block;
    width: 30px;
}
*/



