{* 
	$testimonials          array of Entity\User\SiteOwnerReview
	$lastRegisteredObjects array of Entity\Rental\Rental
 *}





{*
<div id="supFooter" class="span12">
	<div class="row">
		<div class="span6">
			<div class="row">
				<div class="span6"><h5><span>#Extra </span> Text</h5></div>
				<div class="span3">
					<div class="">
						&nbsp;
					</div>							
				</div>							
				<div class="span3">
					<div class="">
						<ul class="comments" n:inner-foreach="$testimonials as $testimonial">
							<li><p class="arrow_box">{$testimonial->testimonial|truncate:80}</p>
								<span class="author">
									<a href="#">{$testimonial->senderName}</a>
								</span>
							</li> 

						</ul>
						
							<a href="#" class="bold red">#Čítaj ďalšie… </a>									
					
					</div>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="widget">
				<h5><span> #Special </span> Subinfo</h5>
				<ul>
					{foreach $lastRegisteredObjects as $rental }
						<li><a href="{plink :Front:Rental:detail $rental}" >{_$rental->name}</a></li>
					{/foreach}					
				</ul>
			</div>
		</div>
		<div class="span3">
			<div class="widget">
				<h5><span> #Special </span> Subinfo</h5>
				<ul>
					<li><a href="{plink :Front:Home:default}">{_o823}</a></li>
					<li><a href="{plink :Front:Home:contact}">{_o741}</a></li>						
				</ul>
				<p>
					{var $now = date('Y')}
					<a href="{plink :Front:Home:default}">@2006–{$now} Tralandia.sk</a>
				</p>
			</div>
		</div>
	</div>
</div>
*}