common:
	service: Service\Invoicing\Package
	title: Invoicing / Package
	h1: Invoicing / Package
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			name:
				label: Name
				mapper: e.id
				callback: {Entity\Log\Systemmethod: translateColumn, params: name}
			teaser:
				label: Teaser
				mapper: e.id
				callback: {Entity\Log\Systemmethod: translateColumn, params: name}
			uses:
				label: Uses
				mapper: e.id
				callback: {Entity\Log\Systemmethod: translateColumn, params: name}
			country:
				label: Country
				mapper: e.country
			# services:
			# 	label: Services
			# 	mapper: e.services
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
				headerStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			name:
				label: Name
				control: phrase
				inlineEditing: DictionaryPhrase:edit
			teaser:
				label: Teaser
				control: phrase
				inlineEditing: DictionaryPhrase:edit
			uses:
				label: Uses
				control: bricksList
				inlineEditing: InvoicingUseType:edit
				inlineCreating: InvoicingUseType:add
			country:
				label: Country
				control: select
				inlineEditing: LocationLocation:edit
			services:
				# anotations: "var:Collection,ORMOneToMany:targetEntity:EntityInvoicingService,mappedBy:package"
				label: Services
				control: multiSelect
			created:
				label: Created
				control: datePicker
			updated:
				label: Updated
				control: datePicker