common:
	service: Service\Attraction\Attraction
	title: Attraction / Attraction
	h1: Attraction / Attraction
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			type:
				label: Type
				mapper: e.id
				callback: {class: %this%, method: translateColumn, params: [type, name]}
			name:
				label: Name
				mapper: e.id
				callback: {class: %this%, method: translateColumn, params: name}
			description:
				label: Description
				mapper: e.id
				callback: {class: %this%, method: translateColumn, params: description}
			country:
				label: Country
				mapper: e.id
				callback: {class: %this%, method: translateColumn, params: [country, name]}
			# latitude:
			# 	label: Latitude
			# 	mapper: e.latitude
			# longitude:
			# 	label: Longitude
			# 	mapper: e.longitude
			
	form:
		fields:
			type:
				label: Type
				control: select
				inlineEditing: AttractionType:edit
				inlineCreating: AttractionType:add
			name:
				label: Name
				control: phrase
				inlineEditing: DictionaryPhrase:edit
			description:
				label: Description
				control: phrase
				inlineEditing: DictionaryPhrase:edit
			country:
				class: span6
				label: Country
				control:  
					type: multiSelect
					addClass: span6
				startNewRow: true
			latitude:
				label: Latitude
				control: text
			longitude:
				label: Longitude
				control: text
			contacts:
				label: Contacts
				control: multiSelect
			# media:
			# 	label: Media
			# 	control: multiSelect
			details:
				label: Details
				control: json
			created:
				label: Created
				control: datePicker
			updated:
				label: Updated
				control: datePicker