common:
	service: Service\Attraction\Type
	title: Attraction / Type
	h1: Attraction / Type
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			name:
				label: Name
				mapper: e.id
				callback: {Entity\Log\Systemmethod: translateColumn, params: name}
			oldId:
				label: Old Id
				mapper: e.oldId
				cellStyle: text-align:right;
				headerStyle: text-align:right;
			
	form:
		fields:
			name:
				label: Name
				control: phrase
				inlineEditing: DictionaryPhrase:edit