common:
	service: Service\Attraction\Attraction
	title: Attraction / Attraction
	h1: Attraction / Attraction
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			country:
				label: Country
				mapper: e.id
				callback: {Entity\Log\Systemmethod: translateColumn, params: [country, name]}
			type:
				label: Type
				mapper: e.id
				callback: {Entity\Log\Systemmethod: translateColumn, params: [type, name]}
			name:
				label: Name
				mapper: e.id
				callback: {Entity\Log\Systemmethod: translateColumn, params: name}
			# latitude:
			# 	label: Latitude
			# 	mapper: e.latitude
			# longitude:
			# 	label: Longitude
			# 	mapper: e.longitude
			
	form:
		fields:
			type:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:Type"
				label: Type
				control: 
					type: select
					callback:
						method: getPairs
						arguments: [id, [name, id]]
			name:
				label: Name
				control: phrase
				inlineEditing: DictionaryPhrase:edit
			description:
				label: Description
				control: phrase
				inlineEditing: DictionaryPhrase:edit
				class: span6
			country:
				class: span6
				label: Country
				control:  
					type: multiSelect
					addClass: span6
					callback: {class: \Service\Location\LocationList, method: getPairs, params: [id, [name, id], [type: 3]]}
				startNewRow: true
			contacts:
				# anotations: "var:Collection,ORMManyToMany:targetEntity:EntityCurrency,mappedBy:locations,cascade:"
				label: Contacts
				class: span6
				control: bricksList
				inlineEditing: ContactContact:edit
				inlineDeleting: ContactContact:delete
				inlineCreating: ContactContact:add
				startNewRow: false
			latitude:
				label: Latitude
				control: text
			longitude:
				label: Longitude
				control: text

			# media:
			# 	label: Media
			# 	control: multiSelect