common:
	service: Service\Attraction\Type
	title: Attraction / Type
	h1: Attraction / Type
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
				cellStyle: "text-align:right; padding-right:20px;"
				headerStyle: "text-align:right; padding-right:20px; width: 50px;"
			name:
				label: Name
				mapper: e.id
				callback: {class: %this%, method: getAttributeForGrid, params: [name]}
			oldId:
				label: Old Id
				mapper: e.oldId
				cellStyle: "text-align:right;"
				headerStyle: text-align:right;
			
	form:
		fields:
			name:
				label: Name
				class: span6
				control: 
					type: phrase
				inlineEditing: DictionaryPhrase:edit