common:
	service: Service\Attraction\Attraction
	title: Attraction / Attraction
	h1: Attraction / Attraction
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			country:
				label: Country
				mapper: e.id
				callback: {class: %this%, method: getAttributeForGrid, params: [country, name]}
			type:
				label: Type
				mapper: e.id
				callback: {class: %this%, method: getAttributeForGrid, params: [type, name]}
			name:
				label: Name
				mapper: e.id
				callback: {class: %this%, method: getAttributeForGrid, params: [name]}
			
	form:
		fields:
			type:
				label: Type
				control: 
					type: select
					callback: {class: \Service\Attraction\TypeList, method: getTranslatedPairs, params: [id, name, NULL, [name: ASC]]}
			name:
				label: Name
				control: 
					type: phrase
				inlineEditing: DictionaryPhrase:edit
			description:
				label: Description
				control: 
					type: phrase
				inlineEditing: DictionaryPhrase:edit
				class: span6
			country:
				label: Country
				control:  
					type: select
					callback: {class: \Service\Location\LocationList, method: getTranslatedPairs, params: [id, name, [type: 3], [name: ASC]]}
				startNewRow: true
			latitude:
				label: Position
				control: 
					type: gmap
					latitude: latitude
					longitude: longitude
			contacts:
				# anotations: "var:Collection,ORMManyToMany:targetEntity:EntityCurrency,mappedBy:locations,cascade:"
				label: Contacts
				class: span6
				control: 
					type: contacts
					addressLocations: {class: \Service\Location\LocationList, method: getTranslatedPairs, params: [id, name, [type: 3], [name: ASC]]}
				startNewRow: false

			# media:
			# 	label: Media
			# 	control: multiSelect