common:
	service: Service\Autopilot\Task
	title: Autopilot / Task
	h1: Autopilot / Task
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			type:
				label: Type
				mapper: e.type
			subtype:
				label: Subtype
				mapper: e.subtype
			name:
				label: Name
				mapper: e.id
				callback: {class: %this%, method: translateColumn, params: name}
			mission:
				label: Mission
				mapper: e.mission
			startTime:
				label: StartTime
				mapper: e.startTime
			due:
				label: Due
				mapper: e.due
			durationPaid:
				label: DurationPaid
				mapper: e.durationPaid
				cellStyle: text-align:right;
			links:
				label: Links
				mapper: e.links
			user:
				label: User
				mapper: e.user
			userCountry:
				label: UserCountry
				mapper: e.userCountry
			userLanguage:
				label: UserLanguage
				mapper: e.userLanguage
			userLanguageLevel:
				label: UserLanguageLevel
				mapper: e.userLanguageLevel
				cellStyle: text-align:right;
			userRole:
				label: UserRole
				mapper: e.userRole
			usersExcluded:
				label: UsersExcluded
				mapper: e.usersExcluded
			validation:
				label: Validation
				mapper: e.validation
			actions:
				label: Actions
				mapper: e.actions
			recurrenceData:
				label: RecurrenceData
				mapper: e.recurrenceData
			details:
				label: Details
				mapper: e.details
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			type:
				label: Type
				control: select
				inlineEditing: AutopilotType:edit
				inlineCreating: AutopilotType:add
			subtype:
				label: Subtype
				control: text
			name:
				label: Name
				control: text
			mission:
				label: Mission
				control: tinymce
			startTime:
				label: StartTime
				control: datePicker
			due:
				label: Due
				control: datePicker
			durationPaid:
				label: DurationPaid
				control: text
			links:
				label: Links
				control: neon
			user:
				label: User
				control: select
				inlineEditing: UserUser:edit
				inlineCreating: UserUser:add
			userCountry:
				label: UserCountry
				control: select
				inlineEditing: LocationLocation:edit
				inlineCreating: LocationLocation:add
			userLanguage:
				label: UserLanguage
				control: select
				inlineEditing: DictionaryLanguage:edit
				inlineCreating: DictionaryLanguage:add
			userLanguageLevel:
				label: UserLanguageLevel
				control: text
			userRole:
				label: UserRole
				control: select
				inlineEditing: UserRole:edit
				inlineCreating: UserRole:add
			usersExcluded:
				label: UsersExcluded
				control: bricksList
				inlineEditing: UserUser:edit
				inlineCreating: UserUser:add
			validation:
				label: Validation
				control: neon
			actions:
				label: Actions
				control: neon
			recurrenceData:
				label: RecurrenceData
				control: neon
			details:
				label: Details
				control: neon
			created:
				label: Created
				control: datePicker
			updated:
				label: Updated
				control: datePicker