common:
	service: Service\Autopilot\Type
	title: Autopilot / Type
	h1: Autopilot / Type
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			name:
				label: Name
				mapper: e.name
			durationPaid:
				label: DurationPaid
				mapper: e.durationPaid
				cellStyle: text-align:right;
			stackable:
				label: Stackable
				mapper: e.stackable
				cellStyle: text-align:right;
			timeLimit:
				label: TimeLimit
				mapper: e.timeLimit
				cellStyle: text-align:right;
			
	form:
		fields:
			name:
				label: Name
				class: span6
				control: 
					type: text
					class: span6
			technicalName:
				label: Technical Name
				class: span4
				control: 
					type: text
					class: span4
			durationPaid:
				label: Duration Paid
				class: span2
				control: 
					type: text
					class: span2
			mission:
				label: Mission
				control: tinymce
				startNewRow: false
			stackable:
				label: Stackable
				control: text
				startNewRow: true
			timeLimit:
				label: Time Limit
				control: text
				description: "In minutes."
			validation:
				label: Validation
				control: neon
				startNewRow: true
			actions:
				label: Actions
				control: neon
				startNewRow: false