common:
	service: Service\Autopilot\Task
	title: Autopilot / Task
	h1: Autopilot / Task
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			# type:
			# 	label: Type
			# 	mapper: e.id
			# 	callback: {Entity\Log\Systemmethod: translateColumn, params: name}
			# subtype:
			# 	label: Subtype
			# 	mapper: e.subtype
			name:
				label: Name
				mapper: e.name
			startTime:
				label: Start Time
				mapper: e.startTime
			due:
				label: Due
				mapper: e.due
			user:
				label: User
				mapper: e.user
			userCountry:
				label: User Country
				mapper: e.userCountry
			userLanguage:
				label: UserLanguage
				mapper: e.userLanguage
			# userLanguageLevel:
			# 	label: UserLanguageLevel
			# 	mapper: e.userLanguageLevel
			# 	cellStyle: text-align:right;
			#	headerStyle: text-align:right;
			# userRole:
			# 	label: UserRole
			# 	mapper: e.userRole
			# usersExcluded:
			# 	label: UsersExcluded
			# 	mapper: e.usersExcluded
			# recurrenceData:
			# 	label: RecurrenceData
			# 	mapper: e.recurrenceData

			
	form:
		fields:
			type:
				label: Type
				control: select
				inlineEditing: AutopilotType:edit
				inlineCreating: AutopilotType:add
			subtype:
				label: Subtype
				control: text
			name:
				label: Name
				control: text
				class: span6
			mission:
				label: Mission
				control: tinymce
				startNewRow: false
			user:
				label: User
				class: span2
				control: 
					type: select
					callback: {class: \Service\User\UserList, method: getPairs, params: [id, login, [role: [6, 7, 8, 9, 10, 11]], [login: ASC]]}
					prompt: None
					class: span2
			userCountry:
				label: User Country
				class: span2
				control: 
					type: select
					callback: {class: \Service\Location\LocationList, method: getPairs, params: [id, [name, id], [type: 3]]}
					class: span2
					prompt: None
			userLanguage:
				label: User Language
				class: span2
				control: 
					type: select
					class: span2
					prompt: None
			userLanguageLevel:
				label: User Language Level
				class: span2
				control: 
					class: span2
					type: select
					options: STATUS_.+
			userRole:
				label: User Role
				class: span2
				control: 
					type: select
					class: span2
			usersExcluded:
				label: Users Excluded
				class: span2
				control: bricksList
				inlineEditing: UserUser:edit
				inlineCreating: UserUser:add
				startNewRow: false
			startTime:
				startNewRow: true
				label: StartTime
				class: span2
				control: 
					type: datePicker
					class: span2
			due:
				label: Due
				class: span2
				control: 
					type: datePicker
					class: span2
			durationPaid:
				label: Duration Paid
				class: span2
				control: 
					type: text
					class: span2
			links:
				label: Links
				control: neon
			validation:
				label: Validation
				control: neon
			actions:
				label: Actions
				control: neon
			recurrenceData:
				label: RecurrenceData
				control: neon
			details:
				label: Details
				control: neon