common:
	service: Service\BaseEntityDetails
	title: BaseEntityDetails
	h1: BaseEntityDetails
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			details:
				label: Details
				mapper: e.details
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			details:
				label: Details
				control: json
			created:
				label: Created
				control: datePicker
			updated:
				label: Updated
				control: datePicker