common:
	title: Title

	grid:
		itemsPerPage: 50

		actionColumns:
			base:
				name: Akcia
				cellStyle: 'text-align: right'
				actions:
					edit:
						title: Edit
						addClass: btn-warning
					delete:
						title: Delete
						addClass: btn-danger


	form:
		class: row form
		buttons:
			cancel: Cancel (return)
			submit:
				type: submit
				label: Save Changes
				addClass: btn-success
