common:
	service: Service\Company\Company
	title: Company / Company
	h1: Company / Company
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			name:
				label: Name
				mapper: e.name
			companyId:
				label: CompanyId
				mapper: e.companyId
			companyVatId:
				label: CompanyVatId
				mapper: e.companyVatId
			vat:
				label: Vat
				mapper: e.vat
				cellStyle: text-align:right;
				headerStyle: text-align:right;

	form:
		fields:
			name:
				label: Name
				control: text
			address:
				label: Address
				control: text
			registrator:
				class: span6
				label: Registrator
				control: phrase
				inlineEditing: DictionaryPhrase:edit
			companyId:
				startNewRow: true
				label: CompanyId
				control: text
			companyVatId:
				label: CompanyVatId
				control: text
			vat:
				label: Vat
				control: text
			bankAccounts:
				startNewRow: true
				label: BankAccounts
				control: checkboxList
				class: span6
			countries:
				label: Countries
				control: bricksList
				inlineEditing: LocationLocation:edit
				inlineCreating: LocationLocation:add
				class: span6
				startNewRow: false
			# offices:
			# 	label: Offices
			# 	control: 
			# 		type: multiSelect
			# 		callback: 
			# 			class: \Service\Company\OfficeList
			# 			method: getPairs
			# 			arguments: [id, [name, id]]
			# 	inlineEditing: CompanyOffice:edit
			# 	inlineCreating: CompanyOffice:add
			details:
				label: Details
				control: json