common:
	service: Service\Company\BankAccount
	title: Company / BankAccount
	h1: Company / BankAccount
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			countries:
				label: Countries
				mapper: e.id
				callback: {class: %this%,method: getAttributeForGrid, params: [countries, name, ', ']}
			company:
				label: Company
				mapper: e.id
				callback: {class: %this%, method: getAttributeForGrid, params: [company, name]}
			bankName:
				label: BankName
				mapper: e.bankName
			bankSwift:
				label: BankSwift
				mapper: e.bankSwift
			accountNumber:
				label: AccountNumber
				mapper: e.accountNumber
			accountIban:
				label: AccountIban
				mapper: e.accountIban
			
	form:
		fields:
			company:
				startNewRow: true
				label: Company
				control: 
					type: select
					callback: {class: \Service\Company\CompanyList, method: getPairs, params: [id, name, NULL, [name: ASC]]}
					prompt: " - Select -"
			accountName:
				label: Account Name
				control: 
					type: text
			accountNumber:
				label: Account Number
				control: 
					type: text
			accountIban:
				label: Account IBAN
				control: 
					type: text
			bankName:
				label: Bank Name
				control: 
					type: text
				startNewRow: true
			bankSwift:
				label: Bank Swift
				control: 
					type: text
			bankAddress:
				label: Bank Address
				control: 
					type: address
					callback: {class: \Service\Location\LocationList, method: getTranslatedPairs, params: [id, name, [type: 3], [name: ASC]]}
			countries:
				label: Countries using this bank account
				class: span3
				inlineEditing: LocationLocation:edit
				inlineCreating: LocationLocation:add
				control: 
					type: bricksList
					callback: {class: \Service\Location\LocationList, method: getTranslatedPairs, params: [id, name]}
			notes:
				startNewRow: true
				label: Notes
				control: 
					type: text
				class: span12