common:
	service: Service\Company\Office
	title: Company / Office
	h1: Company / Office
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			company:
				label: Company
				mapper: e.id
			countries:
				label: Countries
				mapper: e.id
				callback: {class: %this%, method: getAttributeForGrid, params: [countries, name, ', ']}
			# signature:
			# 	label: Signature
			# 	mapper: e.signature
			# address:
			# 	label: Address
			# 	mapper: e.address

	form:
		fields:
			company:
				label: Company
				control:
					type: select
				inlineEditing: CompanyCompany:edit
				inlineCreating: CompanyCompany:add
			address:
				label: Address
				control:
					type: address
				class: span9
			signature:
				startNewRow: true
				label: Signature
				control:
					type: upload
				class: span6
			countries:
				label: Countries
				control:
					type: bricksList
				inlineEditing: LocationLocation:edit
				inlineCreating: LocationLocation:add
				startNewRow: false
				class: span6
			# details:
			# 	label: Details
			# 	control: json