common:
	service: Service\Company\Company
	title: Company / Company
	h1: Company / Company
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			# bankAccounts:
			# 	label: BankAccounts
			# 	mapper: e.bankAccounts
			# countries:
			# 	label: Countries
			# 	mapper: e.countries
			# offices:
			# 	label: Offices
			# 	mapper: e.offices
			name:
				label: Name
				mapper: e.name
			# address:
			# 	label: Address
			# 	mapper: e.address
			companyId:
				label: CompanyId
				mapper: e.companyId
			companyVatId:
				label: CompanyVatId
				mapper: e.companyVatId
			vat:
				label: Vat
				mapper: e.vat
				cellStyle: text-align:right;
			# registrator:
			# 	label: Registrator
			# 	mapper: e.registrator
			# invoices:
			# 	label: Invoices
			# 	mapper: e.invoices
			# details:
			# 	label: Details
			# 	mapper: e.details
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			bankAccounts:
				label: BankAccounts
				control: multiSelect
				inlineEditing: BankAccount:edit
				inlineCreating: BankAccount:add
			countries:
				label: Countries
				control: bricksList
				inlineEditing: LocationLocation:edit
				inlineCreating: LocationLocation:add
			offices:
				# anotations: "var:Collection,ORMOneToMany:targetEntity:Office,mappedBy:company,cascade:"
				label: Offices
				control: multiSelect
				inlineEditing: CompanyOffice:edit
				inlineCreating: CompanyOffice:add
			name:
				label: Name
				control: text
			address:
				label: Address
				control: text
			companyId:
				label: CompanyId
				control: text
			companyVatId:
				label: CompanyVatId
				control: text
			vat:
				label: Vat
				control: text
			registrator:
				label: Registrator
				control: phrase
				inlineEditing: DictionaryPhrase:edit
			invoices:
				# anotations: "var:Collection,ORMOneToMany:targetEntity:EntityInvoicingInvoice,mappedBy:company"
				label: Invoices
				control: multiSelect
				inlineEditing: InvoicingInvoice:edit
				inlineCreating: InvoicingInvoice:add
			details:
				label: Details
				control: json
			created:
				label: Created
				control: datePicker
			updated:
				label: Updated
				control: datePicker