common:
	service: Service\Company\Office
	title: Company / Office
	h1: Company / Office
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			company:
				label: Company
				mapper: e.id
			# countries:
			# 	label: Countries
			# 	mapper: e.countries
			# 	callback: {method: translateToMany, params: [countries, [name, id], ', ']}
			# signature:
			# 	label: Signature
			# 	mapper: e.signature
			# address:
			# 	label: Address
			# 	mapper: e.address

	form:
		fields:
			company:
				label: Company
				control: select
				inlineEditing: CompanyCompany:edit
				inlineCreating: CompanyCompany:add
			address:
				label: Address
				control: text
				class: span9
			signature:
				startNewRow: true
				label: Signature
				control: phrase
				class: span6
			countries:
				label: Countries
				control: bricksList
				inlineEditing: LocationLocation:edit
				inlineCreating: LocationLocation:add
				startNewRow: false
				class: span6
			# details:
			# 	label: Details
			# 	control: json