common:
	service: Service\Company\BankAccount
	title: Company / BankAccount
	h1: Company / BankAccount
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			countries:
				label: Countries
				mapper: e.id
				callback: {class: %this%,method: getAttributeForGrid, params: [countries, name, ', ']}
			company:
				label: Company
				mapper: e.id
				callback: {class: %this%, method: getAttributeForGrid, params: [company, name]}
			bankName:
				label: BankName
				mapper: e.bankName
			bankSwift:
				label: BankSwift
				mapper: e.bankSwift
			accountNumber:
				label: AccountNumber
				mapper: e.accountNumber
			accountIban:
				label: AccountIban
				mapper: e.accountIban
			
	form:
		fields:
			company:
				startNewRow: true
				label: Company
				control: 
					type: select
			accountName:
				label: AccountName
				control: 
					type: text
			accountNumber:
				label: AccountNumber
				control: 
					type: text
			accountIban:
				label: AccountIban
				control: 
					type: text
			bankName:
				label: BankName
				control: 
					type: text
				startNewRow: true
			bankSwift:
				label: BankSwift
				control: 
					type: text
			bankAddress:
				label: BankAddress
				control: 
					type: address
			countries:
				label: Countries using this bank account
				class: span3
				inlineEditing: LocationLocation:edit
				inlineCreating: LocationLocation:add
				control: 
					type: bricksList
					callback: {class: \Service\Location\LocationList, method: getTranslatedPairs, params: [id, name]}
			notes:
				startNewRow: true
				label: Notes
				control: 
					type: text
				class: span12