common:
	service: Service\Company\Office
	title: Company / Office
	h1: Company / Office
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			company:
				label: Company
				mapper: e.id
			# countries:
			# 	label: Countries
			# 	mapper: e.countries
			signature:
				label: Signature
				mapper: e.signature
			# address:
			# 	label: Address
			# 	mapper: e.address
			details:
				label: Details
				mapper: e.details
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated

	form:
		fields:
			company:
				label: Company
				control: select
				inlineEditing: CompanyCompany:edit
				inlineCreating: CompanyCompany:add
			countries:
				label: Countries
				control: bricksList
				inlineEditing: LocationLocation:edit
				inlineCreating: LocationLocation:add
			signature:
				label: Signature
				control: phrase
				inlineEditing: DictionaryPhrase:edit
			address:
				label: Address
				control: text
			# details:
			# 	# anotations: "var:json,ORMColumn:type:json,nullable:true"
			# 	label: Details
			# 	control: json
			created:
				label: Created
				control: datePicker
			updated:
				label: Updated
				control: datePicker