common:
	service: Service\Company\BankAccount
	title: Company / BankAccount
	h1: Company / BankAccount
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			# countries:
			# 	label: Countries
			# 	mapper: e.countries
			# company:
			# 	label: Company
			# 	mapper: e.company
			bankName:
				label: BankName
				mapper: e.bankName
			# bankAddress:
			# 	label: BankAddress
			# 	mapper: e.bankAddress
			bankSwift:
				label: BankSwift
				mapper: e.bankSwift
			accountNumber:
				label: AccountNumber
				mapper: e.accountNumber
			accountName:
				label: AccountName
				mapper: e.accountName
			accountIban:
				label: AccountIban
				mapper: e.accountIban
			notes:
				label: Notes
				mapper: e.notes
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			countries:
				label: Countries
				control: bricksList
				inlineEditing: LocationLocation:edit
				inlineCreating: LocationLocation:add
			company:
				label: Company
				control: select
				inlineEditing: CompanyCompany:edit
				inlineCreating: CompanyCompany:add
			bankName:
				label: BankName
				control: text
			bankAddress:
				label: BankAddress
				control: text
			bankSwift:
				label: BankSwift
				control: text
			accountNumber:
				label: AccountNumber
				control: text
			accountName:
				label: AccountName
				control: text
			accountIban:
				label: AccountIban
				control: text
			notes:
				label: Notes
				control: text
			created:
				label: Created
				control: datePicker
			updated:
				label: Updated
				control: datePicker