common:
	service: Service\Contact\Contact
	title: Contact / Contact
	h1: Contact / Contact
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			type:
				label: Type
				mapper: e.id
				callback: {method: translateColumn, params: [type, name]}
			value:
				label: Value
				mapper: e.value
			subscribed:
				label: Subscribed
				mapper: e.subscribed
			banned:
				label: Banned
				mapper: e.banned
			full:
				label: Full
				mapper: e.full
			spam:
				label: Spam
				mapper: e.spam
			
	form:
		fields:
			# type:
			# 	# anotations: "var:Collection,ORMManyToOne:targetEntity:Type,cascade:"
			# 	label: Type
			# 	control: 
			# 		type: select
			# 		callback:
			# 			method: getPairs
			# 			params: [id, [name, id]]
			value:
				# anotations: "var:string,ORMColumn:type:string,nullable:true"
				label: Value
				control: text
			subscribed:
				# anotations: "var:boolean,ORMColumn:type:boolean"
				startNewRow: true
				label: Subscribed
				control: 
					type: checkbox
					label: Subscribed to emails
			banned:
				# anotations: "var:boolean,ORMColumn:type:boolean"
				label: Banned
				control: 
					type: checkbox
					label: Banned from using our site
			full:
				# anotations: "var:boolean,ORMColumn:type:boolean"
				label: Full
				control: 
					type: checkbox
					label: "Full mailbox (undeliverable)"
			spam:
				# anotations: "var:boolean,ORMColumn:type:boolean"
				label: Spam
				control: 
					type: checkbox
					label: Spam
			# info:
			# 	# anotations: "var:json,ORMColumn:type:json,nullable:true"
			# 	label: Info
			# 	control: json
