common:
	service: Service\Contact\Type
	title: Contact / Type
	h1: Contact / Type
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			name:
				label: Name
				mapper: e.id
				callback: {method: translateColumn, params: name}
			slug:
				label: Slug
				mapper: e.slug
	form:
		fields:
			name:
				# anotations: "var:Collection,ORMOneToOne:targetEntity:EntityDictionaryPhrase,cascade:"
				label: Name
				control: phrase
			slug:
				# anotations: "var:slug,ORMColumn:type:slug"
				label: Slug
				control: text