common:
	service: Service\Currency
	title: Currency
	h1: Currency
	grid:
		columns:
			id:
				label: Id
				mapper: e.id
			name:
				label: Name
				mapper: e.id
				callback: {Entity\Log\Systemmethod: translateColumn, params: name}
			iso:
				label: Iso
				mapper: e.iso
			exchangeRate:
				label: ExchangeRate
				mapper: e.exchangeRate
				cellStyle: text-align:right;
			rounding:
				label: Rounding
				mapper: e.rounding
				cellStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated

	addForm:
		fields:
			iso:
				label: Iso
				control: text

	form:
		fields:
			name:
				label: Name
				control: phrase
				addClass: 'myPhraseClass'
				inlineEditing: DictionaryPhrase:edit
			iso:
				label: Iso
				control: text
			exchangeRate:
				label: ExchangeRate
				control: text
			rounding:
				label: Rounding
				control: text
			locations:
				label: Locations
				control: bricksList
				inlineEditing: LocationLocation:edit
				inlineCreating: LocationLocation:add
			created:
				label: Created
				control: datePicker
			updated:
				label: Updated
				control: datePicker