entity: Entity\Currency

parameters:
	title: Currencies
	h1: 'Currency -> %name%'

grid:
	orderBy: iso
	itemsPerPage: 20
	columns:
		id:
			label: Id
		name:
			label: Name
		iso:
			label: Iso
		exchangeRate:
			label: Exchange Rate / EUR
		rounding:
			label: Rounding

form:
	fields:
		name:
			label: Name
			control:
				type: advancedPhrase
			validation:
				- [setRequired, 'Please fill in the name.']
		iso:
			label: Iso
			control:
				type: text
			validation:
				- [addRule, :pattern, 'Must be exactly 3 characters long and UPPERCASE.', '[A-Z]{3}']
		exchangeRate:
			label: Exchange Rate / EUR
			control:
				type: text
			description: "How much of this currency would you get for one Euro?"
		rounding:
			label: Rounding
			control:
				type: text
		searchInterval:
			label: Search Interval
			control:
				type: text