common:
	service: Service\Currency
	title: Currency Main Title
	h1: Currency Main H1

	grid:
		columns: 
			id:
				mapper: e.id
				draw: false
			name:
				label: Name
				mapper: e.id
				callback: {class: %this%, method: translateColumn, params: name}
			iso:
				label: ISO
				mapper: e.iso
				editable: true
			exchangeRate:
				label: Rate
				mapper: e.exchangeRate
				editable: true
			decimalPlaces:
				label: Places
				mapper: e.decimalPlaces
				editable: true
			rounding:
				label: Rounding
				mapper: e.rounding
				editable: true
			created:
				label: Dátum vytvorenia
				mapper: e.created

	form:
		fields:
			name:
				control: 
					type: phrase
					class: test
				addClass: 'myPhraseClass'
				inlineEditing: Phrase:edit
				inlineCreating: Phrase:add
			iso:
				control: text
			exchangeRate:
				control: 
					type: text
					disabled: true
			rounding:
				control: text