common:
	service: Service\Dictionary\Language
	title: Dictionary / Language
	h1: Dictionary / Language
	grid:
		itemsPerPage: 200
		columns:
			id:
				label: ID
				mapper: e.id
			supported:
				label: Supported
				mapper: e.supported
			name:
				label: Name
				mapper: e.id
				callback: {class: %this%, method: translateColumn, params: name}
			iso:
				label: Iso
				mapper: e.iso
				#callback: {method: strtoupper}
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			name:
				label: Name
				control: phrase
				inlineEditing: Phrase:edit
				inlineCreating: Phrase:add
			iso:
				label: Iso
				validation:
					- [addRule, PATTERN, 'Must be exactly 2 characters long.', '[a-z]{2}']
					#- [addRule, [\Service\Dictionary\Language, validateUniqueIso], 'ISO code must be unique.']
				control: 
					type: text
			defaultCollation:
				label: DefaultCollation
				control: text
			supported:
				label: Supported
				control: 
					type: checkbox
					label: Supported / Translated
			multitranslationOptions:
				class: span3 json-list
				label: MultitranslationOptions
				control:
					type: json
					class: span3
			genderNumberOptions:
				class: span3 json-list
				label: GenderNumberOptions
				startNewRow: FALSE
				control:
					type: json
					class: span3
			ppcPatterns:
				class: span6 json-list
				label: PpcPatterns
				startNewRow: FALSE
				control:
					type: table
					class: span6
					columns: [Pattern]
					rows: "+5"