common:
	service: Service\Dictionary\Language
	title: Dictionary Languages

	grid:
		dataSourceMethod: getGridList
		columns: 
			id:
				mapper: e.id
				draw: false
			iso:
				label: ISO
				mapper: e.iso
				callback: {class: \Nette\Utils\Strings, method: upper, params: iso}
				headerStyle: 'width: 30px;'
			name:
				type: text
				label: Name
				mapper: e.id
				callback: {class: %this%, method: translateColumn, params: name}
				cellStyle: 'text-align: center'
			test:
				label: Test
				mapper: test
				headerStyle: 'width: 30px;'
				cellStyle: 'text-align: center'
			supported:
				type: boolean
				label: Supported
				mapper: e.supported
				# filter: checkbox
				filter:
					type: selectbox
					options: {'0': "Nemá objednávky", '1': "Má objednávky"}
			defaultCollation:
				type: text
				label: Collation
				mapper: e.defaultCollation
				filter: text
			created:
				type: datetime
				label: Dátum vytvorenia
				mapper: e.created
				filter: date
			setSupported:
				type: text
				label: ''
				mapper: e.id
				callback: {class: %this%, method: setSupported}

	form:
		addClass: ajax
		fields:
			iso:
				control: text
				startNewRow: true
				validation:
					- [addRule, PATTERN, 'Musí obsahovat číslici', '.*[0-9].*']

			name:
				control: 
					type: phrase
					class: test
				addClass: 'myPhraseClass'
				inlineEditing: Phrase:edit

			supported:
				control: 
					type: checkbox
					label: ano ? ne ?
				label: Supported
				description: 'tak si vyber!'

			defaultCollation:
				control: text
				label: Collation
				description: 'asdfasdf'

			multitranslationOptions:
				label: Multitranslations
				control: 
					type: table
					rows: 5
					columns: [Formula]

			genderNumberOptions:
				control: 
					type: table
					rows: 5
					columns: ['Gender / Number shortcut']
				startNewRow: false

			ppcPatterns:
				control: 
					type: table
					rows: '+5'
					columns: ['Patern']
				startNewRow: false
