common:
	service: Service\Dictionary\Type
	title: Dictionary / Type
	h1: Dictionary / Type
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			entityName:
				label: Entity Name
				mapper: e.entityName
			entityAttribute:
				label: Attribute
				mapper: e.entityAttribute
			requiredLanguages:
				label: Languages
				mapper: e.requiredLanguages
			translationLevelRequirement:
				label: Level
				mapper: e.translationLevelRequirement
				cellStyle: text-align:right;
				headerStyle: text-align:right;
			multitranslationRequired:
				label: Multitranslations
				mapper: e.multitranslationRequired
			genderNumberRequired:
				label: Gender / Number
				mapper: e.genderNumberRequired
			locativeRequired:
				label: Locative
				mapper: e.locativeRequired
			positionRequired:
				label: Position
				mapper: e.positionRequired
			webalizedRequired:
				label: Webalized
				mapper: e.webalizedRequired
			checkingRequired:
				label: Checking
				mapper: e.checkingRequired
			
	form:
		fields:
			name:
				# anotations: "var:string,ORMColumn:type:string,nullable:true"
				label: Name
				control: text
				class: span6
			entityName:
				# anotations: "var:string,ORMColumn:type:string,nullable:true"
				label: Entity Name
				control: text
			entityAttribute:
				# anotations: "var:string,ORMColumn:type:string,nullable:true"
				label: Entity Attribute
				control: text
			requiredLanguages:
				# anotations: "var:string,ORMColumn:type:string"
				label: Required Languages
				control: text
			translationLevelRequirement:
				# anotations: "var:integer,ORMColumn:type:integer"
				label: Translation Level Requirement
				control: text
			helpForTranslator:
				# anotations: "var:string,ORMColumn:type:string,nullable:true"
				label: HelpForTranslator
				control: text
				class: span6
			multitranslationRequired:
				# anotations: "var:boolean,ORMColumn:type:boolean"
				startNewRow: true
				label: Multitranslation
				control: 
					type: checkbox
					label: Translations for plurals required
			genderNumberRequired:
				# anotations: "var:boolean,ORMColumn:type:boolean"
				label: Gender / Number
				control: 
					type: checkbox
					label: Gender and number options needed
			locativeRequired:
				# anotations: "var:boolean,ORMColumn:type:boolean"
				label: Locative
				control: 
					type: checkbox
					label: Needed in locative
			positionRequired:
				# anotations: "var:boolean,ORMColumn:type:boolean"
				label: Position
				control: 
					type: checkbox
					label: Position required
			webalizedRequired:
				# anotations: "var:boolean,ORMColumn:type:boolean"
				label: Webalized 
				control: 
					type: checkbox
					label: Webalized version needed
			checkingRequired:
				# anotations: "var:boolean,ORMColumn:type:boolean,nullable:true"
				label: Checking
				control: 
					type: checkbox
					label: Needs to be checked
