common:
	service: Service\Domain
	title: Domain
	h1: Domain
	grid:
		columns:
			id:
				label: Id
				mapper: e.id
				cellStyle: text-align:right;
				headerStyle: text-align:right;
			domain:
				label: Domain
				mapper: e.domain
			
	form:
		fields:
			domain:
				label: Domain
				control: text
			# locations:
			# 	label: Locations
			# 	control: bricksList
			# 	inlineEditing: LocationLocation:edit
			# 	inlineCreating: LocationLocation:add