common:
	service: Service\Domain
	title: Domain
	h1: Domain
	grid:
		columns:
			id:
				label: Id
				mapper: e.id
				cellStyle: text-align:right;
			domain:
				label: Domain
				mapper: e.domain
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			domain:
				# anotations: "var:string,ORMColumn:type:string"
				label: Domain
				control: text
			locations:
				# anotations: "var:Collection,ORMOneToMany:targetEntity:EntityLocationLocation,mappedBy:domain"
				label: Locations
				control: bricksList
			created:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Created
				control: datePicker
			updated:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Updated
				control: datePicker