common:
	service: Service\Domain
	title: Domain
	h1: Domain
	grid:
		columns:
			id:
				label: Id
				mapper: e.id
				cellStyle: text-align:right;
				headerStyle: text-align:right;
			domain:
				label: Domain
				mapper: e.domain
			expires:
				label: Expiring Date
				mapper: e.expires
	form:
		fields:
			domain:
				label: Domain
				control: 
					type: text
			expires:
				label: Expiring Date
				control: 
					type: datepicker
			registratorDetails:
				label: Registrator details
				class: span6
				control: 
					type: text
					class: span6
