common:
	service: Service\Emailing\Template
	title: Emailing / Template
	h1: Emailing / Template
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			name:
				label: Name
				mapper: e.id
				callback: {Entity\Log\Systemmethod: translateColumn, params: name}
			subject:
				label: Subject
				mapper: e.subject
			body:
				label: Body
				mapper: e.body
			language:
				label: Language
				mapper: e.language
			batches:
				label: Batches
				mapper: e.batches
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			name:
				# anotations: "var:string,ORMColumn:type:string,nullable:true"
				label: Name
				control: text
			subject:
				# anotations: "var:Collection,ORMOneToOne:targetEntity:EntityDictionaryPhrase,cascade:"
				label: Subject
				control: phrase
			body:
				# anotations: "var:Collection,ORMOneToOne:targetEntity:EntityDictionaryPhrase,cascade:"
				label: Body
				control: phrase
			language:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:EntityDictionaryLanguage"
				label: Language
				control: select
			batches:
				# anotations: "var:Collection,ORMOneToMany:targetEntity:Batch,mappedBy:template"
				label: Batches
				control: multiSelect
			created:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Created
				control: datePicker
			updated:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Updated
				control: datePicker