common:
	service: Service\Emailing\TemplateType
	title: 'Email Template Types'
	h1: 'Email Template Type -> %name%'
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			name:
				label: Name
				mapper: e.id
				callback: {class: %this%, method: getAttributeForGrid, params: [name]}
	form:
		fields:
			name:
				label: Name
				class: span6
				control: 
					type: text
			availableVariables:
				startNewRow: true
				label: Available Variables
				class: span12
				control:
					type: neon
					class: neon