common:
	service: Service\Emailing\Batch
	title: Emailing / Batch
	h1: Emailing / Batch
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			confirmed:
				label: Confirmed
				mapper: e.confirmed
			template:
				label: Template
				mapper: e.template
			totalCount:
				label: TotalCount
				mapper: e.totalCount
				cellStyle: text-align:right;
				headerStyle: text-align:right;
			subject:
				label: Subject
				mapper: e.subject
			body:
				label: Body
				mapper: e.body
			bodyHtml:
				label: BodyHtml
				mapper: e.bodyHtml
			details:
				label: Details
				mapper: e.details
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
				headerStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			confirmed:
				label: Confirmed
				control: checkbox
			# template:
			# 	# anotations: "var:Collection,ORMManyToOne:targetEntity:Template,inversedBy:batches"
			# 	label: Template
			# 	control: select
			totalCount:
				label: TotalCount
				control: text
			subject:
				label: Subject
				control: text
			body:
				label: Body
				control: text
			bodyHtml:
				label: BodyHtml
				control: text
			details:
				label: Details
				control: json
			created:
				label: Created
				control: datePicker
			updated:
				label: Updated
				control: datePicker