common:
	service: Service\Invoicing\ServiceDuration
	title: Invoicing / ServiceDuration
	h1: Invoicing / ServiceDuration
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			duration:
				label: Duration
				mapper: e.duration
			name:
				label: Name
				mapper: e.id
				callback: {Entity\Log\Systemmethod: translateColumn, params: name}
			sort:
				label: Sort
				mapper: e.sort
				cellStyle: text-align:right;
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			duration:
				label: Duration
				control: text
			name:
				label: Name
				control: phrase
				inlineEditing: DictionaryPhrase:edit
			sort:
				label: Sort
				control: text
			created:
				label: Created
				control: datePicker
			updated:
				label: Updated
				control: datePicker