common:
	service: Service\Invoicing\Service\Service
	title: Invoicing / Service / Service
	h1: Invoicing / Service / Service
	grid:
		columns:
			type:
				label: Type
				mapper: e.type
			duration:
				label: Duration
				mapper: e.duration
			defaultPrice:
				label: DefaultPrice
				mapper: e.defaultPrice
			currentPrice:
				label: CurrentPrice
				mapper: e.currentPrice
			package:
				label: Package
				mapper: e.package
			id:
				label: Id
				mapper: e.id
			oldId:
				label: OldId
				mapper: e.oldId
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			type:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:Type"
				label: Type
				control: selectBox
			duration:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:Duration"
				label: Duration
				control: selectBox
			defaultPrice:
				# anotations: "var:price,ORMColumn:type:price"
				label: DefaultPrice
				control: text
			currentPrice:
				# anotations: "var:price,ORMColumn:type:price"
				label: CurrentPrice
				control: text
			package:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:EntityInvoicingPackage,inversedBy:services"
				label: Package
				control: selectBox
			created:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Created
				control: dateTime
			updated:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Updated
				control: dateTime