common:
	service: Service\Invoicing\Coupon
	title: Invoicing / Coupon
	h1: Invoicing / Coupon
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			name:
				label: Name
				mapper: e.id
				callback: {class: %this%, method: translateColumn, params: name}
			code:
				label: Code
				mapper: e.code
			countTotal:
				label: CountTotal
				mapper: e.countTotal
				cellStyle: text-align:right;
			countLeft:
				label: CountLeft
				mapper: e.countLeft
				cellStyle: text-align:right;
			validFrom:
				label: ValidFrom
				mapper: e.validFrom
			validTo:
				label: ValidTo
				mapper: e.validTo
			recommenderPackage:
				label: RecommenderPackage
				mapper: e.recommenderPackage
			recommendeePackage:
				label: RecommendeePackage
				mapper: e.recommendeePackage
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			name:
				label: Name
				control: text
			code:
				label: Code
				control: text
			countTotal:
				label: CountTotal
				control: text
			countLeft:
				label: CountLeft
				control: text
			validFrom:
				label: ValidFrom
				control: datePicker
			validTo:
				label: ValidTo
				control: datePicker
			recommenderPackage:
				label: RecommenderPackage
				control: select
				inlineEditing: InvoicingPackage:edit
				inlineCreating: InvoicingPackage:add
			recommendeePackage:
				label: RecommendeePackage
				control: select
				inlineEditing: InvoicingPackage:edit
				inlineCreating: InvoicingPackage:add
			created:
				label: Created
				control: datePicker
			updated:
				label: Updated
				control: datePicker