common:
	service: Service\Location\Type
	title: Location / Type
	h1: Location / Type
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			name:
				label: Name
				mapper: e.id
				callback: {Entity\Log\Systemmethod: translateColumn, params: name}
			slug:
				label: Slug
				mapper: e.slug
			details:
				label: Details
				mapper: e.details
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
				headerStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			name:
				label: Name
				control: phrase
				inlineEditing: DictionaryPhrase:edit
			slug:
				label: Slug
				control: text
			details:
				label: Details
				control: json
			created:
				label: Created
				control: datePicker
			updated:
				label: Updated
				control: datePicker