common:
	service: Service\Location\Location
	title: Location / Location
	h1: Location / Location
	grid:
		itemsPerPage: 100
		columns:
			id:
				label: ID
				mapper: e.id
			iso:
				label: Iso
				mapper: e.iso
				callback: {class: \Nette\Utils\Strings, method: upper, params: e.iso}
			name:
				label: Name
				mapper: e.id
				callback: {class: %this%, method: translateColumn, params: name}
			slug:
				label: Slug
				mapper: e.slug
			type:
				label: Type
				mapper: e.id
				callback: {class: %this%, method: translateColumn, params: [type, name]}
			status:
				label: Status
				mapper: e.status
			# languages:
			# 	label: Languages
			# 	mapper: e.id
			# 	callback: {class: %this%, method: translateColumn, params: [type, name]}



			# nameOfficial:
			# 	label: NameOfficial
			# 	mapper: e.id
			# 	callback: {class: %this%, method: translateColumn, params: name}
			# nameShort:
			# 	label: NameShort
			# 	mapper: e.id
			# 	callback: {class: %this%, method: translateColumn, params: name}
			# parentId:
			# 	label: ParentId
			# 	mapper: e.parentId
			# 	cellStyle: text-align:right;
			# polygon:
			# 	label: Polygon
			# 	mapper: e.polygon
			# latitude:
			# 	label: Latitude
			# 	mapper: e.latitude
			# longitude:
			# 	label: Longitude
			# 	mapper: e.longitude
			# defaultZoom:
			# 	label: DefaultZoom
			# 	mapper: e.defaultZoom
			# 	cellStyle: text-align:right;
			# clickMapData:
			# 	label: ClickMapData
			# 	mapper: e.clickMapData
			# bankAccounts:
			# 	label: BankAccounts
			# 	mapper: e.bankAccounts
			# companies:
			# 	label: Companies
			# 	mapper: e.companies
			# offices:
			# 	label: Offices
			# 	mapper: e.offices
			# domain:
			# 	label: Domain
			# 	mapper: e.domain
			# marketings:
			# 	label: Marketings
			# 	mapper: e.marketings
			# rentals:
			# 	label: Rentals
			# 	mapper: e.rentals
			# users:
			# 	label: Users
			# 	mapper: e.users
			# incomingLocations:
			# 	label: IncomingLocations
			# 	mapper: e.incomingLocations
			# outgoingLocations:
			# 	label: OutgoingLocations
			# 	mapper: e.outgoingLocations
			# iso3:
			# 	label: Iso3
			# 	mapper: e.iso3
			# defaultCurrency:
			# 	label: DefaultCurrency
			# 	mapper: e.defaultCurrency
			# currencies:
			# 	label: Currencies
			# 	mapper: e.currencies
			# defaultLanguage:
			# 	label: DefaultLanguage
			# 	mapper: e.defaultLanguage
			# population:
			# 	label: Population
			# 	mapper: e.population
			# 	cellStyle: text-align:right;
			# phonePrefix:
			# 	label: PhonePrefix
			# 	mapper: e.phonePrefix
			# facebookGroup:
			# 	label: FacebookGroup
			# 	mapper: e.facebookGroup
			# capitalCity:
			# 	label: CapitalCity
			# 	mapper: e.capitalCity
			# phoneNumberEmergency:
			# 	label: PhoneNumberEmergency
			# 	mapper: e.phoneNumberEmergency
			# phoneNumberPolice:
			# 	label: PhoneNumberPolice
			# 	mapper: e.phoneNumberPolice
			# phoneNumberMedical:
			# 	label: PhoneNumberMedical
			# 	mapper: e.phoneNumberMedical
			# phoneNumberFire:
			# 	label: PhoneNumberFire
			# 	mapper: e.phoneNumberFire
			# wikipediaLink:
			# 	label: WikipediaLink
			# 	mapper: e.wikipediaLink
			# contacts:
			# 	label: Contacts
			# 	mapper: e.contacts
			# drivingSide:
			# 	label: DrivingSide
			# 	mapper: e.drivingSide
			# pricesPizza:
			# 	label: PricesPizza
			# 	mapper: e.pricesPizza
			# 	cellStyle: text-align:right;
			# pricesDinner:
			# 	label: PricesDinner
			# 	mapper: e.pricesDinner
			# 	cellStyle: text-align:right;
			# airports:
			# 	label: Airports
			# 	mapper: e.airports
			# details:
			# 	label: Details
			# 	mapper: e.details
			# oldId:
			# 	label: OldId
			# 	mapper: e.oldId
			# 	cellStyle: text-align:right;
			# created:
			# 	label: Created
			# 	mapper: e.created
			# updated:
			# 	label: Updated
			# 	mapper: e.updated
			
	form:
		fields:
			name:
				# anotations: "var:Collection,ORMOneToOne:targetEntity:EntityDictionaryPhrase,cascade:"
				label: Name
				control: phrase
				inlineEditing: Phrase:edit
			nameShort:
				# anotations: "var:Collection,ORMOneToOne:targetEntity:EntityDictionaryPhrase,cascade:"
				label: Short Name
				control: phrase
			slug:
				# anotations: "var:slug,ORMColumn:type:slug"
				label: Slug
				control: text
			type:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:Type"
				label: Type
				control: 
					type: select
					callback:
						method: getPairs
						arguments: [id, [name, id]]
			nameOfficial:
				# anotations: "var:Collection,ORMOneToOne:targetEntity:EntityDictionaryPhrase,cascade:"
				label: Official Name
				control: phrase
				class: span6
			# parentId:
			# 	# anotations: "var:integer,ORMColumn:type:integer,nullable:true"
			# 	label: ParentId
			# 	control: text
			latitude:
				# anotations: "var:latlong,ORMColumn:type:latlong,nullable:true"
				label: Latitude
				control: text
			longitude:
				# anotations: "var:latlong,ORMColumn:type:latlong,nullable:true"
				label: Longitude
				control: text
			iso:
				# anotations: "var:string,ORMColumn:type:string,nullable:true"
				label: Iso
				control: text
				startNewRow: true
			iso3:
				# anotations: "var:string,ORMColumn:type:string,nullable:true"
				label: Iso3
				control: text
			status:
				# anotations: "var:string,ORMColumn:type:string,nullable:true"
				label: Status
				control: 
					type: select
					prompt: '-- Vyber ! --'
					options: [class: \Entity\Dictionary\Type, pattern: TRANSLATION_LEVEL_.+]
			defaultZoom:
				# anotations: "var:integer,ORMColumn:type:integer,nullable:true"
				label: Default Zoom
				control: 
					type: select
					options: [1: asdf,2,3,4,5,6,7,8]
			# incomingLocations:
			# 	# anotations: "var:Collection,ORMOneToMany:targetEntity:Traveling,mappedBy:destinationLocation"
			# 	label: Incoming Locations
			# 	control: 
			# 		type: multiSelect
			# 		callback: 
			# 			class: \Service\Location\LocationList
			# 			method: getPairs
			# 			arguments: [id, [name, id]]
			# 	startNewRow: true
			# outgoingLocations:
			# 	# anotations: "var:Collection,ORMOneToMany:targetEntity:Traveling,mappedBy:sourceLocation"
			# 	label: Outgoing Locations
			# 	control: 
			# 		type: multiSelect
			# 		callback: 
			# 			class: \Service\Location\LocationList
			# 			method: getPairs
			# 			arguments: [id, [name, id]]
			defaultCurrency:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:EntityCurrency,cascade:"
				class: span2
				startNewRow: true
				label: Default Currency
				control: 
					type: select
					class: span2
			currencies:
				# anotations: "var:Collection,ORMManyToMany:targetEntity:EntityCurrency,mappedBy:locations,cascade:"
				label: Currencies
				class: span4
				control: bricksList
				inlineEditing: Currency:edit
				inlineDeleting: Currency:delete
				inlineCreating: Currency:add
				startNewRow: FALSE
			defaultLanguage:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:EntityDictionaryLanguage,cascade:"
				class: span2
				label: Default Language
				control: 
					type: select
					class: span2
			languages:
				# anotations: "var:Collection,ORMManyToMany:targetEntity:EntityDictionaryLanguage,mappedBy:locations,cascade:"
				class: span4
				label: Languages
				control: bricksList
				inlineEditing: DictionaryLanguage:edit
				inlineDeleting: DictionaryLanguage:delete
				inlineCreating: DictionaryLanguage:add
				startNewRow: FALSE
			population:
				# anotations: "var:integer,ORMColumn:type:integer,nullable:true"
				startNewRow: true
				label: Population
				control: text
				class: span2
			capitalCity:
				# anotations: "var:string,ORMColumn:type:string,nullable:true"
				label: Capital City
				control: text
				class: span2
			airports:
				# anotations: "var:text,ORMColumn:type:text,nullable:true"
				label: Airports
				control: text
				class: span2
			drivingSide:
				# anotations: "var:string,ORMColumn:type:string,nullable:true"
				label: Driving Side
				control: 
					type: select
					options: [left: Left,right: Right]
					class: span2
				class: span2
			pricesPizza:
				# anotations: "var:price,ORMColumn:type:price,nullable:true"
				label: "Pizza (average price)"
				control: text
				class: span2
			pricesDinner:
				# anotations: "var:price,ORMColumn:type:price,nullable:true"
				label: "Dinner (average price)"
				control: text
				class: span2
			phonePrefix:
				# anotations: "var:string,ORMColumn:type:string,nullable:true"
				label: Phone Prefix
				control: text
				class: span2
				startNewRow: TRUE
			phoneNumberEmergency:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:EntityContactContact,cascade:"
				label: Phone - Emergency
				control: text
				class: span2
			phoneNumberPolice:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:EntityContactContact,cascade:"
				label: Phone - Police
				control: text
				class: span2
			phoneNumberMedical:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:EntityContactContact,cascade:"
				label: Phone - Medical
				control: text
				class: span2
			phoneNumberFire:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:EntityContactContact,cascade:"
				label: Phone - Fire
				control: text
				class: span2
			wikipediaLink:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:EntityContactContact,cascade:"
				label: Wikipedia Link
				control: text
				class: span6
				startNewRow: TRUE
				validation:
					- [addCondition, MAX_LENGTH, 5]
					- [addRule, URL, 'Must be a valid URL or leave empty.']
			facebookGroup:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:EntityContactContact,cascade:"
				label: Facebook Group
				control: text
				class: span6
			contacts:
				# anotations: "var:Collection,ORMManyToMany:targetEntity:EntityContactContact,mappedBy:locations,cascade:"
				label: Contacts
				control: bricksList
				inlineEditing: ContactContact:edit
				inlineDeleting: ContactContact:delete
				inlineCreating: ContactContact:add
			details:
				# anotations: "var:json,ORMColumn:type:json,nullable:true"
				label: Details
				control: neon
			polygon:
				# anotations: "var:json,ORMColumn:type:json,nullable:true"
				label: Polygon
				control: neon
			clickMapData:
				# anotations: "var:json,ORMColumn:type:json,nullable:true"
				label: Click Map Data
				control: neon