parameters:
	service: Service\Location
	title: Locations
	h1: 'Location -> %name%'

form:
	fields:

		parent:
			label: Parent
			control:
				type: select
				repository: @locationRepositoryAccessor
				items: [getItems, id, name]
		map:
			label: GMap
			control: [type: map]