common:
	service: Service\Log\ChangeType
	title: Log / ChangeType
	h1: Log / ChangeType
	grid:
		columns:
			name:
				label: Name
				mapper: e.name
			important:
				label: Important
				mapper: e.important
			id:
				label: Id
				mapper: e.id
			oldId:
				label: OldId
				mapper: e.oldId
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			name:
				# anotations: "var:string,ORMColumn:type:string,nullable:true"
				label: Name
				control: text
			important:
				# anotations: "var:boolean,ORMColumn:type:boolean"
				label: Important
				control: checkbox
			created:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Created
				control: datePicker
			updated:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Updated
				control: datePicker