common:
	service: Service\Log\System\SystemLog
	title: Log / System / SystemLog
	h1: Log / System / SystemLog
	grid:
		columns:
			name:
				label: Name
				mapper: e.name
			comment:
				label: Comment
				mapper: e.comment
			details:
				label: Details
				mapper: e.details
			id:
				label: Id
				mapper: e.id
			oldId:
				label: OldId
				mapper: e.oldId
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			name:
				# anotations: "var:string,ORMColumn:type:string,nullable:true"
				label: Name
				control: text
			comment:
				# anotations: "var:text,ORMColumn:type:text,nullable:true"
				label: Comment
				control: text
			details:
				# anotations: "var:json,ORMColumn:type:json,nullable:true"
				label: Details
				control: json
			created:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Created
				control: dateTime
			updated:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Updated
				control: dateTime