common:
	service: Service\Medium\Type
	title: Medium / Type
	h1: Medium / Type
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			name:
				label: Name
				mapper: e.id
				callback: {Entity\Log\Systemmethod: translateColumn, params: name}
			details:
				label: Details
				mapper: e.details
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
				headerStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			name:
				# anotations: "var:text,ORMColumn:type:text"
				label: Name
				control: text
			details:
				# anotations: "var:json,ORMColumn:type:json,nullable:true"
				label: Details
				control: json
			created:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Created
				control: datePicker
			updated:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Updated
				control: datePicker