common:
	service: Service\Rental\Type
	title: Rental / Type
	h1: Rental / Type
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			name:
				label: Name
				mapper: e.id
				callback: {Entity\Log\Systemmethod: translateColumn, params: name}
			# rentals:
			# 	label: Rentals
			# 	mapper: e.rentals
			# users:
			# 	label: Users
			# 	mapper: e.users
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
				headerStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			name:
				label: Name
				control: phrase
				inlineEditing: DictionaryPhrase:edit
			rentals:
				label: Rentals
				control: bricksList
				inlineEditing: RentalRental:edit
				inlineCreating: RentalRental:add
			users:
				label: Users
				control: bricksList
				inlineEditing: UserUser:edit
				inlineCreating: UserUser:add
			created:
				label: Created
				control: datePicker
			updated:
				label: Updated
				control: datePicker