common:
	title: Rental Main Title
	h1: Rental Main H1


base < common:
	title: Rental Base

	grid:
		columns: 
			id: e.id
			nameUrl: e.nameUrl
			user: r.login
			nieco: c.id
			asdf: d.id
			asdfasdfas: d.name
			vypocet: rrr
