common:
	service: Service\Rental\Type
	title: Rental / Type
	h1: Rental / Type
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			name:
				label: Name
				mapper: e.id
				callback: {class: %this%, method: translateColumn, params: name}
			# rentals:
			# 	label: Rentals
			# 	mapper: e.rentals
			# users:
			# 	label: Users
			# 	mapper: e.users
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			name:
				# anotations: "var:Collection,ORMOneToOne:targetEntity:EntityDictionaryPhrase,cascade:"
				label: Name
				control: phrase
			rentals:
				# anotations: "var:Collection,ORMManyToMany:targetEntity:Rental,inversedBy:types,cascade:"
				label: Rentals
				control: bricksList
			users:
				# anotations: "var:Collection,ORMManyToMany:targetEntity:EntityUserUser,inversedBy:rentalTypes"
				label: Users
				control: bricksList
			created:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Created
				control: datePicker
			updated:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Updated
				control: datePicker