common:
	service: Service\Rental\Fulltext
	title: Rental / Fulltext
	h1: Rental / Fulltext
	grid:
		columns:
			rental:
				label: Rental
				mapper: e.rental
			language:
				label: Language
				mapper: e.language
			value:
				label: Value
				mapper: e.value
			id:
				label: Id
				mapper: e.id
			oldId:
				label: OldId
				mapper: e.oldId
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			rental:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:Rental,inversedBy:fulltexts"
				label: Rental
				control: selectBox
			language:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:EntityDictionaryLanguage"
				label: Language
				control: selectBox
			value:
				# anotations: "var:text,ORMColumn:type:text"
				label: Value
				control: text
			created:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Created
				control: datePicker
			updated:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Updated
				control: datePicker