common:
	service: Service\Rental\AmenityType
	title: Rental / AmenityType
	h1: Rental / AmenityType
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			# amenities:
			# 	label: Amenities
			# 	mapper: e.amenities
			name:
				label: Name
				mapper: e.id
				callback: {Entity\Log\Systemmethod: translateColumn, params: name}
			slug:
				label: Slug
				mapper: e.slug
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			amenities:
				label: Amenities
				control: multiSelect
			name:
				label: Name
				control: phrase
				inlineEditing: DictionaryPhrase:edit
			slug:
				label: Slug
				control: text
			created:
				label: Created
				control: datePicker
			updated:
				label: Updated
				control: datePicker