common:
	service: Service\Rental\Rental
	title: Rental / Rental
	h1: Rental / Rental
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			user:
				label: User
				mapper: e.user
			editLanguage:
				label: EditLanguage
				mapper: e.editLanguage
			status:
				label: Status
				mapper: e.status
				cellStyle: text-align:right;
			types:
				label: Types
				mapper: e.types
			timeDeleted:
				label: TimeDeleted
				mapper: e.timeDeleted
			rank:
				label: Rank
				mapper: e.rank
				cellStyle: text-align:right;
			locations:
				label: Locations
				mapper: e.locations
			address:
				label: Address
				mapper: e.address
			latitude:
				label: Latitude
				mapper: e.latitude
			longitude:
				label: Longitude
				mapper: e.longitude
			slug:
				label: Slug
				mapper: e.slug
			name:
				label: Name
				mapper: e.name
			briefDescription:
				label: BriefDescription
				mapper: e.briefDescription
			description:
				label: Description
				mapper: e.description
			teaser:
				label: Teaser
				mapper: e.teaser
			contacts:
				label: Contacts
				mapper: e.contacts
			spokenLanguages:
				label: SpokenLanguages
				mapper: e.spokenLanguages
			amenities:
				label: Amenities
				mapper: e.amenities
			checkIn:
				label: CheckIn
				mapper: e.checkIn
			checkOut:
				label: CheckOut
				mapper: e.checkOut
			pricelists:
				label: Pricelists
				mapper: e.pricelists
			media:
				label: Media
				mapper: e.media
			calendar:
				label: Calendar
				mapper: e.calendar
			calendarUpdated:
				label: CalendarUpdated
				mapper: e.calendarUpdated
			fulltexts:
				label: Fulltexts
				mapper: e.fulltexts
			invoices:
				label: Invoices
				mapper: e.invoices
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			user:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:EntityUserUser,inversedBy:rentals"
				label: User
				control: select
			editLanguage:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:EntityDictionaryLanguage,cascade:"
				label: EditLanguage
				control: select
			status:
				# anotations: "var:integer,ORMColumn:type:integer"
				label: Status
				control: text
			types:
				# anotations: "var:Collection,ORMManyToMany:targetEntity:Type,mappedBy:rentals"
				label: Types
				control: bricksList
			timeDeleted:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: TimeDeleted
				control: datePicker
			rank:
				# anotations: "var:decimal,ORMColumn:type:decimal,nullable:true"
				label: Rank
				control: text
			locations:
				# anotations: "var:Collection,ORMManyToMany:targetEntity:EntityLocationLocation,mappedBy:rentals"
				label: Locations
				control: bricksList
			address:
				# anotations: "var:address,ORMColumn:type:address"
				label: Address
				control: text
			latitude:
				# anotations: "var:latlong,ORMColumn:type:latlong"
				label: Latitude
				control: text
			longitude:
				# anotations: "var:latlong,ORMColumn:type:latlong"
				label: Longitude
				control: text
			slug:
				# anotations: "var:slug,ORMColumn:type:slug"
				label: Slug
				control: text
			name:
				# anotations: "var:Collection,ORMOneToOne:targetEntity:EntityDictionaryPhrase,cascade:"
				label: Name
				control: phrase
			briefDescription:
				# anotations: "var:Collection,ORMOneToOne:targetEntity:EntityDictionaryPhrase,cascade:"
				label: BriefDescription
				control: phrase
			description:
				# anotations: "var:Collection,ORMOneToOne:targetEntity:EntityDictionaryPhrase,cascade:"
				label: Description
				control: phrase
			teaser:
				# anotations: "var:Collection,ORMOneToOne:targetEntity:EntityDictionaryPhrase,cascade:"
				label: Teaser
				control: phrase
			contacts:
				# anotations: "var:Collection,ORMOneToMany:targetEntity:EntityContactContact,mappedBy:rental,cascade:"
				label: Contacts
				control: multiSelect
			spokenLanguages:
				# anotations: "var:Collection,ORMManyToMany:targetEntity:EntityDictionaryLanguage,mappedBy:rentals,cascade:"
				label: SpokenLanguages
				control: bricksList
			amenities:
				# anotations: "var:Collection,ORMManyToMany:targetEntity:EntityRentalAmenity,mappedBy:rentals"
				label: Amenities
				control: bricksList
			checkIn:
				# anotations: "var:text,ORMColumn:type:text,nullable:true"
				label: CheckIn
				control: text
			checkOut:
				# anotations: "var:text,ORMColumn:type:text,nullable:true"
				label: CheckOut
				control: text
			pricelists:
				# anotations: "var:json,ORMColumn:type:json"
				label: Pricelists
				control: json
			media:
				# anotations: "var:Collection,ORMOneToMany:targetEntity:EntityMediumMedium,mappedBy:rental,cascade:"
				label: Media
				control: multiSelect
			calendar:
				# anotations: "var:text,ORMColumn:type:text,nullable:true"
				label: Calendar
				control: text
			calendarUpdated:
				# anotations: "var:datetime,ORMColumn:type:datetime,nullable:true"
				label: CalendarUpdated
				control: datePicker
			fulltexts:
				# anotations: "var:Collection,ORMOneToMany:targetEntity:Fulltext,mappedBy:rental"
				label: Fulltexts
				control: multiSelect
			invoices:
				# anotations: "var:Collection,ORMOneToMany:targetEntity:EntityInvoicingInvoice,mappedBy:rental"
				label: Invoices
				control: multiSelect
			created:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Created
				control: datePicker
			updated:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Updated
				control: datePicker