common:
	service: Service\Rental\Amenity
	title: Rental / Amenity
	h1: Rental / Amenity
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			# type:
			# 	label: Type
			# 	mapper: e.id
			# 	callback: {Entity\Log\Systemmethod: translateColumn, params:name}
			# rentals:
			# 	label: Rentals
			# 	mapper: e.rentals
			# name:
			# 	label: Name
			# 	mapper: e.id
			# 	callback: {Entity\Log\Systemmethod: translateColumn, params:name}
			# details:
			# 	label: Details
			# 	mapper: e.details
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
				headerStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			type:
				label: Type
				control: 
					type: select
				inlineEditing: AmenityType:edit
				inlineCreating: AmenityType:add
			rentals:
				label: Rentals
				control: 
					type: bricksList
				inlineEditing: RentalRental:edit
				inlineCreating: RentalRental:add
			name:
				label: Name
				control: 
					type: phrase
				inlineEditing: DictionaryPhrase:edit
			details:
				label: Details
				control: 
					type: json
			created:
				label: Created
				control: 
					type: datePicker
			updated:
				label: Updated
				control: 
					type: datePicker