common:
	service: Service\Rental\Rental
	title: Rental / Rental
	h1: Rental / Rental
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			user:
				label: User
				mapper: e.id
				callback: {class: %this%, method: translateColumn, params: user}
			editLanguage:
				label: EditLanguage
				mapper: e.id
				callback: {class: %this%, method: translateColumn, params: editLanguage}
			status:
				label: Status
				mapper: e.status
				cellStyle: text-align:right;
			# types:
			# 	label: Types
			# 	mapper: e.types
			timeDeleted:
				label: TimeDeleted
				mapper: e.timeDeleted
			rank:
				label: Rank
				mapper: e.rank
				cellStyle: text-align:right;
			# locations:
			# 	label: Locations
			# 	mapper: e.locations
			# address:
			# 	label: Address
			# 	mapper: e.address
			latitude:
				label: Latitude
				mapper: e.latitude
			longitude:
				label: Longitude
				mapper: e.longitude
			slug:
				label: Slug
				mapper: e.slug
			name:
				label: Name
				mapper: e.id
				callback: {class: %this%, method: translateColumn, params: name}
			briefDescription:
				label: BriefDescription
				mapper: e.briefDescription
			description:
				label: Description
				mapper: e.id
				callback: {class: %this%, method: translateColumn, params: description}
			teaser:
				label: Teaser
				mapper: e.id
				callback: {class: %this%, method: translateColumn, params: teaser}
			# contacts:
			# 	label: Contacts
			# 	mapper: e.contacts
			# spokenLanguages:
			# 	label: SpokenLanguages
			# 	mapper: e.spokenLanguages
			# amenities:
			# 	label: Amenities
			# 	mapper: e.amenities
			checkIn:
				label: CheckIn
				mapper: e.checkIn
			checkOut:
				label: CheckOut
				mapper: e.checkOut
			# pricelists:
			# 	label: Pricelists
			# 	mapper: e.pricelists
			# media:
			# 	label: Media
			# 	mapper: e.media
			# calendar:
			# 	label: Calendar
			# 	mapper: e.calendar
			calendarUpdated:
				label: CalendarUpdated
				mapper: e.calendarUpdated
			# fulltexts:
			# 	label: Fulltexts
			# 	mapper: e.fulltexts
			# invoices:
			# 	label: Invoices
			# 	mapper: e.invoices
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			user:
				label: User
				control: select
				inlineEditing: UserUser:edit
				inlineCreating: UserUser:add
			editLanguage:
				label: EditLanguage
				control: select
				inlineEditing: DictionaryLanguage:edit
				inlineCreating: DictionaryLanguage:add
			status:
				label: Status
				control: text
			types:
				label: Types
				control: bricksList
				inlineEditing: RentalType:edit
				inlineCreating: RentalType:add
			timeDeleted:
				label: TimeDeleted
				control: datePicker
			rank:
				label: Rank
				control: text
			locations:
				label: Locations
				control: bricksList
				inlineEditing: LocationLocation:edit
				inlineCreating: LocationLocation:add
			address:
				label: Address
				control: text
			latitude:
				label: Latitude
				control: text
			longitude:
				label: Longitude
				control: text
			slug:
				label: Slug
				control: text
			name:
				label: Name
				control: phrase
				inlineEditing: DictionaryPhrase:edit
			briefDescription:
				label: BriefDescription
				control: phrase
				inlineEditing: DictionaryPhrase:edit
			description:
				label: Description
				control: phrase
				inlineEditing: DictionaryPhrase:edit
			teaser:
				label: Teaser
				control: phrase
				inlineEditing: DictionaryPhrase:edit
			# contacts:
			# 	label: Contacts
			# 	control: multiSelect
			# 	inlineEditing: ContactContact:edit
			# 	inlineCreating: ContactContact:add
			spokenLanguages:
				label: SpokenLanguages
				control: bricksList
				inlineEditing: DictionaryLanguage:edit
				inlineCreating: DictionaryLanguage:add
			amenities:
				label: Amenities
				control: bricksList
				inlineEditing: RentalAmenity:edit
				inlineCreating: RentalAmenity:add
			checkIn:
				label: CheckIn
				control: text
			checkOut:
				label: CheckOut
				control: text
			# pricelists:
			# 	label: Pricelists
			# 	control: json
			# media:
			# 	label: Media
			# 	control: multiSelect
			# 	inlineEditing: MediumMedium:edit
			# 	inlineCreating: MediumMedium:add
			calendar:
				label: Calendar
				control: text
			calendarUpdated:
				label: CalendarUpdated
				control: datePicker
			# fulltexts:
			# 	label: Fulltexts
			# 	control: multiSelect
			# 	inlineEditing: RentalFulltext:edit
			# 	inlineCreating: RentalFulltext:add
			# invoices:
			# 	label: Invoices
			# 	control: multiSelect
			# 	inlineEditing: InvoicingInvoice:edit
			# 	inlineCreating: InvoicingInvoice:add
			created:
				label: Created
				control: datePicker
			updated:
				label: Updated
				control: datePicker