common:
	service: Service\Seo\BackLink
	title: SEO / BackLink
	h1: SEO / BackLink
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
				cellStyle: "text-align:right; padding-right:20px;"
				headerStyle: "text-align:right; padding-right:20px; width: 50px;"
			rental:
				label: Rental
				mapper: e.id
				callback: {class: %this%, method: getAttributeForGrid, params: [rental, name]}
			location:
				label: Location
				mapper: e.id
				callback: {class: %this%, method: getAttributeForGrid, params: [location, name]}
			language:
				label: Language
				mapper: e.id
				callback: {class: %this%, method: getAttributeForGrid, params: [language, name]}
			lastChecked:
				label: Last Checked
				mapper: e.lastChecked
				cellStyle: "text-align:right;"
				headerStyle: text-align:right;

	form:
		fields:
			location:
				label: Country
				control:  
					type: select
					callback: {class: \Service\Location\LocationList, method: getTranslatedPairs, params: [id, name, [type: 8], [name: ASC]]}
			language:
				label: Language
				control:  
					type: select
					callback: {class: \Service\Dictionary\LanguageList, method: getTranslatedPairs, params: [id, name, [supported: 1], [name: ASC]]}
			rental:
				label: Rental
				class: span4
				control:  
					type: select
					callback: {class: \Service\Rental\RentalList, method: getTranslatedPairs, params: [id, name]}
					class: span4
			lastChecked:
				label: Last Checked
				class: span2
				control: 
					type: datePicker
					class: span2
			linkUrl:
				startNewRow: true
				label: Link URL
				class: span4
				control: 
					type: text
			linkAnchor:
				label: Link Anchor
				class: span4
				control: 
					type: text
			linkTitle:
				label: Link Title
				class: span4
				control: 
					type: text
			htmlCode:
				startNewRow: true
				label: HTML Code
				class: span6
				control: 
					type: textarea
					class: span6
			notes:
				label: Notes
				class: span6
				control: 
					type: textarea
					class: span6
