common:
	service: Service\Seo\SeoUrl
	title: Seo / SeoUrl
	h1: Seo / SeoUrl
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			country:
				label: Country
				mapper: e.country
			rentalType:
				label: RentalType
				mapper: e.rentalType
			location:
				label: Location
				mapper: e.location
			page:
				label: Page
				mapper: e.page
				cellStyle: text-align:right;
			tag:
				label: Tag
				mapper: e.tag
			attractionType:
				label: AttractionType
				mapper: e.attractionType
			media:
				label: Media
				mapper: e.media
			title:
				label: Title
				mapper: e.title
			h1:
				label: H1
				mapper: e.h1
			tabName:
				label: TabName
				mapper: e.tabName
			description:
				label: Description
				mapper: e.description
			ppcKeywords:
				label: PpcKeywords
				mapper: e.ppcKeywords
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			country:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:EntityLocationLocation"
				label: Country
				control: select
			rentalType:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:EntityRentalType"
				label: RentalType
				control: select
			location:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:EntityLocationLocation"
				label: Location
				control: select
			page:
				# anotations: "var:integer,ORMColumn:type:integer"
				label: Page
				control: text
			tag:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:EntityRentalAmenity"
				label: Tag
				control: select
			attractionType:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:EntityAttractionAttraction"
				label: AttractionType
				control: select
			media:
				# anotations: "var:Collection,ORMOneToMany:targetEntity:EntityMediumMedium,mappedBy:seoUrl"
				label: Media
				control: multiSelect
			title:
				# anotations: "var:Collection,ORMOneToOne:targetEntity:EntityDictionaryPhrase,cascade:"
				label: Title
				control: phrase
			h1:
				# anotations: "var:Collection,ORMOneToOne:targetEntity:EntityDictionaryPhrase,cascade:"
				label: H1
				control: phrase
			tabName:
				# anotations: "var:Collection,ORMOneToOne:targetEntity:EntityDictionaryPhrase,cascade:"
				label: TabName
				control: phrase
			description:
				# anotations: "var:Collection,ORMOneToOne:targetEntity:EntityDictionaryPhrase,cascade:"
				label: Description
				control: phrase
			ppcKeywords:
				# anotations: "var:Collection,ORMOneToOne:targetEntity:EntityDictionaryPhrase,cascade:"
				label: PpcKeywords
				control: phrase
			created:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Created
				control: datePicker
			updated:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Updated
				control: datePicker