entity: Entity\Rental\Rental

parameters:
	title: "Registrations statistics (total / from email / harvested)"
	h1: 'Registration -> %name%'
	hideAddNewButton: true

gridFactory: @statisticsRegistrationsGridFactory

form:
	fields:
