common:
	title: User Main Title
	h1: User Main H1

	grid:
		columns: 
			id:
				mapper: e.id
				draw: false
			created:
				label: Dátum vytvorenia
				mapper: e.created


base < common:
	title: User Base