common:
	service: Service\User\Role
	title: User / Role
	h1: User / Role
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			name:
				label: Name
				mapper: e.name
			slug:
				label: Slug
				mapper: e.slug
			homePage:
				label: HomePage
				mapper: e.homePage
			# users:
			# 	label: Users
			# 	mapper: e.users
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
				headerStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			name:
				label: Name
				control: text
			slug:
				label: Slug
				control: text
			homePage:
				label: HomePage
				control: text
			users:
				label: Users
				control: bricksList
				inlineEditing: UserUser:edit
				inlineCreating: UserUser:add
			created:
				label: Created
				control: datePicker
			updated:
				label: Updated
				control: datePicker