common:
	service: Service\User\Combination
	title: User / Combination
	h1: User / Combination
	grid:
		columns:
			id:
				label: ID
				mapper: e.id
			user:
				label: User
				mapper: e.user
			country:
				label: Country
				mapper: e.country
			language:
				label: Language
				mapper: e.language
			languageLevel:
				label: LanguageLevel
				mapper: e.languageLevel
				cellStyle: text-align:right;
				headerStyle: text-align:right;
			details:
				label: Details
				mapper: e.details
			oldId:
				label: OldId
				mapper: e.oldId
				cellStyle: text-align:right;
				headerStyle: text-align:right;
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			user:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:User,inversedBy:combinations"
				label: User
				control: select
			country:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:EntityLocationLocation"
				label: Country
				control: select
			language:
				# anotations: "var:Collection,ORMManyToOne:targetEntity:EntityDictionaryLanguage"
				label: Language
				control: select
			languageLevel:
				# anotations: "var:integer,ORMColumn:type:integer"
				label: LanguageLevel
				control: text
			details:
				# anotations: "var:json,ORMColumn:type:json,nullable:true"
				label: Details
				control: json
			created:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Created
				control: datePicker
			updated:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Updated
				control: datePicker