{block content}
<h1>TRAx Helper</h1>

<p>
	<textarea style="width: 600px; height: 100px;">{$output}</textarea>
	<form method="GET" action="http://tra.sk/admin/rado/helper">
		<input type="text" name="indexes" placeholder="Indexes">
		<input type="submit" value="Go">
	</form>
</table>
