{*
	$rentals array of Entity\Rental
*}

{block content}

<variables name="listInfo" data-info-rental-count="{$totalResultsCount}" data-info-list-title="{$pageH1}" data-info-paginator-page="{$paginatorPage}" data-pagging="50"></variables>

<div class="smallBrandBanner"><a href="{plink Registration:}">{_695}</a></div>

<h1>{$pageH1}
	<span class="counter">
		({_o100002, $totalResultsCount ,null,[count=>$totalResultsCount]}{if $paginatorPage > 1}, {_o100202} {$paginatorPage}.{/if})
	</span>
</h1>

{control searchBar:breadcrumb}

<div class="row-fluid">
	<div class="span12">

		<div n:if="$latitude" id="map-canvas"></div>

		<div class="mytabUi ui-tabs-nav ui-tabs">
			{if count($rentals)}
				<div id="tabs-1" class="ui-tabs-panel">
					{foreach $rentals as $rentalId}
						{var $foreachIterator = $iterator}
						{if $rentalId instanceof \Entity\Rental\Rental}
							{var $rental = $rentalId}
							{var $rentalId = $rentalId->getId()}
						{/if}

						{var $rentalData = $findRental($rentalId); }

						{*<div style="display: none" d="{$getDistance($latitude, $longitude, $rentalData->address->gps->latitude, $rentalData->address->gps->longitude)}"></div>*}

						{var $tempCacheOptions = $getCacheOptions('rentalBrick', ['rental' => $rentalId])}

						{cache $tempCacheOptions['key'],
							if => $tempCacheOptions['enabled'],
							expire => $tempCacheOptions['expiration'],
							tags => $tempCacheOptions['tags']}


						{var $rentalData = $findRental($rentalId); }
						{var $firstInterviewAnswerText = $rentalData['firstInterviewAnswerText']; }
						{var $rental = $rentalData['entity'] }
						{var $teaser = $rental->getTeaser()->getTranslation($language)}
						{var $featured = $isRentalFeatured($rental); }

							<div class="row-fluid rentalList" data-cache="{$rand}" data-rental-rank="{$rental->getRank()}">
								<div class="span4">
									<a href="{link Rental:detail $rental}" n:class="$featured ? top : classic">
										<div class="position">TOP</div>

										{if $mainImage = $rental->getMainImage()}
											<img alt="{_$rental->name}" n:image="$mainImage"/>
										{/if}

									</a>
								</div>
								<div class="span8">
									{capture $rentalName}{_$rental->name}{/capture}
									{capture $rentalLocation}{_$rental->type->name|firstUpper} {if $rental->hasPlacement()}{_$rental->getPlacement()->name}, {/if}{_$rental->address->locality->name}{/capture}

									<variables data-info-name="{_$rental->name}" data-info-url="{link Rental:detail $rental}" data-info-id="{$rental->id}"></variables>

									<h2>
										<a href="{link Rental:detail $rental}" title="{!$rentalName}">{!$rentalName}</a>{if $rental->classification > 0}&nbsp;<span class="classification" n:inner-for="$i = 0; $i < $rental->classification; $i++"><i class="entypo-star"></i></span>{/if}
									</h2>

									<button data-id="{$rental->id}" data-name="{$rentalName}{if $rental->classification > 0 } {for $i = 0; $i < $rental->classification; $i++}~star~{/for}{/if}" data-thumb="{image $rental->getMainImage()}" data-location="{_$rental->address->locality->name}" data-price="{$rental->priceFrom}" data-capacity="{$rental->maxCapacity} {_o490,null,[count=>$rental->maxCapacity]}" data-link="{link Rental:detail $rental}" class="addToFavorites btn btn-mini listCompareBtn active"><i class="icon-heart"></i><i class="icon-heart-empty"></i></button>

									<div class="clearfix"></div>

									<p class="locations">{$rentalLocation}</p>

									<p class="red teaser">{$teaser|firstUpper|truncate:200}</p>

									<p class="answer">
										{var $isFirst = true}
										{foreach $rental->getAmenitiesByImportantGroupByType(TRUE,['board']) as $amenities}

											{if $iterator->last}
												{var $coverLast = true}
											{else}
												{var $coverLast = false}
											{/if}

											{foreach $amenities as $amenity}

												{if $isFirst}{_$amenity->name|firstUpper}{else}{_$amenity->name|lower}{/if}{if $coverLast && $iterator->last}.{else}, {/if}
												{var $isFirst = false}

											{/foreach}

										{/foreach}
									</p>


									<div class="infoGrid">
										<table>
											<tr>

												<td n:if="$rental->priceFrom->getSourceAmount()" class="price tooltipElem" data-placement="bottom" title="{_152274}">
													{$rental->priceFrom}{if $rental->priceTo->getSourceAmount() != $rental->priceFrom->getSourceAmount()} - {$rental->priceTo}{/if}
												</td>

												<td class="count">{_o100005} {$rental->maxCapacity} <i class="icon-male"></i><i class="icon-female"></i></td>

												<td class="food">
													<i class="icon-food"></i>
													{var $importantAmenities = $rental->getImportantAmenities(true)}


													{foreach $rental->getAmenitiesByType(['board']) as $amenities}

														{foreach $amenities as $amenity}

															{_$amenity->name}{if !$iterator->last}, {/if}

														{/foreach}
													{/foreach}
												</td>
											</tr>
										</table>
									</div>



								</div>
							</div>




							<div class="postarea blog list schoolItem" id="schoolInfo{$rental->id}" latitude="{$rental->address->gps->latitude}" longitude="{$rental->address->gps->longitude}" style="display: none;">
								<div style="display: none;" class="infoWindowContent">
									<a href="{link Rental:detail $rental}" target="_blank">{$rentalName}</a>
								</div>
							</div>
						{/cache}

						{if !$foreachIterator->last}
							<div class="rentalListHr"></div>
						{/if}

					{/foreach}
					{control p}

				</div>
			{else}
				<div class="noSearchResults">
					<i class="entypo-search"></i>
					<h2>{_151880}</h2>
					<p>{_151881}</p>
				</div>
			{/if}
		</div>
	</div>

</div>

<script n:syntax="double">
	var infowindow = null;

//	var mapCenter = [48.6909605901733, 19.57763684375005];
	var blueIconUrl = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
	function initialize() {
		var lat = {{$latitude}};
		var lng = {{$longitude}};

		var myLatlng = new google.maps.LatLng(lat, lng);
		var mapOptions = {
			zoom: 10,
			center: myLatlng,
			scrollwheel: false
		}
		var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
//        google.maps.event.addListener(map, 'click', function() {
//            alert(map.getCenter().toString());
//        })

		infowindow = new google.maps.InfoWindow({
			content: "holding..."
		});

		$( "div.schoolItem" ).each(function() {
			var marker = new google.maps.Marker({
				position: new google.maps.LatLng($(this).attr('latitude'), $(this).attr('longitude')),
				map: map,
				id: $(this).attr('id')
			});

			google.maps.event.addListener(marker, 'click', function() {
				var content = $('#'+this.id).find('.infoWindowContent').html();
				infowindow.setContent(content);
				infowindow.open(marker.get('map'),marker);
			});
		});

		new google.maps.Marker({
			position: new google.maps.LatLng(lat,lng),
			map: map,
			id: 1,
			icon: blueIconUrl,
			zIndex: 1000
		});




	}

	google.maps.event.addDomListener(window, 'load', initialize);

</script>
