{block content}
{*control galeryManager*}

<h1>AJAX Gallery</h1>
<form class="row">
	<div class="control-group span12">
		<label><b>Gallery:</b></label>
		<div class="gallery-control">
			<!-- Thumbnail -->
			<div class="thumbnail-wrapper">
				<div class="thumbnail">
					<img src="http://www.ubytovanienaslovensku.eu/u/photo_galleries/___t_13377150553613.jpg" alt="">
					<a href="#" class="btn btn-mini btn-danger delete" title="Delete image"><i class="icon-remove icon-white"></i></a>
					<div class="caption"><input class="input-medium" value="Thumbnail label" placeholder="Photo name..." /></div>
				</div>
			</div>
			<!-- Thumbnail -->
			<div class="thumbnail-wrapper">
				<div class="thumbnail">
					<img src="http://www.ubytovanienaslovensku.eu/u/photo_galleries/___t_13377155151869.jpg" alt="">
					<a href="#" class="btn btn-mini btn-danger delete" title="Delete image"><i class="icon-remove icon-white"></i></a>
					<div class="caption"><input class="input-medium" placeholder="Photo name..." /></div>
				</div>
			</div>
			<!-- Thumbnail -->
			<div class="thumbnail-wrapper">
				<div class="thumbnail">
					<img src="http://www.ubytovanienaslovensku.eu/u/photo_galleries/___t_13377156233935.jpg" alt="">
					<a href="#" class="btn btn-mini btn-danger delete" title="Delete image"><i class="icon-remove icon-white"></i></a>
					<div class="caption"><input class="input-medium" placeholder="Photo name..." /></div>
				</div>
			</div>
			<!-- Thumbnail -->
			<div class="thumbnail-wrapper">
				<div class="thumbnail">
					<img src="http://www.ubytovanienaslovensku.eu/u/photo_galleries/___t_13277691568335.jpg" alt="">
					<a href="#" class="btn btn-mini btn-danger delete" title="Delete image"><i class="icon-remove icon-white"></i></a>
					<div class="caption"><input class="input-medium" placeholder="Photo name..." /></div>
				</div>
			</div>
			<!-- Thumbnail -->
			<div class="thumbnail-wrapper">
				<div class="thumbnail">
					<img src="http://www.ubytovanienaslovensku.eu/u/photo_galleries/___t_13277691755176.jpg" alt="">
					<a href="#" class="btn btn-mini btn-danger delete" title="Delete image"><i class="icon-remove icon-white"></i></a>
					<div class="caption"><input class="input-medium" placeholder="Photo name..." /></div>
				</div>
			</div>
			<!-- Thumbnail -->
			<div class="thumbnail-wrapper last">
				<div class="thumbnail">
					<img src="http://www.ubytovanienaslovensku.eu/u/photo_galleries/___t_12589879228936.jpg" alt="">
					<a href="#" class="btn btn-mini btn-danger delete" title="Delete image"><i class="icon-remove icon-white"></i></a>
					<div class="caption"><input class="input-medium" placeholder="Photo name..." /></div>
				</div>
			</div>
			<!-- Thumbnail -->
			<div class="thumbnail-wrapper">
				<div class="thumbnail">
					<img src="http://www.ubytovanienaslovensku.eu/u/photo_galleries/___t_12589879361660.jpg" alt="">
					<a href="#" class="btn btn-mini btn-danger delete" title="Delete image"><i class="icon-remove icon-white"></i></a>
					<div class="caption"><input class="input-medium" placeholder="Photo name..." /></div>
				</div>
			</div>
			<!-- Thumbnail -->
			<div class="thumbnail-wrapper">
				<div class="thumbnail">
					<img src="http://www.ubytovanienaslovensku.eu/u/photo_galleries/___t_12589879635154.jpg" alt="">
					<a href="#" class="btn btn-mini btn-danger delete" title="Delete image"><i class="icon-remove icon-white"></i></a>
					<div class="caption"><input class="input-medium" placeholder="Photo name..." /></div>
				</div>
			</div>
			<!-- Thumbnail -->
			<div class="thumbnail-wrapper">
				<div class="thumbnail">
					<img src="http://www.ubytovanienaslovensku.eu/u/photo_galleries/___t_12589878914584.jpg" alt="">
					<a href="#" class="btn btn-mini btn-danger delete" title="Delete image"><i class="icon-remove icon-white"></i></a>
					<div class="caption"><input class="input-medium" placeholder="Photo name..." /></div>
				</div>
			</div>
			<!-- Thumbnail -->
			<div class="thumbnail-wrapper">
				<div class="thumbnail">
					<img src="http://www.ubytovanienaslovensku.eu/u/photo_galleries/___t_12702354786349.jpg" alt="">
					<a href="#" class="btn btn-mini btn-danger delete" title="Delete image"><i class="icon-remove icon-white"></i></a>
					<div class="caption"><input class="input-medium" placeholder="Photo name..." /></div>
				</div>
			</div>
			<!-- Thumbnail -->
			<div class="thumbnail-wrapper">
				<div class="thumbnail">
					<img src="http://www.ubytovanienaslovensku.eu/u/photo_galleries/___t_12702354978903.jpg" alt="">
					<a href="#" class="btn btn-mini btn-danger delete" title="Delete image"><i class="icon-remove icon-white"></i></a>
					<div class="caption"><input class="input-medium" placeholder="Photo name..." /></div>
				</div>
			</div>
			<!-- Thumbnail -->
			<div class="thumbnail-wrapper last">
				<div class="thumbnail">
					<img src="http://www.ubytovanienaslovensku.eu/u/photo_galleries/___t_12702365072938.jpg" alt="">
					<a href="#" class="btn btn-mini btn-danger delete" title="Delete image"><i class="icon-remove icon-white"></i></a>
					<div class="caption"><input class="input-medium" placeholder="Photo name..." /></div>
				</div>
			</div>
			<!-- Thumbnail -->
			<div class="thumbnail-wrapper">
				<div class="thumbnail">
					<!-- Overlay -->
					<div class="overlay"></div>
					<!-- Progress bar -->
					<div class="progress progress-striped active"><div class="bar" style="width: 45%"></div></div>
					<img src="http://www.ubytovanienaslovensku.eu/u/photo_galleries/___t_12702366016760.jpg" alt="">
					<a href="#" class="btn btn-mini btn-danger delete" title="Delete image"><i class="icon-remove icon-white"></i></a>
					<div class="caption"><input class="input-medium" placeholder="Photo name..." /></div>
				</div>
			</div>
			<!-- Thumbnail -->
			<div class="thumbnail-wrapper">
				<div class="thumbnail">
					<!-- Waiting Overlay -->
					<div class="overlay waiting"></div>
					<img src="http://www.ubytovanienaslovensku.eu/u/photo_galleries/___t_12702366016760.jpg" alt="">
					<a href="#" class="btn btn-mini btn-danger delete" title="Delete image"><i class="icon-remove icon-white"></i></a>
					<div class="caption"><input class="input-medium" placeholder="Photo name..." /></div>
				</div>
			</div>
			<!-- Thumbnail -->
			<div class="thumbnail-wrapper">
				<div class="thumbnail">
					<!-- Waiting Overlay -->
					<div class="overlay waiting"></div>
					<img src="http://www.ubytovanienaslovensku.eu/u/photo_galleries/___t_12702366016760.jpg" alt="">
					<a href="#" class="btn btn-mini btn-danger delete" title="Delete image"><i class="icon-remove icon-white"></i></a>
					<div class="caption"><input class="input-medium" placeholder="Photo name..." /></div>
				</div>
			</div>
			<!-- Thumbnail -->
			<div class="thumbnail-wrapper">
				<button class="btn btn-success upload">+</button>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</form>