{block content}


<div class="row">

	<div class="span12">
		{include phraseForms/controlUiHeader.latte}
	</div>

	<div class="span6">

				

		<h2>table meduim</h2>
		{include phraseForms/tableMedium.latte}

		<h2>table meduim double</h2>
		{include phraseForms/tableMediumDouble.latte}

		

				

	</div>
	<div class="span6">

		<h2>table large</h2>

		{include phraseForms/tableLarge.latte}

		<h2>table text</h2>
		{include phraseForms/tableText.latte}

		<h2>table text disabled</h2>
		{include phraseForms/tableTextDisabled.latte}

		{include phraseForms/controlUiFooter.latte}
	</div>

</div>

