{block content}

<form class="traform" id="phraseForm">
<div class="row-fluid">

	<div class="span12">
	

	<div class="span2">
		<label for="phraseType"><b>phraseType</b></label>
		<select id="phraseType" class="select2">
			<option value="sk">Region name</option>
			<option value="sk">Test</option>
			<option value="sk">Test</option>
			<option value="sk">Test</option>
			<option value="sk">Test</option>
		</select>		
	</div>


	<div class="span3">
		<label for="sourceLanguage"><b>sourceLanguage</b></label>
		<select id="sourceLanguage" class="select2">
			<option value="sk">Slovak</option>
			<option value="sk">Test</option>
			<option value="sk">Test</option>
			<option value="sk">Test</option>
			<option value="sk">Test</option>
		</select>
	</div>

	<div class="span2">
		<label class="topLabel checkbox">
		  <input type="checkbox" id="phraseReady" checked=true value="">
		  Ready
		</label>
		<label for="phraseLanguage"><b>Translation | <span id="phraseTranslateCurrent">#default</b></label>
	</div>
	<div class="span2">
		<label class="topLabel checkbox">
		  <input name="phraseCorrected" type="checkbox" checked=true value="">
		  Corrected
		</label>

		<select id="phraseLanguage" name="phraseLanguage" class="select2 pull-right">
			<option value="sk">Slovakia</option>
			<option value="hu">Hungaria</option>
			<option value="de">Nemec</option>
			<option value="en">English</option>	
			
		</select>	

	</div>	

	</div>
	<hr />
	<div class="span6">
		
							<table class="phraseTable table-striped table">
								<tr>
									<td>
										0,5+
									</td>		
									<td>
										<input type="text" value="Lipsum" />
									</td>
									<td>
										<input type="text" value="Lipsum" />
									</td>
									<td>
										<input type="text" value="Lipsum" />
									</td>
											
								</tr>

								<tr>
									<td>
										1
									</td>		
									<td>
										<input type="text" value="Lipsum" />
									</td>
									<td>
										<input type="text" value="Lipsum" />
									</td>
									<td>
										<input type="text" value="Lipsum" />
									</td>
											
								</tr>	

								<tr>
									<td>
										2-4
									</td>		
									<td>
										<input type="text" value="Lipsum" />
									</td>
									<td>
										<input type="text" value="Lipsum" />
									</td>
									<td>
										<input type="text" value="Lipsum" />
									</td>
											
								</tr>		
							</table>

	</div>
	<div class="span6">

		



								<div class="phraseControll" id="en_phrase">		
										<table class="phraseTable table-striped table">
											<tr>
												<td>
													0,5+
												</td>		
												<td>
													<input type="text" />
												</td>
												<td>
													<input type="text" />
												</td>
												<td>
													<input type="text" />
												</td>
												<td>
													<input type="text" />
												</td>						
											</tr>

											<tr>
												<td>
													1
												</td>		
												<td>
													<input type="text" />
												</td>
												<td>
													<input type="text" />
												</td>
												<td>
													<input type="text" />
												</td>
												<td>
													<input type="text" />
												</td>						
											</tr>	

											<tr>
												<td>
													2-4
												</td>		
												<td>
													<input type="text" />
												</td>
												<td>
													<input type="text" />
												</td>
												<td>
													<input type="text" />
												</td>
												<td>
													<input type="text" />
												</td>						
											</tr>			<tr>
												<td>
													2-4
												</td>		
												<td>
													<input type="text" />
												</td>
												<td>
													<input type="text" />
												</td>
												<td>
													<input type="text" />
												</td>
												<td>
													<input type="text" />
												</td>						
											</tr>			<tr>
												<td>
													2-4
												</td>		
												<td>
													<input type="text" />
												</td>
												<td>
													<input type="text" />
												</td>
												<td>
													<input type="text" />
												</td>
												<td>
													<input type="text" />
												</td>						
											</tr>		
										</table>


								<div class="pull-left">
								<label for="phraseGender"><b>Gender</b></label>
								<select id="phraseGender" class="select2">
									<option>Select Gender</option>
									<option>Male</option>
									<option>Female</option>

								</select>
								</div>

								<div class="pull-right">
								<label for="phrasePosition"><b>Position</b></label>	
								<select id="phrasePosition" class="select2">
									<option>Select position</option>
									<option>Before</option>
									<option>After</option>
								</select>
								</div>
								<div class="clearfix"></div>
									
								</div>






	</div>

</div>

</form>