{block content}


<div class="row">

	<div class="span12">
		{include phraseForms/controllUiHeaderTest.latte}

	</div>
	<hr />
	<div class="span6">
		{include phraseForms/tableMediumTest.latte}
	</div>
	<div class="span6">

		

		{include phraseForms/tableLarge.latte}

		{include phraseForms/tableMediumDouble.latte}
		
		{include phraseForms/tableText.latte}
		
		{include phraseForms/tableTextDisabled.latte}

		{include phraseForms/tableMini.latte}

		{include phraseForms/tableEditor.latte}

		{include phraseForms/controllUiFooter.latte}
	</div>

</div>

