<div class="row-fluid">

	<div class="span12">
	

	<div class="span2">
		<label for="phraseType"><b>{label $container['phraseType'] /}</b></label>
		{input $container['phraseType'] , class => 'select2'}		
	</div>


	<div class="span3">
		<label for="sourceLanguage"><b>{label $container['sourceLanguage'] /}</b></label>
		{input $container['sourceLanguage'], class => 'select2'}
	</div>

	<div class="span2">
		<label class="topLabel checkbox">
		  {input $container['ready']}
		  {label $container['ready'] /}
		</label>
		<label for="phraseLanguage"><b>Translation | <span id="phraseTranslateCurrent"></b></label>
	</div>
	<div class="span2">
		<label class="topLabel checkbox">
		  {input $container['corrected']}
		  {label $container['corrected'] /}
		</label>

		{input $container['changeToLanguage'] , class => 'select2 pull-right' , id => 'phraseLanguage'}	

	</div>	

	</div>
	<hr />
	<div class="span6">
		
	{include #translationVatiations, container => $container['fromVariations']}

	</div>
	<div class="span6">

		
	{foreach $container['to']->getComponents() as $languageContainer}

	<div class="phraseControll" id="en_phrase">	


		{include #translationVatiations, container => $languageContainer['variations']}

		<div class="pull-left">
		<label for="phraseGender"><b>{label $languageContainer['gender'] /}</b></label>
		{input $languageContainer['gender'] , class => 'select2'}
		</div>

		<div class="pull-right">
		<label for="phrasePosition"><b>{label $languageContainer['position'] /}</b></label>	
		{input $languageContainer['position'] , class => 'select2'}
		</div>
		<div class="clearfix"></div>



    </div>
	{/foreach}


	</div>

</div>

