{block content}
<h1>User Dashboard <div class="entity-id">[#840]</div></h1>

<div class="dashboard">
	<div class="d-row basic-info">
		<div class="row-fluid">
			<div class="d-cell span2">
				<h3>Account:</h3>
				<div class="row-fluid">
					<input class="span11" placeholholder="Email" value="jan@czibula.com" />
				</div>
				<div class="input-append row-fluid">
					<input class="pull-left span8" placeholder="New Password" />
					<button class="btn pull-left btn-success">Save</button>
				</div>
			</div>
			<div class="d-cell input-bricks span5">
				<h3>Contacts:</h3>
				<label class="label"><div class="btn-group pull-right"><a class="btn btn-danger delete btn-mini"><i class="icon-white icon-remove"></i></a></div><span><i class="icon-envelope"></i> jan@czibula.com</span><input type="text" class="span12 text hide" name="contacts[]" value="email~jan@czibula.com"></label>
				<label class="label"><div class="btn-group pull-right"><a class="btn btn-danger delete btn-mini"><i class="icon-white icon-remove"></i></a></div><span><i class="icon-home"></i> Jazerna 584/24 , Sala, 927 01, Slovakia</span><input type="text" class="span12 text hide" name="contacts[]" value="address~Jazerna 584/24~~Sala~927 01~Slovakia"></label>
				<label class="label"><div class="btn-group pull-right"><a class="btn btn-danger delete btn-mini"><i class="icon-white icon-remove"></i></a></div><span><i class="icon-comment"></i> +421 9 204 284</span><input type="text" class="span12 text hide" name="contacts[]" value="phone~421~9 204 284"></label>
				<label class="label"><div class="btn-group pull-right"><a class="btn btn-danger delete btn-mini"><i class="icon-white icon-remove"></i></a></div><span><i class="icon-globe"></i> http://www.cibi.com</span><input type="text" class="span12 text hide" name="contacts[]" value="url~http://www.cibi.com"></label>
				<label class="label"><div class="btn-group pull-right"><a class="btn btn-danger delete btn-mini"><i class="icon-white icon-remove"></i></a></div><span><i class="icon-user"></i> Jan  Czibula</span><input type="text" class="span12 text hide" name="contacts[]" value="name~Jan~~Czibula"></label>
				<div class="contacts-control span12">
					<div class="btn-group">
						<button class="btn dropdown-toggle types" data-toggle="dropdown" selected-type="email"><i class="icon-envelope"></i> Email: <span class="caret"></span></button>
						<ul class="dropdown-menu contacts-types">
							<li><a href="#" contacts-type="email"><i class="icon-envelope"></i> Email:</a></li>
							<li><a href="#" contacts-type="phone"><i class="icon-comment"></i> Phone:</a></li>
							<li><a href="#" contacts-type="address"><i class="icon-home"></i> Address:</a></li>
							<li><a href="#" contacts-type="url"><i class="icon-globe"></i> URL:</a></li>
							<li><a href="#" contacts-type="name"><i class="icon-user"></i> Name:</a></li>
						</ul>
						<div class="contacts-types pull-left">
							<div class="type-email"><input contact-type="email-email" placeholder="Email" /></div>
							<div class="type-phone hide">
								<select>
									<option value="421">Sk (+421)</option>
									<option value="422">Ru (+422)</option>
									<option value="423">Pl (+423)</option>
								</select>
								<input placeholder="phone number" />
							</div>
							<div class="type-address hide">
								<input placeholder="Address 1" class="input-medium" />
								<input placeholder="Address 2" class="input-small" />
								<input placeholder="Locality" class="input-small" />
								<input placeholder="Postcode" class="input-small" />
								<select class="input-small">
									<option>Slovakia</option>
									<option>Czech republik</option>
									<option>Polland</option>
									<option>Russia</option>
									<option>...</option>
								</select>
							</div>
							<div class="type-url hide"><input placeholder="URL address" /></div>
							<div class="type-name hide">
								<input placeholder="First" class="input-medium" />
								<input placeholder="Middle" class="input-small" />
								<input placeholder="Last" class="input-medium" />
							</div>
						</div>
						<button class="btn btn-success submit"><i class="icon-plus icon-white"></i> Add</button>
					</div>
				</div>
			</div>
			<div class="d-cell span4">
				<h3>Tickets:</h3>
				<div class="row-fluid">
					<table class="table table-condensed span12">
						<thead>
							<tr>
								<th>#</th>
								<th>Date</th>
								<th>Link</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>123</td>
								<td>12.03.2012 12:32</td>
								<td><a href="#">Link to ticket</a></td>
								<td>Pending</td>
							</tr>
							<tr>
								<td>143</td>
								<td>12.22.2012 06:48</td>
								<td><a href="#">Link to ticket two</a></td>
								<td>Pending</td>
							</tr>
							<tr>
								<td>153</td>
								<td>12.24.2012 05:50</td>
								<td><a href="#">Link to ticket tree</a></td>
								<td>Pending</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="d-row options">
		<div class="d-cell row-fluid">
			<div class="span2 row-fluid">
				<select class="span12">
					<option>Language:</option>
				</select>
			</div>
			<div class="span2 row-fluid">
				<select class="span12">
					<option>Country:</option>
				</select>
			</div>
			<div class="span2 row-fluid">
				<select class="span12">
					<option>Operator:</option>
				</select>
			</div>
			<div class="span6 row-fluid">
				<label class="span3">
					<input type="checkbox" class="span2" name="checkbox1" />Subscribe
				</label>
				<label class="span3">
					<input type="checkbox" class="span2" name="checkbox1" />Newsletter
				</label>
				<label class="span3">
					<input type="checkbox" class="span2" name="checkbox1" />Third check
				</label>
				<label class="span3">
					<input type="checkbox" class="span2" name="checkbox1" />Fourth check
				</label>
			</div>
		</div>
	</div>
	<div class="d-row actions">
		<div class="d-cell row-fluid">
			<div class="span2 row-fluid">
				<a href="#" class="btn span9"><i class="icon-user"></i> Autologin link</a>
			</div>
			<div class="span2 row-fluid">
				<a href="#" class="btn span9"><i class="icon-random"></i> Generate Password</a>
			</div>
			<div class="span2 row-fluid">
				<a href="#" class="btn span9"><i class="icon-list"></i> Action tree</a>
			</div>
			<div class="span2 row-fluid">
				<a href="#" class="btn span9"><i class="icon-plus-sign"></i> Action four</a>
			</div>
			<div class="span2 row-fluid">
				<a href="#" class="btn span9"><i class="icon-hdd"></i> Action five</a>
			</div>
			<div class="span2 row-fluid">
				<a href="#" class="btn span9"><i class="icon-bullhorn"></i> Action six</a>
			</div>
		</div>
	</div>
	<div class="d-row rentals">
		<div class="d-cell rental">
			<div class="row-fluid">
				<div class="span3">
					<div class="thumbnail"><img src="/temp/small.jpg" alt=""></div>
				</div>
				<div class="span9">
					<h3>#840: Chata Orava</h3>
					<p><b>Status:</b> <span class="color-red">NOT LIVE (no photos uploaded)</span></p>
					<p><b>Added:</b> 12/3/2012 13:50</p>
					<p><b>Updated:</b> 12/3/2012 13:50</p>
					<div class="options">
						<a href="#" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Edit</a>
						<a href="#" class="btn btn-success"><i class="icon-calendar icon-white"></i> Prolong</a>
						<a href="#" class="btn btn-info"><i class="icon-resize-full icon-white"></i> Add Service</a>
						<a href="#" class="btn btn-danger"><i class="icon-remove icon-white"></i> Delete</a>
					</div>
					<a href="#" class="btn btn-large d-button"><i class="icon-th-list"></i> Dashboard</a>
				</div>
			</div>
		</div>
	</div>
	<div class="d-row rentals">
		<div class="d-cell rental">
			<div class="row-fluid">
				<div class="span3">
					<div class="thumbnail"><img src="/temp/small.jpg" alt=""></div>
				</div>
				<div class="span9">
					<h3>#840: Chata Orava</h3>
					<p><b>Status:</b> <span class="color-red">NOT LIVE (no photos uploaded)</span></p>
					<p><b>Added:</b> 12/3/2012 13:50</p>
					<p><b>Updated:</b> 12/3/2012 13:50</p>
					<div class="options">
						<a href="#" class="btn btn-warning"><i class="icon-pencil icon-white"></i> Edit</a>
						<a href="#" class="btn btn-success"><i class="icon-calendar icon-white"></i> Prolong</a>
						<a href="#" class="btn btn-info"><i class="icon-resize-full icon-white"></i> Add Service</a>
						<a href="#" class="btn btn-danger"><i class="icon-remove icon-white"></i> Delete</a>
					</div>
					<a href="#" class="btn btn-large d-button"><i class="icon-th-list"></i> Dashboard</a>
				</div>
			</div>
		</div>
	</div>
</div>