.container .inner{margin:0 -20px;padding:10px;background:#fff;border-top:none;}
.container .inner .content {border:1px solid #dfe0ce;padding:8px;margin-bottom:15px;border-radius:10px;box-shadow:0 1px 1px #ccc;}
.container .inner .content h1 {margin:-9px -9px 15px -9px;font-size:18px;}

label b {  }