{block content}

{define #title}
	{_$rental->nameId}
{/define}

{define #headerTitle}
	<a href="#slideshow" id="logo" title="{$heading}">
		<span class="img">
			<img n:photo="$rental->mainPhoto->path">
		</span>
		<strong>{$heading|firstUpper}</strong>
	</a>
{/define}

{control welcomeScreen}
{control amenities}
{control gallery}
{control prices}
{if $rental->calendarUpdated && !$rental->isCalendarEmpty()}
	{control calendar}
{/if}
{control contact}
