{block content}
<h1>Memcached Content Viewer</h1>

<p></p>
{* <a href="?dropAllTables=1">Drop All Tables</a> |*}
<p></p>


<table>
{foreach $keys as $key => $value}
    <tr>
    	<td><b>{$value['key']}</b></td>
    	<td>{$value['content']}</td>
    </tr>
{/foreach}
</table>