
<div class="span3 rootHomeSidebar" role="sidebar" id="sidebar">
	<aside class="noSearchBar innerPadding baseRadius baseBorder innerPaddingLeft noTopMargin">
	{if isset($countries) && count($countries)}
		<h4><i class="icon-globe"></i> {_o100164}</h4>
		<ul n:inner-foreach="$countries as $country">
			<li>
				<a href="{plink :Front:Home:default, Routers\BaseRoute::PRIMARY_LOCATION => $country['entity']}"><img src="/images/flags/{$country['entity']->getIso()}.png" /> 

					{var $rentalCount = isset($rentalCounts[$country['entity']->getId()]) ? $rentalCounts[$country['entity']->getId()] : 0}
					{$country['name']}&nbsp;{if $rentalCount}<span class="counter">{$rentalCount}</span>{/if}


					{dump $country}
				</a>
			</li>
		</ul>
	{/if}
	</aside>
</div>
