
<div class="span3 rootHomeSidebar" role="sidebar" id="sidebar">
	<aside class="noSearchBar innerPadding baseRadius baseBorder innerPaddingLeft noTopMargin">
	{if isset($countries) && count($countries)}
		<h4 class="rootCountries">{_o100164}</h4>
		<ul class="rootCountriesSidebar" n:inner-foreach="$countries as $country">
			<li>

			{ifset $country['children']}

				<span class="parent" data-for="{$country['entity']->getIso()}"><img src="/images/flags/{$country['entity']->getIso()}.png" />

					{var $rentalCount = isset($rentalCounts[$country['entity']->getId()]) ? $rentalCounts[$country['entity']->getId()] : 0}
					{_$country['entity']->getName()}&nbsp;{if $rentalCount}<span class="counter">{$rentalCount}</span>{/if}

				</span>

				<ul n:inner-foreach="$country['children'] as $children" class="children {$country['entity']->getIso()} hide">

					{var $rentalCount = isset($rentalCounts[$children['entity']->getId()]) ? $rentalCounts[$children['entity']->getId()] : 0}

					<li>
						<a href="{plink //:Front:Home:default, Routers\BaseRoute::PRIMARY_LOCATION => $children['entity']}">
						<i class="icon-angle-right"></i>
						{_$children['entity']->getName()}&nbsp;{if $rentalCount}<span class="counter">{$rentalCount}</span>{/if}
						</a>
					</li>
				</ul>

			{else}

				<a href="{plink //:Front:Home:default, Routers\BaseRoute::PRIMARY_LOCATION => $country['entity']}"><img src="/images/flags/{$country['entity']->getIso()}.png" />

					{var $rentalCount = isset($rentalCounts[$country['entity']->getId()]) ? $rentalCounts[$country['entity']->getId()] : 0}
					{_$country['entity']->getName()}&nbsp;{if $rentalCount}<span class="counter">{$rentalCount}</span>{/if}

				</a>

			{/ifset}

			</li>
		</ul>
	{/if}
	</aside>
</div>
