{block title}{include #parent} | {$settings->title}{/block}

{block content}
<h1>{$settings->title}</h1>

{_11735, [88, 7, 98, 876, 'sdf'], 'moja poznamka'|upper}

{_'Vaše číslo: %s je v poriadku', 8, 5}

{control form}