{block content}

<div class="row-fluid">
	<div class="span10"><h1>{$settings->h1}</h1></div>
	<div class="span2">
		<a n:href="list" class="btn btn-cancel marginTop marginRight pull-right">Back</a>
	</div>
</div>

<hr />

{$form}