{block title}{include #parent} | {$settings->title}{/block}

{block content}
<h1>{$settings->title}</h1>

{url link => 'Rental:detail', title => 'titttttllleee', text => 'nazov linku', entity => $entity}

{url link => 'Rental:list', title => 'titttttllleee', text => 'nazov linku', entity => $entity}

{control form}