{block content}

<div class="row-fluid gridUiTop">
	<div class="span6"><h1>{$settings->title}</h1></div>
	<div class="span6">
		<div class="btn-group pull-right">
			<a class="btn add-new pull-left marginTop btn-orange marginRight" href="{link add}"><i class="entypo-plus"></i> Add New</a>		
		</div>
	</div>
	<hr />
</div>

{control dataGrid}