{block content}

<div class="row-fluid gridUiTop">
	<div class="span12"><h1>{$settings->title}</h1></div>
	<div class="span6">
		{if isset($settings->hideAddNewButton) && !$settings->hideAddNewButton}
		<div class="btn-group pull-right">
			<a class="btn add-new pull-left marginTop marginRight" href="{link add}">Add New</a>
		</div>
		{/if}
	</div>
</div>

{control dataGrid}
