common:
	left: # lava starana
		dictionary:
			label: Dictionary
			items:
				dictionaryManager:
					separator: true
					label: Manager
					link: ':Admin:DictionaryManager:list'
				waitingForCentral:
					label: Not ready for EN correction
					link: ':Admin:PhraseList:waitingForCentral'
				notReady:
					label: Not Ready
					link: ':Admin:PhraseList:notReady'
				addPhrase:
					label: Add Phrase
					items:
						latte:
							lable: Latte
							icon: icon-angle-right
							data-confirm-text: rly?
							link: ':Admin:Phrase:add'
							linkArgs:
								type: Latte
						latteMulti:
							lable: LatteMulti
							data-confirm-text: rly?
							icon: icon-angle-right
							link: ':Admin:Phrase:add'
							linkArgs:
								type: LatteMulti
						latteHtml:
							lable: LatteHtml
							data-confirm-text: rly?
							icon: icon-angle-right
							link: ':Admin:Phrase:add'
							linkArgs:
								type: LatteHtml
				language:
					separator: true
					label: Languages
					link: ':Admin:Language:list'
				resolvePhrase:
					separator: true
					label: Update Phrase Status
					link: ':Admin:Phrase:updatePhraseStatus'
				updateVariations:
					separator: true
					label: Update Translation Variations
					link: ':Admin:Translation:updateVariations'
				updatePhraseTranslationsVariations:
					separator: true
					label: Update Phrase's Translations Variations
					link: ':Admin:Translation:updatePhraseTranslationsVariations'

		location:
			label: Locations
			items:
				country:
					label: Countries
					link: ':Admin:Country:list'
				createLocality:
					label: Create locality
					link: ':Admin:Location:createLocality'
#				region:
#					label: Regions
#					link: ':Admin:Region:list'
#				locality:
#					label: Localities
#					link: ':Admin:Locality:list'

		stats:
			label: Stats
			items:
				registrations:
					label: Registrations
					link: ':Admin:StatisticsRegistrations:list'
				reservations:
					label: Reservations
					link: ':Admin:StatisticsReservations:list'
				edit:
					label: Edit
					link: ':Admin:StatisticsRentalEdit:list'
				unsubscribed:
					label: Unsubscribed
					link: ':Admin:StatisticsUnsubscribed:list'

		cache:
			label: Cache
			items:
				dashboard:
					label: Dashboard
					link: ':Admin:Cache:dashboard'

#		email:
#			label: Email
#			items:
#				template:
#					label: Templates
#					link: ':Admin:EmailTemplate:list'
#				layout:
#					label: Layouts
#					link: ':Admin:EmailLayout:list'
#				tester:
#					label: Template Tester
#					link: ':Admin:EmailTester:sendTemplate'

	right: # parave strana
		account:
			items:
				logout:
					link: ':Front:Sign:out'
