common:
	left: # lava starana
		dictionary:
			label: Dictionary
			items:
				dictionaryManager:
					separator: true
					label: Manager
					link: ':Admin:DictionaryManager:list'
				waitingForCentral:
					label: Not ready for EN correction
					link: ':Admin:PhraseList:waitingForCentral'
				notReady:
					label: Not Ready
					link: ':Admin:PhraseList:notReady'
				addPhrase:
					label: Add Phrase
					items:
						latte:
							lable: Latte
							icon: icon-angle-right
							link: ':Admin:Phrase:add'
							linkArgs:
								type: Latte
						latteMulti:
							lable: LatteMulti
							icon: icon-angle-right
							link: ':Admin:Phrase:add'
							linkArgs:
								type: LatteMulti
						latteHtml:
							lable: LatteHtml
							icon: icon-angle-right
							link: ':Admin:Phrase:add'
							linkArgs:
								type: LatteHtml
				language:
					separator: true
					label: Languages
					link: ':Admin:Language:list'

		location:
			label: Locations
			items:
				country:
					label: Countries
					link: ':Admin:Country:list'
				region:
					label: Regions
					link: ':Admin:Region:list'
				locality:
					label: Localities
					link: ':Admin:Locality:list'

		cache:
			label: Cache
			items:
				dashboard:
					label: Dashboard
					link: ':Admin:Cache:dashboard'

#		email:
#			label: Email
#			items:
#				template:
#					label: Templates
#					link: ':Admin:EmailTemplate:list'
#				layout:
#					label: Layouts
#					link: ':Admin:EmailLayout:list'
#				tester:
#					label: Template Tester
#					link: ':Admin:EmailTester:sendTemplate'

	right: # parave strana
		account:
			items:
				logout:
					link: ':Front:Sign:out'
