{define #col-name}
	<td>{$row->language->getIso()|upper}</td>
{/define}

{*{define #col-lastTranslation}
	<td>{$cell|date:"%Y-%m-%d"}</td>
{/define}*}

{define #col-toTranslate}
	<td>
		{if $cell}

			<a href="{plink PhraseList:toTranslate $row->language->getIso()}" target="_blank">{$cell} p</a>&nbsp;=&nbsp;~{$row->wordsToTranslate}&nbsp;w<br/>({$row->priceToTranslate|number:2}&nbsp;EUR)
			<a n:if="$row->language->getTranslator()" href="{plink requestTranslations $row->language->getId()}" class="ajax btn btn-small btn-warning"><i class="icon-envelope"></i></a>
		{else}
			{$cell}
		{/if}
	</td>
{/define}

{define #col-toCheck}
	<td>
	{if $cell}

		<a href="{plink PhraseList:notCheckedTranslations $row->language->getIso()}" target="_blank"> {$cell} p</a><br/>({$row->priceToCheck|number:2}&nbsp;EUR)

	{else}
		{$cell}
	{/if}
	</td>
{/define}

{define #col-priceToPay}
	<td>{$cell|number:2}&nbsp;EUR</td>
{/define}

{define #row-actions}
		{if $row->language->live}
			{var $buttonText = 'Live'; $buttonClass = 'btn-success'; $linkText = 'turn off'}
		{else}
			{var $buttonText = 'Not live'; $buttonClass = 'btn-danger'; $linkText = 'set LIVE'}
		{/if}
{* 		<div class="btn-group">
			<button class="	btn btn-mini dropdown-toggle {$buttonClass}" data-toggle="dropdown">{$buttonText} <span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="#">{$linkText}</a></li>
			</ul>
		</div> *}
		{var $translator = $row->language->getTranslator()}
		<a n:if="$row->priceToPay" href="{plink markAsPaid $row->language->getId()}" class="ajax btn btn-small btn-warning" target="_blank">Mark as paid</a>

		{if $translator}
			{$translator->getLogin()}
			<a href="{plink Phrase:fakeLogin $translator->getId()}" class="mail btn btn-green">login</a>
		{else}
			<i>not set</i>
		{/if}



		<a href="{plink Language:edit $row->language->getId()}" class="mail btn btn-primary">change</a>
{/define}
