{define #col-name}
	<td>{$row->language->getIso()|upper}</td>
{/define}

{define #col-lastTranslation}
	<td>{$cell|date}</td>
{/define}

{define #col-toTranslate}
	<td>{$cell}</td>
{/define}

{define #col-toCheck}
	<td>{$cell}</td>
{/define}

{define #col-wordsToPay}
	<td>{$cell}</td>
{/define}




{define #row-actions}
		{if $row->language->live}
			{var $buttonText = 'Live'; $buttonClass = 'btn-success'; $linkText = 'turn off'}
		{else}
			{var $buttonText = 'Not live'; $buttonClass = 'btn-danger'; $linkText = 'set LIVE'}
		{/if}
		<div class="btn-group">
			<button class="	btn btn-mini dropdown-toggle {$buttonClass}" data-toggle="dropdown">{$buttonText} <span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="#">{$linkText}</a></li>
			</ul>
		</div>
		<a href="{plink Language:edit $row->language->getId()}" class="btn btn-small btn-primary mail">{$row->language->getTranslator()->getLogin()}</a>
		<a href="#" class="ajax btn btn-small btn-warning"><i class="icon-envelope"></i></a>
		<a href="#" class="ajax btn btn-small btn-warning">Mark as paid</a>
{/define}
