<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>{#title|striptags|firstUpper}{/#}</title>

	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="dns-prefetch" href="http://fonts.googleapis.com">
	<link rel="dns-prefetch" href="http://cdnjs.cloudflare.com">

	<meta name="generator" content="Proxy 1.2.3">

	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="{$basePath}/personalSite/libs/select2-master/select2.css" type="text/css" />
	<link rel="stylesheet" href="{$basePath}/personalSite/libs/font-awesome.css?ver=4.0.3" id="font-awesome-css" type="text/css" media="all" />
	<link rel="stylesheet" href="{$basePath}/personalSite/libs/flexslider.css?ver=3.8.1" id="flexslider-css" type="text/css" media="all" />
	<link rel="stylesheet" href="{$basePath}/personalSite/Second/css/style.css?ver=3.8.1&stamp=1397692800" id="style-css" type="text/css" media="all" />

	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>

<!-- BEGIN body -->
<body class="home blog">

	<div n:if="$loggedUser" style="position: fixed; top: 100px; right: 50px; z-index: 100000">
		<a n:href="//:Owner:Rental:edit $rental->id" target="_blank">{_544}</a>
	</div>

	<div id="fb-root"></div>
	<!-- BEGIN #header -->
	<header id="header" role="banner">
		<!-- BEGIN .header-inner -->
		<div class="header-inner clearfix">
			<!-- BEGIN #primary-nav -->
			<nav id="navigation" role="navigation">
				<div id="primary-nav" class="primary-menu">
					<ul id="menu-main-menu" class="menu">
						<li class="active"><a href="#welcome">{_1226}</a></li>
						<li><a href="#services">{_1198}</a></li>
						<li n:if="$hasPremiumService"><a href="#gallery">{_537}</a></li>
						<li><a href="#prices">{_1197}</a></li>
						<li n:if="$showCalendar"><a href="#calendar">{_1223}</a></li>
						<li class="reservation"><a href="#contact"><i class="icon icon-envelope-o"></i> {_151873}</a></li>
						<li class="language">
							<select class="select2" n:inner-foreach="$usedLanguages as $language">
								<option value="{$language->iso}"
										data-redirect-url="{link //Default:default, language => $language}"
										n:attr="selected => $language->id == $currentLanguage->id">
									{_$language->name, null, null, null, $language}
								</option>
							</select>
						</li>
					</ul>
				</div>
				<!-- END #primary-nav -->
			</nav>
			<!-- END .header-inner -->
		</div>
		<!-- END .header -->
	</header>

	<!-- BEGIN #container -->
	<div id="container">
		{include #content}
	</div>

	<!-- BEGIN .footer -->
	<footer class="footer" role="contentinfo">
		<div class="inner-section">
			<div class="grids">
				{*
				<div class="grid-6">
					<ul class="social-links">
						<li><a href="//facebook.com/https://www.facebook.com/ubytovanienaslovensku" title="UNS on facebook" class="facebook"></a></li>
					</ul>
				</div>
				*}
				<div class="grid-12 copyright">
					<span>created by <a n:href=":Front:Home:default">Tralandia</a></span>
					<a href="#" id="backToTop"></a>
				</div>
			</div>
		</div>
		<!-- END .footer -->
	</footer>

	<script n:syntax="double">
		var fromDateOrigin = {
				year: 0,
				month: 0,
				day:0,
				date: new Date(),
				dayPlus:0,
			},
			reservedDates = [],
			map;

		function initializeMap(lat, lng) {
			var latLng = new google.maps.LatLng(lat, lng);
			var mapOptions = {
				zoom: 10,
				center: latLng,
				scrollwheel: false,
				zoomControl: true
			};

		  	map = new google.maps.Map(document.getElementById('map'), mapOptions);

		  	var marker = new google.maps.Marker({
			    position: latLng,
			    map: map
			});
		}


		jQuery(document).ready(function($){
			$(".btn-toggle").click(function(event) {
				event.preventDefault();
				var section = $(this).attr('data-toggle');
				$(this).parent().detach();
				var $section = $("#"+section);
				$section.find('.hidden').removeClass('hidden');
				if (section=="gallery") {
					photoSetGrid('.photoset-extra');
				}
			});

			initSelect2('body');
			initDatepicker('.reservationform');

			var reservedDatesVal = $(".datepicker").attr('data-reservations').split(',');
			for(n in reservedDatesVal) {
				var d = reservedDatesVal[n].split('-');
				reservedDates.push(new Date(d[2], (d[1]-1), d[0]));
			}

			$("a.review-button, a.cancel-review").click(function(event) {
				event.preventDefault();
				$("form.review-form").toggleClass('show');
			});

			$('form.review-form .rating > .icon').hover(function() {
				$this = $(this);
				$parent = $this.parent().parent();
				rating = 5 - $this.index();

				$parent.find('.icon.selected').addClass('hide-selection');
			}, function() {
				$selected = $parent.find('.icon.selected');
				$selected.removeClass('hide-selection');
				rating = $selected.size() ? ('<b>'+(5 - $selected.index())+'/5</b>') : '0/5';
			}).click(function() {
				$parent.find('.icon').removeClass('selected');
				$this.addClass('selected');

				rating = 5 - $this.index();
				$parent.find('input').val(rating);
			});

			/*
			var $slideshow = $("section#slideshow");
			var $logoImage = $("#logo .img");
			*/
			var $window = $(window);
			var $map = $('#map');
			var mapShown = false;
			$window.scroll(function(event) {
				if ($map.is(':in-viewport') && !mapShown) {
					{{var $gps = $rental->address->getGps()}}
					initializeMap({{$gps->getLatitude()}}, {{$gps->getLongitude()}});
					mapShown = true;
				}
			})

			$('#menu-main-menu a').click(function(event) {
				event.preventDefault();
				window.location.href = '#section=' + $(this).attr('href');
			});

			$('input[name=nospam]').each(function(e){
		        $('input[name=nospam]').val('no'+'spam');
		    });

			$.nette.ext('ajax', {
				before: function() {
					$('.reservationform button[type="submit"]').addClass('disabled loading')
				},
				success: function() {
					initSelect2('.reservationform');
					initDatepicker('.reservationform');
					$('.reservationform button[type="submit"]').removeClass('disabled loading')
				}
			})
			$.nette.init();
		});


		function getreservedDates(date) {
		    for (var i = 0; i < reservedDates.length; i++) {
	            if (date.getTime() == reservedDates[i].getTime()) {
	                  return [true, 'blackout'];
	            }
		    }
		    return [true, ''];
		}

		function initSelect2(el) {
			$(el).find(".select2").select2({
				minimumResultsForSearch: -1,
			}).on('change', function(event) {
				var redirectUrl = $(this).find('option[value="'+event.val+'"]').data('redirect-url');
				if (redirectUrl) {
					return window.location.href = redirectUrl;
				} else {
					return;
				}
			});
		}

		function initDatepicker(el) {
			$(el).find(".datepicker").datepicker({
				minDate: new Date(),
				dateFormat: "yy-mm-dd",
				beforeShowDay: getreservedDates
			});
			$(el).find(".datepickerto").datepicker({
				minDate: new Date(),
				maxDate: "+12M +10D" ,
				dateFormat: "yy-mm-dd",
				firstDay: 1,
				beforeShow: function(textbox, instance){
					var fromValues = $('.datepicker').val().split('-');

					if ( fromValues.length > 1 ) {
						fromDateOrigin.year = parseInt(fromValues[0]);
						fromDateOrigin.month = parseInt(fromValues[1])-1;
						fromDateOrigin.day = parseInt(fromValues[2]);

						fromDateOrigin.date.setYear(fromDateOrigin.year);
						fromDateOrigin.date.setMonth(fromDateOrigin.month);
						fromDateOrigin.date.setDate(fromDateOrigin.day);

						fromDateOrigin.dayPlus = new Date(fromDateOrigin.date.getFullYear(), fromDateOrigin.date.getMonth(), fromDateOrigin.date.getDate()+1);

						$(this).datepicker("option", {
							minDate: fromDateOrigin.dayPlus,
							maxDate: "+12M +10D"
						});
					} else {
						$(this).datepicker("option", {
							minDate: 1,
							maxDate: "+12M +10D"
						});
					}
				},
				beforeShowDay: getreservedDates
			});

		}

		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=223816517744809";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

    </script>

	<script type="text/javascript" src="{$basePath}/personalSite/libs/superfish.js?ver=3.8.1"></script>
	<script type="text/javascript" src="{$basePath}/personalSite/libs/supersubs.js?ver=3.8.1"></script>
	<script type="text/javascript" src="{$basePath}/personalSite/libs/jquery/ui/jquery.ui.core.min.js?ver=1.10.3"></script>
	<script type="text/javascript" src="{$basePath}/personalSite/libs/jquery.viewport.js?ver=3.8.1"></script>
	<script type="text/javascript" src="{$basePath}/personalSite/libs/jquery.photoset-grid.min.js"></script>
	<script type="text/javascript" src="{$basePath}/personalSite/libs/retina.js?ver=3.8.1"></script>
	<script type="text/javascript" src="{$basePath}/personalSite/libs/prettify.js?ver=3.8.1"></script>
	<script type="text/javascript" src="{$basePath}/personalSite/libs/select2-master/select2.js"></script>
	<script type="text/javascript" src="{$basePath}/personalSite/libs/jquery.fitvids.js"></script>
	<script type="text/javascript" src="{$basePath}/packages/nette/lib/nette.ajax.js"></script>
	<script type="text/javascript" src="{$basePath}/personalSite/Second/js/jquery.custom.js?ver=3.8.1"></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-1541490-19']);
	  _gaq.push(['_setDomainName', 'none']);
	  _gaq.push(['_setAllowLinker', true]);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>

</html>
