parameters:
	acl:
		dir: %settingsDir%/acl
		presentersDir: %settingsDir%/acl/presenters
		entitiesDir: %settingsDir%/acl/entities

		assertions:
			assert1:
				callback: ['\\Security\\MyAssertion', 'test']

		presenters:
			Front:Base:
				nic:
			Front:Sign:
				in:
				out:
				up:
			Admin:Base:
				decodeNeon:
			Admin:EntityGenerator:
				list:
				default:
				forceAll:
			Admin:David:
				haha:
			Admin:Test:
				fileUpload:
				phraseControl:
			Admin:DictionaryPhrase:
				list:
				edit:
				add:
			Admin:Ap:
				task:
			Admin:Autopilot:
				default:
				list:
				edit:
			Admin:NeonGenerator:
				default:
			Admin:Acl:
				list:
				entityEdit:
				presenterEdit:

			Admin:AttractionAttraction:
				list:
				edit:
				add:
			Admin:AttractionType:
				list:
				edit:
				add:
			Admin:AutopilotTask:
				list:
				edit:
				add:
			Admin:AutopilotTaskArchived:
				list:
				edit:
				add:
			Admin:AutopilotType:
				list:
				edit:
				add:
			Admin:BaseEntity:
				list:
				edit:
				add:
			Admin:BaseEntityDetails:
				list:
				edit:
				add:
			Admin:CompanyBankAccount:
				list:
				edit:
				add:
			Admin:CompanyCompany:
				list:
				edit:
				add:
			Admin:CompanyOffice:
				list:
				edit:
				add:
			Admin:ContactContact:
				list:
				edit:
				add:
			Admin:ContactType:
				list:
				edit:
				add:
			Admin:Currency:
				list:
				edit:
				add:
			Admin:DictionaryLanguage:
				list:
				edit:
				add:
			Admin:DictionaryType:
				list:
				edit:
				add:
			Admin:Domain:
				list:
				edit:
				add:
			Admin:EmailingBatch:
				list:
				edit:
				add:
			Admin:EmailingTemplate:
				list:
				edit:
				add:
			Admin:ExpenseExpense:
				list:
				edit:
				add:
			Admin:ExpenseType:
				list:
				edit:
				add:
			Admin:InvoicingCoupon:
				list:
				edit:
				add:
			Admin:InvoicingMarketing:
				list:
				edit:
				add:
			Admin:InvoicingPackage:
				list:
				edit:
				add:
			Admin:InvoicingService:
				list:
				edit:
				add:
			Admin:InvoicingServiceDuration:
				list:
				edit:
				add:
			Admin:InvoicingServiceType:
				list:
				edit:
				add:
			Admin:InvoicingUseType:
				list:
				edit:
				add:
			Admin:LocationLocation:
				list:
				edit:
				add:
			Admin:LocationType:
				list:
				edit:
				add:
			Admin:MediumType:
				list:
				edit:
				add:
			Admin:RentalAmenity:
				list:
				edit:
				add:
			Admin:RentalAmenityType:
				list:
				edit:
				add:
			Admin:RentalRental:
				list:
				edit:
				add:
			Admin:RentalType:
				list:
				edit:
				add:
			Admin:SeoSeoUrl:
				list:
				edit:
				add:
			Admin:SeoBackLink:
				list:
				edit:
				add:
			Admin:SeoTitleSuffix:
				list:
				edit:
				add:
			Admin:UserCombination:
				list:
				edit:
				add:
			Admin:UserInteraction:
				list:
				edit:
				add:
			Admin:UserInteractionType:
				list:
				edit:
				add:
			Admin:UserRole:
				list:
				edit:
				add:
			Admin:UserUser:
				list:
				edit:
				add:
			Admin:Rado:
				default:
				list:
				edit:
				add: