parameters:
	acl:
		dir: %settingsDir%/acl
		presentersDir: %settingsDir%/acl/presenters
		entitiesDir: %settingsDir%/acl/entities

		assertions:
			assert1:
				callback: ['\\Security\\MyAssertion', 'test']