parameters:
	acl:
		dir: %settingsDir%/acl
		presentersDir: %settingsDir%/acl/presenters
		entitiesDir: %settingsDir%/acl/entities

		assertions:
			assert1:
				callback: ['\\Security\\MyAssertion', 'test']

		presenters:
			Admin:Location:
				list:
				edit:
			Admin:DictionaryLanguage:
				list:
				edit:
				add:
			Admin:Domain:
				list:
				edit:
				add:
			Admin:Currency:
				list:
				edit:
				add:
			Admin:EntityGenerator:
				list:
			Admin:Ap:
				task:
			Admin:Autopilot:
				default:
				list:
				edit:
			Admin:Acl:
				list:
				entityEdit:
				presenterEdit: