common:
	service: Service\Currency
	title: Currency
	h1: Currency
	grid:
		columns:
			name:
				label: Name
				mapper: e.name
			iso:
				label: Iso
				mapper: e.iso
			exchangeRate:
				label: ExchangeRate
				mapper: e.exchangeRate
			decimalPlaces:
				label: DecimalPlaces
				mapper: e.decimalPlaces
			rounding:
				label: Rounding
				mapper: e.rounding
			locations:
				label: Locations
				mapper: e.locations
			id:
				label: Id
				mapper: e.id
			oldId:
				label: OldId
				mapper: e.oldId
			created:
				label: Created
				mapper: e.created
			updated:
				label: Updated
				mapper: e.updated
			
	form:
		fields:
			name:
				# anotations: "var:Collection,ORMOneToOne:targetEntity:EntityDictionaryPhrase,cascade:"
				label: Name
				control: phrase
				inlineEditing: Phrase:edit
			iso:
				# anotations: "var:string,ORMColumn:type:string"
				label: Iso
				control: text
			exchangeRate:
				# anotations: "var:decimal,ORMColumn:type:decimal,nullable:true"
				label: ExchangeRate
				control: text
			decimalPlaces:
				# anotations: "var:integer,ORMColumn:type:integer,nullable:true"
				label: DecimalPlaces
				control: text
			rounding:
				# anotations: "var:string,ORMColumn:type:string,nullable:true"
				label: Rounding
				control: text
			locations:
				# anotations: "var:Collection,ORMManyToMany:targetEntity:EntityLocationLocation,inversedBy:currencies"
				label: Locations
				control: bricksList
			created:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Created
				control: datePicker
			updated:
				# anotations: "var:datetime,ORMColumn:type:datetime"
				label: Updated
				control: datePicker