common:
	service: Service\Location\Location
	title: Location Main Title

	grid:
		columns: 
			id:
				mapper: e.id
				draw: false
			name:
				type: text
				label: Name
				mapper: e.name
				callback: {class: %this%, method: translateColumn, params: name}
			slug:
				label: Slug
				mapper: e.slug
			created:
				type: datetime
				label: Dátum vytvorenia
				mapper: e.created


	form:
		addClass: ajax
		fields:
			name:
				control: 
					type: phrase
					class: test
				addClass: 'myPhraseClass'
				inlineEditing: [Phrase:edit]

			slug:
				control: tinymce
				label: Sluuug
				disabled: true

			iso:
				control: text
				startNewRow: true

			currencies:
				#control: bricksList
				control: 
					type: checkboxList
					columnClass: span3
				inlineEditing: [Currency:edit]
				inlineCreating: [Currency:add]
				inlineDeleting: [Currency:delete]

			defaultCurrency:
				control: 
					type: select
					addClass: input-medium
				label: 
					name: 'Def. Curr.'
					class: 'labelClass'
				callback: getPairs
				inlineEditing: [Currency:edit]
				inlineCreating: [Currency:add]
				inlineDeleting: [Currency:delete]

			languages:
				control: bricksList
				#control: 
				#	type: multiSelect
				#	addClass: span6
				inlineEditing: [Language:edit]
				inlineCreating: [Language:add]
				inlineDeleting: [Language:delete]

			defaultLanguage:
				control: 
					type: select
					addClass: input-medium
				label: Def. Language
				callback: 
					method: getPairsBySupported
					arguments: ['id', 'iso', 1]

base < common:
	title: Location Base
