@import '../../../bootstrap/lib/less/mixins.less';

.select2-container {


	.select2-choice {

		.select2-arrow  {
			filter: none;
			width: 25px;
			background: #eaf0d7;
			border-radius: 0 4px 0 0;
			height: 30px;
			border-left: 1px solid #b0c13b;

				filter: none;
				b {
					background-image: none;
					background: none;
					font-weight: normal;
					padding-top: 2px;
					position: relative;
					left: 7px;
					&:before  { 
						font-family: FontAwesome;
						font-weight: normal;
						font-style: normal;
						text-decoration: inherit;
						-webkit-font-smoothing: antialiased;
						font-size: 18px;
						/* sprites.less reset */
						display: inline;
						width: auto;
						height: auto;
						line-height: normal;
						vertical-align: baseline;
						background-image: none;
						background-position: 0% 0%;
						background-repeat: repeat;
						margin-top: 0;
						content: "\f107"; 
					}
				}
			
		}

	}



	&.select2-dropdown-open {
		.select2-choice {
			filter: none;
			.select2-arrow {
				filter: none;
				background: transparent;
				border-color: #fff;
				b {
					background-image: none;
					&:before {
						content:'\f106';
					}
				}
			}
		}		
	}
}




.select2-drop {
	border: 0px;
}

.select2-drop.select2-drop-active {
	&:before {
		font-family: entypo;
		content:'\1F50D';
		font-size: 30px;
		line-height: 27px;		
		height: 0;
		float: right;
		position: relative;
		right: 10px;
		top: -1px;
		z-index: 9000;	
		color: #999;
	}	
}



.select2-drop.mainForm.select2-drop-above.select2-drop-active {
	&:before {
		content:'';
	}	
}
.select2-drop.notFulltext.select2-drop-active {
	&:before {
		content:'';
	}	
}

input[type=text].select2-input {
	background-image: none;	
	
}

.select2-drop-above {
	border: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	.select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice div b {
		background-image: none;
	}
}

.select2-results {
	max-height: 300px;
}
.select2-results .select2-result-label {
	padding: 5px 5px 4px;
	margin-bottom: 0;
	line-height: 13px;

	h4 {
		font-size: 13px;
		margin-bottom: 0px;
	}
}


.select2-drop.hideSearch {
    .select2-search { display: none }
}

.select2-drop.orangeSelect {
	border-color: #fd7b03;
	.select2-search {
		display: none;
	}

	&:before {					
		content:'';
	}	

}


/* po update */
.searchForm {
	.select2-container .select2-choice .select2-arrow {
			background: transparent;
			border: none;		
	}
}

.select2-results {
	li.select2-no-results {
		font-size: 11px;
		text-align: center;
	}
}

.select2-drop.select2-drop-active {
	border: 1px solid #b0c13b;
	border-top:0;

	&.disableFulltext , &.filterSelect {
		border-color: #fff;
	}
}
.select2-drop.select2-drop-above.select2-drop-active {
	border: none;
	border: 1px solid #b0c13b;
	border-bottom: 0;

	&.disableFulltext , &.filterSelect {
		border-color: #fff;
	}	
}

/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)  {
  .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b {
      background-image: none !important;
  }

}