<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{_804113}</title>

	<!-- Bootstrap core CSS -->
	<link href="{$basePath}/packages/psLandingPage/css/bootstrap.css" rel="stylesheet">
	<link href="{$basePath}/packages/psLandingPage/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="{$basePath}/packages/psLandingPage/css/main.css" rel="stylesheet">
</head>

<body>
{include #content}
</body>

</html>
