.navbar .brand { text-shadow: 1px 1px 2px @grayDarker; }

.container .inner {  }
.container .inner .content { border: 1px solid @grayLight; padding: 8px; margin: 70px -13px 100px; .border-radius(10px); box-shadow:0 1px 1px @grayLight; background: @white; }
.container .inner .content .btn.add-new { margin:0 0 15px; }
.container .inner .content.content-modal { margin:0 -13px; .border-radius(0); box-shadow:none; border:none; }

.container .inner .content h1 { #gradient > .vertical(@white, @grayMedium); margin:-9px -9px 15px -9px; font-size:22px; border: 1px solid @grayLight; padding: 10px (@gridGutterWidth/2); .border-radius(10px 10px 0 0); }
.container .inner .content h1 .entity-id { float:right; color:@blue; }

input.numeric { text-align:right; }

label b { color:@blueDark; font-size:14px; }
label i { color:@grayLight; font-size:11px; }
table thead { #gradient > .vertical(@green, @greenDark); color:@white; }
table thead a { color:@white; }
table thead .positioner { float:left; }
table thead .positioner .active span { background-image: url("@{iconSpritePath}"); }
.align-right { text-align:right; }
.align-left { text-align:left; }

.box { background-color:#f5f5f5; box-shadow:0 1px 1px @greenBorder; padding:10px 0; }
.nav-list > .active > a, .nav-list > .active > a:hover { background:@green; }
.row { padding: 0 10px; }
.content .row { padding:0; }
.content .box { background-color:#f5f5f5; border-color:@greenBorder; box-shadow:0 1px 1px @greenBorder; padding:20px 0; }

textarea:focus { border-color: rgba(163,196,0,.8); @shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(163,196,0,.6); }

.new-row:before { clear:both; }

.pagination { margin:4px 0 15px; }
.pagination ul { box-shadow:0 1px 1px @greenBorder; }

.subnav .well { .border-radius(0 0 5px 5px); padding:5px 10px; #gradient > .vertical(@grayMedium, @white);  box-shadow:0 2px 2px @grayLight; }
.subnav .divider-vertical { background-color: @greenBorder; border-right-color: @white; height:36px; margin:-5px (@gridGutterWidth/3) -5px 0; }
.subnav input, .subnav button.btn { margin:0 (@gridGutterWidth/3) 0 0; }
.subnav .input-append input { margin:0; }
.subnav form { margin:0; }

.row hr { clear: both; margin: 0 0 15px @gridGutterWidth; padding: 10px 0 0 0; height:1px; border-top:none; border-bottom-color:lighten(@grayLight, 25%); }

.navbar-fixed-top .navbar-inner { padding: 0 (@gridGutterWidth/2); .border-radius(0 0 5px 5px); }
.autopilot .navbar-fixed-top .navbar-inner { .border-radius(0); }

.navbar-fixed-top .container { width:auto; }
.navbar-fixed-top { width:1200px; }

ul.dropdown-menu ul { margin-left: 5px; }
ul.dropdown-menu ul li { color:@grayLight; list-style-position:inside; list-style-image:url('../images/content_list_bullet_alt.gif'); }

select { height:26px; }

label { height:20px; } 
label .btn-group { display:none; }
label:hover > .btn-group { display:block; }
label.checkbox, label.radio { padding-left:0; cursor: pointer; margin-bottom: 10px; margin-left:0; }
label.checkbox:hover, label.radio:hover, label.checkbox.checked, label.radio.checked { text-decoration: underline; color: @greenDark; }
label.checkbox.checked, label.radio.checked { color: @black; text-decoration: none; }
label.checkbox.checked:hover, label.radio.checked:hover { text-decoration: underline; }
.radio input[type="radio"], .checkbox input[type="checkbox"] { margin:0 5px 0 0; }


select[multiple] { height:250px; }
.ui-multiselect { .border-radius(4px); border: 1px solid @grayLight; }
.ui-multiselect div.available { float:right; border-left:none; border-right: 1px solid @greenBorder; }
.ui-multiselect div.selected { float:right; }
.ui-multiselect div.selected ul, .ui-multiselect div.available ul { background: transparent; }
.ui-widget-header { #gradient > .vertical(@white, @grayMedium); font-weight:normal; border-bottom: 1px solid darken(@grayLighter, 10%); .border-radius(4px 4px 0 0); }
.ui-state-hover { #gradient > .vertical(@green, @greenDark); color:@white; }

.input-bricks label { float: left; margin-right: 10px; margin-bottom:10px; box-shadow: 0px 0px 2px @greenDark; .border-radius(4px); color: @black; text-shadow: 1px 1px 0 white; line-height: 1.9; #gradient > .vertical(@grayLighter, @grayMedium); }
.input-bricks label:hover { color: @black; }
.input-bricks label .btn-group { margin-left: 5px; display:block; }

.control-group.error input, .control-group.error select, .control-group.error textarea { box-shadow: 0 0 4px @red; }
.control-group.warning input, .control-group.warning select, .control-group.warning textarea { border-color: @orange; box-shadow: 0 0 4px @orange; }
.control-group.success input, .control-group.success select, .control-group.success textarea { box-shadow: 0 0 4px @green; }

.control-group .address-wrapper .span8, .control-group .address-wrapper .span11 { margin-left:0; }

.icon-loading { background-image: url("../images/loading.gif"); background-position: 0 0; width: 16px; height: 16px; }

#snippet-flashes- { position:fixed; top: 90px; width: 1182px; }
#snippet-flashes- .alert { .box-shadow(0 1px 2px #666); padding:5px; margin-bottom:5px; }
#snippet-flashes- .alert .close { top:-4px; right:-4px; }

a[href^="error:"] { background: red; color: white; }


.modal { width: ((@gridFullWidth+20)-(1)); margin: -250px 0 0 -((@gridFullWidth+20)/2); position:absolute; }
.modal .modal-body { padding:0; max-height:none; min-height:150px; position:relative; }
.modal .modal-body iframe { border:none; width:100%; }

form.form .control-group { }
form.form input[type='text'] { display:table-cell; width:100%; margin-bottom:5px; }
form.form input.hide { display:none; }
form.form .form-actions .btn { margin-left:10px; display: inline; width:auto; }
form.form .form-actions .btn-medium { margin:5px 8px 0 0; }
.input-wrapper, .select-wrapper { position:relative; }
.input-buttons { position:absolute; right:-10px; top:0; }
.select-buttons { position:absolute; right:30px; top:0; }
.btn-hidden { display:none; }
.btn-hidden.create { position:static; }
.edit-mode .btn-hidden { display:inline; }

table.advanced-table {  }
table.advanced-table tr {  }
table.advanced-table tr td { border-left:none; border-top:none; }
table.advanced-table tr td:first-child { border-left:1px solid @greenBorder; }
table.advanced-table tr td input { margin-bottom:0; width:100%; box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box; height:26px; }
table.advanced-table tr th { #gradient > .vertical(@green, @greenDark); color:@white; }

.help-block { font-size:11px; clear:left; }

.navbar-search .search-query::-webkit-input-placeholder { color:lighten(@green, 30%); }
.navbar-search .search-query:-moz-placeholder { color:lighten(@green, 30%); }

.pagination a.active { background:@grayMedium; box-shadow: inset 0 0px 8px #DDD; }

textarea.neon, div.neonOutput { float: left; height:300px; }
div.neonOutput { position: relative; }
div.neonOutput pre { overflow:auto; }

.loading-frame { position:absolute; top:0; right:0; bottom:0; left:0; background:url(../images/loading.gif) center center no-repeat @black; .opacity(50); }

.gallery-control { .well; position:relative; }
.gallery-control .thumbnail-wrapper { float:left; width:190px; height:160px; }
.gallery-control .thumbnail-wrapper.last { width:185px; }
.gallery-control .thumbnail-wrapper.last .thumbnail { margin-right:10px; }
.gallery-control .thumbnail-wrapper .thumbnail { background-color:@white; position:relative; margin:0 15px 25px 0; cursor:move; }
.gallery-control .thumbnail-wrapper .thumbnail .btn.delete { position: absolute; right: 4px; top: -4px; padding: 5px; .box-shadow(1px 1px 3px @grayLight); display:none; }
.gallery-control .thumbnail-wrapper .thumbnail .caption { padding: 5px 0 0 0; }
.gallery-control .thumbnail-wrapper .thumbnail input { margin-bottom:0; }
.gallery-control .thumbnail-wrapper .thumbnail:hover { .box-shadow(0 0 3px @greenBorder); }
.gallery-control .thumbnail-wrapper .thumbnail:hover .btn.delete { display:inline; }
.gallery-control .thumbnail-wrapper .thumbnail .overlay { position:absolute; left:0; right:0; top:0; bottom:0; background:@black; .opacity(50); }
.gallery-control .thumbnail-wrapper .thumbnail .overlay.waiting { background:url(../images/loading.gif) center center no-repeat @black; }
.gallery-control .thumbnail-wrapper .thumbnail .progress { position: absolute; left:10%; top:43%; width:80%; z-index:999; overflow:hidden; border:1px solid @gray; height:15px; }
.gallery-control .thumbnail-wrapper .upload { padding:34px 61px 42px 58px; font-size:60px; font-weight:bold; line-height: 60px; }
.gallery-control .thumbnail-wrapper .upload input { height:138px; }
.gallery-control .thumbnail-wrapper .error { background:@red; height:90px; color:white; padding:10px; }
.gallery-control .background { position:absolute; top:45%; width:100%; text-align:center; font-size:28px; color:black; opacity:0.2; }
.gallery-control .background i { zoom:2; margin-top:2px; }

.phrase-control { padding-bottom: 1px; }
.phrase-control.plain-text-simple .input-prepend { margin-bottom:-1px; }
.phrase-control.plain-text-simple .input-prepend .add-on { width:42px; margin: 0 -5px 0 0; }
.phrase-control.plain-text-simple .input-prepend .input-large { width:210px; margin-bottom:0; }
.phrase-control.plain-text-simple .input-prepend .btn-group { display:inline; }
.phrase-control.plain-text-simple .input-prepend .btn-group .btn { width: 54px; margin: 0 -5px 0 0; border-right: 0; .border-radius(4px 0 0 4px); }

.phrase-control.plain-text-complex .dropdown-toggle { width:100%; text-align:left; }

.phrase-control.html-text .dropdown-toggle { width:100%; text-align:left; }
.phrase-control.html-text .dropdown-toggle .wrap { display:inline; }
.phrase-control.html-text .dropdown-menu li a { white-space:normal; }
.phrase-control.html-text .dropdown-menu li.disabled a { color:@grayLight; }
.phrase-control.html-text .dropdown-menu li.disabled a:hover { color:@grayLight; background:@white; }

.live-wysi {  }
.live-wysi button { margin-top:5px; }
.live-wysi .output { border:1px solid @greenBorder; padding:10px; overflow:auto; position:relative; }

.edit-info { text-align:center; color:@grayLight; }
.edit-info span { font-family:Menlo, Monaco, "Courier New", monospace; margin:0 5px; color:@gray; }

.contacts-control { margin-left:0; }
.contacts-control .type-phone select { width:100px; .border-radius(0); margin-right:-5px; }
.contacts-control .type-address input, .contacts-control .type-url input, .contacts-control .type-name input, .contacts-control .type-email input { .border-radius(0); margin-right:-5px; }
.contacts-control .types { .border-radius(4px 0 0 4px); }
.contacts-control input.invalid { color:@red; border-color:@red; }

.dashboard { margin:-15px -8px -8px -8px; }
.dashboard h3 { margin-bottom:15px; }
.dashboard .d-cell { border-right:1px solid @greenBorder; padding:15px 10px; margin-right:-10px; }
.dashboard .d-cell:last-child { border:none; }
.dashboard .d-row { border-bottom:1px solid @greenBorder; }
.dashboard .d-row:last-child { border:none; }
.dashboard .options select { margin-bottom:0; }
.dashboard .rental { position: relative; }
.dashboard .rental .options { margin-top:15px 15px 15px 0; }
.dashboard .rental .d-button { position: absolute; right:20px; bottom:10px; }