<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="{$basePath}/styles/main.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{$basePath}/scripts/jquery.js"></script>
	<script type="text/javascript" src="{$basePath}/scripts/jquery/nette.js"></script>
	<script type="text/javascript" src="{$basePath}/scripts/jquery/livequery.js"></script>
	<script type="text/javascript" src="{$basePath}/scripts/jquery/ui.js"></script>
	<script type="text/javascript" src="{$basePath}/scripts/main.js"></script>
	<title>{block #title}{_'Tralandia Admin'}{/block}</title>
</head>
<body>
	<div id="header"></div>
	<div id="layout">
		<ul id="menu">
			<li><a n:href="calendar:">{_'Calendar'}</a></li>
			<li><a n:href="article:">{_'Articles'}</a></li>
			<li><a n:href="sign:out">{_'Sign out'}</a></li>
		</ul>
		<div class="body">
			{include #content}
		</div>
	</div>
</body>
</html>