<div class="span3" role="sidebar" id="sidebar">
	<aside class="innerPadding baseRadius baseBorder innerPaddingLeft">

		<div class="widget">
			<h4>Menu theme</h4>
			<ul>
				<li><a href="{link Page:home}">Homepage</a></li>
				<li><a href="{link Page:registration}">Register Form</a></li>
				<li><a href="{link Dashboard:home}">Dashboard</a></li>
			</ul>
		</div>
	</aside>
</div>