
{define #col-total}
	<td>
		{$cell}
	</td>
{/define}

{define #col-today}
	<td>
		{$cell}
	</td>
{/define}

{define #col-yesterday}
	<td>
		{$cell}
	</td>
{/define}

{define #col-thisWeek}
	<td>
		{$cell}
	</td>
{/define}

{define #col-lastWeek}
	<td>
		{$cell}
	</td>
{/define}
{define #col-thisMonth}
	<td>
		{$cell}
	</td>
{/define}
{define #col-lastMonth}
	<td>
		{$cell}
	</td>
{/define}


