<section id="prices" class="section-block content-section">
	<div class="inner-section">
		<h2 class="main-title">{_1197}</h2>
		<div class="grids">
			<div class="grid-12">
				<div class="prices">
					<div class="grids" n:foreach="$rental->getPriceList() as $row">
						<div class="grid-6">
							{$row->roomCount}x {_$row->roomType->nameId}
							<small>
								<span>({$row->bedCount} {_1191, $row->bedCount}{if $row->extraBedCount} + {$row->extraBedCount} {_1185, $row->extraBedCount}{/if})</span>
							</small>
						</div>
						<div class="grid-6"><strong>{$row->price} EUR</strong> {_1189}</div>
					</div>
					<div class="grids" n:foreach="$rental->getPriceListFiles() as $file">
						<div class="grid-6">
							{$file->name} <small>{$file->fileSize|bytes}</small>
						</div>
						<div class="grid-6">
							<a href="{plink :Front:Download:pricelist $file->id}" class="">{_512} <i class="icon icon-download"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END #prices -->
</section>
