{block content}
<h1>Email Tester -> Sent Template</h1>
<a n:href="send!">SEND</a>
<p><strong>To: </strong>{$sendTestTo|implode:', '}</p>

<iframe src="{link viewTemplate}" width="700" height="900"></iframe>
