{define #col-id}
	<td>
		{$cell}
	</td>
{/define}

{define #col-name}
	<td>
		{_$row['entity']->getName()}
	</td>
{/define}

{define #col-phone}
	<td>
		{if $row['entity']->getPhone()}{$row['entity']->getPhone()->getInternational()}{/if}
	</td>
{/define}

{define #col-email}
	<td>
		{$row['entity']->getEmail()}
		<small n:if="$row['entity']->getUser()">{$row['entity']->getUser()->getLogin()}</small>
	</td>
{/define}

{define #row-actions}
	<div class="btn-group">
		<button class="btn btn-mini dropdown-toggle btn-inverse" data-toggle="dropdown">Actions <span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a href="{$row['editLink']}" target="_blank">Edit</a></li>
			<li><a href="{plink :Front:Rental:detail $row['entity']}" target="_blank" >View on FE</a></li>
			{*<li><a href="{plink fakeLogin $row->getOwner()->getId()}" >Login as User</a></li>*}
			<li class="divider"></li>
			<li><a href="{plink :Admin:Cache:viewRentalSearchCache $row['entity']->getId()}" target="_blank">View Search Cache</a></li>
			<li><a href="{plink :Admin:Cache:invalidateRentalSearchCache $row['entity']->getId()}" class="ajax">Invalidate Search Cache</a></li>
			<li><a href="{plink :Admin:Rental:discard $row['entity']->getId()}" class="ajax">DELETE Rental</a></li>
		</ul>
	</div>
{/define}
