{block content}

<h1>Acl</h1>

<div class="row">
	<div class="span6">
		<h3>Presenters</h3>
		<table>
			<tr n:foreach="$list as $resource => $presenterName">
				<td><a n:href="presenterEdit, presenterName => $presenterName">{$resource}</a></td>
			</tr>
		</table>
	</div>

	<div class="span6">
		<h3>Entities</h3>
		<table>
			<tr n:foreach="$entitesList as $entities">
				<td><a n:href="entityEdit, entityName => $entities">{$entities}</a></td>
			</tr>
		</table>
	</div>
</div>
