# disable directory listing
Options -Indexes

php_flag suhosin.simulation On

Deny from 202.46.32.0/19
Deny from 178.77.126.55
Deny from 83.233.207.74
Deny from 185.10.104
Deny from 46.161.41.32
Deny from 125.77.135.1
Deny from 95.82.130.35
Deny from 5.9.112.180
Deny from 204.12.251.37
Deny from 37.59.189.238
Deny from 91.239.27.99
Deny from 188.143.232.111

#Deny from 151.236.42.200

# mod_rewrite
<IfModule mod_rewrite.c>
  RewriteEngine On
  # RewriteBase /
  RewriteCond %{HTTP_USER_AGENT} .*Java.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*Python\-urllib.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*SeznamBot.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*Najdi\.si.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*Baiduspider.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*Vietnamese.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*Nutch.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*woobot.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*Nuhk.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*TencentTraveler.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*VoilaBot.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*HTTrack.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*Teleport.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*twiceler.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*ia_archiver.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*vadixbot.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*sensis.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*majestic.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*webalta.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*Indy.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*walhello.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*acoon.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*baidu.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*shopwiki.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*linkwalker.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*riddler\.io.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*TurnitinBot.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*Mail\.RU_Bot.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*archive\.org_bot.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*www\.opensiteexplorer\.org.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*fr-crawler.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*Mail\.RU_Bot.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*msnbot\.htm.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*archive\.org_bot.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*TurnitinBot.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*SISTRIX.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*WOW64.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*Yahoo\!\ Slurp.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*Najdi\.si.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*linkdexbot.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*BacklinkCrawler.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*WBSearchBot.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*ca-crawler.* [OR]
  RewriteCond %{HTTP_USER_AGENT} .*SearchmetricsBot.* [OR]
  RewriteCond %{HTTP_USER_AGENT} bingbot [OR]
  RewriteCond %{HTTP_USER_AGENT} AhrefsBot [OR]
  RewriteCond %{HTTP_USER_AGENT} JikeSpider [OR]
  RewriteCond %{HTTP_USER_AGENT} coccoc [OR]
  #RewriteCond %{HTTP_USER_AGENT} SeznamBot [OR]
  RewriteCond %{HTTP_USER_AGENT} Jyxobot [OR]
  RewriteCond %{HTTP_USER_AGENT} coccoc [OR]
  RewriteCond %{HTTP_USER_AGENT} UnisterBot [OR]
  RewriteCond %{HTTP_USER_AGENT} Exabot [OR]
  RewriteCond %{HTTP_USER_AGENT} Ezooms [OR]
  RewriteCond %{HTTP_USER_AGENT} YandexImages [OR]
  RewriteCond %{HTTP_USER_AGENT} YandexBot [OR]
  RewriteCond %{HTTP_USER_AGENT} SEOkicks-Robot [OR]
  RewriteCond %{HTTP_USER_AGENT} 360Spider [OR]
  RewriteCond %{HTTP_USER_AGENT} spider [OR]
  RewriteCond %{HTTP_USER_AGENT} psbot [OR]
  RewriteCond %{HTTP_USER_AGENT} spbot [OR]
  RewriteCond %{HTTP_USER_AGENT} SemrushBot [OR]
  RewriteCond %{HTTP_USER_AGENT} BLEXBot [OR]
  RewriteCond %{HTTP_USER_AGENT} Infohelfer [OR]
  RewriteCond %{HTTP_USER_AGENT} Vagabondo [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Teleport [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Internet\ Ninja [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Aculinx [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Ants [OR]
  RewriteCond %{HTTP_USER_AGENT} ^attach [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Backstreet [OR]
  RewriteCond %{HTTP_USER_AGENT} ^BackWeb [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Bandit [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Buddy [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Burner [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Caitoo [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Collector [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Commander [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Copier [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Crawler [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Curl [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Devil [OR]
  RewriteCond %{HTTP_USER_AGENT} ^DISCo\ Pump [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Down2Web [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Downloader [OR]
  RewriteCond %{HTTP_USER_AGENT} ^DownloadIt [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Drip [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Eater [OR]
  RewriteCond %{HTTP_USER_AGENT} ^eCatch [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Eclipt [OR]
  RewriteCond %{HTTP_USER_AGENT} ^EirGrabber [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Enterprise [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Express [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Extractor [OR]
  RewriteCond %{HTTP_USER_AGENT} ^ExtractorPro [OR]
  RewriteCond %{HTTP_USER_AGENT} ^EyeNetIE [OR]
  RewriteCond %{HTTP_USER_AGENT} ^FairAd\ Client [OR]
  RewriteCond %{HTTP_USER_AGENT} ^FileHound [OR]
  RewriteCond %{HTTP_USER_AGENT} ^FlashGet [OR]
  RewriteCond %{HTTP_USER_AGENT} ^FlashSite [OR]
  RewriteCond %{HTTP_USER_AGENT} ^FlipBrowser [OR]
  RewriteCond %{HTTP_USER_AGENT} ^GetBot [OR]
  RewriteCond %{HTTP_USER_AGENT} ^GetRight [OR]
  RewriteCond %{HTTP_USER_AGENT} ^GetSmart [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Gets [OR]
  RewriteCond %{HTTP_USER_AGENT} ^GetWeb [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Go\-Ahead\-Got\-It [OR]
  RewriteCond %{HTTP_USER_AGENT} ^gotit [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Go!Zilla [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Grabber [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Grab [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Grafula [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Greed [OR]
  RewriteCond %{HTTP_USER_AGENT} ^HMView [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Hoover [OR]
  RewriteCond %{HTTP_USER_AGENT} ^HtGet [OR]
  RewriteCond %{HTTP_USER_AGENT} ^HTTrack [OR]
  RewriteCond %{HTTP_USER_AGENT} ^IBrowse [OR]
  RewriteCond %{HTTP_USER_AGENT} ^iFox98 [OR]
  RewriteCond %{HTTP_USER_AGENT} ^IGJpg$ [OR]
  RewriteCond %{HTTP_USER_AGENT} ^InterGET [OR]
  RewriteCond %{HTTP_USER_AGENT} ^InternetLinkAgent [OR]
  RewriteCond %{HTTP_USER_AGENT} ^IPhoto [OR]
  RewriteCond %{HTTP_USER_AGENT} ^iwantmy [OR]
  RewriteCond %{HTTP_USER_AGENT} ^iwantmyxxx\.com [OR]
  RewriteCond %{HTTP_USER_AGENT} ^JetCar [OR]
  RewriteCond %{HTTP_USER_AGENT} ^JOC [OR]
  RewriteCond %{HTTP_USER_AGENT} ^JustView [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Keepoint [OR]
  RewriteCond %{HTTP_USER_AGENT} ^leech [OR]
  RewriteCond %{HTTP_USER_AGENT} ^lftp [OR]
  RewriteCond %{HTTP_USER_AGENT} ^likse [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} ^Magnet [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Mag-Net [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Mass\ Downloader [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Memo [OR]
  RewriteCond %{HTTP_USER_AGENT} ^MemoWeb [OR]
  RewriteCond %{HTTP_USER_AGENT} ^MIDown\ tool [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Mirror [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Mister\ PiX [OR]
  RewriteCond %{HTTP_USER_AGENT} ^MSProxy [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Navroad [OR]
  RewriteCond %{HTTP_USER_AGENT} ^NearSite [OR]
  RewriteCond %{HTTP_USER_AGENT} ^NetAnts [OR]
  RewriteCond %{HTTP_USER_AGENT} ^NetDrag [OR]
  RewriteCond %{HTTP_USER_AGENT} ^NetSpider [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Offline\ Explorer [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Offline [OR]
  RewriteCond %{HTTP_USER_AGENT} ^PageGrabber [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Papa\ Foto [OR]
  RewriteCond %{HTTP_USER_AGENT} ^pcBrowser [OR]
  RewriteCond %{HTTP_USER_AGENT} ^PerManSurfer [OR]
  RewriteCond %{HTTP_USER_AGENT} ^PlantyNet_WebRo [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Pockey [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Pump [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Reaper [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Recorder [OR]
  RewriteCond %{HTTP_USER_AGENT} ^ReGet [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Retriever [OR]
  RewriteCond %{HTTP_USER_AGENT} ^SilentSurf [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Siphon [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Snagger [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Snake [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Snarf [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Snatcher [OR]
  RewriteCond %{HTTP_USER_AGENT} ^SpaceBison [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Stripper [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Sucker [OR]
  RewriteCond %{HTTP_USER_AGENT} ^SuperBot [OR]
  RewriteCond %{HTTP_USER_AGENT} ^SuperHTTP [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Surfbot [OR]
  RewriteCond %{HTTP_USER_AGENT} ^tAkeOut [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Vacuum [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Vampire [OR]
  RewriteCond %{HTTP_USER_AGENT} ^wantmy [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Weazel [OR]
  RewriteCond %{HTTP_USER_AGENT} ^WebAuto [OR]
  RewriteCond %{HTTP_USER_AGENT} ^WebCopier [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Webexe [OR]
  RewriteCond %{HTTP_USER_AGENT} ^WebFetch [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Web\ Image\ Collector [OR]
  RewriteCond %{HTTP_USER_AGENT} ^WebReaper [OR]
  RewriteCond %{HTTP_USER_AGENT} ^WebSauger [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Website\ Quester [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Webster [OR]
  RewriteCond %{HTTP_USER_AGENT} ^WebStripper [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Web\ Sucker [OR]
  RewriteCond %{HTTP_USER_AGENT} ^WebVCR [OR]
  RewriteCond %{HTTP_USER_AGENT} ^WebWhacker [OR]
  RewriteCond %{HTTP_USER_AGENT} ^WebZIP [OR]
  RewriteCond %{HTTP_USER_AGENT} ^WFARC [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Wget [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Whacker [OR]
  RewriteCond %{HTTP_USER_AGENT} ^Widow [OR]
  RewriteCond %{HTTP_USER_AGENT} ^WWWCopy [OR]
  RewriteCond %{HTTP_USER_AGENT} ^WWWoffle [OR]
  RewriteCond %{HTTP_USER_AGENT} .*search\.msn\.com.* [OR]
  RewriteCond %{REMOTE_ADDR} ^46\.161\.41\.24$
  RewriteRule ^.*$ - [F,L]


  RewriteCond %{HTTP_REFERER} semalt\.com [NC]
  RewriteRule .* - [F]

#  RewriteCond %{HTTP_HOST} !www.tralandia.sk
#  RewriteCond %{HTTP_USER_AGENT} .*Googlebot.* [OR]
#  RewriteCond %{HTTP_USER_AGENT} Googlebot [OR]
#  RewriteCond %{HTTP_USER_AGENT} googlebot
#  RewriteRule ^.*$ - [F,L]


  RewriteCond %{QUERY_STRING} switchSearchCountry
  RewriteRule .* /? [R=301,L]


#  RewriteCond %{HTTP_HOST} ^(.*)tralandia.hr
#  RewriteRule (.*) http://%1tralandia.com.hr/$1 [R=301,L]

  RewriteCond %{HTTP_HOST} ^(.*)tralandia.com.hr
  RewriteRule (.*) http://%1tralandia.hr/$1 [R=301,L]

  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
  RewriteRule \.(gif|jpe?g|png|bmp) http://www.tralandiastatic.com/placeholder.png [NC,L]

  # front controller
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule !\.(pdf|js|ico|gif|jpg|png|css|rar|zip|tar\.gz)$ index.php [L]
</IfModule>


<IfModule mod_expires.c>
  ExpiresActive on

# Perhaps better to whitelist expires rules? Perhaps.
  ExpiresDefault                          "access plus 1 month"

# cache.appcache needs re-requests in FF 3.6 (thanks Remy ~Introducing HTML5)
  ExpiresByType text/cache-manifest       "access plus 0 seconds"

# Your document html
  ExpiresByType text/html                 "access plus 0 seconds"

# Data
  ExpiresByType application/json          "access plus 0 seconds"
  ExpiresByType application/xml           "access plus 0 seconds"
  ExpiresByType text/xml                  "access plus 0 seconds"

# Feed
  ExpiresByType application/atom+xml      "access plus 1 hour"
  ExpiresByType application/rss+xml       "access plus 1 hour"

# Favicon (cannot be renamed)
  ExpiresByType image/x-icon              "access plus 1 week"

# Media: images, video, audio
  ExpiresByType audio/ogg                 "access plus 1 month"
  ExpiresByType image/gif                 "access plus 1 month"
  ExpiresByType image/jpeg                "access plus 1 month"
  ExpiresByType image/png                 "access plus 1 month"
  ExpiresByType video/mp4                 "access plus 1 month"
  ExpiresByType video/ogg                 "access plus 1 month"
  ExpiresByType video/webm                "access plus 1 month"

# HTC files  (css3pie)
  ExpiresByType text/x-component          "access plus 1 month"

# Webfonts
  ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
  ExpiresByType application/x-font-ttf    "access plus 1 month"
  ExpiresByType application/x-font-woff   "access plus 1 month"
  ExpiresByType font/opentype             "access plus 1 month"
  ExpiresByType image/svg+xml             "access plus 1 month"

# CSS and JavaScript
  ExpiresByType application/javascript    "access plus 1 year"
  ExpiresByType text/css                  "access plus 1 year"

</IfModule>
