<div class="span12">
	<header class="innerPadding baseRadius baseBorder" id="header">
		<div class="inner" id="topWidget"
			 style="background-image: url({$basePath}/images/headerBanner/{$environment->getPrimaryLocation()->getIso()}.jpg);">


		<div id="siteOptions">


				<ul class="withShadow">
					{*
						<li class="home headerIcon"><a n:href=":Front:Home:default"><i class="entypo-home"></i> {_o823}</a></li>
						<li class="headerIcon"><a n:href=":Owner:Rental:edit"><i class="entypo-edit"></i> {_o749}</a></li>
						<li class="headerIcon"><a n:href=":Owner:Rental:add" class="red"><i class="entypo-plus"></i><strong> {_o793}</strong></a> </li>
					*}

					{if $loggedUser}
						<li class="headerIcon">
							<a href="{plink :Owner:User:edit}">{$loggedUser->getLogin()}</a>
						</li>
						<li class="headerIcon">
							<a href="{plink :Owner:Rental:firstRental}">{_o100117}</a>
						</li>
						<li class="headerIcon">

							<a href="{plink :Front:Sign:out}" class="last">{_o1594}</a>
						</li>
					{else}
						<li class="headerIcon">
							<a href="{$homepageUrl}">{_o100042}</a>
						</li>
						<li class="headerIcon">
							<a href="{plink Registration:}" class="red">
								<strong>{_o100044}</strong>
							</a>
						</li>
						<li class="headerIcon">
							<a href="{plink :Front:Contact:default#SupportUs}" class="green">
								<strong>{_o32990}</strong>
							</a>
						</li>
						<li class="headerIcon">
							<a href="{plink :Front:Sign:in}">{_o100043}</a>
						</li>
						<li>
							<div class="dropdown lang">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="langMenuOptionsOpen">
									{_$environment->getLanguage()->name} <i class="entypo-chevron-down"></i>
								</a>
							</div>
						</li>
					{/if}

				</ul>

				<ul class="dropdown-menu" role="menu" id="langMenuOptions" n:inner-foreach="$supportedLanguages as $column">
					<li>
						<ul n:inner-foreach="$column as $language">
							<li>
								{var $name = $language->getName()->getTranslationText($language);}
								{if $language->getId() == $environment->getLanguage()->getId()}
									<span>{$name}</span>
								{else}
									<a href="{plink this, language => $language}">{$name}</a>
								{/if}
							</li>
						</ul>
					</li>
				</ul>

			</div>


			<div id="pageTitle">
				<div id="logo">
					<a href="{$homepageUrl}" title="{_$homepageSeo->getTitle()}"></a>
				</div>
				<div id="siteName">
					<a href="{$homepageUrl}"> {$domainHost}<span>{$domainExtension}</span>
					</a>
				</div>
				<h1><a href="{$homepageUrl}">{$slogan}</a></h1>
			</div>
			<div class="gradientEnd"></div>

			<div class="clearfix"></div>

			<div class="socialIcons socialPluginsInit" id="socialIcons">
				&#62220; &#62223; &#62217; &#62226;

				<ul class="dropdown-menu" role="menu" id="socialIconsMenu">
					<li>
						<ul>
							<li><div id="headerFacbookLikeContainer" class="facebookLikeButtonContainer" data-facebook-src="{$homepageUrl}"></div></li>
							<li><g:plusone size="medium" href="{$homepageUrl}"  style="margin-top:2px;" lang="{$localeGoogleCode}"></g:plusone></li>
							<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="{$homepageUrl}" data-via="Tralandia" data-text="{_o100036}" data-hashtags="{_o100034}" data-lang="{$environment->getLanguage()->getIso()}">Tweet</a></li>
							<li>
								<a href="http://pinterest.com/pin/create/button/?url={$homepageUrl}" class="pin-it-button" count-layout="horizontal"></a>
							</li>
						</ul>
					</li>
				</ul>
			</div>


		</div>
	</header>
</div>
