<div class="span12">
	<div class="innerPadding baseRadius baseBorder" id="header">
{* 	<div id="socialMediaLinks">
		<a class="facebook" href="{$facebookPage}" target="_blank"><i class="icon-facebook-sign"></i></a>
		<a class="googlePlus" href="{$googlePlusProfile}" target="_blank"><i class="icon-google-plus-sign"></i></a>
	</div> *}
	<div class="inner" id="topWidget"
			 style="background-image: url({$backgroundImage});">



		<div id="siteOptions">


				<ul class="withShadow">
					{*
						<li class="home headerIcon"><a n:href=":Front:Home:default"><i class="entypo-home"></i> {_o823}</a></li>
						<li class="headerIcon"><a n:href=":Owner:Rental:edit"><i class="entypo-edit"></i> {_o749}</a></li>
						<li class="headerIcon"><a n:href=":Owner:Rental:add" class="red"><i class="entypo-plus"></i><strong> {_o793}</strong></a> </li>
					*}

					{if $user->isLoggedIn()}

						<li class="headerIcon">
							<a href="{plink :Front:SupportUs:default}" class="green">
								<strong>{_o100195}</strong>
							</a>
						</li>

						{if $loggedUser->isOwner()}
							<li class="headerIcon">
								<a href="{plink :Owner:User:edit}">{$loggedUser->getLogin()}</a>
							</li>
						{else}
							<li class="headerIcon">
								<a href="{plink $loggedUser->getRole()->getHomePage()}">{$loggedUser->getLogin()}</a>
							</li>
						{/if}
						<li n:if="$user->identity->isFake()" class="headerIcon">
							<a class="red bold" href="{plink :Front:Sign:restoreOriginalIdentity}">Switch back to {$user->identity->getOriginalIdentity()->login}</a>
						</li>
						{if $loggedUser->isOwner()}
							<li class="headerIcon">
								<a href="{plink :Owner:Rental:firstRental}">{_o100117}</a>
							</li>
						{/if}
						<li class="headerIcon last">
							<a href="{$getLogoutLink()}" >{_o1594}</a>
						</li>
						
					{else}



						{ifset $worldLink}
						<li class="headerIcon">
							<img src="/images/flags/{$isoCode}.png" />
						</li>
						{/ifset}

						<li class="headerIcon">
							<a href="{$homepageUrl}">{_o100042}</a>
						</li>

						{ifset $worldLink}
							<li class="headerIcon">
								<a href="{$worldLink}">{_151892}</a>
							</li>					
						{/ifset}

{*
						<li class="headerIcon">
							<a href="{plink Registration:}" class="red">
								<strong>{_o100044}</strong>
							</a>
						</li>
*}

						<li class="headerIcon">
							<a href="{plink :Front:SupportUs:default}" class="green">
								<strong>{_o100195}</strong>
							</a>
						</li>
						<li class="headerIcon">
							<a href="{plink :Front:Sign:in}">{_o100043}</a>
						</li>
						<li>
							<div class="dropdown lang">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="langMenuOptionsOpen">
									{_$environment->getLanguage()->name} <i class="icon-angle-down"></i>
								</a>
							</div>
						</li>

					{/if}

				</ul>

				<ul class="dropdown-menu" id="langMenuOptions" n:inner-foreach="$liveLanguages as $column">
					<li>
						<ul n:inner-foreach="$column as $language">
							<li>
								{if $language->getIso() == 'en'}
									{var $class = 'en-language'}
								{elseif $language->getId() == $environment->getPrimaryLocation()->getDefaultLanguage()->getId()}
									{var $class = 'local-language'}
								{else}
									{var $class = NULL}
								{/if}
								{if $language->getId() == $environment->getLanguage()->getId()}
									<span><i class="icon-ok"></i> <small>{_$language->getName(), NULL, NULL, NULL, $language}</small></span>
								{else}
									<a href="{plink this, language => $language}" n:attr="class => $class"><i class="icon-angle-right"></i> <small>{_$language->getName(), NULL, NULL, NULL, $language}</small></a>
								{/if}
							</li>
						</ul>
					</li>
				</ul>

			</div>


			<div id="pageTitle">
				<div id="logo">
					<a href="{$homepageUrl}" title="{_$homepageSeo->getTitle()}"></a>
				</div>
				<div id="siteName">
					<a href="{$homepageUrl}"> {$domainHost}<span>{$domainExtension}</span>
					</a>
				</div>
				<h1><a href="{$homepageUrl}">{$slogan}</a></h1>
			</div>

			<div class="clearfix"></div>

<div id="headerShareMenu">

	<a class="myFav" href="#"><i class="icon-heart"></i><small>6</small></a>


	<div class="socialIcons socialPluginsInit" id="socialIcons">
		<i class="icon-facebook"></i>
		<i class="icon-google-plus"></i>
		<i class="icon-twitter"></i>
		<i class="icon-pinterest"></i>

		<ul class="dropdown-menu" id="socialIconsMenu">
			<li class="socialIconCover">
				<ul class="social-buttons">
					<li>{$twitterShareTag}</li>
					<li>{$googlePlusShareTag}</li>
					<li>{$facebookShareTag}</li>
					<li>{$pinterestShareTag}</li>
				</ul>
			</li>
			{* <li class="loader"><i class="icon-spinner icon-spin"></i></li> *}
		</ul>
	</div>
</div>



		</div>
	</div>
</div>
