{define #col-searchInterval}
	<td>
		{$row->searchInterval}
	</td>
{/define}

{define #col-rounding}
	<td>
		{$row->rounding}
	</td>
{/define}

{define #col-exchangeRate}
	<td>
		{$row->exchangeRate}
	</td>
{/define}
