{block content}

{includeblock APP_DIR.'/BaseModule/forms/@formControls.latte'}



{form editForm}
	<h1>{_719628} {$reservation->id}</h1>
	<table class="formTable innerPadding">

		{include #text, control => $form['arrivalDate'], class => 'datepicker'}
		{include #text, control => $form['departureDate'], class => 'datepicker'}
		{include #select, control => $form['status'], controlClass => 'select2 notFulltext'}

		{include #rentalUnit, control => $form['units'], availableUnits => $availableUnits }

		{include #text, control => $form['senderName']}
		{include #email, control => $form['senderEmail']}
		{include #phone, control => $form['senderPhone']}

		{include #text, control => $form['adultsCount']}
		{include #text, control => $form['childrenCount']}
		{include #text, control => $form['childrenAge']}

		{include #textArea, control => $form['message']}
		{include #textArea, control => $form['ownersNote']}

		{include #text, control => $form['referrer']}

		{include #select, control => $form['currency']}
		{include #text, control => $form['totalPrice']}
		{include #text, control => $form['paidPrice']}

		<tr class="simpleInput">
			<td>{_719609}</td>
			<td><table><tr><td><input type="text" name="price_unpaid" value="" disabled="disabled"></td></tr></table></td>
			<td><span class="help">{_791258}</span></td>
		</tr>

		{include #submit, control => $form['submit']}
	</table>
{/form}

<script type="text/javascript" n:syntax="double">

	var $form = $('form#frm-editForm');
	var totalPriceInput = '[name="totalPrice"]';
	var paidPriceInput = '[name="paidPrice"]';

	$(function() {
		$('.datepicker input').datepicker({
			dateFormat: "yy-mm-dd",
			onClose: dateRangeCheck
		});
		$(totalPriceInput+','+paidPriceInput).keyup(function() {
			calculateUnpaid();
		})
		calculateUnpaid();
//		dateRangeCheck();
	});

	function dateRangeCheck() {
		var arrivalDate = $('input[name="arrivalDate"]', $form).datepicker("getDate");
		var departureDate = $('input[name="departureDate"]', $form).datepicker("getDate");
		var uri = {{plink getUnitAvailability!, from => '__from__', to => '__to__'}};

		if (arrivalDate && departureDate) {
			var from = arrivalDate.getTime() / 1000;
			var to = departureDate.getTime() / 1000;

			uri = uri.replace('__from__', from);
			uri = uri.replace('__to__', to);

			$.ajax({
				type: "POST",
				dataType: 'json',
				url: uri,
				success: function(data) {
					// disable all
					$(".units label input", $form).attr("disabled", "disabled");

					for(var n in data) {
						var unit = data[n];
						$('input[name="units[unit'+n+'][]"]').each(function() {
							var value = $(this).val();

							if (unit[value] > 0) {
						    	$(this).removeAttr("disabled");
							} else {
								// stay disabled and deselected
								$(this).attr("checked", false);
							}
						});
					}
				}
			});
		}
	}

	function calculateUnpaid() {
		var price = $(totalPriceInput).val();
		var pricePaid = $(paidPriceInput).val();
		var priceUnpaid = price - pricePaid;
		$('[name="price_unpaid"]').val(priceUnpaid);
	}
</script>
