common:
	php:
		date.timezone: Europe/Bratislava
		zlib.output_compression: yes
		max_execution_time: 60

	nette:
		session:
			autoStart: smart
		
	parameters:
		security:
			salt: '8723lks762ngknl90835bkd'
			sender: 'noreply@tralandia.sk'
		
		database:
			user: root
			password: root
			host: 127.0.0.1
			dbname: tralandia
			charset: utf8
			driver: pdo_mysql
			debugger: false
				
		proxyDir: '%tempDir%/proxies'

		entityDirs: '%appDir%/models/Entities'
	
		settingsDir: '%appDir%/configs'
		
		envOptions:
			sendEmail: TRUE
		
		editor: 'txmt://open/?url=file://%file&line=%line'

			
	doctrine:
		connections:
			default: %database%


		entityManagers:
			default:
				connection: default

		console:
			entityManager: default
		
	services:
		nette.presenterFactory:
			class: Extras\DynamicPresenterFactory
			factory: Extras\DynamicPresenterFactory::factory
	
		console: @doctrine.console
		
		#authenticator: Security\Authenticator( @entityManager::getRepository('User') )

		authorizator: Security\Acl

		translator:
			factory: Extras\MyTranslator::getTranslator
			
		settings:
			factory: Extras\PresenterSettings::factory
		
	factories:
		service: Extras\Models\Service::setEntityManager(@doctrine.entityManagers.default)
		list: Extras\Models\ServiceList::setEntityManager(@doctrine.entityManagers.default)

production < common:
	parameters:
		database:
			user: root
			password: root
			host: 127.0.0.1
			dbname: tralandia
			charset: utf8
			driver: pdo_mysql
			unix_socket: /var/run/mysqld/mysqld.sock
		
console < common:

development < common:
	php:
		max_execution_time: 0
		memory_limit: 1024M


	parameters:
		database:
			user: root
			password: root
			host: 127.0.0.1
			dbname: tralandia
			charset: utf8
			driver: pdo_mysql
			unix_socket: /var/run/mysqld/mysqld.sock

		envOptions:
			sendEmail: FASLE

		
vaculciak < development:
	parameters:
		editor: 'txmt://open/?url=file://%file&line=%line'

durika < development:
	parameters:
		editor: 'edit://open/?url=file://%file&line=%line'
		envOptions:
			email: tralandia.david@gmail.com
		


test < development:
	parameters:
		database:
			user: root
			password: root
			host: 127.0.0.1
			dbname: tralandia_test
			charset: utf8
			driver: pdo_mysql
			unix_socket: /var/run/mysqld/mysqld.sock
