common:
	php:
		date.timezone: Europe/Bratislava
		zlib.output_compression: yes
		max_execution_time: 60

	nette:
		session:
			autoStart: smart
		
	parameters:
		security:
			salt: '8723lks762ngknl90835bkd'
			sender: 'noreply@tralandia.sk'
		
		database:
			user: root
			password: root
			host: 127.0.0.1
			dbname: tralandia
			charset: utf8
			driver: pdo_mysql
	
		proxiesDir: '%tempDir%/proxies'

		entityDirs: '%appDir%/models/Entities'
	
		settingsDir: '%appDir%/configs'
		
		envOptions:
			sendEmail: TRUE
			
	doctrine:
		connections:
			default: %database%

		entityManagers:
			default:
				connection: default

		console:
			entityManager: default
		
	services:
		nette.presenterFactory:
			class: DynamicPresenterFactory
			factory: DynamicPresenterFactory::factory
	
		console: @doctrine.console
		
		entityManager: @doctrine.entityManagers.default
		
		authenticator: Security\Authenticator( @entityManager::getRepository('User') )

		authorizator: Security\Acl

		translator:
			factory: \MyTranslator::getTranslator
			
		settings:
			factory: \PresenterSettings::factory
		

production < common:
	parameters:
		database:
			user: tralandia
			password: 897247889729787892
			host: 192.168.1.1
			dbname: tralandia
		
console < common:

development < common:
	parameters:
		database:
			user: root
			password: root
			host: 127.0.0.1
			dbname: tralandia

		envOptions:
			sendEmail: FASLE

		
vaculciak < development:
	parameters:
		editor: 'txmt://open/?url=file://%file&line=%line'

durika < development:
	parameters:
		editor: 'edit://open/?url=file://%file&line=%line'
		envOptions:
			email: tralandia.david@gmail.com
			
