{var $searchFormClass = 'searchForm'}
{$jsVariables->for('form.' . $searchFormClass)}

<div class="span3" role="sidebar" data-searchCount="{link getSearchCount!}" id="sidebar">
<aside class="innerPadding baseRadius baseBorder innerPaddingLeft noTopMargin">

	{form searchForm , class => $searchFormClass }
		<strong>{_o100003}</strong>
		<div class="inputfilterSearch selected">
			<i class="icon-flag"></i>
			{input country , class => 'select2 selectRedirect disabledFulltext path sidebarCountry', data-js-country => 'selected'}
		</div>
		<div class="inputfilterSearch">
			<i class="icon-map-marker"></i>
			{input location ,
				class => 'path sidebarLocation',
				data-js-location-name => 'location-name',
				data-js-location-slug => 'location-slug',
				data-autocomplete-url => $autocompleteUrl,
				data-formatInputTooShort => $formatInputTooShort }
		</div>
		<div class="inputfilterSearch">
			<i class="icon-home"></i>
			{input rentalType , class => 'select2 path disabledFulltext sidebarRentalType', data-js-rental-type => 'selected'}
		</div>
		<div class="inputfilterSearch price">
			<i class="icon-money22">$</i>{input priceFrom , class => 'select2 disabledFulltext sidebarPriceFrom', data-js-price-from => 'selected'}
		</div>
		<div class="inputfilterSearch price pull-right">
			<i class="icon-money22">$</i>{input priceTo , class => 'select2 disabledFulltext pull-right sidebarPriceTo', data-js-price-to => 'selected'}
		</div>
		<div class="inputfilterSearch">
			<i class="icon-user"></i>
			{input capacity , class => 'select2 disabledFulltext', data-js-capacity => 'selected'}
		</div>
		<div class="inputfilterSearch">
			<i class="icon-food"></i>
			{input board , class => 'select2 disabledFulltext', data-js-board => 'selected'}
		</div>
		<div class="inputfilterSearch">
			<i class="icon-globe"></i>
			{input spokenLanguage , class => 'select2 disabledFulltext', data-js-spoken-language => 'selected'}
		</div>

		<div id="getSearchCount" data-label="#label text" class="pull-left">
			{ifCurrent :Front:Home:default}
			{else}
				{$totalResultsCountLabel}
			{/ifCurrent}
		</div>
		{* {input submit,value => '#Search' , icon => 'entypo-search', class => "btn btn-white pull-right"}	 *}
		{* <button class="btn btn-white pull-right"><i class="entypo-search"></i>{_o100092}</button> *}
		<a href="#" id="searchControlLink" class="btn btn-white pull-right"><i class="entypo-search"></i>{_o100092}</a>
	{/form}

	{if isset($bottomLinks) && count($bottomLinks->links)}
	<h4><i class="{$bottomLinks->iconClass}"></i>{_$bottomLinks->title}</h4>
		<ul n:inner-foreach="$bottomLinks->links as $value">
			<li>
				{capture $link}{plink RentalList:, $bottomLinks->linkArgument => $value->entity}{/capture}
				{var $rel = NULL}
				{if strpos($link, '?')}{var $rel = "noindex,follow"}{/if}
				<a href="{$link}" n:attr="rel => $rel">
					{$value->name} <span class="counter">{$value->count}</span>
				</a>
			</li>
		</ul>
	{/if}
	</aside>
</div>
