<div class="span3" role="sidebar" data-searchCount="{link getSearchCount!}" id="sidebar">
<aside class="innerPadding baseRadius baseBorder innerPaddingLeft noTopMargin">
	{* {control searchForm } *}


	{form searchForm , class => 'searchForm' }
		<strong>#Vyhladavanie </strong>
		<div n:class="isset($template->removeLocation) ? 'input-filltext selected' : input-filltext">
			<i class="icon-map-marker"></i>
			{input location , class => 'select2'}
			<a n:ifset="$template->removeLocation" href="{$template->removeLocation}" class="btnSearchClose"><i class="entypo-no"></i></a>
		</div>
		<div n:class="isset($template->removeRentalType) ? 'input-filltext selected' : input-filltext">
			<i class="icon-home"></i>
			{input rentalType , class => 'select2'}
			<a n:ifset="$template->removeRentalType" href="{$template->removeRentalType}" class="btnSearchClose"><i class="entypo-no"></i></a>
		</div>
		<div n:class="isset($template->removePriceFrom) ? 'input-filltext selected price' : 'input-filltext price'">
			<i class="icon-money22">$</i>{input priceFrom , class => 'select2'}
			<a n:ifset="$template->removePriceFrom" href="{$template->removePriceFrom}" class="btnSearchClose"><i class="entypo-no"></i></a>
		</div>	
		<div n:class="isset($template->removePriceFrom) ? 'input-filltext selected price pull-right' : 'input-filltext price pull-right'">
			<i class="icon-money22">$</i>{input priceTo , class => 'select2 pull-right'}
			<a n:ifset="$template->removePriceTo" href="{$template->removePriceTo}" class="btnSearchClose"><i class="entypo-no"></i></a>
		</div>
		<div n:class="isset($template->removeCapacity) ? 'input-filltext selected' : input-filltext">
			<i class="icon-user"></i>
			{input capacity , class => 'select2'}
			<a n:ifset="$template->removeCapacity" href="{$template->removeCapacity}" class="btnSearchClose"><i class="entypo-no"></i></a>
		</div>
		<div n:class="isset($template->removeSpokenLanguage) ? 'input-filltext selected' : input-filltext">
			<i class="icon-globe"></i>
			{input spokenLanguage , class => 'select2'}
			<a n:ifset="$template->removeSpokenLanguage" href="{$template->removeSpokenLanguage}" class="btnSearchClose"><i class="entypo-no"></i></a>
		</div>
		
		<div id="getSearchCount" data-label="#label text" class="pull-left">25 ubytovani</div>
		{* {input submit,value => '#Search' , icon => 'entypo-search', class => "btn btn-white pull-right"}	 *}
		<button class="btn btn-white pull-right"><i class="entypo-search"></i> #Search</button>	
		
	{/form}

	{ifset $locations}
	<h4><i class="icon-map-marker"></i>{_o1070}</h4>
		<ul n:inner-foreach="$locations as $value">
			<li>
				<a href="{plink RentalList, location => $value->entity}">{$value->name}</a>
			</li>
		</ul>
	{/ifset}
	{ifset $rentalTypes}
	<h4><i class="icon-home"></i>{_o20926}</h4>
		<ul n:inner-foreach="$rentalTypes as $value">
			<li>
				<a href="{plink RentalList, rentalType => $value->entity}">{$value->name}</a>
			</li>
		</ul>
	{/ifset}
	</aside>
</div>