<div class="span3" role="sidebar" data-searchCount="{link getSearchCount!}" id="sidebar">
<aside class="innerPadding baseRadius baseBorder innerPaddingLeft noTopMargin">
	{* {control searchForm } *}



	{form searchForm , class => 'searchForm' }

		<div class="input-filltext">
			{input location , class => 'select2'}
			<a n:if="$template->removeLocation" href="{$template->removeLocation}" class="btnSearchClose"><i class="entypo-no"></i></a>
		</div>
		<div class="input-filltext">
			{input rentalType , class => 'select2'}
			<a n:if="$template->removeRentalType" href="#" class="btnSearchClose"><i class="entypo-no"></i></a>
		</div>
		<div class="input-filltext price">{input priceFrom , class => 'select2'}
			<a n:if="$template->removePriceFrom" href="#" class="btnSearchClose"><i class="entypo-no"></i></a>
		</div>	
		<div class="input-filltext price">{input priceTo , class => 'select2 pull-right'}
			<a n:if="$template->removePriceTo" href="#" class="btnSearchClose"><i class="entypo-no"></i></a>
		</div>
		<div class="input-filltext">
			{input capacity , class => 'select2'}
			<a n:if="$template->removeCapacity" href="#" class="btnSearchClose"><i class="entypo-no"></i></a>
		</div>
		<div class="input-filltext">
			{input spokenLanguage , class => 'select2'}
			<a n:if="$template->removeSpokenLanguage" href="#" class="btnSearchClose"><i class="entypo-no"></i></a>
		</div>
		
		<div id="getSearchCount" class="pull-left"></div>{input submit, class => "btn btn-orange pull-right"}		
		
	{/form}

	{ifset $locations}
		<ul n:inner-foreach="$locations as $value">
			<li>
				<a href="{plink RentalList, location => $value->entity}">{$value->name}</a>
			</li>
		</ul>
	{/ifset}
	{ifset $rentalTypes}
		<ul n:inner-foreach="$rentalTypes as $value">
			<li>
				<a href="{plink RentalList, rentalType => $value->entity}">{$value->name}</a>
			</li>
		</ul>
	{/ifset}
	</aside>
</div>