/* ľšč*/
.listPanel {
    width: 964px;
    height: 102px;
    background: url(../images/matrix_main.png) 0 -1650px;
    overflow: hidden;
    margin: 0px 0px 10px 10px;
}
.listPanelHeader {
    height: 22px;
    overflow: hidden;
    position: relative;
}
.listPanelHeader h3 {
    position: absolute;
    width: 350px;
    text-align: center;
    color: #fff;
    overflow: hidden;
    left: 308px;
    top: 3px;
}
.listPanelHeader div {
    margin: 2px 0px 0px 20px;
}
.listPanelHeader div a {
    color: #fff;
}
.listPanelHeader div span {
    padding: 0px 9px 0px 0px;
    background: url(../images/matrix_main.png) -320px -1187px;
}
.listPanelLeft, .listPanelCenter, .listPanelRight {
    float: left;
}
.listPanelLeft, .listPanelRight {
    width: 22px;
}
.listPanelLeft {
    margin-left: 2px;;
}
.listPanelCenter {
    width: 910px;
    height: 79px;
    overflow: hidden;
    margin: 0 3px;
}
.listPanelLeft a, .listPanelRight a {
    display: block;
    width: 22px;
    height: 78px;
    text-decoration: none;
}
.listPanelLeft a:hover {
    background: url(../images/matrix_main.png) -495px -1500px;
}
.listPanelRight a:hover {
    background: url(../images/matrix_main.png) -525px -1500px;
}
.listPanelLeft div, .listPanelRight div {
    width: 22px;
    height: 78px;
    display: none;
    background: url(../images/matrix_main.png);
}
.listPanelLeft div {
    background-position: -240px -1210px;
}
.listPanelRight div {
    background-position: -272px -1210px;
}
.listPanelLeft.disabled a, .listPanelRight.disabled a {
    display: none;
}
.listPanelLeft.disabled div, .listPanelRight.disabled div {
    display: block;
}
.listPanelCenter table {
    margin: 7px 0px 0px 0px;
}
.listPanelCenter table td {
    padding-right: 10px;
}
.listPanelCenter img {
    display: block;
    width: 100px;
    height: 63px;
}
.listPanelCenter a {
    display: block;
    position: relative;
    text-decoration: none;
}
.listPanelCenter a div {
    display: none;
    position: absolute;
    left: 87px;
    top: 0px;
    width: 13px;
    height: 13px;
    background: url(../images/matrix_main.png) -320px -1091px;
}
.listPanelCenter td.visited a div {
    display: block;
}
.listPanelCenter div div {
    position: absolute;
    width: 100px;
    height: 70px;
    background: url(../images/matrix_main.png) -845px -1500px;
}

/* ********************** */

.favoritesPanel {
    width: 964px;
    height: 127px;
    background: url(../images/matrix_main.png) 0 -2680px;
    overflow: hidden;
    margin: 0px 0px 10px 10px;
}
.favoritesPanelHeader {
    height: 22px;
    overflow: hidden;
    position: relative;
}
.favoritesPanelHeader h3 {
    position: absolute;
    width: 350px;
    text-align: center;
    color: #fff;
    overflow: hidden;
    left: 308px;
    top: 3px;
}
.favoritesPanelLeft, .favoritesPanelCenter, .favoritesPanelRight {
    float: left;
}
.favoritesPanelLeft, .favoritesPanelRight {
    width: 22px;
}
.favoritesPanelLeft {
    margin-left: 2px;;
}
.favoritesPanelCenter {
    width: 910px;
    height: 104px;
    overflow: hidden;
    margin: 0 3px;
}
.favoritesPanelLeft a, .favoritesPanelRight a {
    display: block;
    width: 22px;
    height: 103px;
    text-decoration: none;
}
.favoritesPanelLeft a:hover {
    background: url(../images/matrix_main.png) 0 -2450px;
}
.favoritesPanelRight a:hover {
    background: url(../images/matrix_main.png) -30px -2450px;
}
.favoritesPanelLeft div, .favoritesPanelRight div {
    width: 22px;
    height: 103px;
    display: none;
    background: url(../images/matrix_main.png);
}
.favoritesPanelLeft div {
    background-position: -60px -2450px;
}
.favoritesPanelRight div {
    background-position: -90px -2450px;
}
.favoritesPanelLeft.disabled a, .favoritesPanelRight.disabled a {
    display: none;
}
.favoritesPanelLeft.disabled div, .favoritesPanelRight.disabled div {
    display: block;
}
.favoritesPanelCenter table {
    margin: 7px 0px 0px 0px;
}
.favoritesPanelCenter table td {
    padding-right: 10px;
}
.favoritesPanelCenter img {
    display: block;
    width: 100px;
    height: 63px;
}
.favoritesPanelCenter table a {
    display: block;
    position: relative;
    text-decoration: none;
}
.favoritesPanelCenter a div {
    display: none;
    position: absolute;
    left: 87px;
    top: 0px;
    width: 13px;
    height: 13px;
    background: url(../images/matrix_main.png) -320px -1091px;
}
.favoritesPanelCenter td.visited a div {
    display: block;
}
.favoritesPanelCenter div div {
    position: absolute;
    width: 100px;
    height: 70px;
    background: url(../images/matrix_main.png) -845px -1500px;
}
.favoritesPanelLinks {
    text-align: center;
    margin-top: 8px;
}
.favoritesPanelLinks a, .favoritesPanelLinks span {
    padding: 3px 0px 3px 0px;
    line-height: 19px;
    text-decoration: none;
}
.favoritesPanelLinks a {
    color: #30487b;
    padding-right: 10px;
}
.favoritesPanelLinks span {
    background: url(../images/matrix_main.png);
    padding-left: 23px;
}
.favoritesPanelLinks a.friends span {
    background-position: -350px -1030px;
}
.favoritesPanelLinks a.reservation span {
    background-position: -350px -1070px;
}
.favoritesPanelLinks a.compare span {
    background-position: -350px -1150px;
}
.favoritesPanelLinks a.clear span {
    background-position: -350px -1110px;
}

