/* ľšč*/
.objectListItem {
    position: relative;
    border-bottom: 1px solid #C7D29B;
    margin: 12px 6px 0px 10px;
    padding: 0px 0px 12px 0px;
}
.objectListItem .dogIcon {
    position: absolute;
    width: 50px;
    height: 25px;
    background: url(../images/matrix_main.png) -770px -920px;
    top: 5px;
    left: 5px;
}
.objectListItem .dogIcon.no {
    background-position: -770px -950px;
}
.objectListItem .headerIcon {
    position: absolute;
    width: 33px;
    height: 23px;
    background: url(../images/matrix_main.png) -230px -930px;
    top: 5px;
    left: 198px;
}
.objectListItem .image {
    display: block;
    float: left;
    width: 235px;
    height: 145px;
    background-repeat: no-repeat;
}
.objectListItem .info {
    float: right;
    width: 480px;
}

.objectListItem a.compare {
    float: right;
    /*color: #fff;*/
    text-decoration: none;
    margin-top: 2px;
}
.objectListItem a.compare * {
    background-image: url(../images/matrix_bt.png);
    padding: 3px 0 4px;
    /*color: #fff;*/
}
.objectListItem a.compare, .objectListItem a.compare * {
    line-height: 15px;
}
.objectListItem a.compare .text {
    background-position: 0 -60px;
    padding-left: 29px;
}
.objectListItem a.compare .space {
    background-position: right -60px;
    padding-right: 2px;
}
.objectListItem a.compare:hover .text {
    background-position: 0 -85px;
}
.objectListItem a.compare:hover .space {
    background-position: right -85px;
}

.objectListItem a.compare.active .text {
    background-position: 0 -110px;
    color: #fff;
}
.objectListItem a.compare.active .space {
    background-position: right -110px;
}
.objectListItem a.compare.active:hover .text {
    background-position: 0 -135px;
}
.objectListItem a.compare.active:hover .space {
    background-position: right -135px;
}

h1.objectList {
    padding-top: 6px;
    padding-bottom: 5px;
}
.objectListItem h3 {
    color: #a0b325;
    font-size: 19px;
    font-weight: normal;
    width: 385px;
    height: 25px;
    overflow: hidden;
    margin-bottom: 6px;
}
.objectListItem p {
    height: 14px;
    overflow: hidden;
    margin-bottom: 11px;
}
.objectListItem .panel {
    width: 480px;
    height: 64px;
    overflow: hidden;
    background: url(../images/matrix_main.png) 0 -1870px;
}
.objectListItem .holder {
    margin: 5px 10px 0px 10px;
}
.objectListItem .holder td {
    line-height: 1.6;
}
.objectListItem .contact {
    background: url(../images/matrix_main.png) -280px -1030px;
    padding: 0 0 2px 21px;
    text-decoration: none;
}
.objectListItem .rating {
    background: url(../images/matrix_main.png) -318px -1129px;
    padding: 0 0 2px 21px;
    text-decoration: none;
}
.objectListItem .panel p {
    height: 14px;
    overflow: hidden;
    margin: 1px 10px 0 10px;
}

