{block content}
<div class="mainRight">
	<div class="panelGreen">
		<div class="top"></div>
		<div class="content">
			<h1>Ubytovanie a dovolenka na Slovensku</h1>
			{include '../../forms/registrationForm.latte'}
		</div>
		<div class="bottom"></div>
	</div>
</div>