{block content}
<div class="mainRight">
	<div class="panelGreen">
		<div class="top"></div>
		<div class="content">
			<h1>{$pageH1}</h1>
			<p>{!_151888|texy}</p>
			{$jsRegistrationVariables->for('form.registrationForm')}
			{include '../../forms/registrationForm.latte'}
		</div>
		<div class="bottom"></div>
	</div>
</div>
