{block content}

<h1>Registracia a Prihlasenie ubytovatela</h1>

{include registrationForm/registrationTable.latte}

{include registrationForm/servicePackage.latte}

{include registrationForm/registrationForm.latte}