@import '../../_base/less/lessFunctions.less';

.innerPaddingRitgh {
	margin-bottom: 10px;
}

#content {

	h1 {
		padding: 0;
		margin: 15px 0 15px 10px;
	}

	.add-new {
		.basic-gradient(#B7C546, #869C19);
		line-height: 23px;
		color: #fff;
		&:hover {
			background: #869C19;
		}
	}

	.gridUiTop {
		background: white;
	}


}

#sidebar {
	h4 {
		margin-top: 10px;
	}

	ul {
		position: relative;
	}

	.loggedUser {
		.basic-gradient(rgb(142, 175, 18),rgb(116, 145, 8));
		.basic-border-radius(6px);
		padding: 10px;
		margin: 1px;

		strong {
			margin-bottom: 0;
			font-size: 14px;
			line-height: 14px;
			height: auto;
		}
	}

	input[type=text] , .input-prepend {
		margin: 5px 10px;
		width: 193px;
	}

	.input-prepend {
		input[type=text] {
			margin: 0;
			width: 143px;
		}
	}
}

.input-prepend {
	.add-on.select {
		width: 51px;
		background: none;
		border: none;
		padding: 0;
	}
}

#content table.reservations {

	td {
		.info {
			margin: 10px 0;
			font-size: 14px;
			color: #444;

			i[class*="entypo-"]:before {
				font-size: 20px;
			}
		}

		p.sender {
			padding: 0;
			margin: 10px 0 0;
			font-size: 14px;
		}

		p.message {
			color: #444;
			margin: 5px 0px 10px;
			padding: 0;
		}
	}

	tr.old {
		zoom: 1;
		filter: alpha(opacity=50);
		opacity: 0.5;		
	}
}
