@import './less-functions.less';


.datagrid {
	table {

		border-color: #E4E8CF;
		border-bottom: none;
		border-left: none;
		border-right: none;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;

		.dropdown-menu {
			right: -8px;
			left: -130px;
		}


		tr {
			td {
				&.col-actions {
					cursor: default;
					text-align: right;
				}
			}
			&:hover td {
				background: #F5F7EA;
			}
		}

		td {
			padding: 3px 8px;
			line-height: 17px;
			font-size: 13px;
			border-color: #e4e8cf;

			text-align: center;
			&.col-actions {
				/*width: 78px;*/
			}
		}

		th {
			padding: 0 8px;
			height: 32px;
			line-height: 32px;
			border-color: #E4E8CF;
			background: #f7f8ef;

			&.col-actions {
				/*width: 250px;*/
			}

		}

		th:first-child, td:first-child {
			border-left: none;
		}

		thead:first-child tr:first-child th:first-child, thead:first-child tr:first-child th:last-child {
			border-radius: 0;
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
		}

		tfoot {
			th {
				background: #fff;
			}
		}

		.btn {
			padding: 2px 6px;
			font-size: 10px;
			line-height: 13px;
			font-weight: normal;

			margin-right: 2px;

			color: #fff;

			&.btn-primary {
				.basic-gradient(#04C,#08C);
				border: none;
				color: #fff;

				&:hover {
					background: #04C;
				}
			}

			&.btn-danger {
				border: none;
				color: #fff;

				&:hover {
					background: #BD362F;
				}
			}

			i {
				line-height: 12px;
			}

			&.mail {
				width: 80px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.btn-group {
			float: right;
		}
	}
}

 .localityGrid , .localityGrid {
	.datagrid {
		table {
			th {
				&.col-actions {
					width: 80px;
				}
			}
		}
	}
}

.countryGrid , .languageGrid {
	.datagrid {
		table {
			th {
				&.col-actions {
					width: 30px;
				}
			}
		}
	}
}
