
@import './lessFunctions.less';
/****************************************************************************************
/* base html elements 
/***************************************************************************************/
body {
	background: #eef2d1;	
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
}

h1,h2,h3,h4,h5 {
	color: @brown;
}


h1 span {
	color: #999;
	font-size: 16px;
	font-weight: normal;
	line-height: 0px;
}

a , a:hover , .btn-link , .btn-link:hover {
	color: @darkGreen;
}

p {
	line-height: 18px;
}


.capitalize {
	text-transform: capitalize;
}

ul {
	list-style: none;
}

.brown {
	color: @brown;

	a {
		color: @brown;		
	}
}

a.brown {
	color: @brown;	
	&:hover {
		color: @brown;	
	}
}


/****************************************************************************************
/* helper class 
/***************************************************************************************/

.borderSeparator {
	margin: 10px 0;
	border-bottom: 1px solid @lightGreen;

}


.relative {
	position: relative;
}

a.toogle {
	font-size: 13px;
	line-height: 15px;

	i {
		height: 12px;
		overflow: hidden;
		display: block;		
		float: left;
		margin-right: 3px;	
		&:before {
			position:relative;
			top: 2px;
			font-size: 28px;

		}		
	}

}

ul.arrows {
	list-style: none;
	li {

		&:before {
		  font-family: "entypo";
		  font-weight: normal;
		  font-style: normal;
		  font-size: 40px;
		  text-decoration: inherit;
		  content: '\27A1';
		  display:block;
		  float: left;
		  width: 0px;
		  position: relative;
		  left: -18px;
		  font-size: 28px;
		}
	}
}











.red {
	color: #d32c16;
}

	.red:hover {
		color: #d32c16;		
	}


	.red-gradient {
		text-shadow: -1px -1px 0px #990f06;
		border-top: 1px solid #990f06;
		.basic-gradient(#ce2c16,#990f06)
	}

	.red-gradient .btn {
		border: 1px solid #990f06;
		color: #990f06;
		.basic-gradient(#fff,#ffa69a);
		.basic-shadow(18px , #ffa69a);

		&:hover {
			.basic-gradient(#ffa69a,#fff);
		}
	}

	.red-inner-shadow {
		.inner-shadow(20px,#7c0b02);
	}

.green {
	color: #A0B325;
}


	.green-gradient {
		text-shadow: -1px -1px 0px #5c6a1f;
		border-top: 1px solid #5c6a1f;
		.basic-gradient(#a0b325,#5c6a1f)
	}

	.green-gradient .btn {
		border: 1px solid #5c6a1f;
		color: #5c6a1f;
		.basic-gradient(#fff,#d1dc8a);
		.basic-shadow(18px , #a9ba37);

		&:hover {
			.basic-gradient(#d1dc8a,#fff);
		}
	}

	.green-inner-shadow {
		.inner-shadow(20px,#4c5718);
	}	

.yellow {
	color: #fdbe33;
}


.btn.btn-orange {
	.basic-gradient(#fdbe33,#f68703);
	border: 1px solid #f68703;
	color: @brown;	
	&:hover {
		.basic-gradient(#f68703,#fdbe33);
	}
}

.btn.btn-silver {
	.basic-gradient(#e8e8e8,#adadad);
	border: 1px solid #adadad;
	color: #333;	
	&:hover {
		.basic-gradient(#adadad,#e8e8e8);
	}
}

.btn.btn-cancel {
	.basic-gradient(rgb(255, 255, 255),rgb(230, 230, 230));
	border: 1px solid rgb(206, 206, 206);
	color: rgb(114, 114, 114);	
	padding: 2px 10px;
	&:hover {
		.basic-gradient(rgb(230, 230, 230),rgb(255, 255, 255));
	}
}


	.yellow-gradient {
		text-shadow: -1px -1px 0px #f68703;
		border-top: 1px solid #f68703;
		.basic-gradient(#fdbe33,#f68703);
	}

	.yellow-gradient .btn {
		border: 1px solid #f68703;
		color: #c87009;
		.basic-gradient(#fff,#ffe4ab);
		.basic-shadow(18px , #ffe4ab);

		&:hover {
			.basic-gradient(#ffe4ab,#fff);
		}
	}

	.yellow-inner-shadow {
		.inner-shadow(20px,#f68703);
	}


.bold {
	font-weight: bold;
}

.no-padding , table.table tr td.no-padding {
	padding: 0;
}

.bottom-radius {
	.bottom-border-radius(10px);
}

.center , table tr td.center, table th.center {
	text-align: center;
}

.orange {
	color: @orange;
}

.baseRadius {
	.basic-border-radius(8px);	
}

.overflow {
	overflow: hidden;
}

.borderBlue {
	border: 1px solid #3b5998;
}

.baseBorder {
	border: 1px solid #cbd2a0;
	
	.inner {
		border: 1px solid @white;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
	}
}

.mapsImg {
	cursor: pointer;
}

.center {
	text-align: center;
}

.innerPadding {
	margin: 10px;
	margin-bottom: 0;	
}

.sitePadding {
	margin: 0 10px;
}

.innerPaddingRitgh {
	margin-left: 0;
}

.innerPaddingLeft {
	margin-right: 0;
}

.noTopMargin {
	margin-top: 0;
}


.gadientGreen {
	.basic-gradient( @lightGreen , @darkGreen );
	color: @white;	
}

.radiusSeparator {
	height:20px;
	background: #556c08;

	div {
		background: #fff;
		height:20px;
		.bottom-border-radius(10px);
		.drop-shadow(@supfooterDropshadowColor);
		position: relative;
		z-index: 1000;
	}
}

.radiusSeparator2 {
	height:10px;
	background: @supfooterBg;

	div {
		background: @white;
		height:10px;
		.bottom-border-radius(10px);
		border-bottom: 1px solid #ddd;
		border-right: 1px solid #ddd;
		border-left: 1px solid #ddd;

		position: relative;
		z-index: 1000;
	}
}

.arrow_box {
	position: relative;
	background: #fcfcf5;
	border: 1px solid #d4dc90;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(252, 252, 245, 0);
	border-top-color: #fcfcf5;
	border-width: 10px;
	left: 85%;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(212, 220, 144, 0);
	border-top-color: #d4dc90;
	border-width: 11px;
	left: 85%;
	margin-left: -11px;
}

.nomargin {
	margin:0;
}

.marginBottom {
	margin-bottom: 10px;
}

.marginTop {
	margin-top: 10px;
}

.marginRight {
	margin-right: 10px;
}

.font14 {
	font-size: 14px;
	line-height: 20px;
}

.paddingTop {
	padding-top: 10px;
}

.marginLeft , .row-fluid > [class*="span"]:first-child.marginLeft {
	margin-left: 10px;	
}

.row-fluid > [class*="span"]:first-child.marginLeft.leftSidebarObjectDetail {
	width: 288px;

	img {
		width: 288px;
		height: 170px;
	}
}

#content.nopadding {

	.objectDetailContent {
		margin-bottom: 10px;
	}

	.objectDetailContent .span5 {

		margin-top: 10px;
		h1 {
			margin: 4px 0 5px 0;
			padding: 0;
			
			
			width: 100%;
			overflow: hidden;
			font-weight: normal;		
			font-size: 26px;
			line-height: 30px;
		}
	}

}



.list {
	list-style: none;
	margin: 0;
	li {
		margin-bottom: 5px;
		margin-left: 20px;		
		color: @darkGreen;
	}

	li:before {
	  font-family: "entypo";
	  font-weight: normal;
	  font-style: normal;
	  font-size: 30px;
	  width: 0;
	  position: relative;
	  top: 0px;
	  left: -15px;
	  display: block;
	  height:100%;
	  float: left;
	  color: @brown;
	  text-decoration: inherit;
		content:'\2713';
	}
}

/****************************************************************************************
/* base layout design temlape 
/***************************************************************************************/
/* header , mainmenu , logo , container*/

#container {
	background:@white;
	margin:10px auto;

}



/* footer */
#footer {
	height: auto;
	background: #7a9111 url('../packages/Front/img/footer-bg.png') top left no-repeat;
	padding: 10px 0 20px 0;
	.bottom-border-radius(10px);


	ul {

		list-style: none;

		li {
			
			&:before {
			content:'\E4AE';
			  font-family: "entypo";
			  font-weight: normal;
			  font-style: normal;
			  font-size: 25px;
			  top: -3px;
			  right: -11px;
			  text-decoration: inherit;
			  position: relative;
			  float: left;
			  color: #fff;
			}


			clear: both;
			display:block;

			padding-bottom: 5px;
			a {
				padding-left: 25px;
				color: @white;
				display: block;
				font-size: 12px;
				line-height: 14px;
			}
		}
	}

	h5 {
		color: @white;
		font-size: 1.3em;
		padding: 0 10px;
		margin: 5px 0;
	}
}

.smallFooterSignature {
	p {
		text-align: center;
		font-size: 13px;
		margin: 5px 0 0 0;
		padding: 0;	

		.separator {
			color: #ccc;
			font-size: 14px;
		}
	}
}


/****************************************************************************************
/* frontend buttons 
/***************************************************************************************/
/* red button */
@btnRedBorderColor : #900d07 ;
@btnRedGradientStartColor : #cf2c16 ;
@btnRedGradientStopColor : #8c0b06 ;

.btn {
	font-size: 13px;
	font-weight: bold;
	&:hover {
		background: none;
	}
}

.btn-red {
	border: 1px solid @btnRedBorderColor;
	.basic-gradient(@btnRedGradientStartColor,@btnRedGradientStopColor);
	color: #fff;
	text-shadow:0 0 3px @btnRedGradientStopColor;
	&:hover {		
		color: #fff;		
		.basic-gradient(@btnRedGradientStopColor,@btnRedGradientStartColor);
	}
}

/* green button */
@btnGreenBorderColor : #627b08 ;
@btnGreenGradientStartColor : #a7ba24 ;
@btnGreenGradientStopColor : #4c6505 ;

.btn-green {
	border: 1px solid @btnGreenBorderColor;	
	.basic-gradient(@btnGreenGradientStartColor,@btnGreenGradientStopColor);
	color: #fff;
	text-shadow:0 0 3px @btnGreenGradientStopColor;
	&:hover , &.active {		
		color: #fff;		
		.basic-gradient(@btnGreenGradientStopColor,@btnGreenGradientStartColor);
	}	
}

.btn-text-wrap {
	white-space: nowrap;
	overflow: hidden;
	padding-right: 30px;
	text-overflow: ellipsis;	
}

/****************************************************************************************
/* page content  
/***************************************************************************************/
@contentH1size : 20px;
@contentH2size : 18px;
@contentH3size : 18px;
@contentH4size : 18px;
@contentH5size : 18px;

@contentH1color : #A0B325;
@contentH2color : #A0B325;
@contentH3color : #174a90;
@contentH4color : #A0B325;
@contentH5color : #A0B325;

#content {
	background: @contentBackground;	
	color: @brown;
	padding: 0 10px;

	&.nopadding {
		padding: 0;	

		p {
			padding:0 10px;

			&.nopadding {
				padding: 0;
			}



					
		}

	}

	h1 , h2 , h3 , h4 , h5 {
		margin: 0;
		padding: 10px 0 0 0;
	}

	h1 {
		font-size: 24px;
		line-height: 24px;
		color: @darkBlue;
		font-weight: normal;
		margin: 7px 0px 10px 10px;
	}

	h2 {
		font-size: @contentH2size;
		line-height: @contentH2size;
		color: @contentH2color;		
	}

	&.nopadding {
		h2 {
			padding: 0;
			margin: 0 10px 10px 10px ;
		}
	}

	h3 {
		font-size: @contentH3size;
		color: @contentH3color;	

		font-weight: normal;			
	}

	h4 {
		font-size: @contentH4size;
		color: @contentH4color;		
	}

	h5 {
		font-size: @contentH5size;
		color: @contentH5color;		
	}

	/* forms */

	label {
		strong {
			font-size: 14px;
		}

		small {
			position: relative;
			top: -5px;
		}

	}

	label.radio.single {
		margin-left: 0;
		padding-left: 0;
		padding-top: 15px;
	}

}

.btn.btn-compare{
	.basic-gradient(#FEFEFE,#D9DFEB);
	color: #444;
	border: 1px solid rgb(147, 172, 218);
	width: 100%;
	font-size: 14px;
	
	&:hover {
		
		.basic-gradient(#D9DFEB,#FEFEFE);
	}

	&.selected {
		color: #fff;
		border: 1px solid #27407e;

		.basic-gradient(#5b78af,#27407e);

		&:hover {
			.basic-gradient(#27407e,#5b78af);
		}
	}

	&.selected {
		span {
			&:before {				
				color: #f68905;
				
			}			
		}
	}
}



.toogle {
	font-weight: bold;
}

.position , .addons {
	position: relative;
	z-index: 10;
	top: 5px;
	left: 5px;

}

.position {
	display: none;
	left: 0;
	margin-right: 5px;
	float: right;
	height:10px;
	line-height: 10px;
	padding: 5px 8px;
	background-image: linear-gradient(bottom, #F24100 0%, #F26900 100%);
	background-image: -o-linear-gradient(bottom, #F24100 0%, #F26900 100%);
	background-image: -moz-linear-gradient(bottom, #F24100 0%, #F26900 100%);
	background-image: -webkit-linear-gradient(bottom, #F24100 0%, #F26900 100%);
	background-image: -ms-linear-gradient(bottom, #F24100 0%, #F26900 100%);

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	font-weight: bold;

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #F24100),
		color-stop(1, #F26900)
	);
	color: #fff;
	font-size: 11px;
	border: 1px solid #fff;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

img.flag {
	background-color: #fff;
}