@import './lessFunctions.less';
body {
    // background-color: #FBFCF3;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 2px;
    font-size: 17px;
}

div.calendar {
    float: left;
    font-size: 11px;
    height: 180px;
    margin: 0 0 0 0;
    text-align: center;
    width: 168px;
    margin-left: 10px;

    /*iframe calendar*/
    &.iframe {
        width: 126px;
        height: 150px;
    }    

    .day.active {
        
        &.status01 {

            .skew-gradient( #FDFDF8,#B0C23C  , 21 , 21 );     
        }

        &.status10 {
            .skew-gradient( #B0C23C,#FDFDF8  , 21 , 21 );           
        } 

        &.status11 {
            background: #B0C23C;
        }       
    }
}



div.calendar  {

    div.day {
        border: 1px solid #CBD2A0;
        float: left;
        height: 18px;
        line-height: 18px;
        margin-bottom: 1px;
        margin-right: 1px;
        text-align: center;
        width: 20px;        
    }

    /*iframe calendar*/
    &.iframe {
        div.day {
            width: 15px;  
            height: 13px;
        }

        div.day.active {
            
            &.status01 {

                .skew-gradient( rgb(238, 241, 223),#B0C23C  , 17 , 15 );     
            }

            &.status10 {
                .skew-gradient( #B0C23C,rgb(238, 241, 223)  , 18 , 15 );           
            } 

            &.status11 {
                background: #B0C23C;
            }       
        }


    }

}
div.calendar  {

    .active {
        background-color: #FBFBF3;
        color: #663300 ;
        cursor: pointer;        
    }

}
div.calendar {
    .ro {
        cursor: default !important;
    }
    
}
div.calendar  {
    .inactive {
        border: 1px solid #EEEEEE ;
        color: #eee;
        cursor: default !important;        
    }

}
div.calendar {
    .dayName {
        border: 1px solid transparent !important;
        color: #91A136;        
     }

}
div.calendar  {
    .monthName {
        color: @brown;
        font-size: 12px;
        font-weight: bold;        
    }

    &.iframe {
        .monthName {

        }
    }

}
div.calendar .selected {
    
}
div.calendar:nth-child(5){
    
}