@import './lessFunctions.less';
body {
    // background-color: #FBFCF3;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 2px;
    font-size: 17px;
}

div.calendar {
    float: left;
    font-size: 11px;
    height: 250px;
    margin: 0 0 0 0;
    text-align: center;
    width: 227px;
    margin-left: 10px;

    /*iframe calendar*/
    &.iframe {
        width: 126px;
        height: 200px;
    }



    div.day {
        background: none;
        position: relative;

        &.active {

            &.s01 {
                background-image: url(../images/calendar-half-orange.png); 
                background-position: right bottom;
                background-size: cover;
                background-repeat: no-repeat;
                border: none;
                padding: 1px;

                abbr {
                    color: rgba(255,255,255,0.5);
                }
            }

            &.s02 {
                background-image: url(../images/calendar-half-red.png);
                background-position: right bottom;
                background-size: cover;
                background-repeat: no-repeat;
                border: none;
                padding: 1px;

                abbr {
                    color: rgba(255,255,255,0.5);
                }
            }

            &.s10 {
                background-image: url(../images/calendar-half-orange-end.png); 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background-position: left bottom;
                background-repeat: no-repeat;
                border: none;
                padding: 1px;

                abbr {
                    color: rgba(0,0,0,0.5);
                }
            }

            &.s20 {
                background-image: url(../images/calendar-half-red-end.png);
                background-position: right bottom;
                background-size: cover;
                background-repeat: no-repeat;
                border: none;
                padding: 1px;

                abbr {
                    color: rgba(255,255,255,0.5);
                }
            }

            &.s11 {
                /*orange*/
                background: #F68703;

                abbr {
                    color: rgba(255,255,255,0.5);
                }
            }

            &.s12 {
                background-image: url(../images/calendar-orange-red.png);
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background-position: left bottom;
                background-repeat: no-repeat;

                abbr {
                    color: rgba(255,255,255,0.5);
                }
            }

            &.s21 {
                background-image: url(../images/calendar-red-orange.png);
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background-position: left bottom;
                background-repeat: no-repeat;

                abbr {
                    color: rgba(255,255,255,0.5);
                }
            }

            &.s22 {
                background: #F65103;

                abbr {
                    color: rgba(255,255,255,0.5);
                }
            }

            &:hover {
                color: #000;
                border: 1px solid #ccc;
                padding: 0;

                abbr {
                    right: 1px;
                    bottom: 0;
                }
            }

        }

        abbr {
            position: absolute;
            right: 2px;
            bottom: 1px;
            font-size: 9px;
            color: #999;
            line-height: 9px;
        }

        &.weekday {
            background: rgba(0, 0, 0, 0.02);
        }

        &.dayName {
            background: none;
            width: 23px;
        }

        &.disabled {
            cursor: default;
            color: rgba(0, 0, 0, 0.2);
            background: none;
            border-color: #eee;
            abbr {
                display: none;
            }
        }

        &:hover {

        }
    }


}



div.calendar  {

    div.day {
        border: none;
        padding: 1px;
        float: left;
        height: 25px;
        line-height: 20px;
        margin-bottom: 3px;
        margin-right: 3px;
        text-align: center;
        width: 27px;
        border-radius: 5px;

        &.inactive {
            background: none;
            border: none;
            padding: 1px;
        }
    }

    &.iframe.old {
        height: 150px;

        .monthName {
            padding: 0;
            background: none;
            color: #7D3300;
            margin: 0;
        }

        .day {
            border: 1px solid #fff;
            margin: 0;
            border-bottom: none;
            border-right: none;
            width: 16px;
            height: 14px;
            font-size: 10px;
            border-color: #FFF;
            border-radius: 0;
            padding: 0;

            &.inactive {
                color: #EEE;
                cursor: default !important;
            }

            &.active {
                background-color: #EEF1DF;
                color: #626D32;

                &.s01 {
                    border: 1px solid #FFF;
                    border-right: none;
                    border-bottom: none;
                    padding: 0;
                }

                &.s11 {
                    /* background: #F68703; */
                    padding: 0;
                }

                &.s10 {
                    border: 1px solid #FFF;
                    border-right: none;
                    border-bottom: none;
                    padding: 0;
                }

                &.s02 {
                    padding: 0 1px 1px 0;

                    &:hover {
                        border: none;
                    }
                }

                &.s20 {
                    padding: 0 1px 1px 0;

                    &:hover {
                        border: none;
                    }
                }

                &.s22 {
                    background: #F65103;
                    border-color: #F65103;
                    padding: 0;
                }
            }

            &:hover {
                border: 1px solid #fff;
                border-bottom: none;
                border-right: none;
            }
        }

    }

    &.iframe.v2 {
        width: 170px;

        .monthName {
            margin: 0 9px 3px 0;
        }

        .day {
            width: 20px;
            line-height: 20px;
        }
    }

}
div.calendar  {

    .active {
        background-color: #FBFBF3;
        color: #663300 ;
        cursor: pointer;
    }

}
div.calendar {
    .ro {
        cursor: default !important;
    }

}
div.calendar  {
    .inactive {
        border: 1px solid #EEEEEE ;
        color: #eee;
        cursor: default !important;
    }

}
div.calendar {
    .dayName {
        border: 1px solid transparent !important;
        color: #91A136;
     }

}
div.calendar  {
    .monthName {
        color: #333;
        font-size: 12px;
        font-weight: bold;
        padding: 4px 0 3px;
        margin: 0 5px 3px 0;
        background: rgba(5, 5, 5, 0.05);
        border-radius: 5px;
    }

    &.iframe {
        .monthName {

        }
    }

}
div.calendar .selected {

}
div.calendar:nth-child(5){

}
