
@import './lessFunctions.less';
@import '../../../bootstrap/lib/less/mixins.less';
/****************************************************************************************
/****************************************************************************************
/****************************************************************************************
/* admin form
/****************************************************************************************
/****************************************************************************************
/***************************************************************************************/

/****************************************************************************************
/* registration form
/***************************************************************************************/

/* label form setting */
@helpertext : #7d7d7c;
@helpertextSize: 11px;

/* input type text setting */
@inputPureBorderColor : #a0b325;
@inputErrorBorderColor : #ff0000;
@inputErrorBackgroundColor : #fff;
@inputErrorBackgroundPrepend : rgb(253, 221, 215);
@inputHeight : 38px;
@inputColor: #873300;
@inputFontSize : 16px;


input[type=text] , textarea {
	box-shadow: none;
}

table.formTable {
	.priceListRowsContainer , .pricelistControl {
		span.btn.remove {
			height: 23px;
			line-height: 20px;
			float: right;
			margin: 0;
			i {
				position: relative;
				color: rgb(216, 64, 64);
				top: 2px;
				left: 0px;
			}
		}
	}
}

small.sublitLoadingText {
	display: block;
	padding-top: 5px;
}

form.dashboard {
	margin: 0 0 6px;
}

table.formTable {
	// border: 1px solid black;
	// td {
	// 	border: 1px solid black;
	// }

	width: 705px;

	td.fieldset {
		font-size: 15px;
		padding-top: 20px;
		padding-bottom: 10px;
		color: @darkBlue;
		font-weight: bold;
	}



	.btn.btn-cancel {
		margin-left: 10px;
	}

	tr.formHeading td {
		padding: 10px 0px 15px 0px;
	}

	tr td.pricelistControl {
		.priceList {
			margin-bottom: 10px;
			height: 30px;
		}

		select {
			margin: 0;
			margin-right: 10px;
			width: 70px;

			&.string {
				width: 127px;
			}
		}

		input[type=text].price {
			width: 40px;
		}

		a.remove {
			display: block;
			height: 30px;
			width: 20px;
			float: right;
			text-align: center;
			color: red;
			text-decoration: none;
			line-height: 30px;
			i {

			}
		}

		.add-on {
			position: absolute;
			width: 100px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

	}

	tr.simpleInput {
		height: 46px;
		td:nth-child(1) {
			width: 180px;
			font-size: 13px;
			line-height: 15px;

			&.fieldset {
				font-size: 15px;
				padding-top: 20px;
				padding-bottom: 15px;
				color: @darkBlue;
			}
		}

		&.interview {
			table , textarea {
				width: 100%;
				-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
				-moz-box-sizing: border-box;    /* Firefox, other Gecko */
				box-sizing: border-box;         /* Opera/IE 8+ */
			}

			textarea {
				height: 70px;
				margin: 0;
			}
		}

		&.invalid {
			td:nth-child(2) {
				.select2-container {
					a {
						border-color: @inputErrorBorderColor;
						background: @inputErrorBackgroundColor;
						color: @inputErrorBorderColor;

						div {
							border-color: @inputErrorBorderColor;
							b {
								background: @inputErrorBackgroundPrepend;
							}
						}


					}
				}
			}

			td:nth-child(3) {
				span.help {
					display: none;
				}
			}

		}

		&.checkbox {
			td:nth-child(2){
				input[type=checkbox] {
					float:left;
					position: relative;
					top: 4px;
					left: 17px;

				}

				label {
					margin: 0 10px 0 18px;
					width: 275px;
					float: right;
					line-height: 14px;
				}
			}
		}

		&.inlineCheckbox {
			td:nth-child(2){
				input[type=checkbox] {
					float:left;
					position: relative;
					top: -2px;
					left: 0;

				}
		}
	}

		td:nth-child(2)  {
			width: 300px;

			&.lang {
				width: auto;
			}

			input[type=checkbox] {
				position: relative;
				top: -4px;
			}

			table {
				border-collapse: collapse;
				border-spacing: 0px;
				width: 300px;
				td {
					padding: 0px;
				}
				td.prepend, td.append {
					width: 5%;
					.select2-container, .select2-drop, .select2-search, .select2-search input {
						width: 110px;
						margin-right: 10px;
					}
				}

				td input {
					width: 100%;
					height: 30px;
					.box-size();
				}

				td input[type="radio"], td input[type="checkbox"] {
					width: 40px;
				}
			}

			.select2-container, .select2-drop, .select2-search, .select2-search input , textarea {
				width: 300px;
				.box-size();
			}

			.select2-container .select2-choice {
				filter:none;
				background-image: none;
				height: 28px;
				span {
					font-weight: normal;
					line-height: 27px;
				}
				div {
					width: 24px;
					#gradient > .vertical(rgb(241, 250, 209),rgb(186, 196, 148));
					.basic-border-radius(0px);
					b:before {
						left: 6px;
						position: relative;
					}
				}
			}
			.select2-container.select2-dropdown-open .select2-choice {
				background-image: none;
				background-color: #fff;
			}
			.select2-container {

				a {
					.basic-gradient(rgb(255, 255, 255),rgb(229, 236, 199));
					border: 1px solid #b0c13b;

					div {

						border-left: 1px solid #b0c13b;
					}
				}


				&.select2-drop-above {
					a {
						.basic-gradient(rgb(255, 255, 255),rgb(229, 236, 199));
						border-top: none;
					}
				}
			}

			.select2-dropdown-open .select2-choice div {
				background: transparent;
				border-left: 1px solid transparent;
			}

		}

		td.lang {
			.select2-container, .select2-drop, .select2-search, .select2-search input , textarea {
				width: 200px;
				float: right;
			}
		}

		td:nth-child(3) {
			width: 200px;
			font-size: 12px;
			color: #999;
			line-height: 14px;

			span.invalidAlert {
				color: red;
			}
		}
	}

	table.checkboxes , .simpleInput {
		width: 100%;
		.box-size();
		tr:nth-child(1) {
			font-weight: bold;
			font-size: 15px;
			line-height: 15px;
			height: 46px;
			color: @darkBlue;
			td {
				padding-top: 20px;
				padding-bottom: 10px;
			}

			td:last-child {
				span.help , span.invalidAlert  {
					font-size: 12px;
					color: #999;
					line-height: 14px;
					font-weight: normal;
				}

				span.invalidAlert {
					color: red;
					text-align: right;
					float: right;
				}

			}
		}

		tr:nth-child(2) {
			td {
				vertical-align: top;
				/*padding: 0px 10px ;*/
			}
		}

		label {
			margin-left: 5px;
			cursor: pointer;
			input[type=checkbox]{
				position: relative;
				top: -4px;
				margin-right: 5px;
			}

			&:hover {
				text-decoration: underline;
				color: @darkGreen;
			}
		}

		span label {
			font-size: 12px;
			color: #999999;
			line-height: 14px;
		}
	}


	.invalid {
		.input-append .add-on, .input-prepend .add-on {
			background-color: @inputErrorBackgroundPrepend;
			border-color: @inputErrorBorderColor;
			color:@inputErrorBorderColor;
		}
	}

	.input-append .add-on, .input-prepend .add-on {
		background-color: #eaf0d7;
		border-color: #b0c13b;
		text-shadow: none;
		color: @brown;
	}

	.input-append input {
		text-align: right;
	}

	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
		box-shadow: none;
		margin: 0px;
		border: 1px solid #b0c13b;
	}

	.invalid {
		textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
			border-color: @inputErrorBorderColor;
			background-color: @inputErrorBackgroundColor;
			color: @inputErrorBorderColor;
		}

		.select2-container .select2-choice div b {
			left: 0;
		}
	}

	textarea {
		margin-bottom: 15px;
		margin-top: 10px;
	}

	.input-append, .input-prepend {
		margin: 0px;
	}

	tr.mapControl {


		&.invalid {

			.help {
				display: none;
			}

			.invalidAlert {

					padding: 10px;
					margin-bottom: 15px;
					display: block;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
					position: relative;
					background: #c2e1f5;

					background-image: linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
					background-image: -o-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
					background-image: -moz-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
					background-image: -webkit-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
					background-image: -ms-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);

					background-image: -webkit-gradient(
						linear,
						left bottom,
						left top,
						color-stop(0, #C2E1F5),
						color-stop(1, #D2E8F5)
					);

					border: 1px solid rgb(115, 158, 185);
					position: relative;
					background: #fdddd7;
					border: 1px solid #ff0000;

								background: #fdddd7;
								border-color: #ff0000;
								color: #ff0000;
				}
				.invalidAlert:after, .invalidAlert:before {
					top: 100%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}

				.invalidAlert:after {
					border-color: rgba(253, 221, 215, 0);
					border-top-color: #fdddd7;
					border-width: 10px;
					left: 10%;
					margin-left: -10px;

				}
				.invalidAlert:before {
					border-color: rgba(255, 0, 0, 0);
					border-top-color: #ff0000;
					border-width: 11px;
					left: 10%;
					margin-left: -11px;

				}

		}

		table {
			width: 100%;

				tr:nth-child(2){
					td {
						width: auto;
						/*padding-right: 10px;*/

						&:nth-child(5) {
							padding-right: 0;
						}
					}
				}

				input {
					width: 100%;
					.box-size();
					height: 30px;

				}


				.help {
					color: rgb(74, 110, 133);
					padding: 10px;
					margin-bottom: 10px;
					display: block;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
					position: relative;
					background: #c2e1f5;

					background-image: linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
					background-image: -o-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
					background-image: -moz-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
					background-image: -webkit-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
					background-image: -ms-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);

					background-image: -webkit-gradient(
						linear,
						left bottom,
						left top,
						color-stop(0, #C2E1F5),
						color-stop(1, #D2E8F5)
					);

					border: 1px solid rgb(115, 158, 185);
				}
				.help:after, .help:before {
					top: 100%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}

				.help:after {
					border-color: rgba(136,183,213,0);
					border-top-color: #c2e1f5;
					border-width: 10px;
					left: 10%;
					margin-left: -10px;
									}

									.help:before {
					border-color: rgba(194,225,245,0);
					border-top-color: rgb(115, 158, 185);
					border-width: 11px;
					left: 10%;
					margin-left: -11px;
				}


			}

		#gps_position {
			background: #ffffff;
			height: 30px;
			line-height: 30px;
			margin-bottom: 10px;
			text-align: center;
		}
	}

	/* pricelist upload */

	.priceListRowsContainer {
		.rentalPriceRow {
			margin-bottom: 10px;
			select , input , .select2 {
				margin-right: 10px;
			}

			span.fileinput-button {
				float: none;
				margin: 0;
				width: 128px;
				height: 20px;
				span {
					white-space: nowrap;
					overflow: hidden;
					width: 91px;
					text-overflow: ellipsis;
					top: 0px;
					padding-right: 12px;
				}
			}

			input[type=text] {
				width: 366px;
			}

			select {
				width: 100px;
				margin: 0;
				margin-right: 6px;
			}

			.file-placeholder {
				display: inline-block;
				width: 160px;
				height: 30px;

				label {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
	}

}
.mainForm.select2-drop {
	border: 1px solid #b0c13b;
	border-top-width: 0px;

	&.select2-drop-above {
		border-bottom: none;
		border-top-width: 1px;
	}

}


.select2-drop.select2-drop-above.select2-drop-active:before {
	top: 2px;
}

.classification {
	display: none;
	span {
		font-size: 13px;
	}
}

#map_canvas {
	img {
	    max-width: none;
	}

	.icon-spin {
		margin: 150px auto;
		display: block;
		width: 50px;
		height: 50px;
		line-height: 52px;
		text-align: center;
		font-size: 40px;
	}
}

.select2-container .select2-choice abbr {
	visibility: hidden;
}

.select2-results .select2-result-label {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	span.nameSource {
		color: #888;
	}
}

.select2-results .select2-highlighted {
	span.nameSource {
		color: #fff;
	}
}



.control-photo {

	&.invalid {
		.help {
			display: block;
		}
	}

	.help {
		padding: 10px;
		margin-bottom: 15px;
		display: none;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		position: relative;
		background: #c2e1f5;

		background-image: linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
		background-image: -o-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
		background-image: -moz-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
		background-image: -webkit-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
		background-image: -ms-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, #C2E1F5),
			color-stop(1, #D2E8F5)
		);

		border: 1px solid rgb(115, 158, 185);
		position: relative;
		background: #fdddd7;
		border: 1px solid #ff0000;

		background: #fdddd7;
		border-color: #ff0000;
		color: #ff0000;

		&:after , &:before {
			top: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after {
			border-color: rgba(253, 221, 215, 0);
			border-top-color: #fdddd7;
			border-width: 10px;
			left: 10%;
			margin-left: -10px;
		}

		&:before {
			border-color: rgba(255, 0, 0, 0);
			border-top-color: #ff0000;
			border-width: 11px;
			left: 10%;
			margin-left: -11px;
		}
	}

	ul.ajaxErrors {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			padding: 10px 5px;
			background: red;
			color: #fff;

			&:last-child {
				margin-bottom:10px;
			}
		}
	}
}





/* phrase form */
.phraseEditForm {
	hr {
		margin: 0;
	}

	label {
		&.selectAll {
			padding: 20px;
		}
	}
}



.phraseForm {
	margin-top: 10px;

	table {
		input , textarea {
			width: 95%;
		}

		tr {
			td {
				&.plural {
					width: 62px;
					font-size: 11px;
					line-height: 29px;


				}

				&.control {
					position: relative;
					padding-top: 0;
				}
			}
		}

					input {
						margin-bottom: 0;
					}

		.genderName {
			position: relative;
			top: 2px;
			font-size: 9px;
			color: #888888;
			line-height: 12px;
			padding: 2px 5px;
			background: #eeeeee;
			border: 1px solid #cccccc;
			border-bottom: none;
			height: 12px;
			.border-radius(3px 3px 0 0);
		}

	}




	small {
		font-size: 12px;
		color: #888;
	}

	table.phraseTable {
		margin-bottom: 0;

		td {
			padding: 10px 0 0 10px;
			border: none;
		}
	}

	.phraseFormHeaderCover {
		height: 25px;
		width: 705px;
		padding: 0 10px;
		margin: 0;

		label {
			color: @darkGreen;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}

		a {
			font-size: 12px;

			font-weight: bold;

			&.ajaxDelete {
				color: red;
			}
		}

		input[type=checkbox] {
			top: -3px;
			position: relative;
		}

		select {
			width: 70px;
			float: left;
			height: 20px;
			margin: 0 5px 0 0;

			&:first-child {
				width: 100px;
			}
		}

		label {
			font-size: 12px;
		}

		.phraseFormHeader {

			.span3 {
				width: 190px;
				select {
					width: 190px;
				}
			}
			.span2 {
				width: 110px;
				select {
					width: 100px;
				}
			}



			.checkbox {
				width: 80px;
				float: left;
				padding-top: 28px;
			}
		}

	}



	.phraseFormSubHeader {
		clear: both;
		width: 354px;
		margin-left: 360px;

		select {
			width: 140px;
			float: right;
		}

		b {
			line-height: 30px;
			display: block;
			width: 210px;
			float: left;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.span5 {
		width: 359px;
		margin-left: 0;
	}

	.phraseFormFooter {
		select {
			width: 100px;
			margin-top: 6px;
		}
		div label {
			display: inline;
		}
	}


	.phrasecontrol {
		.pull-left {
			select {
				width: 150px;
			}
		}
	}

}

.phraseEditForm {

	margin: 0;

	.btn {
		float: right;
		margin-bottom: 10px;
		margin-right: 10px;
		margin-top: 10px;
	}

	.phraseEditFormHeader {
		label {
			float: left;
		}

		label , select {
			margin-top: 15px;
		}

		label {
			margin-top: 20px;
			input[type=checkbox] {
				top: -3px;
				position: relative;
			}
		}

		select {
			margin-right: 10px;
			width: 140px;
		}
	}
}

form {
	button[type=submit] {
		small {
			font-size: 13px;
			font-weight: bold;
		}
	}
}


::-webkit-input-placeholder {
   color: #999;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;

}

:-moz-placeholder { /* Firefox 18- */
   color: #999;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;

}

::-moz-placeholder {  /* Firefox 19+ */
   color: #999;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;

}

:-ms-input-placeholder {  
   color: #999;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;

}

.select2-container {
	font-family: Helvetica, Arial, sans-serif;
}

.select2-results .select2-result-label {
	font-size: 11px;
	padding: 4px 5px 4px;
}
