
@import './lessFunctions.less';
/****************************************************************************************
/****************************************************************************************
/****************************************************************************************
/* admin form
/****************************************************************************************
/****************************************************************************************
/***************************************************************************************/

/****************************************************************************************
/* registration form
/***************************************************************************************/

/* label form setting */
@helpertext : #7d7d7c;
@helpertextSize: 11px;

/* input type text setting */
@inputPureBorderColor : #a0b325;
@inputErrorBorderColor : #ff0000;
@inputErrorBackgroundColor : #fff;
@inputErrorBackgroundPrepend : rgb(253, 221, 215);
@inputHeight : 38px;
@inputColor: #873300;
@inputFontSize : 16px;


table.formTable {
	// border: 1px solid black;
	// td {
	// 	border: 1px solid black;
	// }

	width: 705px;

	td.fieldset {
		font-size: 15px;
		padding-top: 20px;
		padding-bottom: 10px;
		color: @darkBlue;
		font-weight: bold;
	}



	.btn.btn-cancel {
		margin-left: 10px;
	}	

	tr.formHeading td {
		padding: 10px 0px 15px 0px;
	}

	tr td.pricelistControl {
		.priceList {
			margin-bottom: 10px;
		}

		.select2 {
			margin-right: 10px;

			&.string {
				width: 162px;
			}
		}

		input[type=text].price {
			width: 40px;
		}

		a.remove {
			display: block;
			height: 30px;
			width: 20px;
			float: right;
			text-align: center;
			color: red;
			text-decoration: none;
			line-height: 30px;				
			i {
			
			}
		}
	}

	tr.simpleInput {
		height: 46px;
		td:nth-child(1) {
			width: 180px;
			font-size: 13px;
			line-height: 15px;

			&.fieldset {
				font-size: 15px;
				padding-top: 20px;
				padding-bottom: 15px;
				color: @darkBlue;
			}
		}

		&.interview {
			table , textarea {
				width: 100%;
				-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
				-moz-box-sizing: border-box;    /* Firefox, other Gecko */
				box-sizing: border-box;         /* Opera/IE 8+ */				
			}
		}

		&.invalid {
			td:nth-child(2) {
				.select2-container {
					a {
						border-color: @inputErrorBorderColor;
						background: @inputErrorBackgroundColor;
						color: @inputErrorBorderColor;

						div {
							border-color: @inputErrorBorderColor;
							b {
								background: @inputErrorBackgroundPrepend;
							}							
						}


					}
				}
			}

			td:nth-child(3) {
				span.help {
					display: none;
				}
			}

		}

		&.checkbox {
			td:nth-child(2){
				input[type=checkbox] {
					float:left;
					position: relative;
					top: 18px;
					left: 17px;

				}

				label {
					margin: 16px 10px 0 0;
					width: 275px;
					float: right;
				}
			}
		}

		td:nth-child(2)  {
			width: 300px;

			&.lang {
				width: auto;
			}

			input[type=checkbox] {
				position: relative;
				top: -4px;
			}

			table {
				border-collapse: collapse;
				border-spacing: 0px;
				width: 300px;
				td {
					padding: 0px;
				}
				td.prepend, td.append {
					width: 5%;
					.select2-container, .select2-drop, .select2-search, .select2-search input {
						width: 110px;
						margin-right: 10px;
					}
				}

				td input {
					width: 100%;
					height: 30px;
					.box-size();
				}

				td input[type="radio"], td input[type="checkbox"] {
					width: 40px;
				}
			}

			.select2-container, .select2-drop, .select2-search, .select2-search input , textarea {
				width: 300px;
				.box-size();
			}



			.select2-container .select2-choice {
				height: 28px;
			}

			.select2-container .select2-choice {
				background-image: none;

				span {
					font-weight: normal;
					line-height: 27px;			
				}
				div {
					width: 24px;
					.basic-border-radius(0px);
					b:before {
						left: 5px;
					}
				}
			}
			.select2-container.select2-dropdown-open .select2-choice {
				background-image: none;
				background-color: #fff;
			}
			.select2-container {


				a {			
					.basic-gradient(rgb(255, 255, 255),rgb(229, 236, 199));
					border: 1px solid #b0c13b;

					div {
						.basic-gradient(rgb(241, 250, 209),rgb(186, 196, 148));
						border-left: 1px solid #b0c13b;
					}
				}


				&.select2-drop-above {
					a {
						.basic-gradient(rgb(255, 255, 255),rgb(229, 236, 199));
						border-top: none;
					}
				}				
			}

			.select2-dropdown-open .select2-choice div {
				background: transparent;
				border-left: 1px solid transparent;
			}

		}

		td.lang {
			.select2-container, .select2-drop, .select2-search, .select2-search input , textarea {
				width: 200px;
				float: right;
			}
		}

		td:nth-child(3) {
			width: 200px;
			font-size: 12px;
			color: #999;
			line-height: 14px;

			span.invalidAlert {
				color: red;
			}
		}
	}

	table.checkboxes , .simpleInput {
		width: 100%;
		.box-size();
		tr:nth-child(1) {
			font-weight: bold;
			font-size: 15px;
			line-height: 15px;
			height: 46px;
			color: @darkBlue;		
			td {
				padding-top: 20px;
				padding-bottom: 10px;
			}

			td:last-child {
				span.help , span.invalidAlert  {
					font-size: 12px;
					color: #999;
					line-height: 14px;
					font-weight: normal;
				}

				span.invalidAlert {
					color: red;
					text-align: right;
					float: right;
				}

			}
		}

		tr:nth-child(2) {
			td {
				vertical-align: top;
				/*padding: 0px 10px ;*/
			}
		}

		label {
			margin-left: 5px;
			cursor: pointer;
			input[type=checkbox]{
				position: relative;
				top: -4px;
				margin-right: 5px;
			}

			&:hover {
				text-decoration: underline;
				color: @darkGreen;
			}
		}

		span label {
			font-size: 12px;
			color: #999999;
			line-height: 14px;			
		}
	}


	.invalid {
		.input-append .add-on, .input-prepend .add-on {
			background-color: @inputErrorBackgroundPrepend;
			border-color: @inputErrorBorderColor;
			color:@inputErrorBorderColor;
		}						
	}

	.input-append .add-on, .input-prepend .add-on {
		background-color: #eaf0d7;
		border-color: #b0c13b;
		text-shadow: none;
		color: @brown;
	}

	.input-append input {
		text-align: right;
	}

	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
		box-shadow: none;
		margin: 0px;
		border: 1px solid #b0c13b;
	}

	.invalid {
		textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
			border-color: @inputErrorBorderColor;
			background-color: @inputErrorBackgroundColor;
			color: @inputErrorBorderColor;
		}		
	}

	textarea {
		margin-bottom: 15px;
		margin-top: 10px;		
	}	

	.input-append, .input-prepend {
		margin: 0px;
	}

	tr.mapControl {


		&.invalid {

			.help {
				display: none;
			}

			.invalidAlert {
									
					padding: 10px;
					margin-bottom: 15px;
					display: block;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
					position: relative;
					background: #c2e1f5;

					background-image: linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
					background-image: -o-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
					background-image: -moz-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
					background-image: -webkit-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
					background-image: -ms-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);

					background-image: -webkit-gradient(
						linear,
						left bottom,
						left top,
						color-stop(0, #C2E1F5),
						color-stop(1, #D2E8F5)
					);

					border: 1px solid rgb(115, 158, 185);	
					position: relative;
					background: #fdddd7;
					border: 1px solid #ff0000;

								background: #fdddd7;
								border-color: #ff0000;
								color: #ff0000;	
				}
				.invalidAlert:after, .invalidAlert:before {
					top: 100%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}

				.invalidAlert:after {
					border-color: rgba(253, 221, 215, 0);
					border-top-color: #fdddd7;
					border-width: 10px;
					left: 10%;
					margin-left: -10px;	

				}
				.invalidAlert:before {
					border-color: rgba(255, 0, 0, 0);
					border-top-color: #ff0000;
					border-width: 11px;
					left: 10%;
					margin-left: -11px;	

				}				

		}

		table {
			width: 100%;

				tr:nth-child(2){
					td {
						width: auto;
						/*padding-right: 10px;*/	

						&:nth-child(5) {
							padding-right: 0;
						}			
					}				
				}

				input {
					width: 100%;
					.box-size();
					height: 30px;
					
				}


				.help {
					color: rgb(74, 110, 133);
					padding: 10px;
					margin-bottom: 10px;
					display: block;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
					position: relative;
					background: #c2e1f5;

					background-image: linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
					background-image: -o-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
					background-image: -moz-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
					background-image: -webkit-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
					background-image: -ms-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);

					background-image: -webkit-gradient(
						linear,
						left bottom,
						left top,
						color-stop(0, #C2E1F5),
						color-stop(1, #D2E8F5)
					);

					border: 1px solid rgb(115, 158, 185);
				}
				.help:after, .help:before {
					top: 100%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}

				.help:after {
					border-color: rgba(136,183,213,0);
					border-top-color: #c2e1f5;
					border-width: 10px;
					left: 10%;
					margin-left: -10px;
									}

									.help:before {
					border-color: rgba(194,225,245,0);
					border-top-color: rgb(115, 158, 185);
					border-width: 11px;
					left: 10%;
					margin-left: -11px;
				}


			}

		#gps_position {
			background: #ffffff;
			height: 30px;
			line-height: 30px;
			margin-bottom: 10px;
			text-align: center;
		}
	}

}
.mainForm.select2-drop {
	border: 1px solid #b0c13b;
	border-top-width: 0px;

	&.select2-drop-above {
		border-bottom: none;
		border-top-width: 1px;
	}

}


.select2-drop.select2-drop-above.select2-drop-active:before {
	top: 2px;
}

.classification {
	display: none;
	span {
		font-size: 13px;
	}
}

#map_canvas {
	img {
	    max-width: none;    
	}

	.icon-spin {
		margin: 150px auto;
		display: block;
		width: 50px;
		height: 50px;
		line-height: 52px;
		text-align: center;
		font-size: 40px;	
	}
}

.select2-container .select2-choice abbr {
	visibility: hidden;
}

.select2-results .select2-result-label {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;	
}


.control-photo.invalid {
	.help {
		display: block;
	}
}

.control-photo .help {

					
					
					padding: 10px;
					margin-bottom: 15px;
					display: none;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
					position: relative;
					background: #c2e1f5;

					background-image: linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
					background-image: -o-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
					background-image: -moz-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
					background-image: -webkit-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);
					background-image: -ms-linear-gradient(bottom, #C2E1F5 0%, #D2E8F5 100%);

					background-image: -webkit-gradient(
						linear,
						left bottom,
						left top,
						color-stop(0, #C2E1F5),
						color-stop(1, #D2E8F5)
					);

					border: 1px solid rgb(115, 158, 185);	
	position: relative;
	background: #fdddd7;
	border: 1px solid #ff0000;

				background: #fdddd7;
				border-color: #ff0000;
				color: #ff0000;	
}
.control-photo .help:after, .control-photo .help:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.control-photo .help:after {
	border-color: rgba(253, 221, 215, 0);
	border-top-color: #fdddd7;
	border-width: 10px;
	left: 10%;
	margin-left: -10px;	

}
.control-photo .help:before {
	border-color: rgba(255, 0, 0, 0);
	border-top-color: #ff0000;
	border-width: 11px;
	left: 10%;
	margin-left: -11px;	

}

