
@import './lessFunctions.less';
/****************************************************************************************
/****************************************************************************************
/****************************************************************************************
/* admin form
/****************************************************************************************
/****************************************************************************************
/***************************************************************************************/

/****************************************************************************************
/* registration form
/***************************************************************************************/

/* label form setting */
@helpertext : #7d7d7c;
@helpertextSize: 11px;

/* input type text setting */
@inputPureBorderColor : #a0b325;
@inputErrorBorderColor : #ff0000;
@inputErrorBackgroundColor : #fef7f1;
@inputHeight : 38px;
@inputColor: #873300;
@inputFontSize : 16px;


table.formTable {
	// border: 1px solid black;
	// td {
	// 	border: 1px solid black;
	// }

	width: 705px;

	td.fieldset {
		font-size: 15px;
		padding-top: 20px;
		color: @darkBlue;
		font-weight: bold;
	}



	.btn.btn-cancel {
		margin-left: 10px;
	}	

	tr.formHeading td {
		padding: 10px 0px 15px 0px;
	}

	tr.simpleInput {
		height: 46px;
		td:nth-child(1) {
			width: 180px;
			font-size: 13px;
			line-height: 15px;

			&.fieldset {
				font-size: 15px;
				padding-top: 20px;
				color: @darkBlue;
			}
		}

		td:nth-child(2)  {
			width: 300px;

			&.lang {
				width: auto;
			}

			table {
				border-collapse: collapse;
				border-spacing: 0px;
				width: 300px;
				td {
					padding: 0px;
				}
				td.prepend, td.append {
					width: 5%;
					.select2-container, .select2-drop, .select2-search, .select2-search input {
						width: 120px;
						padding-right: 10px;
					}
				}

				td input {
					width: 100%;
					height: 30px;
					.box-size();
				}

				td input[type="radio"], td input[type="checkbox"] {
					width: 40px;
				}
			}

			.select2-container, .select2-drop, .select2-search, .select2-search input , textarea {
				width: 300px;
				.box-size();
			}



			.select2-container .select2-choice {
				height: 28px;
			}

			.select2-container .select2-choice {
				background-image: none;

				span {
					font-weight: normal;
					line-height: 27px;			
				}
				div {
					width: 24px;
					b:before {
						left: 5px;
					}
				}
			}
			.select2-container.select2-dropdown-open .select2-choice {
				background-image: none;
				background-color: #fff;
			}
			.select2-container {

				&.select2-drop-above {
					a {
						.basic-gradient(rgb(255, 255, 255),rgb(229, 236, 199));
					}
				}

				a {			
					.basic-gradient(rgb(255, 255, 255),rgb(229, 236, 199));
					border: 1px solid #b0c13b;

					div {
						.basic-gradient(rgb(241, 250, 209),rgb(186, 196, 148));
						border-left: 1px solid #b0c13b;
					}
				}
			}

			.select2-dropdown-open .select2-choice div {
				background: transparent;
				border-left: 1px solid transparent;
			}

		}

		td.lang {
			.select2-container, .select2-drop, .select2-search, .select2-search input , textarea {
				width: 200px;
				float: right;
			}
		}

		td:nth-child(3) {
			width: 200px;
			font-size: 12px;
			color: #999;
			line-height: 14px;
		}
	}

	table.checkboxes , .simpleInput {
		width: 100%;
		.box-size();
		tr:nth-child(1) {
			font-weight: bold;
			font-size: 15px;
			line-height: 15px;
			height: 46px;
			color: @darkBlue;		
			td {
				padding-top: 20px;
			}
		}

		tr:nth-child(2) {
			td {
				vertical-align: top;
				padding: 0px 10px ;
			}
		}

		label {
			margin-left: 15px;
			cursor: pointer;
			input[type=checkbox]{
				position: relative;
				left: -15px;
				top: -2px;
				width: 0;
			}

			&:hover {
				text-decoration: underline;
				color: @darkGreen;
			}
		}
	}


	.input-append .add-on, .input-prepend .add-on {
		background-color: #eaf0d7;
		border-color: #b0c13b;
		text-shadow: none;
		color: @brown;
	}

	.input-append input {
		text-align: right;
	}


	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
		box-shadow: none;
		margin: 0px;
		border: 1px solid #b0c13b;
	}

	textarea {
		margin-bottom: 15px;
		margin-top: 10px;		
	}	

	.input-append, .input-prepend {
		margin: 0px;
	}

	tr.traMapcontrol {
		table {
			width: 100%;

				tr:nth-child(2){
					td {
						width: auto;
						/*padding-right: 10px;*/	

						&:nth-child(5) {
							padding-right: 0;
						}			
					}				
				}

				input {
					width: 100%;
					.box-size();
					height: 30px;
					
				}

				.help {
					background: rgb(134, 150, 60);
					color: #fff;				
					padding: 10px;
					margin-bottom: 10px;
					display: block;
					.basic-border-radius(3px);
				}

			}

		#gps_position {
			background: #ffffff;
			height: 30px;
			line-height: 30px;
			margin-bottom: 10px;
			text-align: center;
		}
	}

}
.mainForm.select2-drop {
	border: 1px solid #b0c13b;
	border-top-width: 0px;
}


