@filePath: '../packages/front/_base';

/************************************************************************************
	INTERNET EXPLORER
*/

.ie {

	#sidebar a.btnSearchClose i:before {
		left: 0;
	}

	#logo a {
		/*background-size: none;*/
	}

}

.lt-ie9 { /* IE8 &< */

	a, 
	a:hover, 
	.btn-link, 
	.btn-link:hover ,
	#sidebar ul li a {
		color:#698308;
	}

	/* homepage rental list transparent label */
	.hp-list li.span4 .label {		
		background: url(@{filePath}/img/black-transparent.png) repeat;
	}

	/* png logo */
	#logo a {
		background: url(/images/tra-logo-icon-small.png) no-repeat;
	}

	/* social shit header background */
	.socialIcons {
		background: url(@{filePath}/img/black-transparent.png) repeat;
	}

	/* rental detail gallery */
	.bigGallery {

		li.odd {
			margin-right: 10px;
		}
	}

	#socialMediaLinks {
		a.googlePlus {
			margin-top: 7px;
		}
	}

	.navigationBar li.pull-right a.share {
		color: #9facc8;
	}

}


/************************************************************************************
	FIREFOX 
*/

@-moz-document url-prefix() {
    h1 {
        
    }
}