@filePath: '../packages/front/_base';

.lt-ie9 { /*IE8 <*/

	/* homepage rental list transparent label */
	.hp-list li.span4 .label {		
		background: url(@{filePath}/img/black-transparent.png) repeat;
	}

	/* png logo */
	#logo a {
		background: url(/images/tra-logo-icon-small.png) no-repeat;
	}

}


