Dictionary\Language:
	multitranslationOptions:
		0:
			sdf:
		1:
		2:
		3:
		4:
		5:

	genderNumberOptions:
		ha:

	ppcPatterns:
		tranlsations:
			translation:
			translation2:
			translation3:
			ddd:
				asdsfas:
				sf:
			asd3f:
		asdf:
			asdf:
				asdfad: