<div class="row">

<div class="span2">
<label for="phraseGender"><b>Gender</b></label>
<select id="phraseGender" class="span2">
	<option>Select Gender</option>
	<option>Male</option>
	<option>Female</option>

</select>
</div>

<div class="span2">
<label for="phrasePosition"><b>Position</b></label>	
<select id="phrasePosition" class="span2">
	<option>Select position</option>
	<option>Before</option>
	<option>After</option>
</select>
</div>
<div class="span2 topLabel">
	<button class="btn pull-right btn-primary ">Save phrase</button>
</div>
</div>