<div class="row">

	<div class="span2">
		<label for="phraseType"><b>phraseType</b></label>
		<select id="phraseType" class="span2">
			<<option>Test</option>
			<<option>Test</option>
			<<option>Test</option>
			<<option>Test</option>
			<<option>Test</option>
		</select>		
	</div>


	<div class="span2">
		<label for="sourceLanguage"><b>sourceLanguage</b></label>
		<select id="sourceLanguage" class="span2">
			<<option>Slovak</option>
			<<option>Test</option>
			<<option>Test</option>
			<<option>Test</option>
			<<option>Test</option>
		</select>
	</div>

	<div class="span2">
		<label class="topLabel checkbox">
		  <input type="checkbox" id="phraseReady" value="">
		  Ready
		</label>
	</div>
	<div class="span2">
		<label class="topLabel checkbox">
		  <input name="phraseCorrected" type="checkbox" value="">
		  Corrected
		</label>		
	</div>
</div>