<div class="row">
	<div class="span4">
		<label for="phraseLanguage"><b>Translation | slovak</b></label>
	</div>
	<div class="span2">
		<select id="phraseLanguage" class="span2">
			<<option>Test</option>
			<<option>Test</option>
			<<option>Test</option>
			<<option>Test</option>
			<<option>Test</option>
		</select>			
	</div>
	<div class="span6">
		<table class="phraseTable table-striped table">
			<tr>
				<td>
					0,5+
				</td>		
				<td>
					<input type="text" />
				</td>
				<td>
					<input type="text" />
				</td>
				<td>
					<input type="text" />
				</td>
						
			</tr>

			<tr>
				<td>
					1
				</td>		
				<td>
					<input type="text" />
				</td>
				<td>
					<input type="text" />
				</td>
				<td>
					<input type="text" />
				</td>
						
			</tr>	

			<tr>
				<td>
					2-4
				</td>		
				<td>
					<input type="text" />
				</td>
				<td>
					<input type="text" />
				</td>
				<td>
					<input type="text" />
				</td>
						
			</tr>		
		</table>
	</div>
</div>