
		<table class="phraseTable table-striped table">
			<tr>
				<td>
					0,5+
				</td>		
				<td>
					<input type="text" value="Lipsum" />
				</td>
				<td>
					<input type="text" value="Lipsum" />
				</td>
				<td>
					<input type="text" value="Lipsum" />
				</td>
						
			</tr>

			<tr>
				<td>
					1
				</td>		
				<td>
					<input type="text" value="Lipsum" />
				</td>
				<td>
					<input type="text" value="Lipsum" />
				</td>
				<td>
					<input type="text" value="Lipsum" />
				</td>
						
			</tr>	

			<tr>
				<td>
					2-4
				</td>		
				<td>
					<input type="text" value="Lipsum" />
				</td>
				<td>
					<input type="text" value="Lipsum" />
				</td>
				<td>
					<input type="text" value="Lipsum" />
				</td>
						
			</tr>		
		</table>
