
<div class="phraseControll hide" id="de_phrase">			
	

<table class="phraseTable">
	<tr>
		<td>
			<input type="text" />
		</td>
	</tr>
</table>


<div class="pull-left">
<label for="phraseGender"><b>Gender</b></label>
<select id="phraseGender" class="select2">
	<option>Select Gender</option>
	<option>Male</option>
	<option>Female</option>

</select>
</div>

<div class="pull-right">
<label for="phrasePosition"><b>Position</b></label>	
<select id="phrasePosition" class="select2">
	<option>Select position</option>
	<option>Before</option>
	<option>After</option>
</select>
</div>
<div class="clearfix"></div>
	
</div>	