<div class="row">
	<div class="span4">
		<label for="phraseLanguage"><b>Translation | slovak</b></label>
	</div>
	<div class="span6">
<table class="phraseTable">
	<tr>
		<td>
			<textarea disabled=true>Test textarea disabled</textarea>
		</td>
	</tr>
</table>
</div>	
</div>