<div class="row">
	<div class="span4">
		<label for="phraseLanguage"><b>Translation | slovak</b></label>
	</div>
	<div class="span2">
		<select id="phraseLanguage" class="span2">
			<<option>Test</option>
			<<option>Test</option>
			<<option>Test</option>
			<<option>Test</option>
			<<option>Test</option>
		</select>			
	</div>
	
	<div class="span6">
<table class="phraseTable">
	<tr>
		<td>
			<textarea>Test textarea enabled</textarea>
		</td>
	</tr>
</table>
</div>	
</div>