<div class="phraseControll hide" id="hu_phrase">	
		

		<table class="phraseTable table-striped table">
			<tr>
				<td>
					0,5+
				</td>		
				<td>
					<input type="text" />
					<input type="text" />					
				</td>
				<td>
					<input type="text" />
					<input type="text" />					
				</td>
				<td>
					<input type="text" />
					<input type="text" />					
				</td>
						
			</tr>

			<tr>
				<td>
					1
				</td>		
				<td>
					<input type="text" />
					<input type="text" />					
				</td>
				<td>
					<input type="text" />
					<input type="text" />					
				</td>
				<td>
					<input type="text" />
					<input type="text" />					
				</td>
						
			</tr>	

			<tr>
				<td>
					2-4
				</td>		
				<td>
					<input type="text" />
					<input type="text" />					
				</td>
				<td>
					<input type="text" />
					<input type="text" />					
				</td>
				<td>
					<input type="text" />
					<input type="text" />					
				</td>
						
			</tr>		
	
</table>

<div class="pull-left">
<label for="phraseGender"><b>Gender</b></label>
<select id="phraseGender" class="select2">
	<option>Select Gender</option>
	<option>Male</option>
	<option>Female</option>

</select>
</div>

<div class="pull-right">
<label for="phrasePosition"><b>Position</b></label>	
<select id="phrasePosition" class="select2">
	<option>Select position</option>
	<option>Before</option>
	<option>After</option>
</select>
</div>
<div class="clearfix"></div>
	
</div>	