
@import '../../_base/less/lessFunctions.less';

.favorites2 {
	margin: 0 10px;
	height: 73px;
	overflow: hidden;
	padding: 1px;
	background: @white;
	border: 1px solid #cbd2a0;
	.basic-border-radius( 5px );

	> ul {
		margin: 0;
		height: 24px;
		overflow: hidden;
		background: #fff;
		.basic-gradient(#526ea8,#334c83);
		.basic-border-radius(4px 4px 0 0);
	}

	.cover {
		border: 1px solid #526ea8;
		border-top: none;
		height: 48px;
		background: #fff;
		-webkit-border-radius: 0 0 4px 4px;
		-moz-border-radius: 0 0 4px 4px;
		border-radius: 0 0 4px 4px;
		overflow: hidden;
	}

	.rightArrow , .leftArrow {
		width: 41px;
		height: 48px;
		float: left;
		color: #686868;
		text-align: center;
		line-height: 48px;
		.basic-gradient(#fafafa,#e8e8e8);
		border-right: 1px solid #d5d5d5;
		&:hover {
		text-decoration:none;
		background: #dddddd;
		}
	}

	.rightArrow {
		float: right;
		border-right: none;
		border-left: 1px solid #d5d5d5;

	}

	.tab-content {
		width: 876px;
		float: left;
		background: #fafafa;
		height: 48px;
		overflow: hidden;
	}

	.nav > .active , .nav > .active:hover {
		.basic-gradient(#e8e8e8,#fff);
		color: #526ea8;
		cursor: default;
		border: none;
		border: 1px solid #526ea8;
		border-bottom: 1px solid #DDD;
	}

	.nav > li  {
		padding: 1px 8px;
		.basic-border-radius(0);
		.top-border-radius(4px);
		color: rgba(255, 255, 255, 0.7);
		border: none;
		display: block;
		float: left;
		cursor: pointer;
		margin-right: 0px;
		font-size: 11px;

		&:hover {
			color: #fff;
		}

		i {
			position: relative;
			top: -1px;

			&.icon-eye-open {
				top: -2px;
			}
		}

		i.entypo-share {
			float: left;
			top: 0;
			left: -1px;
			&:before {
				font-size: 20px;
			}
		}


	}

		li.pull-right {

			background: transparent;
			border: none;
			padding: 0;
			float: right;
			a {
				padding: 6px 10px;
				margin-top: 0;
				line-height: 12px;
				border-left: 1px solid rgba(0, 0, 0, 0.2);
				.basic-border-radius(0);
				color: #fff;
				cursor: pointer;
				margin-right: 0;
				background: #334C83;

				i  {
					font-size: 10px;

				}

				&:hover {
					text-decoration: underline;
					background: transparent;
				}

			}

			&:hover {
				text-decoration: underline;
				background: transparent;
			}


			&:last-child {
				a {

				}
			}

			&.hide {
				display: none;
			}
		}

		.content {
			height: 48px;
			width: 880px;
		}

	#scrollInnerContent {
		list-style: none;
		margin: 0;
		padding: 0;
		height: 48px;
		white-space: nowrap;
		display: table-row;

		li {
			display: block;
			height: 42px;
			width: 69px;
			border: 1px solid #fff;
			background-size: cover;
			float: left;
			margin: 2px 0 ;
			overflow: hidden;
			position: relative;
			cursor: pointer;
			.basic-border-radius(3px);
			a {
				display: block;
				height: 100%;
				position: absolute;
				top: 0;
				left: 3px;
				color: #fff;

				&:hover {
					text-decoration:none;
				}
			}

			.checked {
				&:before {
					font-size: 30px;
					position: relative;
					top: -1px;
				}
			}

			a.removeLink {
				display: block;
				height: 17px;
				width: 17px;
				position: absolute;
				left: 52px;
				top: 0px;
				visibility: hidden;
				z-index: 30000;
				&:before {
					font-family: "entypo";
					font-weight: normal;
					font-style: normal;
					font-size: 33px;
					text-decoration: inherit;
					color: #ffffff;
					content: '\274C';
					position: relative;
					top: -1px;
					left: 3px;
				}
			}

			&:hover {
				border: 1px solid #334C83;
				a.removeLink {
					visibility: visible;
					background: rgba(0,0,0,0.7);

					&:hover {
						background: #ee4a00;
					}
				}
			}

			&.template {
				display: none;
			}

			&:nth-child(2) {
				margin-left: 2px;
			}
		}
	}

}
