{define #text}
	{include #baseControl, control => $control}
{/define #text}


{define #price}
{var
	$container = $control;
	$mainControl = $container->getMainControl()
}
{?unset($control)}
<div class="control-group  pricecontroll">
    <div class="form-label">
		{label $mainControl /}
        <small>{$container->getDescription()}</small>
    </div>
    <div class="controls">
        {input $container['amount']}
		{input $container['currency'], class => 'select2'}
        <i class="validation"></i>
		{include #controlErrors, errors => $container->getAllErrors()}
    </div>
    <div class="clearfix"></div>
</div>
{/define #price}


{define #address}
{var
	$container = $control;
	$mainControl = $container->getMainControl()
}
{?unset($control)}
<div class="control-group traMapControll" data-link="{plink validateAddress}">

    <div class="row-fluid">
        <div class="span2">
            {label $container['address'] /}
        </div>
        <div class="span2">
			{label $container['locality'] /}
        </div>
        <div class="span2">
			{label $container['postalCode'] /}
        </div>
        <div class="span2">
			{label $container['primaryLocation'] /}
        </div>
    </div>


    <div class="row-fluid marginBottom">
        <div class="span2">
			{input $container['address'], data-name => "address", data-validation-message => "gps-validation-message"}
        </div>
        <div class="span2">
			{input $container['locality'], data-name => "locality", data-validation-message => "gps-validation-message"}
		</div>
        <div class="span2">
			{input $container['postalCode'], data-name => "postalCode", data-validation-message => "gps-validation-message"}
		</div>
        <div class="span3">
			{input $container['primaryLocation'], data-name => "primaryLocation", class => 'select2', data-validation-message =>
			"gps-validation-message"}
        </div>
		{input $container['latitude'], data-name => "latitude", class => "latitude"}
		{input $container['longitude'], data-name => "longitude", class => "longitude"}
              
        <div class="span2">
            <button class="btn btn-orange"><i class="entypo-location"></i> #check</button>
        </div>
                               
        <div class="span12 control-error" id="gps-validation-message"></div>
	</div>

    <div class="row-fluid">
        <div class="span12">
            <div class="mapRender" id="map_canvas" data-zoom="10" data-value="48.126326426,17.092033625" style="width:100%;height:400px;"></div>
            <div id="gps_position"></div>
        </div>
    </div>
</div>
{/define #address}


{define #baseControl}
<div class="control-group ">
    <div class="form-label">
        {label $control /}
        <small>{$control->getOption('description')}</small>
    </div>
    <div class="controls">
        {input $control}
        <i class="validation"></i>
		{include #controlErrors, errors => $control->getErrors()}
    </div>
    <div class="clearfix"></div>
</div>
{/define #baseControl}


{define #controlErrors}
<div class="control-error">
	{foreach $errors as $error}{$error}{/foreach}
</div>
{/define #controlErrors}