{define #text}
	{include #baseControl, control => $control}
{/define #text}


{*
	Base Control -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
*}
{define #baseControl}
<div class="control-group ">
    <div class="form-label">
		{label $control /}
        <small>{$control->getOption('description')}</small>
    </div>
    <div class="controls">
		{input $control}
        <i class="validation"></i>
	{include #controlErrors, errors => $control->getErrors()}
    </div>
    <div class="clearfix"></div>
</div>
{/define #baseControl}


{*
	Errors -------------------------------------------
	@param $errors array
*}
{define #controlErrors}
<div class="control-error">
	{foreach $errors as $error}{$error}{/foreach}
</div>
{/define #controlErrors}


{*
	Price Container -------------------------------------------
	@param $control \Extras\Forms\Container\PriceContainer
*}
{define #price}
{var
	$container = $control;
	$mainControl = $container->getMainControl()
}
{?unset($control)}
<div class="control-group  pricecontroll">
    <div class="form-label">
		{label $mainControl /}
        <small>{$container->getDescription()}</small>
    </div>
    <div class="controls">
        {input $container['amount']}
		{input $container['currency'], class => 'select2'}
        <i class="validation"></i>
		{include #controlErrors, errors => $container->getAllErrors()}
    </div>
    <div class="clearfix"></div>
</div>
{/define #price}


{*
	Address Container -------------------------------------------
	@param $control \Extras\Forms\Container\AddressContainer
*}
{define #address}
{var
	$container = $control;
	$mainControl = $container->getMainControl()
}
{?unset($control)}
<div class="control-group traMapControll" data-link="{plink validateAddress}">

    <div class="row-fluid">
        <div class="span2">
            {label $container['address'] /}
        </div>
        <div class="span2">
			{label $container['locality'] /}
        </div>
        <div class="span2">
			{label $container['postalCode'] /}
        </div>
        <div class="span2">
			{label $container['primaryLocation'] /}
        </div>
    </div>


    <div class="row-fluid marginBottom">
        <div class="span2">
			{input $container['address'], data-name => "address", data-validation-message => "gps-validation-message"}
        </div>
        <div class="span2">
			{input $container['locality'], data-name => "locality", data-validation-message => "gps-validation-message"}
		</div>
        <div class="span2">
			{input $container['postalCode'], data-name => "postalCode", data-validation-message => "gps-validation-message"}
		</div>
        <div class="span3">
			{input $container['primaryLocation'], data-name => "primaryLocation", class => 'select2', data-validation-message =>
			"gps-validation-message"}
        </div>
		{input $container['latitude'], data-name => "latitude", class => "latitude"}
		{input $container['longitude'], data-name => "longitude", class => "longitude"}
              
        <div class="span2">
            <button class="btn btn-orange"><i class="entypo-location"></i> #check</button>
        </div>
                               
        <div class="span12 control-error" id="gps-validation-message"></div>
	</div>

    <div class="row-fluid">
        <div class="span12">
            <div class="mapRender" id="map_canvas" data-zoom="10" data-value="48.126326426,17.092033625" style="width:100%;height:400px;"></div>
            <div id="gps_position"></div>
        </div>
    </div>
</div>
{/define #address}


{*
	Phrase Container -------------------------------------------
	@param $control \Extras\Forms\Container\PhraseContainer
*}
{define #phrase}
{var
	$container = $control;
	$phrase = $container->getPhrase();
}
{?unset($control)}
<div class="row-fluid phraseForm">

    <div class="span12">
    

    <div class="span2">
        <label for="phraseType"><b>{label $container['phraseType'] /}</b></label>
        {input $container['phraseType'] , class => 'select2'}       
    </div>


    <div class="span3">
        <label for="sourceLanguage"><b>{label $container['sourceLanguage'] /}</b></label>
        {input $container['sourceLanguage'], class => 'select2'}
    </div>

    <div class="span2">
        <label class="topLabel checkbox">
          {input $container['ready']}
          {label $container['ready'] /}
        </label>
        <label for="phraseLanguage"><b>Translation | <span id="phraseTranslateCurrent"></b></label>
    </div>
    <div class="span2">
        <label class="topLabel checkbox">
          {input $container['corrected']}
          {label $container['corrected'] /}
        </label>

        {input $container['changeToLanguage'] , class => 'select2 pull-right' , id => 'phraseLanguage'} 

    </div>  

    </div>
    <hr />
    <div class="span6">
        
    {include #translationVatiations, control => $container['fromVariations']}

    </div>
    <div class="span6">

        
    {foreach $container['to']->getComponents() as $languageContainer}
    {var $language = $languageContainer['variations']->getLanguage()}
    <div class="phraseControll hide" id="{$language->getId()}_phrase"> 


        {include #translationVatiations, control => $languageContainer['variations']}

        <div class="pull-left">
        <label for="phraseGender"><b>{label $languageContainer['gender'] /}</b></label>
        {input $languageContainer['gender'] , class => 'select2'}
        </div>

        <div class="pull-right">
        <label for="phrasePosition"><b>{label $languageContainer['position'] /}</b></label> 
        {input $languageContainer['position'] , class => 'select2'}
        </div>
        <div class="clearfix"></div>



    </div>
    {/foreach}


    </div>

</div>

{/define #phrase}


{*
	Translation Variations Container -------------------------------------------
	@param $control \Extras\Forms\Container\TranslationVariationsContainer
*}
{define #translationVatiations}
{var
	$container = $control;
	$phrase = $container->getPhrase();
	$language = $container->getLanguage();
}
{?unset($control)}
<table class="phraseTable table-striped table">
    <tr>
		{if $phrase->type->pluralVariationsRequired}
            <th>Count</th>
		{/if}
		{if $phrase->type->genderVariationsRequired}
			{foreach $language->genders as $genderName}
                <th>{$genderName}</th>
			{/foreach}
		{/if}
    </tr>
	{foreach $container->getComponents() as $plural}
        <tr>
			{if $phrase->type->pluralVariationsRequired}
                <td>{$language->plurals[$plural->getName()]['name']}</td>
			{/if}
			{foreach $plural->getComponents() as $genders}
                <td>
					{foreach $genders->getComponents() as $gender}
						{$gender->getControl()}
					{/foreach}
                </td>
			{/foreach}
        </tr>
	{/foreach}
</table>

{/define #translationVatiations}


{*
	Rental Photos Container -------------------------------------------
	@param $control \Extras\Forms\Container\RentalPhotosContainer
*}
{define #rentalPhotos}
{var
	$container = $control;
}
{?unset($control)}
<div class="control-photo"><!-- controll photo start -->

    <div class="row-fluid">


        <div class="span12">
            <ul id="sortable" class="ui-sortable" n:inner-foreach="$container->getImages() as $image">
                <li data-id="{$image->getId()}" class="ui-state-default">
					<img n:img="$image">
                    <a href="#" class="remove">#delete</a>
                </li>
			</ul>
        </div>

    </div>
    <div class="row-fluid text">
        <div class="span12">
            <button class="btn btn-green"> <span class="entypo-upload">#upload</span> </button>
        </div>
    </div>
    <div class="row-fluid">
        <p>#Vyberte súbory alebo ich potiahnite z inej aplikácie sem. Nahrať môžete aj viac fotografií naraz. Maximálny rozmer je 1500 x 1500 pixelov. Minimálna šírka fotografie je 450px.
            Pridanie fotografie trvá niekoľko sekúnd v závislosti od rýchlosti vášho pripojenia.</p>
    </div>


                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Add files...</span>
                    {input $container['upload']}
                </span>


    {*<input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple="">*}
	
	{input $container['sort']}
<div class="clearfix"></div>
</div>
{/define #rentalPhotos}