{#content}
<div class="page-header"><h1>Example Form</h1></div>

{includeblock '@formControls.latte'}
{form baseForm, class => "traform dashboard"}
	{include #text, control => $form['text']}
	{include #price, control => $form['price']}
	{include #address, control => $form['address']}
{/form}
{/#}
