<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="description" content="">
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="cleartype" content="on" />


		<!-- Tile icon for Win8 (144x144 + tile color) -->
		<meta name="msapplication-TileImage" content="img/touch/apple-touch-icon-144x144-precomposed.png">
		<meta name="msapplication-TileColor" content="#222222">



		<link rel="stylesheet" href="/packages/mobile/css/normalize.css">
		<link rel="stylesheet" href="/packages/mobile/css/main.css">
		<link rel="stylesheet" href="/packages/mobile/css/font-awesome.min.css">
		<link rel="stylesheet" href="/packages/mobile/css/fonts.css">
		<link rel="stylesheet" href="/packages/mobile/css/btn.css">
		<link rel="stylesheet" href="/packages/mobile/css/pagination.css">
		<link rel="stylesheet" href="/packages/mobile/css/list.css">
		<link rel="stylesheet" href="/packages/mobile/css/home.css">
		<link rel="stylesheet" href="/packages/mobile/css/searchControl.css">

	</head>
	<body class="searchControl">

		{include #content}

		<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

		<script src="/packages/mobile/js/vendor/jquery.geocomplete.min.js"></script>
		
		<script src="/packages/mobile/js/main.js"></script> 
		<script src="/packages/mobile/js/searchForm.js"></script> 
		

	</body>
</html>