<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="description" content="">
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="cleartype" content="on" />


		<!-- Tile icon for Win8 (144x144 + tile color) -->
		<meta name="msapplication-TileImage" content="img/touch/apple-touch-icon-144x144-precomposed.png">
		<meta name="msapplication-TileColor" content="#222222">



		<link rel="stylesheet" href="/packages/mobile/css/normalize.css">
		<link rel="stylesheet" href="/packages/mobile/css/main.css">
		<link rel="stylesheet" href="/packages/mobile/css/font-awesome.min.css">
		<link rel="stylesheet" href="/packages/mobile/css/fonts.css">
		<link rel="stylesheet" href="/packages/mobile/css/btn.css">
		<link rel="stylesheet" href="/packages/mobile/css/pagination.css">
		<link rel="stylesheet" href="/packages/mobile/css/list.css">

	</head>
	<body class="list">

        <header id="pageHeader">
            <a class="logo" href="#"></a>
            <h1>Tralandia.sk <span>Ubytovanie na Slovensku</span></h1>

            <div class="clearfix"></div>
        </header> 
        <div id="subnavPlaceholder" class="hide"></div>
        <nav id="subnav">
            <ul>
                <li class="search">
                    <form>
                        <input type="text" placeholder="#Search city, location"/>
                    </form>
                </li>                  
                <li class="pull-right">
                    <button class="btn-flat color-green"><i class="icon-map-marker"></i></button>
                </li>                                
            </ul>
        </nav> 


		{include #content}

		<div id="footer">
			<ul>
				{if $isMobile}
					<li class="siteVersion"><a href="{plink this, \Routers\FrontRoute::DEVICE => \Device::DESKTOP}">#Desktopova verzia</a></li>
				{else}
					<li class="siteVersion"><a href="{plink this, \Routers\FrontRoute::DEVICE => \Device::MOBILE}">#Mobilna verzia</a></li>
				{/if}	
			</ul>
		</div>
	</body>
</html>