<div class="mainFooter">
	{control footer}

	<div class="mainFooterCountryLinks">
		<h2><b>Ubytovanie</b> v dalsich krajinach</h2>
		{* {$launchedCountries|ulList , 5, '<li><span>&nbsp;</span><a href="">%_name%</a></li>'} *}
		<div class="cleaner"></div>
		<div class="mainFooterSeparator_2"></div>
	</div>
</div>