{var $tempCacheOptions = $getCacheOptions('rootCountries')}

{cache $tempCacheOptions['key'],
	if => $tempCacheOptions['enabled'],
	expire => $tempCacheOptions['expiration'],
	tags => $tempCacheOptions['tags']}

{control rootCountries}

{/cache}
