
{cache $footerCacheOptions['key'],
	if => $footerCacheOptions['enabled'],
	expire => $footerCacheOptions['expiration'],
	tags => $footerCacheOptions['tags']}


	<div class="container">

		<div class="row smallFooterSignature">
			<div class="span3">
				{var $now = date('Y')}
				<p>
					&copy; 2006–{$now} <a href="{plink :Front:Home:default}">{$domain}</a>

				</p>
			</div>
			<div class="span9">
				<ul>

					{*<li class="siteVersion"><a href="{plink this, \Routers\FrontRoute::DEVICE => \Device::MOBILE}">#Mobilna verzia</a></li>*}
					<li><a class="contactLinks" href="{plink :Front:AboutUs:default}">{_o23011}</a></li>
					<li><a class="contactLinks" href="{plink :Front:SupportUs:default}">{_o100195}</a></li>
					<li><a class="contactLinks" href="{plink :Front:Tou:default}">{_o100123}</a></li>
					<li><a class="contactLinks" href="{plink :Front:Faq:default}">{_o100122}</a></li>
					<li><a class="contactLinks" href="{plink Registration:}">{_1228}</a></li>
					

				</ul>
			</div>
		</div>
	</div>
{/cache}
