@import '../../_base/less/lessFunctions.less';
@import '../../../bootstrap/lib/less/mixins.less';



#content.noPadding {

	form.list-form {
		margin: 0;

		.select2 {
			float: right;
			margin: 15px 10px -15px 0;
		}
	}

.object-list-title {
	margin-bottom: 5px;
}

	div.rentalListHr {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dddddd;
	height: 1px;
	width: 725px;
	margin-left: -10px;
	}

div#tabs-1 div.row-fluid.rentalList {


	margin-left: -10px;
	width: 725px;
	padding-left: 10px;
	margin-right: -10px;
	

	&.last {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.span4 {
		position: relative;
		a {
			&:hover {
				
					text-decoration:none;
				
			}
		}
	}

	.infoGrid {
		list-style: none;
		height: 30px;
		border: 1px solid #ddd;
		.border-radius(5px);
		margin: 0;
		padding: 0;
		color: #555;
		background: #fff;

		table {
			margin: 0;
			tr {
				td {
					padding: 7px;
					line-height: 16px;
					border-right: 1px solid #ddd;
					text-align: center;
					color: @brown;
					
					&.price {
						color: @darkGreen;

						small {
							font-weight: normal;
						}
					}

					&.food {
						border: none;
						max-width: 220px;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						font-size: 12px;
					}



					&.count {
						

						.icon-female {
							font-size: 12px;
							position: relative;
							right: 5px;
							line-height: 15px;							
						}

						.icon-male {
							font-size: 12px;

							line-height: 14px;							
						}
					}

					i {
						color: @brown;
						line-height: 13px;
					}

					small {
						display: block;
						line-height: 13px;
						position: relative;
						font-size: 10px;
						top: -2px;
						white-space: nowrap;
						color: #999;
					}
				}
			}
		}
	}

	.teaser {
		white-space: nowrap;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;	 	
	}

	.listCompareBtn {

		background: transparent;
		border: none;
		padding: 0;
		color: #dddddd;
		height: 21px;
		overflow: hidden;

		i {
			width: 24px;
			height: 20px;			
			&:before {
				font-size: 20px;
			}
		}

		i.icon-heart {
			display: none;
			margin-top: 2px;
		}

		&.selected {
			color: #d32c16;
			i.icon-heart {
				display: block;
			}
			i.icon-heart-empty {
				display: none;

			}			
		}

	}

	&:hover {
		.listCompareBtn {
			color: #d32c16;
		}
	}

	.span4 {
		width: 245px;
		height: 145px;
		overflow: hidden;



		.addons {
			background: #fff;
			border: none;
			color: #a0b326;
		}

		img {
			width: 245px;
			height: 145px;
			z-index: 1;
			
			.border-radius(5px);
			&.ownerImage {
				top: 0;
			}
		}
	}

	.span8 {
		width: 450px;
		margin-left:10px;
	}

	.panel {
		padding: 0 5px;
		background: #fff;
		font-size: 11px;
			.border-radius(5px);
		p {
			font-size: 11px;			
		}
		border-color: #ccc;
	}	

	.accessories {
		margin: 0;
		height: 20px;
		overflow: hidden;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;		
	}

	h2 {
		font-size: 16px;
		line-height: 19px;
		height: 19px;
		overflow: hidden;
		font-weight: bold;
		margin: 0;
		float: left;
		max-width: 424px;
		padding-top: 2px;
		color: @darkGreen;

		white-space: nowrap;
		
		overflow: hidden;
		text-overflow: ellipsis;		

		.classification {
			i::before {
				font-size: 20px;
				color: @darkGreen;
				top: -1px;
				text-decoration: none;
			}
			i:hover::before {
				text-decoration: none!Important;
			}
		}


	}

	.locations {
		font-size: 12px;
		color: @brown;

		height: 14px;
		margin: 0 0 7px 0;
		a {
			color: @brown;
		}
	}

	button {
		float: right;
	}

	.btn-group {
		margin-top: 8px;
	}

	.btn-group button {
		float: left;
	}

	p {
		display: block;
		font-size: 12px;
		height: 17px;
		line-height: 17px;
		padding: 0;
		margin: 0;

		&.answer {
			font-size: 12px;
			line-height: 17px;
			height: 33px;
			overflow: hidden;
			margin: 11px 0 10px 0;
			color: #999999;
			
		}

		&.teaser {
			margin-top: 4px;
			margin-bottom: 4px;
			
		}
	}

	table {
		
		line-height: 12px;
		margin-top: 4px;
		margin-bottom: 1px;
		p {
			padding: 0;
			margin: 0;
		}

		.text-top {
			vertical-align: text-top;
		}
		tr {
			border-spacing: 0;
		}
	}

	[class*="entypo-"]:before {
		font-size: 28px;
		position: relative;
		left: -3px;
		top: 2px;
		color: #a0b326;
	}

	&.attraction {

		p.answer {
			height: 48px;
		}

		.infoGrid {
			font-size: 12px;
			line-height: 16px;
			padding: 5px 0 5px 8px;

			a.btn {
				padding: 10px;
				margin-top: -5px;
				border: none;
				border-left: 1px solid #DDD;
				.border-radius(0 5px 5px 0);
				width: 160px;

				small {
					color: rgba(0,0,0,0.5);
				}

				&:hover {
					background: @darkGreen;
					color: #fff;
					border: 1px solid @darkGreen;
					margin: -5px -1px;
					padding: 9px;

					small {
						color: rgba(255,255,255,0.5);
					}
				}
			}
		}

		&.detail {
			h1 {
				padding: 0;
				margin: 0 0 5px;
			}

			p.answer {
				height: auto;
				font-size: 14px;
				color: #333;
			}
		}
	}
}

		.classic .position {
			visibility: hidden;
		}

}

.pagination {
	margin: 10px 0;
	text-align: center;
	
	ul li a {
		height: 38px;

		i {
			position: relative;
			top: 1px;
		}
	}

	li {
		&.disabled {
			&.current {
				a {
					#gradient > .vertical(@lightGreen,@darkGreen);
					color: @white;
					border-color: @lightGreen;
				}
			}
		}
	}
}

table.holder {
	tr {
		td {
			&.rentalShortInfo {
				width: 90%;
			}
		}
	}
}