common:
	link1: 
		from: 'http://www.tra.sk/mala-fatra/chalupy/prazdninovy-pobyt?lfPeople=6&lfFood=6'
		to: 'http://www.tra.sk/mala-fatra/chalupy/prazdninovy-pobyt?lfPeople=6&lfFood=6'
		params:
			action: ddddd
			rentalType: 20
			location: 126
	link4: 
		from: 'http://www.tra.sk/mala-fatra/chalupy/prazdninovy-pobyt?lfPeople=6&lfFood=6'
		to: 'http://www.tra.sk/mala-fatra/chalupy/prazdninovy-pobyt?lfPeople=6&lfFood=6'
	link2: 
		from: 'http://www.tra.sk/chaty/nitra-okres/prazdninovy-pobyt?lfPeople=6&lfFood=6'
		to: 'http://www.tra.sk/nitra-okres/chaty/prazdninovy-pobyt?lfPeople=6&lfFood=6'
		presenter: test
		params:
			action: default
			rental: 234
			location: 44
			language: 144
