# najdes to na /admin/router-test/default
common:
	link1: 
		from: 'http://www.tra.sk/mala-fatra/chalupy/prazdninovy-pobyt?lfPeople=6&lfFood=6'
		to: 'http://www.tra.sk/mala-fatra/chalupy/prazdninovy-pobyt?lfPeople=6&lfFood=6'
		params:
			action: ddddd
			rentalType: 20
			location: 126
	link2: 
		from: 'http://www.tra.sk/mala-fatra/chalupy/prazdninovy-pobyt?lfPeople=6&lfFood=6'
		to: 'http://www.tra.sk/mala-fatra/chalupy/prazdninovy-pobyt?lfPeople=6&lfFood=6'
	link3:
		from: 'http://www.tra.sk/mala-fatra/chalupy/prazdninovy-pobyt?lfPeople=6&lfFood=6'
		to: 'http://www.tra.sk/mala-fatra/chalupy/'
	example: #toto je identifikator pre test
		from: 'http://www.tra.sk/chaty/nitra-okres/prazdninovy-pobyt?lfPeople=6&lfFood=6' # kam chce ist navstevnik
		to: 'http://www.tra.sk/nitra-okres/chaty/prazdninovy-pobyt?lfPeople=6&lfFood=6' # kde skonci nastevnik
		presenter: test # ak nezadas tak sa neoveruje, len vypise
		params: # ak nezadas tak sa neoveruje, len vypise. Ak chces overovat, tak definuj presne ze ktore a ake parametre ocakavas
			action: default
			rental: 234
			location: 44
			language: 144
