<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>{#title|striptags|firstUpper}{/#}</title>

	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="dns-prefetch" href="http://fonts.googleapis.com">
	<link rel="dns-prefetch" href="http://cdnjs.cloudflare.com">

	<meta name="generator" content="Proxy 1.2.3">

	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="{$basePath}/personalSite/libs/select2-master/select2.css" type="text/css" />
	<link rel="stylesheet" href="{$basePath}/personalSite/css/font-awesome.css?ver=4.0.3" id="font-awesome-css" type="text/css" media="all" />
	<link rel="stylesheet" href="{$basePath}/personalSite/css/flexslider.css?ver=3.8.1" id="flexslider-css" type="text/css" media="all" />
	<link rel="stylesheet" href="{$basePath}/personalSite/css/style.css?ver=3.8.1" id="style-css" type="text/css" media="all" />

	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>

<!-- BEGIN body -->
<body class="home blog">

	<div n:if="$loggedUser" style="position: fixed; top: 100px; right: 50px; z-index: 100000">
		<a n:href="//:Owner:Rental:edit $rental->id" target="_blank">{_544}</a>
	</div>

	<div id="fb-root"></div>
	<!-- BEGIN #header -->
	<header id="header" role="banner">
		<!-- BEGIN .header-inner -->
		<div class="header-inner clearfix">
			{#headerTitle}{/#}
			<!-- BEGIN #primary-nav -->
			<nav id="navigation" role="navigation">
				<div id="primary-nav" class="primary-menu">
					<ul id="menu-main-menu" class="menu">
						<li><a href="#services">{_1198}</a></li>
						<li><a href="#gallery">{_537}</a></li>
						<li><a href="#prices">{_1197}</a></li>
						<li n:if="$showCalendar"><a href="#calendar">{_1223}</a></li>
						<li class="reservation"><a href="#contact"><i class="icon icon-envelope-o"></i> {_151873}</a></li>
						<li class="language">
							<select class="select2" n:inner-foreach="$usedLanguages as $language">
								<option value="{$language->iso}"
										data-redirect-url="{link //Default:default, language => $language}"
										n:attr="selected => $language->id == $currentLanguage->id">
									{_$language->name, null, null, null, $language}
								</option>
							</select>
						</li>
					</ul>
				</div>
				<!-- END #primary-nav -->
			</nav>
			<!-- END .header-inner -->
		</div>
		<!-- END .header -->
	</header>

	<!-- BEGIN #container -->
	<div id="container">
		{include #content}
	</div>

	<!-- BEGIN .footer -->
	<footer class="footer" role="contentinfo">
		<div class="inner-section">
			<div class="grids">
				<div class="grid-6">
					{*
					<ul class="social-links">
						<li><a href="//facebook.com/https://www.facebook.com/ubytovanienaslovensku" title="UNS on facebook" class="facebook"></a></li>
					</ul>
					*}
				</div>
				<div class="grid-6 copyright">
					<span>created by <a href="#">Tralandia</a></span>
					<a href="#" id="backToTop"></a>
				</div>
			</div>
		</div>
		<!-- END .footer -->
	</footer>

	<script n:syntax="double">
		var fromDateOrigin = {
			year: 0,
			month: 0,
			day:0,
			date: new Date(),
			dayPlus:0,
		}
		var reservedDates = [];

		jQuery(document).ready(function($){
			$(".btn-toggle").click(function(event) {
				event.preventDefault();
				var section = $(this).attr('data-toggle');
				$(this).parent().detach();
				var $section = $("#"+section);
				$section.find('.hidden').removeClass('hidden');
			});

			$(".select2").select2({
				minimumResultsForSearch: -1,
			}).on('change', function(event) {
				return window.location.href = $(this).find('option[value="'+event.val+'"]').data('redirect-url');
			});

			var reservedDatesVal = $(".datepicker").attr('data-reservations').split(',');
			for(n in reservedDatesVal) {
				var d = reservedDatesVal[n].split('-');
				reservedDates.push(new Date(d[2], (d[1]-1), d[0]));
			}

			$(".datepicker").datepicker({
				minDate: new Date(),
				dateFormat: "yy-mm-dd",
				beforeShowDay: getreservedDates
			});
			$(".datepickerto").datepicker({
				minDate: new Date(),
				maxDate: "+12M +10D" ,
				dateFormat: "yy-mm-dd",
				firstDay: 1,
				beforeShow: function(textbox, instance){
					var fromValues = $('.datepicker').val().split('-');

					if ( fromValues.length > 1 ) {
						fromDateOrigin.year = parseInt(fromValues[0]);
						fromDateOrigin.month = parseInt(fromValues[1])-1;
						fromDateOrigin.day = parseInt(fromValues[2]);

						fromDateOrigin.date.setYear(fromDateOrigin.year);
						fromDateOrigin.date.setMonth(fromDateOrigin.month);
						fromDateOrigin.date.setDate(fromDateOrigin.day);

						fromDateOrigin.dayPlus = new Date(fromDateOrigin.date.getFullYear(), fromDateOrigin.date.getMonth(), fromDateOrigin.date.getDate()+1);

						$(this).datepicker("option", {
							minDate: fromDateOrigin.dayPlus,
							maxDate: "+12M +10D"
						});
					} else {
						$(this).datepicker("option", {
							minDate: 1,
							maxDate: "+12M +10D"
						});
					}
				},
				beforeShowDay: getreservedDates
			});

			$("a.review-button, a.cancel-review").click(function(event) {
				event.preventDefault();
				$("form.review-form").toggleClass('show');
			});

			$('form.review-form .rating > .icon').hover(function() {
				$this = $(this);
				$parent = $this.parent().parent();
				rating = 5 - $this.index();

				$parent.find('.icon.selected').addClass('hide-selection');
			}, function() {
				$selected = $parent.find('.icon.selected');
				$selected.removeClass('hide-selection');
				rating = $selected.size() ? ('<b>'+(5 - $selected.index())+'/5</b>') : '0/5';
			}).click(function() {
				$parent.find('.icon').removeClass('selected');
				$this.addClass('selected');

				rating = 5 - $this.index();
				$parent.find('input').val(rating);
			});

			/*
			var $slideshow = $("section#slideshow");
			var $logoImage = $("#logo .img");
			*/
			var $window = $(window);
			var $mapImage = $('#map img');
			var mapShown = false;
			$window.scroll(function(event) {
				if ($mapImage.is(':in-viewport') && !mapShown) {
					{{var $gps = $rental->address->getGps()}}
					$mapImage.parent().html('<iframe width="570" height="340" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{$gps->getLatitude()}},{{$gps->getLongitude()}}&key=AIzaSyCiKBItRcP8_iSzxbiLB4_iqc6nxTMk3Ms"></iframe>');
					mapShown = true;
				}
				// if ($window.scrollTop() > $slideshow.height()) {
				// 	if (!$logoImage.is(":visible")) {
				// 		$logoImage.finish();
				// 		$logoImage.css('display', 'block').animate({
				// 			width: 149
				// 		}, 200);
				// 	}
				// } else {
				// 	if ($logoImage.is(":visible")) {
				// 		$logoImage.finish();
				// 		$logoImage.css({
				// 			width: 0,
				// 			display: 'none'
				// 		});
				// 	}
				// }
			})

			$('#menu-main-menu a').click(function(event) {
				event.preventDefault();
				window.location.href = '#section=' + $(this).attr('href');
			});

			$('input[name=nospam]').each(function(e){
		        $('input[name=nospam]').val('no'+'spam');
		    });

			$.nette.init();
		});


		function getreservedDates(date) {
		    for (var i = 0; i < reservedDates.length; i++) {
	            if (date.getTime() == reservedDates[i].getTime()) {
	                  return [true, 'blackout'];
	            }
		    }
		    return [true, ''];
		}

		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=223816517744809";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<script type="text/javascript" src="{$basePath}/personalSite/js/superfish.js?ver=3.8.1"></script>
	<script type="text/javascript" src="{$basePath}/personalSite/js/supersubs.js?ver=3.8.1"></script>
	<script type="text/javascript" src="{$basePath}/personalSite/js/jquery/ui/jquery.ui.core.min.js?ver=1.10.3"></script>
	<script type="text/javascript" src="{$basePath}/personalSite/js/jquery.viewport.js?ver=3.8.1"></script>
	<script type="text/javascript" src="{$basePath}/personalSite/js/jquery.custom.js?ver=3.8.1"></script>
	<script type="text/javascript" src="{$basePath}/personalSite/js/retina.js?ver=3.8.1"></script>
	<script type="text/javascript" src="{$basePath}/personalSite/js/prettify.js?ver=3.8.1"></script>
	<script type="text/javascript" src="{$basePath}/personalSite/libs/select2-master/select2.js"></script>
	<script type="text/javascript" src="{$basePath}/packages/nette/lib/nette.ajax.js"></script>
</body>

</html>
