
<form id="fileupload" method="POST" enctype="multipart/form-data">
	<div class="gallery-control files">
		<div class="background">Drop files here <i class="icon-upload"></i></div>
		<div class="files-container"></div>
		<div class="thumbnail-wrapper">
			<span class="btn btn-success fileinput-button upload">
				+
				<input type="file" name="files[]" multiple>
			</span>
		</div>
		<div class="clearfix"></div>
	</div>
</form>