@import '../../_base/less/lessFunctions.less';

/* sidebar */
#sidebar {

	margin-bottom: 10px;

	.removeFilter {
		text-align: center;
		i:before {
			top: 1px;
			height: 15px;
			display: inline-block;
			overflow: hidden;
			position: relative;
		}

	}

	h4 {
		font-size: 14px;
		margin: 19px 0 5px 0px;
		padding: 0 15px;
		
		i {
			font-size: 20px;
			position: relative;
			left: -4px;
			&.icon-home {			
				width: 20px;
			}
		}
	}


	#getSearchCount {
		color: #ffffff;
		height: 26px;
		font-size: 11px;
		line-height: 26px;
		padding-left: 7px;
	}


	.widget {
		border-bottom: 1px solid @lightGreen;
	}	

	.widget:last-child {
		border: none;
	}

	.widget.filter {
		border-top: none;
			background: #f26900;
			border-radius: 0 0 6px 6px;
			border-bottom: none;
			padding-bottom: 0;
			margin: 0 1px;
			li.selected {

				margin: 0 14px 10px 14px;
				border: none;

				background: #fff;
				padding:0 10px 0 2px;
				border-radius: 4px;

				&:last-child {
					margin-bottom: 10px;
				}






				a {
					padding: 3px 0;
					font-weight: bold;
					color: #d32c16;
					color: @brown;
					span {
						font-weight: normal;

						&.close {
							
							opacity:1;
							color: red;
							font-size: 15px;
							display: block;
							width: 20px;
							text-align: center;
							text-shadow: none;
							color: @orange;
						}

						&.counter {
							display: none;
						}
					}
				}

				&:hover {
					text-decoration: line-through;
				}

				&:before {
					content:'';					
				}
			}		
	}

	#frm-searchBar-searchForm {
			margin: 1px;			

			.basic-gradient(rgb(142, 175, 18),rgb(116, 145, 8));
			.basic-border-radius(6px);
			margin-bottom: 0;
			padding: 10px;
			overflow: hidden;
			select {
				/*display: none;*/
			}

	}


	strong {
		color: #ffffff;
		height: 19px;
		margin: 0 0 10px 0;
		font-weight: normal;
		font-size: 17px;
		display: block;
		text-align: center;
	}


	.btn {
		height: 26px;
		padding: 0 10px;
		line-height: 26px;

		i {
			left: -3px;
		}

		i:before {
			font-size:30px;
			
		}
	}
	.inputfilterSearch {
		

		margin: 0 0 10px 0;
		padding: 0;
		height: 28px;
		overflow: hidden;
		width: 205px;

		i[class*="icon-"] {
			z-index: 300;
			height: 26px;
			text-align: center;
			line-height: 25px;
			color: rgb(104, 104, 104);
			position: absolute;
			width: 26px;
		}

		&.price {

			width: 98px;
			float: left;	


			&.pull-right {
				float: right;
			}

			.select2-container  {
				width: 98px;
				float: left;
				.basic-border-radius(4px);
				&.pull-right {
					float: right;
				}			

				a {
					width: 73px;
					div {
						b:before {

						}
					}
				}	
			}
		}

	i.icon-money22 {
		font-weight: bold;
		width: 28px;
	}


		select.select2 {
			visibility: hidden;
			height: 18px;
		}

		.select2-container {
			.basic-border-radius(0px);				
			width: 205px;
			a {


				div {
					width: 22px;
					background: #fff;
					border: none;
				}

				span {
					color: #999;
				}
			}

			&.select2-dropdown-open {
				.select2-choice {
					border: 1px solid #b0c13b;
					border-bottom: 1px solid #fff;

					-webkit-border-top-left-radius: 4px;
					-webkit-border-top-right-radius: 4px;
					-moz-border-radius-topleft: 4px;
					-moz-border-radius-topright: 4px;
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;					
				}
			}

		}




		.select2-container .select2-choice {
			border: none;
			background: #fff;
			padding-left: 25px;
			width: 180px;
			.basic-border-radius(4px);

			&:before {

			}
		}

		.select2-container .select2-choice div b:before {
			left: 5px;
			color: #999;
		}


		input[type=text] {
			width: 140px;
			color: @darkGreen;
			font-weight: bold;
			font-size: 16px;
		}

		input::-webkit-input-placeholder {
		    color:    #999;
		    font-weight: bold;
		}
		input:-moz-placeholder {
		    color:    #999;
		    font-weight: bold;
		}
		input:-ms-input-placeholder {
		    color:    #999;
		    font-weight: bold;
		}

		button.btn {
			width: 39px;
			height:38px;
			line-height: 30px;
			color: #F24100;

			i {
				&:before {
					font-size: 70px;
					position: relative;
					left: -3px;
					top: -5px;
				}
			}
		}

		input[type=text] , button.btn {
			float: left;
			border: none;
			height:30px;
			background: transparent;
		}

		&.selected {
			.select2-container a span {
				color: #444;
			}
		}
	}



	ul {

		list-style: none;	
		margin: 0 ;
		padding: 0 ;
		font-size: 13px;
		li {

			padding: 0 10px 0 25px;

			&.disabled {

				color: #ccc;

				&:hover {
					background: transparent;
					color: #ccc;
				}

				&:before {
					color: #ccc;
				}
			}

			span.counter {
				
				
				padding: 1px 2px;
				color: #ccc;
				font-size: 11px;

				&:before {
					content: '(';
				}

				&:after {
					content: ')';	
				}
			}

			a {
				display: block;	
				
				padding: 0 5px;
				&:hover {
					text-decoration: none;

					span.entypo-remove {
						visibility: visible;
					}					
				}

				span.entypo-remove {
					visibility: hidden;
				}
			}

			&:last-child {
				margin-bottom: 10px;
			}

			&:hover {
				background: #f5f7ea;
				color: @white;
				text-decoration: none;
			}
			
			&:before {
				  font-family: "entypo";
				  font-weight: normal;
				  font-style: normal;
				  
				  text-decoration: inherit;
				  content:'\E75E';
				  color: @brown;
				  font-size: 25px;
				  margin-right: 3px;
				  float: left;
				  line-height: 19px;
				  height: 20px;
				  position: relative;
				  left: -9px;
				  width: 0;

			}



			&.more {

				a {
					color: @brown;
				}

				&:before {
					content:'\E75C';	
					left: -11px;
				}

				&.open {
					&:before {
						content:'\E75F';	
					}					
				}

			}
		}




	}



		a.btnSearchClose {
			display: block;
			height: 26px;
			background: #ffffff;
			color: #999999;
			line-height: 28px;
			text-align: center;
			width: 24px;
			float: right;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			border-left: 1px solid #dddddd;
			position: relative;
			top: -26px;
			&:hover {
				text-decoration: none;
				color: #f26900;
			}
			i:before {
				font-size: 32px;
			}
		}

	

}



.select2-drop.searchSelect {
	border: 1px solid #fff;

	-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
	-o-box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);	

	.select2-search {
		&:before {
			font-family: entypo;
			content: '\1F50D';
			font-size: 30px;
			line-height: 27px;
			height: 0;
			float: right;
			position: relative;
			right: 10px;
			top: -2px;
			z-index: 9000;
			color: #999999;
		}
	}


}

/*.select2-drop.searchSelectOrder , .select2-drop.searchSelect{
	.select2-results li:first-child {
	}
}
*/
.select2-drop.searchSelect.select2-drop-active:before {
	content: '';
}

#sidebar .inputfilterSearch .select2-container.select2-dropdown-open .select2-choice {
	border-radius: 0;
	border: none;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;	
}
