@import '../../_base/less/lessFunctions.less';

/* sidebar */
#sidebar {

	margin-bottom: 10px;

	.removeFilter {
		text-align: center;
		i:before {
			top: 1px;
			height: 15px;
			display: inline-block;
			overflow: hidden;
			position: relative;
		}

	}

	h4 {
		font-size: 14px;
		margin: 0;
		padding: 0 10px;
		margin-bottom: 5px;

	
		margin-top: 10px;		
	}





	.widget {
		border-bottom: 1px solid @lightGreen;
	}	

	.widget:last-child {
		border: none;
	}

	.widget.filter {
		border-top: none;
			background: #f26900;
			border-radius: 0 0 6px 6px;
			border-bottom: none;
			padding-bottom: 0;
			margin: 0 1px;
			li.selected {

				margin: 0 14px 10px 14px;
				border: none;

				background: #fff;
				padding:0 10px 0 2px;
				border-radius: 4px;

				&:last-child {
					margin-bottom: 10px;
				}






				a {
					padding: 3px 0;
					font-weight: bold;
					color: #d32c16;
					color: @brown;
					span {
						font-weight: normal;

						&.close {
							
							opacity:1;
							color: red;
							font-size: 15px;
							display: block;
							width: 20px;
							text-align: center;
							text-shadow: none;
							color: @orange;
						}

						&.counter {
							display: none;
						}
					}
				}

				&:hover {
					text-decoration: line-through;
				}

				&:before {
					content:'';					
				}
			}		
	}

	#frm-searchBar-searchForm {
			margin: 1px;			

			.basic-gradient(@lightGreen,@darkGreen);
			-webkit-border-top-left-radius: 6px;
			-webkit-border-top-right-radius: 6px;
			-moz-border-radius-topleft: 6px;
			-moz-border-radius-topright: 6px;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			margin-bottom: 0;
			padding: 10px;
			overflow: hidden;
			select {
				/*display: none;*/
			}

	}

	.input-filltext {
		

		margin: 0 0 10px 0;
		padding: 0;
		.basic-border-radius(4px);
		height: 28px;
		overflow: hidden;
		background: #fff;
		width: 205px;



		.select2-container {
		width: 205px;
		overflow: hidden;			
			a {
				width: 205px;
				border: 1px solid #fff;
				background: #fff;

				div {
					width: 22px;
					background: #fff;
					border: none;
				}
			}

		}


		&.price {
			background:transparent;
			.select2-container  {
				width: 95px;
				float: left;
				.basic-border-radius(4px);
				&.pull-right {
					float: right;
				}				
			}
		}

		.select2-container .select2-choice div b:before {
			left: -6px;
		}


		input[type=text] {
			width: 140px;
			color: @darkGreen;
			font-weight: bold;
			font-size: 16px;
		}

		input::-webkit-input-placeholder {
		    color:    #999;
		    font-weight: bold;
		}
		input:-moz-placeholder {
		    color:    #999;
		    font-weight: bold;
		}
		input:-ms-input-placeholder {
		    color:    #999;
		    font-weight: bold;
		}

		button.btn {
			width: 39px;
			height:38px;
			line-height: 30px;
			color: #F24100;

			i {
				&:before {
					font-size: 70px;
					position: relative;
					left: -3px;
					top: -5px;
				}
			}
		}

		input[type=text] , button.btn {
			float: left;
			border: none;
			height:30px;
			background: transparent;
		}
	}



	ul {

		list-style: none;	
		margin: 0 ;
		padding: 0 ;
		font-size: 13px;
		li {

			padding: 0 10px 0 25px;

			&.disabled {

				color: #ccc;

				&:hover {
					background: transparent;
					color: #ccc;
				}

				&:before {
					color: #ccc;
				}
			}

			span.counter {
				
				
				padding: 1px 2px;
				color: #ccc;
				font-size: 11px;

				&:before {
					content: '(';
				}

				&:after {
					content: ')';	
				}
			}

			a {
				display: block;	
				
				padding: 0 5px;
				&:hover {
					text-decoration: none;

					span.entypo-remove {
						visibility: visible;
					}					
				}

				span.entypo-remove {
					visibility: hidden;
				}
			}

			&:last-child {
				margin-bottom: 10px;
			}

			&:hover {
				background: #f5f7ea;
				color: @white;
				text-decoration: none;
			}
			
			&:before {
				  font-family: "entypo";
				  font-weight: normal;
				  font-style: normal;
				  
				  text-decoration: inherit;
				  content:'\E75E';
				  color: @brown;
				  font-size: 25px;
				  margin-right: 3px;
				  float: left;
				  line-height: 19px;
				  height: 20px;
				  position: relative;
				  left: -9px;
				  width: 0;

			}



			&.more {

				a {
					color: @brown;
				}

				&:before {
					content:'\E75C';	
					left: -11px;
				}

				&.open {
					&:before {
						content:'\E75F';	
					}					
				}

			}
		}




	}



		a.btnSearchClose {
			display: block;
			height: 28px;
			background: #fff;
			color: #999;
			line-height: 31px;
			text-align: center;
			width: 24px;
			float: right;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			border-left: 1px solid #ddd;
			position: relative;
			top: -28px;
			display: none;
			&:hover {
				text-decoration: none;
				color: #f26900;
			}
		}

	

}

