{control header:begin}
	{control css}
	{control js}
{control header:end}
<body>
	<div class="container baseRadius" id="container">
		<div class="row">

			{include ../header.latte}

			

			{include #content}


			{include ../Components/supFooter.latte}

			{include ../Components/footer.latte}

		</div>		
	</div>		
</body>

</html>