<div class="span12">
	<div class="rentaletailNavigaton">

	<a href="#" class="prev">
		<i class="entypo-prev"></i> 
	</a>

	<a class="menu" href="#">
		<i class="icon-list"></i>
	</a>

		<div class="content">
		<ul id="objectDetailNavBar">
			<li><a data-title="Object title 1" data-location="Object location 1" data-type="object type 1" data-thumb="http://www.tralandia.sk/u/06/13481350326739.jpg" href="#"><img alt="{_$rental->name}" n:fakeImage="" class="marginBottom" /></a></li>
			<li><a data-title="Object title" data-location="Object location" data-type="object type" data-thumb="http://www.tralandia.sk/u/62/13481447622502.jpg" href="#"><img alt="{_$rental->name}" n:fakeImage="" class="marginBottom" /></a></li>
			<li><a data-title="Object title" data-location="Object location" data-type="object type" data-thumb="http://www.tralandia.sk/u/62/13481447622502.jpg" href="#"><img alt="{_$rental->name}" n:fakeImage="" class="marginBottom" /></a></li>
			<li><a data-title="Object title" data-location="Object location" data-type="object type" data-thumb="http://www.tralandia.sk/u/62/13481447622502.jpg" href="#"><img alt="{_$rental->name}" n:fakeImage="" class="marginBottom" /></a></li>
			<li><a data-title="Object title" data-location="Object location" data-type="object type" data-thumb="http://www.tralandia.sk/u/62/13481447622502.jpg" href="#"><img alt="{_$rental->name}" n:fakeImage="" class="marginBottom" /></a></li>
			<li><a data-title="Object title" data-location="Object location" data-type="object type" data-thumb="http://www.tralandia.sk/u/62/13481447622502.jpg" href="#"><img alt="{_$rental->name}" n:fakeImage="" class="marginBottom" /></a></li>
			<li><a data-title="Object title" data-location="Object location" data-type="object type" data-thumb="http://www.tralandia.sk/u/62/13481447622502.jpg" href="#"><img alt="{_$rental->name}" n:fakeImage="" class="marginBottom" /></a></li>
			<li class="current"><a data-title="Object title" data-location="Object location" data-type="object type" data-thumb="http://www.tralandia.sk/u/62/13481447622502.jpg" href="#"><img alt="{_$rental->name}" n:fakeImage="" class="marginBottom" /></a></li>
			<li><a data-title="Object title" data-location="Object location" data-type="object type" data-thumb="http://www.tralandia.sk/u/62/13481447622502.jpg" href="#"><img alt="{_$rental->name}" n:fakeImage="" class="marginBottom" /></a></li>
			<li><a data-title="Object title" data-location="Object location" data-type="object type" data-thumb="http://www.tralandia.sk/u/62/13481447622502.jpg" href="#"><img alt="{_$rental->name}" n:fakeImage="" class="marginBottom" /></a></li>
			<li><a data-title="Object title" data-location="Object location" data-type="object type" data-thumb="http://www.tralandia.sk/u/62/13481447622502.jpg" href="#"><img alt="{_$rental->name}" n:fakeImage="" class="marginBottom" /></a></li>
			<li><a data-title="Object title" data-location="Object location" data-type="object type" data-thumb="http://www.tralandia.sk/u/62/13481447622502.jpg" href="#"><img alt="{_$rental->name}" n:fakeImage="" class="marginBottom" /></a></li>
			<li><a data-title="Object title" data-location="Object location" data-type="object type" data-thumb="http://www.tralandia.sk/u/62/13481447622502.jpg" href="#"><img alt="{_$rental->name}" n:fakeImage="" class="marginBottom" /></a></li>
			<li><a data-title="Object title" data-location="Object location" data-type="object type" data-thumb="http://www.tralandia.sk/u/62/13481447622502.jpg" href="#"><img alt="{_$rental->name}" n:fakeImage="" class="marginBottom" /></a></li>
			<li><a data-title="Object title" data-location="Object location" data-type="object type" data-thumb="http://www.tralandia.sk/u/62/13481447622502.jpg" href="#"><img alt="{_$rental->name}" n:fakeImage="" class="marginBottom" /></a></li>
			<li><a data-title="Object title" data-location="Object location" data-type="object type" data-thumb="http://www.tralandia.sk/u/62/13481447622502.jpg" href="#"><img alt="{_$rental->name}" n:fakeImage="" class="marginBottom" /></a></li>
			<li><a data-title="Object title" data-location="Object location" data-type="object type" data-thumb="http://www.tralandia.sk/u/62/13481447622502.jpg" href="#"><img alt="{_$rental->name}" n:fakeImage="" class="marginBottom" /></a></li>
		</ul> 
		</div>

	<a href="#" class="next">
		<i class="entypo-slider-right"></i>
	</a>

	</div>
</div>