
{block content}

{var $currentIso = $environment->getPrimaryLocation()->getIso()}
<h1 class="marginLeft pull-left">Calendar widget</h1>

{if count($rentals)>1}
	<select class="select2 pull-right marginTop marginRight" id="rentalSelect">
	<option>selct</option>
		<option n:foreach="$rentals as $rental" n:attr="selected => ($thisRental->id == $rental->id ? 'selected')" redirect="{plink //CalendarWidget:, id => $rental->id}">{_$rental->name}</option>
	</select>
{/if}

<div class="clearfix"></div>

<p>{_o2544}</p>
<p>Kalendár obsadenosti bude vždy aktuálny. Prvý zobrazený mesiac bude vždy aktuálny mesiac v roku.</p>

<form data-id="{$thisRental->id}" id="calendarWidgetControl" data-link-template="{!$linkTemplate}">

	<div class="control-group calendarWidgetControl clearfix">
		
		<div class="controls">
			
			<select name="rows" class="select2 notFulltext">
				<option n:for="$i = 1; $i <= 4; $i++" value="{$i}" n:attr="selected => ($i==4 ? 'selected')">{$i} {_o100180,null,[count=>$i]}</option>
			</select>
		</div> 
		
		<div class="controls">
			<select name="columns" class="select2 notFulltext">
				<option n:for="$i = 1; $i <= 4; $i++" value="{$i}" n:attr="selected => ($i==4 ? 'selected')">{$i} {_o100181,null,[count=>$i]}</option>
			</select>
		</div>

		<div class="controls">		
			<select name="iso" class="select2">
				<option n:foreach="$languages as $iso => $languageName" n:attr="selected => ($iso==$currentIso ? 'selected')" value="{$iso}">{$languageName}</option>
			</select>
		</div>
	</div>

</form>

<div id="calendarIframeViewer"></div>
<p>{_o2547}</p>
<textarea id="htmlOutputFromViewer" class="calendarWidgetLink autoselect" rows="3"></textarea>
