/* ľšč*/
div.clickMap {
    margin-bottom: 10px;
    position: relative;
    padding-top: 1px;
}
div.clickMapRegion {
    position: absolute;
    display: none;
}
table.clickMapLabel {
    position: absolute;
    max-width: 120px;
    display: none;
}
table.clickMapLabel tr:first-child td {
    background: #fff;
    border: 1px solid #e0d6cc;
    border-bottom: 0;
    padding: 0 3px 3px;
    margin: 0;
}
table.clickMapLabel tr:last-child td {
    height: 13px;
    background: url(../images/matrix_main.png) 50% -2403px;
}
div.clickMapSmallRegion {
    position: absolute;
    display: none;
    width: 12px;
    height: 12px;
    background: url(../images/matrix_main.png) -890px -2245px;
}
a.clickMapBox {
    position: absolute;
    width: 119px;
    height: 118px;
    text-decoration: none;
}
a.clickMapBox div {
    color: #fff;
    margin: 10px 10px 0 12px;
    text-align: center;
    height: 17px;
    overflow: hidden;
}
a.clickMapBox.rid200 {
    background: url(../images/matrix_usnv.clickMapCountry.png) -350px 0px;
    top: 40px;
    left: 10px;
}
a.clickMapBox.rid200:hover {
    background-position: -350px -130px;
}
a.clickMapBox.rid201 {
    background: url(../images/matrix_usnv.clickMapCountry.png) -480px 0px;
    top: 155px;
    left: 10px;
}
a.clickMapBox.rid201:hover {
    background-position: -480px -130px;
}
div.clickMap.usnv {
    height: 515px; /* padding-top 1px */
    background: url(../images/sk.clickmap.png) no-repeat;
}
div.clickMap.usnv div.clickMapCountry {
    position: absolute;
    width: 330px;
    height: 390px;
    background: url(../images/matrix_usnv.clickMapCountry.png);
    top: 40px;
    left: 200px;
}
div.clickMap.usnv img.clickMapImgmap {
    position: absolute;
    width: 330px;
    height: 390px;
}
div.clickMap.usnv div.clickMapRegion {
    background: url(../images/matrix_usnv.clickMapCountry.png);
}
div.clickMap.usnv div.rid1 {
    width: 32px;
    height: 132px;
    background-position: 0px -430px;
    left: 14px;
    top: 15px;
}
div.clickMap.usnv div.rid2 {
    width: 83px;
    height: 71px;
    background-position: -50px -430px;
    left: 41px;
    top: 15px;
}
div.clickMap.usnv div.rid3 {
    width: 74px;
    height: 47px;
    background-position: -150px -430px;
    left: 40px;
    top: 63px;
}
div.clickMap.usnv div.rid4 {
    width: 107px;
    height: 90px;
    background-position: -240px -430px;
    left: 123px;
    top: 14px;
}
div.clickMap.usnv div.rid5 {
    width: 68px;
    height: 68px;
    background-position: -370px -430px;
    left: 163px;
    top: 102px;
}
div.clickMap.usnv div.rid6 {
    width: 30px;
    height: 88px;
    background-position: -460px -430px;
    left: 137px;
    top: 62px;
}
div.clickMap.usnv div.rid7 {
    width: 44px;
    height: 88px;
    background-position: -510px -430px;
    left: 94px;
    top: 63px;
}
div.clickMap.usnv div.rid8 {
    width: 65px;
    height: 45px;
    background-position: 0px -600px;
    left: 43px;
    top: 108px;
}
div.clickMap.usnv div.rid9 {
    width: 17px;
    height: 17px;
    background-position: -90px -600px;
    left:25px;
    top: 126px;
}
div.clickMap.usnv div.rid10 {
    width: 17px;
    height: 8px;
    background-position: -150px -600px;
    left: 14px;
    top: 143px;
}
div.clickMap.usnv div.rid11 {
    width: 36px;
    height: 62px;
    background-position: -200px -600px;
    left: 25px;
    top: 121px;
}
div.clickMap.usnv div.rid12 {
    width: 27px;
    height: 29px;
    background-position: -260px -600px;
    left: 13px;
    top: 147px;
}
div.clickMap.usnv div.rid13 {
    width: 55px;
    height: 57px;
    background-position: -310px -600px;
    left: 44px;
    top: 152px;
}
div.clickMap.usnv div.rid14 {
    width: 47px;
    height: 70px;
    background-position: -390px -600px;
    left: 71px;
    top: 180px;
}
div.clickMap.usnv div.rid15 {
    width: 117px;
    height: 148px;
    background-position: -460px -600px;
    left: 80px;
    top: 148px;
}
div.clickMap.usnv div.rid16 {
    width: 70px;
    height: 88px;
    background-position: 0px -750px;
    left: 164px;
    top: 169px;
}
div.clickMap.usnv div.rid17 {
    width: 70px;
    height: 87px;
    background-position: -90px -750px;
    left: 165px;
    top: 254px;
}


div.clickMapTabs {
    margin-top: 382px;
    margin-left: 17px;
    padding-top: 1px;
}

div.clickMapTabs .tabBar {
    height: 32px;
    overflow: hidden;
    margin-left: 3px;
}
div.clickMapTabs .tabBar a, div.clickMapTabs .tabBar a * {
    text-decoration: none;
    color: #663300;
    font-size: 14px;
    font-weight: bold;
}
div.clickMapTabs .tabBar a * {
    background: url(../images/matrix_bt.png);
    height: 24px;
    overflow: hidden;
    padding-top: 8px;
}
div.clickMapTabs .tabBar a h3 {
    float: left;
    background-position: -2px -445px;
    padding-left: 7px;
}
div.clickMapTabs .tabBar a span {
    display: block;
    float: left;
    background-position: right -445px;
    padding-right: 3px;
}
div.clickMapTabs .tabBar a.active h3 {
    background-position: -2px -407px;
}
div.clickMapTabs .tabBar a.active span {
    background-position: right -407px;
}

div.clickMapTabs div.tabContent {
    height: 74px;
    background: url(../images/matrix_main.png) 0px -2255px;
}

div.clickMapTabs div.tabContent ul {
    display: block;
    width: 130px;
    float: left;
    margin: 9px 0px 0px 10px;
}
div.clickMapTabs div.tabContent ul span {
    background: url(../images/matrix_main.png) -320px -1028px;
    padding: 0px 0px 0px 11px;
    position: absolute;
}
div.clickMapTabs div.tabContent a {
    display: block;
    padding: 0px 0px 5px 16px;
}
div.clickMapTabs div.tabContent a:hover {
    color: #f30808;
}

div.clickMapNavigator {
    position: absolute;
    width: 120px;
    height: 369px;
    /*overflow: hidden;*/
    background: url(../images/matrix_main.png) -762px -2226px;
    top: 10px;
    left: 613px;
    padding-top: 10px;
    text-align: center;
}
div.clickMapNavigator .holder {
    height: 334px;
    margin-bottom: 0px;
    /*overflow: hidden;*/
}
div.clickMapNavigator .holder a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: 0px 9px 0px 9px;
    padding: 7px 0px 7px 0px;
}
div.clickMapNavigator .holder a:hover {
    background: url(../images/matrix_main.png) 0 -2355px;
}
div.clickMapNavigator a.top {
    font-weight: bold;
    border-bottom: 1px solid #878f93;
}
div.clickMapNavigator .iconHolder {
    position: relative;
}
div.clickMapNavigator .icon {
    display: none;
    width: 107px;
    height: 75px;
    position: absolute;
    background: url(../images/matrix_main.png) -121px -2346px;
    top: -24px;
    left: -90px;
    text-align: left;
}
div.clickMapNavigator .icon img {
    margin: 12px 0px 0px 13px;
}
div.clickMapNavigator .more {
    display: block;
    height: 21px;
    color: #fff;
    text-decoration: none;
    margin: 5px 9px 0px 8px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
}
div.clickMapNavigator .more:hover {
    background: url(../images/matrix_main.png) -769px -2645px;
}
div.clickMapNavigator .more span {
    background: url(../images/matrix_main.png) -318px -1168px;
    padding-left: 10px;
}
div.clickMapNavigator .more:hover span {
    background-position: -316px -1168px;
}
img.clickMapTitle {
    position: absolute;
    top: 12px;
    left: 15px;
}