/* ľšč*/
div.clickMap {
    margin-bottom: 10px;
    position: relative;
    padding-top: 1px;
}
div.clickMapRegion {
    position: absolute;
    display: none;
}
table.clickMapLabel {
    position: absolute;
    max-width: 120px;
    display: none;
}
table.clickMapLabel tr:first-child td {
    background: #fff;
    border: 1px solid #e0d6cc;
    border-bottom: 0;
    padding: 0 3px 3px;
    margin: 0;
}
table.clickMapLabel tr:last-child td {
    height: 13px;
    background: url(../images/matrix_main.png) 50% -2403px;
}
div.clickMapSmallRegion {
    position: absolute;
    display: none;
    width: 12px;
    height: 12px;
    background: url(../images/matrix_main.png) -890px -2245px;
}
a.clickMapBox {
    position: absolute;
    width: 119px;
    height: 118px;
    text-decoration: none;
}
a.clickMapBox div {
    color: #fff;
    margin: 10px 10px 0 12px;
    text-align: center;
    height: 17px;
    overflow: hidden;
}
a.clickMapBox.rid200 {
    background: url(../images/matrix_dk.clickMapCountry.png) -400px 0px;
    top: 40px;
    left: 10px;
}
a.clickMapBox.rid200:hover {
    background-position: -400px -120px;
}
a.clickMapBox.rid201 {
    background: url(../images/matrix_se.clickMapCountry.png) -130px -410px;
    top: 265px;
    left: 10px;
}
a.clickMapBox.rid201:hover {
    background-position: -130px -540px;
}
div.clickMap.dk {
    height: 515px; /* padding-top 1px */
    background: url(../images/sk.clickmap.png) no-repeat;
}
div.clickMap.dk div.clickMapCountry {
    position: absolute;
    width: 380px;
    height: 400px;
    background: url(../images/matrix_dk.clickMapCountry.png);
    top: 0px;
    left: 140px;
}
div.clickMap.dk img.clickMapImgmap {
    position: absolute;
    width: 380px;
    height: 400px;
}
div.clickMap.dk div.clickMapRegion {
    background: url(../images/matrix_dk.clickMapCountry.png);
}
div.clickMap.dk div.rid1 {
    width: 102px;
    height: 99px;
    background-position: 0px -430px;
    left: 108px;
    top: 129px;
}
div.clickMap.dk div.rid2 {
    width: 177px;
    height: 142px;
    background-position: -120px -430px;
    left: 61px;
    top: 29px;
}
div.clickMap.dk div.rid3 {
    width: 88px;
    height:156px;
    background-position: -330px -430px;
    left: 28px;
    top: 105px;
}
div.clickMap.dk div.rid4 {
    width: 109px;
    height: 129px;
    background-position: -450px -430px;
    left: 40px;
    top: 183px;
}
div.clickMap.dk div.rid5 {
    width: 68px;
    height: 95px;
    background-position: 0px -630px;
    left: 118px;
    top: 239px;
}
div.clickMap.dk div.rid6 {
    width: 29px;
    height: 35px;
    background-position: -120px -630px;
    left: 323px;
    top: 317px;
}
div.clickMap.dk div.rid7 {
    width: 62px;
    height: 86px;
    background-position: -170px -630px;
    left: 192px;
    top: 210px;
}
div.clickMap.dk div.rid8 {
    width: 97px;
    height: 88px;
    background-position: -260px -630px;
    left: 179px;
    top: 277px;
}
div.clickMap.dk div.rid9 {
    width: 49px;
    height: 65px;
    background-position: -380px -630px;
    left: 243px;
    top: 224px;
}
div.clickMap.dk div.rid10 {
    width: 42px;
    height: 39px;
    background-position: -450px -630px;
    left: 253px;
    top: 208px;
}
div.clickMap.dk div.rid11 {
    width: 9px;
    height: 11px;
    background-position: -510px -630px;
    left: 284px;
    top: 256px;
}
div.clickMap.dk div.rid12 {
    width: 90px;
    height: 45px;
    background-position: -400px -440px;
    left: 150px;
    top: 30px;
}
div.clickMap.dk div.rid13 {
    width: 75px;
    height: 75px;
    background-position: -500px -440px;
    left: 234px;
    top: 15px;
}
div.clickMap.dk div.rid14 {
    width: 90px;
    height: 65px;
    background-position: 0px -580px;
    left: 235px;
    top: 67px;
}
div.clickMap.dk div.rid15 {
    width: 120px;
    height: 50px;
    background-position: -110px -580px;
    left: 225px;
    top: 117px;
}
div.clickMap.dk div.rid16 {
    width: 75px;
    height: 70px;
    background-position: -230px -580px;
    left: 246px;
    top: 159px;
}
div.clickMap.dk div.rid17 {
    width: 90px;
    height: 115px;
    background-position: -310px -580px;
    left: 296px;
    top: 116px;
}
div.clickMap.dk div.rid18 {
    width: 100px;
    height: 85px;
    background-position: -400px -580px;
    left: 300px;
    top: 41px;
}
div.clickMap.dk div.rid19 {
    width: 60px;
    height: 35px;
    background-position: -500px -580px;
    left: 357px;
    top: 37px;
}
div.clickMap.dk div.rid20 {
    width: 80px;
    height: 70px;
    background-position: 0px -695px;
    left: 348px;
    top: 84px;
}
div.clickMap.dk div.rid21 {
    width: 100px;
    height: 55px;
    background-position: -90px -695px;
    left: 373px;
    top: 115px;
}
div.clickMap.dk div.rid22 {
    width: 105px;
    height: 100px;
    background-position: -200px -695px;
    left: 392px;
    top: 26px;
}
div.clickMap.dk div.rid23 {
    width: 115px;
    height: 165px;
    background-position: -310px -695px;
    left: 455px;
    top: 30px;
}


div.clickMapTabs {
    margin-top: 382px;
    margin-left: 17px;
    padding-top: 1px;
}

div.clickMapTabs .tabBar {
    height: 32px;
    overflow: hidden;
    margin-left: 3px;
}
div.clickMapTabs .tabBar a, div.clickMapTabs .tabBar a * {
    text-decoration: none;
    color: #663300;
    font-size: 14px;
    font-weight: bold;
}
div.clickMapTabs .tabBar a * {
    background: url(../images/matrix_bt.png);
    height: 24px;
    overflow: hidden;
    padding-top: 8px;
}
div.clickMapTabs .tabBar a h3 {
    float: left;
    background-position: -2px -445px;
    padding-left: 7px;
}
div.clickMapTabs .tabBar a span {
    display: block;
    float: left;
    background-position: right -445px;
    padding-right: 3px;
}
div.clickMapTabs .tabBar a.active h3 {
    background-position: -2px -407px;
}
div.clickMapTabs .tabBar a.active span {
    background-position: right -407px;
}

div.clickMapTabs div.tabContent {
    height: 74px;
    background: url(../images/matrix_main.png) 0px -2255px;
}

div.clickMapTabs div.tabContent ul {
    display: block;
    width: 130px;
    float: left;
    margin: 9px 0px 0px 10px;
}
div.clickMapTabs div.tabContent ul span {
    background: url(../images/matrix_main.png) -320px -1028px;
    padding: 0px 0px 0px 11px;
    position: absolute;
}
div.clickMapTabs div.tabContent a {
    display: block;
    padding: 0px 0px 5px 16px;
}
div.clickMapTabs div.tabContent a:hover {
    color: #f30808;
}

div.clickMapNavigator {
    position: absolute;
    width: 120px;
    height: 369px;
    /*overflow: hidden;*/
    background: url(../images/matrix_main.png) -762px -2226px;
    top: 10px;
    left: 613px;
    padding-top: 10px;
    text-align: center;
}
div.clickMapNavigator .holder {
    height: 334px;
    margin-bottom: 0px;
    /*overflow: hidden;*/
}
div.clickMapNavigator .holder a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: 0px 9px 0px 9px;
    padding: 7px 0px 7px 0px;
}
div.clickMapNavigator .holder a:hover {
    background: url(../images/matrix_main.png) 0 -2355px;
}
div.clickMapNavigator a.top {
    font-weight: bold;
    border-bottom: 1px solid #878f93;
}
div.clickMapNavigator .iconHolder {
    position: relative;
}
div.clickMapNavigator .icon {
    display: none;
    width: 107px;
    height: 75px;
    position: absolute;
    background: url(../images/matrix_main.png) -121px -2346px;
    top: -24px;
    left: -90px;
    text-align: left;
}
div.clickMapNavigator .icon img {
    margin: 12px 0px 0px 13px;
}
div.clickMapNavigator .more {
    display: block;
    height: 21px;
    color: #fff;
    text-decoration: none;
    margin: 5px 9px 0px 8px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
}
div.clickMapNavigator .more:hover {
    background: url(../images/matrix_main.png) -769px -2645px;
}
div.clickMapNavigator .more span {
    background: url(../images/matrix_main.png) -318px -1168px;
    padding-left: 10px;
}
div.clickMapNavigator .more:hover span {
    background-position: -316px -1168px;
}
img.clickMapTitle {
    position: absolute;
    top: 12px;
    left: 15px;
}