/* ľšč*/
div.clickMap {
    margin-bottom: 10px;
    position: relative;
    padding-top: 1px;
}
div.clickMapRegion {
    position: absolute;
    display: none;
}
table.clickMapLabel {
    position: absolute;
    max-width: 120px;
    display: none;
}
table.clickMapLabel tr:first-child td {
    background: #fff;
    border: 1px solid #e0d6cc;
    border-bottom: 0;
    padding: 0 3px 3px;
    margin: 0;
}
table.clickMapLabel tr:last-child td {
    height: 13px;
    background: url(../images/matrix_main.png) 50% -2403px;
}
div.clickMapSmallRegion {
    position: absolute;
    display: none;
    width: 12px;
    height: 12px;
    background: url(../images/matrix_main.png) -890px -2245px;
}
a.clickMapBox {
    position: absolute;
    width: 119px;
    height: 118px;
    text-decoration: none;
}
a.clickMapBox div {
    color: #fff;
    margin: 10px 10px 0 12px;
    text-align: center;
    height: 17px;
    overflow: hidden;
}
a.clickMapBox.rid200 {
    background: url(../images/matrix_usak.clickMapCountry.png) 0px -890px;
    top: 35px;
    left: 10px;
}
a.clickMapBox.rid200:hover {
    background-position: 0px -1010px;
}
a.clickMapBox.rid201 {
    background: url(../images/matrix_usak.clickMapCountry.png) -120px -890px;
    top: 150px;
    left: 10px;
}
a.clickMapBox.rid201:hover {
    background-position: -120px -1010px;
}
a.clickMapBox.rid202 {
    background: url(../images/matrix_usak.clickMapCountry.png) -240px -890px;
    top: 35px;
    left: 490px;
}
a.clickMapBox.rid202:hover {
    background-position: -240px -1010px;
}
a.clickMapBox.rid203 {
    background: url(../images/matrix_se.clickMapCountry.png) -130px -410px;
    top: 150px;
    left: 490px;
}
a.clickMapBox.rid203:hover {
    background-position: -130px -540px;
}
div.clickMap.usak {
    height: 515px; /* padding-top 1px */
    background: url(../images/sk.clickmap.png) no-repeat;
}
div.clickMap.usak div.clickMapCountry {
    position: absolute;
    width: 555px;
    height: 380px;
    background: url(../images/matrix_usak.clickMapCountry.png);
    top: 10px;
    left: 20px;
}
div.clickMap.usak img.clickMapImgmap {
    position: absolute;
    width: 555px;
    height: 380px;
}
div.clickMap.usak div.clickMapRegion {
    background: url(../images/matrix_usak.clickMapCountry.png);
}
div.clickMap.usak div.rid1 {
    width: 177px;
    height: 75px;
    background-position: 0px -430px;
    left: 243px;
    top: 29px;
}
div.clickMap.usak div.rid2 {
    width: 81px;
    height: 62px;
    background-position: -200px -430px;
    left: 242px;
    top: 70px;
}
div.clickMap.usak div.rid3 {
    width: 110px;
    height: 73px;
    background-position: -300px -430px;
    left: 168px;
    top: 99px;
}
div.clickMap.usak div.rid4 {
    width: 53px;
    height: 38px;
    background-position: -430px -430px;
    left: 197px;
    top: 159px;
}
div.clickMap.usak div.rid5 {
    width: 59px;
    height: 45px;
    background-position: -510px -430px;
    left: 222px;
    top: 215px;
}
div.clickMap.usak div.rid6 {
    width: 137px;
    height: 58px;
    background-position: 0px -530px;
    left: 176px;
    top: 191px;
}
div.clickMap.usak div.rid7 {
    width: 86px;
    height: 84px;
    background-position: -170px -530px;
    left: 218px;
    top: 222px;
}
div.clickMap.usak div.rid8 {
    width: 10px;
    height: 7px;
    background-position: -300px -530px;
    left: 259px;
    top: 256px;
}
div.clickMap.usak div.rid9 {
    width: 175px;
    height: 113px;
    background-position: -350px -530px;
    left: 244px;
    top: 93px;
}
div.clickMap.usak div.rid10 {
    width: 85px;
    height: 25px;
    background-position: 0px -660px;
    left: 146px;
    top: 290px;
}
div.clickMap.usak div.rid11 {
    width: 111px;
    height: 37px;
    background-position: -170px -660px;
    left: 29px;
    top: 282px;
}
div.clickMap.usak div.rid12 {
    width: 40px;
    height:23px;
    background-position: -330px -660px;
    left: 356px;
    top: 151px;
}
div.clickMap.usak div.rid13 {
    width: 52px;
    height: 29px;
    background-position: -400px -660px;
    left: 314px;
    top: 167px;
}
div.clickMap.usak div.rid14 {
    width: 62px;
    height: 40px;
    background-position: -490px -660px;
    left: 310px;
    top: 187px;
}
div.clickMap.usak div.rid15 {
    width: 63px;
    height: 51px;
    background-position: 0px -740px;
    left: 284px;
    top: 216px;
}
div.clickMap.usak div.rid16 {
    width: 29px;
    height: 28px;
    background-position: -90px -740px;
    left: 278px;
    top: 274px;
}
div.clickMap.usak div.rid17 {
    width: 56px;
    height: 75px;
    background-position: -150px -740px;
    left: 362px;
    top: 146px;
}
div.clickMap.usak div.rid18 {
    width: 72px;
    height: 67px;
    background-position: -240px -740px;
    left: 346px;
    top: 194px;
}
div.clickMap.usak div.rid19 {
    width: 16px;
    height: 15px;
    background-position: -330px -740px;
    left: 335px;
    top: 223px;
}
div.clickMap.usak div.rid20 {
    width: 33px;
    height: 28px;
    background-position: -370px -740px;
    left: 417px;
    top: 250px;
}
div.clickMap.usak div.rid21 {
    width: 56px;
    height: 50px;
    background-position: -430px -740px;
    left: 447px;
    top: 259px;
}
div.clickMap.usak div.rid22 {
    width: 23px;
    height: 33px;
    background-position: -510px -740px;
    left: 461px;
    top: 292px;
}
div.clickMap.usak div.rid23 {
    width: 21px;
    height: 27px;
    background-position: -550px -740px;
    left: 460px;
    top: 261px;
}
div.clickMap.usak div.rid24 {
    width: 19px;
    height: 22px;
    background-position: 0px -850px;
    left: 476px;
    top: 273px;
}
div.clickMap.usak div.rid25 {
    width: 42px;
    height: 32px;
    background-position: -90px -850px;
    left: 492px;
    top: 320px;
}
div.clickMap.usak div.rid26 {
    width: 11px;
    height: 22px;
    background-position: -240px -850px;
    left: 514px;
    top: 326px;
}
div.clickMap.usak div.rid27 {
    width: 37px;
    height: 32px;
    background-position: -330px -850px;
    left: 484px;
    top: 300px;
}


div.clickMapTabs {
    margin-top: 382px;
    margin-left: 17px;
    padding-top: 1px;
}

div.clickMapTabs .tabBar {
    height: 32px;
    overflow: hidden;
    margin-left: 3px;
}
div.clickMapTabs .tabBar a, div.clickMapTabs .tabBar a * {
    text-decoration: none;
    color: #663300;
    font-size: 14px;
    font-weight: bold;
}
div.clickMapTabs .tabBar a * {
    background: url(../images/matrix_bt.png);
    height: 24px;
    overflow: hidden;
    padding-top: 8px;
}
div.clickMapTabs .tabBar a h3 {
    float: left;
    background-position: -2px -445px;
    padding-left: 7px;
}
div.clickMapTabs .tabBar a span {
    display: block;
    float: left;
    background-position: right -445px;
    padding-right: 3px;
}
div.clickMapTabs .tabBar a.active h3 {
    background-position: -2px -407px;
}
div.clickMapTabs .tabBar a.active span {
    background-position: right -407px;
}

div.clickMapTabs div.tabContent {
    height: 74px;
    background: url(../images/matrix_main.png) 0px -2255px;
}

div.clickMapTabs div.tabContent ul {
    display: block;
    width: 130px;
    float: left;
    margin: 9px 0px 0px 10px;
}
div.clickMapTabs div.tabContent ul span {
    background: url(../images/matrix_main.png) -320px -1028px;
    padding: 0px 0px 0px 11px;
    position: absolute;
}
div.clickMapTabs div.tabContent a {
    display: block;
    padding: 0px 0px 5px 16px;
}
div.clickMapTabs div.tabContent a:hover {
    color: #f30808;
}

div.clickMapNavigator {
    position: absolute;
    width: 120px;
    height: 369px;
    /*overflow: hidden;*/
    background: url(../images/matrix_main.png) -762px -2226px;
    top: 10px;
    left: 613px;
    padding-top: 10px;
    text-align: center;
}
div.clickMapNavigator .holder {
    height: 334px;
    margin-bottom: 0px;
    /*overflow: hidden;*/
}
div.clickMapNavigator .holder a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: 0px 9px 0px 9px;
    padding: 7px 0px 7px 0px;
}
div.clickMapNavigator .holder a:hover {
    background: url(../images/matrix_main.png) 0 -2355px;
}
div.clickMapNavigator a.top {
    font-weight: bold;
    border-bottom: 1px solid #878f93;
}
div.clickMapNavigator .iconHolder {
    position: relative;
}
div.clickMapNavigator .icon {
    display: none;
    width: 107px;
    height: 75px;
    position: absolute;
    background: url(../images/matrix_main.png) -121px -2346px;
    top: -24px;
    left: -90px;
    text-align: left;
}
div.clickMapNavigator .icon img {
    margin: 12px 0px 0px 13px;
}
div.clickMapNavigator .more {
    display: block;
    height: 21px;
    color: #fff;
    text-decoration: none;
    margin: 5px 9px 0px 8px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
}
div.clickMapNavigator .more:hover {
    background: url(../images/matrix_main.png) -769px -2645px;
}
div.clickMapNavigator .more span {
    background: url(../images/matrix_main.png) -318px -1168px;
    padding-left: 10px;
}
div.clickMapNavigator .more:hover span {
    background-position: -316px -1168px;
}
img.clickMapTitle {
    position: absolute;
    top: 12px;
    left: 15px;
}