/* ľšč*/
div.clickMap {
    margin-bottom: 10px;
    position: relative;
    padding-top: 1px;
}
div.clickMapRegion {
    position: absolute;
    display: none;
}
table.clickMapLabel {
    position: absolute;
    max-width: 120px;
    display: none;
}
table.clickMapLabel tr:first-child td {
    background: #fff;
    border: 1px solid #e0d6cc;
    border-bottom: 0;
    padding: 0 3px 3px;
    margin: 0;
}
table.clickMapLabel tr:last-child td {
    height: 13px;
    background: url(../images/matrix_main.png) 50% -2403px;
}
div.clickMapSmallRegion {
    position: absolute;
    display: none;
    width: 12px;
    height: 12px;
    background: url(../images/matrix_main.png) -890px -2245px;
}
a.clickMapBox {
    position: absolute;
    width: 119px;
    height: 118px;
    text-decoration: none;
}
a.clickMapBox div {
    color: #fff;
    margin: 10px 10px 0 12px;
    text-align: center;
    height: 17px;
    overflow: hidden;
}
a.clickMapBox.rid200 {
    background: url(../images/matrix_se.clickMapCountry.png) 0px -410px;
    top: 40px;
    left: 10px;
}
a.clickMapBox.rid200:hover {
    background-position: 0px -540px;
}
a.clickMapBox.rid201 {
    background: url(../images/matrix_se.clickMapCountry.png) -130px -410px;
    top: 265px;
    left: 10px;
}
a.clickMapBox.rid201:hover {
    background-position: -130px -540px;
}
div.clickMap.pl {
    height: 515px; /* padding-top 1px */
    background: url(../images/sk.clickmap.png) no-repeat;
}
div.clickMap.pl div.clickMapCountry {
    position: absolute;
    width: 385px;
    height: 360px;
    background: url(../images/matrix_pl.clickMapCountry.png);
    top: 20px;
    left: 130px;
}
div.clickMap.pl img.clickMapImgmap {
    position: absolute;
    width: 385px;
    height: 360px;
}
div.clickMap.pl div.clickMapRegion {
    background: url(../images/matrix_pl.clickMapCountry.png);
}
div.clickMap.pl div.rid1 {
    width: 99px;
    height: 106px;
    background-position: 0px -370px;
    left: 15px;
    top: 31px;
}
div.clickMap.pl div.rid2 {
    width: 66px;
    height: 101px;
    background-position: -110px -370px;
    left: 27px;
    top: 112px;
}
div.clickMap.pl div.rid3 {
    width: 109px;
    height: 104px;
    background-position: -190px -370px;
    left: 32px;
    top: 187px;
}
div.clickMap.pl div.rid4 {
    width: 64px;
    height: 72px;
    background-position: -310px -370px;
    left: 107px;
    top: 227px;
}
div.clickMap.pl div.rid5 {
    width: 69px;
    height: 101px;
    background-position: -380px -370px;
    left: 148px;
    top: 232px;
}
div.clickMap.pl div.rid6 {
    width: 87px;
    height: 78px;
    background-position: -460px -370px;
    left: 186px;
    top: 267px;
}
div.clickMap.pl div.rid7 {
    width: 87px;
    height: 104px;
    background-position: -0px -490px;
    left: 262px;
    top: 248px;
}
div.clickMap.pl div.rid8 {
    width: 91px;
    height: 120px;
    background-position: -110px -490px;
    left: 278px;
    top: 160px;
}
div.clickMap.pl div.rid9 {
    width: 80px;
    height: 67px;
    background-position: -210px -490px;
    left: 208px;
    top: 219px;
}
div.clickMap.pl div.rid10 {
    width: 136px;
    height: 143px;
    background-position: -310px -490px;
    left: 193px;
    top: 94px;
}
div.clickMap.pl div.rid11 {
    width: 95px;
    height: 91px;
    background-position: -460px -490px;
    left: 149px;
    top: 157px;
}
div.clickMap.pl div.rid12 {
    width: 116px;
    height: 147px;
    background-position: -0px -650px;
    left: 71px;
    top: 84px;
}
div.clickMap.pl div.rid13 {
    width: 84px;
    height: 84px;
    background-position: -130px -650px;
    left: 124px;
    top: 77px;
}
div.clickMap.pl div.rid14 {
    width: 100px;
    height: 78px;
    background-position: -230px -650px;
    left: 106px;
    top: 14px;
}
div.clickMap.pl div.rid15 {
    width: 124px;
    height: 76px;
    background-position: -340px -650px;
    left: 188px;
    top: 38px;
}
div.clickMap.pl div.rid16 {
    width: 84px;
    height: 123px;
    background-position: -480px -650px;
    left: 272px;
    top: 38px;
}
div.clickMap.pl div.rid17 {
    width: 166px;
    height: 133px;
    background-position: -180px -760px;
    left: 113px;
    top: 69px;
}
div.clickMap.pl div.rid18 {
    width: 100px;
    height: 85px;
    background-position: -400px -580px;
    left: 300px;
    top: 41px;
}
div.clickMap.pl div.rid19 {
    width: 60px;
    height: 35px;
    background-position: -500px -580px;
    left: 357px;
    top: 37px;
}
div.clickMap.pl div.rid20 {
    width: 80px;
    height: 70px;
    background-position: 0px -695px;
    left: 348px;
    top: 84px;
}
div.clickMap.pl div.rid21 {
    width: 100px;
    height: 55px;
    background-position: -90px -695px;
    left: 373px;
    top: 115px;
}
div.clickMap.pl div.rid22 {
    width: 105px;
    height: 100px;
    background-position: -200px -695px;
    left: 392px;
    top: 26px;
}
div.clickMap.pl div.rid23 {
    width: 115px;
    height: 165px;
    background-position: -310px -695px;
    left: 455px;
    top: 30px;
}


div.clickMapTabs {
    margin-top: 382px;
    margin-left: 17px;
    padding-top: 1px;
}

div.clickMapTabs .tabBar {
    height: 32px;
    overflow: hidden;
    margin-left: 3px;
}
div.clickMapTabs .tabBar a, div.clickMapTabs .tabBar a * {
    text-decoration: none;
    color: #663300;
    font-size: 14px;
    font-weight: bold;
}
div.clickMapTabs .tabBar a * {
    background: url(../images/matrix_bt.png);
    height: 24px;
    overflow: hidden;
    padding-top: 8px;
}
div.clickMapTabs .tabBar a h3 {
    float: left;
    background-position: -2px -445px;
    padding-left: 7px;
}
div.clickMapTabs .tabBar a span {
    display: block;
    float: left;
    background-position: right -445px;
    padding-right: 3px;
}
div.clickMapTabs .tabBar a.active h3 {
    background-position: -2px -407px;
}
div.clickMapTabs .tabBar a.active span {
    background-position: right -407px;
}

div.clickMapTabs div.tabContent {
    height: 74px;
    background: url(../images/matrix_main.png) 0px -2255px;
}

div.clickMapTabs div.tabContent ul {
    display: block;
    width: 130px;
    float: left;
    margin: 9px 0px 0px 10px;
}
div.clickMapTabs div.tabContent ul span {
    background: url(../images/matrix_main.png) -320px -1028px;
    padding: 0px 0px 0px 11px;
    position: absolute;
}
div.clickMapTabs div.tabContent a {
    display: block;
    padding: 0px 0px 5px 16px;
}
div.clickMapTabs div.tabContent a:hover {
    color: #f30808;
}

div.clickMapNavigator {
    position: absolute;
    width: 120px;
    height: 369px;
    /*overflow: hidden;*/
    background: url(../images/matrix_main.png) -762px -2226px;
    top: 10px;
    left: 613px;
    padding-top: 10px;
    text-align: center;
}
div.clickMapNavigator .holder {
    height: 334px;
    margin-bottom: 0px;
    /*overflow: hidden;*/
}
div.clickMapNavigator .holder a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: 0px 9px 0px 9px;
    padding: 7px 0px 7px 0px;
}
div.clickMapNavigator .holder a:hover {
    background: url(../images/matrix_main.png) 0 -2355px;
}
div.clickMapNavigator a.top {
    font-weight: bold;
    border-bottom: 1px solid #878f93;
}
div.clickMapNavigator .iconHolder {
    position: relative;
}
div.clickMapNavigator .icon {
    display: none;
    width: 107px;
    height: 75px;
    position: absolute;
    background: url(../images/matrix_main.png) -121px -2346px;
    top: -24px;
    left: -90px;
    text-align: left;
}
div.clickMapNavigator .icon img {
    margin: 12px 0px 0px 13px;
}
div.clickMapNavigator .more {
    display: block;
    height: 21px;
    color: #fff;
    text-decoration: none;
    margin: 5px 9px 0px 8px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
}
div.clickMapNavigator .more:hover {
    background: url(../images/matrix_main.png) -769px -2645px;
}
div.clickMapNavigator .more span {
    background: url(../images/matrix_main.png) -318px -1168px;
    padding-left: 10px;
}
div.clickMapNavigator .more:hover span {
    background-position: -316px -1168px;
}
img.clickMapTitle {
    position: absolute;
    top: 12px;
    left: 15px;
}