/* ľšč*/
div.clickMap {
    margin-bottom: 10px;
    position: relative;
    padding-top: 1px;
}
div.clickMapRegion {
    position: absolute;
    display: none;
}
table.clickMapLabel {
    position: absolute;
    max-width: 120px;
    display: none;
}
table.clickMapLabel tr:first-child td {
    background: #fff;
    border: 1px solid #e0d6cc;
    border-bottom: 0;
    padding: 0 3px 3px;
    margin: 0;
}
table.clickMapLabel tr:last-child td {
    height: 13px;
    background: url(../images/matrix_main.png) 50% -2403px;
}
div.clickMapSmallRegion {
    position: absolute;
    display: none;
    width: 12px;
    height: 12px;
    background: url(../images/matrix_main.png) -890px -2245px;
}
a.clickMapBox {
    position: absolute;
    width: 119px;
    height: 118px;
    text-decoration: none;
}
a.clickMapBox div {
    color: #fff;
    margin: 10px 10px 0 12px;
    text-align: center;
    height: 17px;
    overflow: hidden;
}
a.clickMapBox.rid200 {
    background: url(../images/matrix_se.clickMapCountry.png) 0px -410px;
    top: 40px;
    left: 10px;
}
a.clickMapBox.rid200:hover {
    background-position: 0px -540px;
}
a.clickMapBox.rid201 {
    background: url(../images/matrix_se.clickMapCountry.png) -130px -410px;
    top: 265px;
    left: 10px;
}
a.clickMapBox.rid201:hover {
    background-position: -130px -540px;
}
div.clickMap.it {
    height: 515px; /* padding-top 1px */
    background: url(../images/sk.clickmap.png) no-repeat;
}
div.clickMap.it div.clickMapCountry {
    position: absolute;
    width: 325px;
    height: 400px;
    background: url(../images/matrix_it.clickMapCountry.png);
    top: 0px;
    left: 160px;
}
div.clickMap.it img.clickMapImgmap {
    position: absolute;
    width: 325px;
    height: 400px;
}
div.clickMap.it div.clickMapRegion {
    background: url(../images/matrix_it.clickMapCountry.png);
}
div.clickMap.it div.rid1 {
    width: 26px;
    height: 16px;
    background-position: 0px -400px;
    left: 22px;
    top: 38px;
}
div.clickMap.it div.rid2 {
    width: 58px;
    height: 77px;
    background-position: -40px -400px;
    left: 14px;
    top: 25px;
}
div.clickMap.it div.rid3 {
    width: 67px;
    height: 62px;
    background-position: -120px -400px;
    left: 59px;
    top: 25px;
}
div.clickMap.it div.rid4 {
    width: 47px;
    height: 47px;
    background-position: -200px -400px;
    left: 107px;
    top: 14px;
}
div.clickMap.it div.rid5 {
    width: 60px;
    height: 64px;
    background-position: -260px -400px;
    left: 108px;
    top: 28px;
}
div.clickMap.it div.rid6 {
    width: 35px;
    height: 38px;
    background-position: -340px -400px;
    left: 152px;
    top: 33px;
}
div.clickMap.it div.rid7 {
    width: 62px;
    height: 27px;
    background-position: -390px -400px;
    left: 27px;
    top: 86px;
}
div.clickMap.it div.rid8 {
    width: 83px;
    height: 53px;
    background-position: -470px -400px;
    left: 72px;
    top: 75px;
}
div.clickMap.it div.rid9 {
    width: 63px;
    height: 77px;
    background-position: -0px -500px;
    left: 79px;
    top: 97px;
}
div.clickMap.it div.rid10 {
    width: 35px;
    height: 43px;
    background-position: -80px -500px;
    left: 128px;
    top: 135px;
}
div.clickMap.it div.rid11 {
    width: 42px;
    height: 48px;
    background-position: -130px -500px;
    left: 137px;
    top: 120px;
}
div.clickMap.it div.rid12 {
    width: 62px;
    height: 60px;
    background-position: -190px -500px;
    left: 115px;
    top: 160px;
}
div.clickMap.it div.rid13 {
    width: 43px;
    height: 43px;
    background-position: -270px -500px;
    left: 154px;
    top: 161px;
}
div.clickMap.it div.rid14 {
    width: 32px;
    height: 25px;
    background-position: -340px -500px;
    left: 175px;
    top: 191px;
}
div.clickMap.it div.rid15 {
    width: 50px;
    height: 52px;
    background-position: -390px -500px;
    left: 170px;
    top: 211px;
}
div.clickMap.it div.rid16 {
    width: 90px;
    height: 74px;
    background-position: -470px -500px;
    left: 200px;
    top: 197px;
}
div.clickMap.it div.rid17 {
    width: 37px;
    height: 43px;
    background-position: 0px -600px;
    left: 210px;
    top: 224px;
}
div.clickMap.it div.rid18 {
    width: 45px;
    height: 78px;
    background-position: -60px -600px;
    left: 211px;
    top: 258px;
}
div.clickMap.it div.rid19 {
    width: 86px;
    height: 57px;
    background-position: -120px -600px;
    left: 126px;
    top: 320px;
}
div.clickMap.it div.rid20 {
    width: 44px;
    height: 81px;
    background-position: -220px -600px;
    left: 25px;
    top: 203px;
}
div.clickMap.it div.rid21 {
    width: 100px;
    height: 55px;
    background-position: -90px -695px;
    left: 373px;
    top: 115px;
}
div.clickMap.it div.rid22 {
    width: 105px;
    height: 100px;
    background-position: -200px -695px;
    left: 392px;
    top: 26px;
}
div.clickMap.it div.rid23 {
    width: 115px;
    height: 165px;
    background-position: -310px -695px;
    left: 455px;
    top: 30px;
}


div.clickMapTabs {
    margin-top: 382px;
    margin-left: 17px;
    padding-top: 1px;
}

div.clickMapTabs .tabBar {
    height: 32px;
    overflow: hidden;
    margin-left: 3px;
}
div.clickMapTabs .tabBar a, div.clickMapTabs .tabBar a * {
    text-decoration: none;
    color: #663300;
    font-size: 14px;
    font-weight: bold;
}
div.clickMapTabs .tabBar a * {
    background: url(../images/matrix_bt.png);
    height: 24px;
    overflow: hidden;
    padding-top: 8px;
}
div.clickMapTabs .tabBar a h3 {
    float: left;
    background-position: -2px -445px;
    padding-left: 7px;
}
div.clickMapTabs .tabBar a span {
    display: block;
    float: left;
    background-position: right -445px;
    padding-right: 3px;
}
div.clickMapTabs .tabBar a.active h3 {
    background-position: -2px -407px;
}
div.clickMapTabs .tabBar a.active span {
    background-position: right -407px;
}

div.clickMapTabs div.tabContent {
    height: 74px;
    background: url(../images/matrix_main.png) 0px -2255px;
}

div.clickMapTabs div.tabContent ul {
    display: block;
    width: 130px;
    float: left;
    margin: 9px 0px 0px 10px;
}
div.clickMapTabs div.tabContent ul span {
    background: url(../images/matrix_main.png) -320px -1028px;
    padding: 0px 0px 0px 11px;
    position: absolute;
}
div.clickMapTabs div.tabContent a {
    display: block;
    padding: 0px 0px 5px 16px;
}
div.clickMapTabs div.tabContent a:hover {
    color: #f30808;
}

div.clickMapNavigator {
    position: absolute;
    width: 120px;
    height: 369px;
    /*overflow: hidden;*/
    background: url(../images/matrix_main.png) -762px -2226px;
    top: 10px;
    left: 613px;
    padding-top: 10px;
    text-align: center;
}
div.clickMapNavigator .holder {
    height: 334px;
    margin-bottom: 0px;
    /*overflow: hidden;*/
}
div.clickMapNavigator .holder a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: 0px 9px 0px 9px;
    padding: 7px 0px 7px 0px;
}
div.clickMapNavigator .holder a:hover {
    background: url(../images/matrix_main.png) 0 -2355px;
}
div.clickMapNavigator a.top {
    font-weight: bold;
    border-bottom: 1px solid #878f93;
}
div.clickMapNavigator .iconHolder {
    position: relative;
}
div.clickMapNavigator .icon {
    display: none;
    width: 107px;
    height: 75px;
    position: absolute;
    background: url(../images/matrix_main.png) -121px -2346px;
    top: -24px;
    left: -90px;
    text-align: left;
}
div.clickMapNavigator .icon img {
    margin: 12px 0px 0px 13px;
}
div.clickMapNavigator .more {
    display: block;
    height: 21px;
    color: #fff;
    text-decoration: none;
    margin: 5px 9px 0px 8px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
}
div.clickMapNavigator .more:hover {
    background: url(../images/matrix_main.png) -769px -2645px;
}
div.clickMapNavigator .more span {
    background: url(../images/matrix_main.png) -318px -1168px;
    padding-left: 10px;
}
div.clickMapNavigator .more:hover span {
    background-position: -316px -1168px;
}
img.clickMapTitle {
    position: absolute;
    top: 12px;
    left: 15px;
}