/* ľšč*/
.adminTableHeader {
    position: absolute;
    width: 922px;
    height: 33px;
    background: url(../images/matrix_main.png) 0 -1590px;
}
.adminTable {
    text-align: left;
    width: 922px;
    position: absolute;
}
.adminTable thead tr {
    /*background: url(../images/matrix_main.png) 0 -1590px;*/
}
.adminTable th {
    background: none repeat scroll 0 0 transparent;
    color: #fff;
    font-weight: bold;
    height: 30px;
    padding: 0 10px 0 0;
}
.adminTable tbody td:first-child, .adminTable th:first-child {
    padding-left: 10px;
}
.adminTable tbody tr {
    border: 1px solid #ccc;
    border-top: 0;
}
.adminTable tbody td {
    padding: 0 10px 1px 0;
}
.adminTable a.btn, .adminTable span.btn {
    color: #fff;
    line-height: 26px;
    padding: 4px 0 4px 13px;
    text-decoration: none;
}
.adminTable a.btn span, .adminTable span.btn span {
    position: relative;
    left: 6px;
    color: #fff;
    line-height: 26px;
    padding: 4px 0 4px 0;
    text-decoration: none;
}


.adminTable a.btn.view {
    background: url(../images/matrix_bt.png) 0 -1562px;
}
.adminTable a.btn.view span {
    background: url(../images/matrix_bt.png) right -1562px;
}
.adminTable a.btn.view:hover {
    background: url(../images/matrix_bt.png) 0 -1586px;
}
.adminTable a.btn.view:hover span {
    background-position: right -1586px;
}

.adminTable a.btn.edit {
    background: url(../images/matrix_bt.png) 0 -1610px;
}
.adminTable a.btn.edit span {
    background: url(../images/matrix_bt.png) right -1610px;
}
.adminTable a.btn.edit:hover {
    background: url(../images/matrix_bt.png) 0 -1634px;
}
.adminTable a.btn.edit:hover span {
    background: url(../images/matrix_bt.png) right -1634px;
}

.adminTable a.btn.login {
    background: url(../images/matrix_bt.png) 0 -1658px;
}
.adminTable a.btn.login span {
    background: url(../images/matrix_bt.png) right -1658px;
}
.adminTable a.btn.login:hover {
    background: url(../images/matrix_bt.png) 0 -1682px;
}
.adminTable a.btn.login:hover span {
    background: url(../images/matrix_bt.png) right -1682px;
}

.adminTable a.btn.delete {
    background: url(../images/matrix_bt.png) 0 -1706px;
}
.adminTable a.btn.delete span {
    background: url(../images/matrix_bt.png) right -1706px;
}
.adminTable a.btn.delete:hover {
    background: url(../images/matrix_bt.png) 0 -1730px;
}
.adminTable a.btn.delete:hover span {
    background: url(../images/matrix_bt.png) right -1730px;
}

.adminTable a.btn.checked {
    background: url(../images/matrix_bt.png) 0 -1754px;
}
.adminTable a.btn.checked span {
    background: url(../images/matrix_bt.png) right -1754px;
}
.adminTable a.btn.checked:hover {
    background: url(../images/matrix_bt.png) 0 -1778px;
}
.adminTable a.btn.checked:hover span {
    background: url(../images/matrix_bt.png) right -1778px;
}

.adminTable a.btn.updated {
    background: url(../images/matrix_bt.png) 0 -1802px;
}
.adminTable a.btn.updated span {
    background: url(../images/matrix_bt.png) right -1802px;
}
.adminTable a.btn.updated:hover {
    background: url(../images/matrix_bt.png) 0 -1826px;
}
.adminTable a.btn.updated:hover span {
    background: url(../images/matrix_bt.png) right -1826px;
}

.adminTable span.btn {
    background: url(../images/matrix_bt.png) 0 -1850px;
    color: #999;
    cursor: default;
}
.adminTable span.btn span {
    background: url(../images/matrix_bt.png) right -1850px;
}  


/* Acl */
.permissionTable select { font-weight: bold; }
.permissionTable select opction:eq(0) {color: #A01A23;}
.permissionTable select opction:eq(1) {color: #228B19;}
.permissionTable select opction:gt(1) {color: #228BBB;}
