	{control header:begin}
	{control css}
	{control js}
{control header:end}
<body>
	<div class="container baseRadius" id="container">
		<div class="row">

			{timer 'timer.header'}
			{include ../header.latte}
			{/timer}
			{include ../favorites.latte}


			{timer 'timer.searchBar'}
			{control searchBar}
			{/timer}


<div class="span3">&nbsp;</div>


			<div class="span9 contactPage">
				<div class="innerPadding baseRadius baseBorder innerPaddingRitgh overflow">
					<div id="content" class="nopadding">
						{include #content}
					</div>
				</div>
			</div>



			{timer 'timer.countriesFooter'}
			{control countriesFooter}
			{/timer}
		</div>		
	</div>	

	<div class="container">

		<div class="row smallFooterSignature">
			<div class="span12">
			{var $now = date('Y')}
				<p>
				<a href="{plink :Front:Home:default}">@2006–{$now} Tralandia.sk</a> | 
				<a href="{plink :Front:Contact:default#aboutUs}">{_o23011}</a> | 
				<a href="{plink :Front:Contact:default#tabs-2}">#napisali onas</a> |
				<a href="{plink :Front:Contact:default#TermsOfUse}">{_o795}</a> |
				<a href="{plink :Front:Contact:default#faq}">{_o741}</a>
				</p>
			</div>
		</div>

	</div>
		
</body>

</html>