{control header:begin}
	{control css}
	{control js}
{control header:end}
<body>
	<div class="container baseRadius" id="container">
		<div class="row">

			{include ../components/mainMenu.latte}

			

			<div class="span12">
				<div class="innerPadding baseRadius baseBorder overflow">
					<div id="content">
						{include #content}
					</div>
				</div>
			</div>

			{include ../components/supFooter.latte}

			{include ../components/footer.latte}

		</div>		
	</div>		
</body>

</html>