parameters:
	acl:
		const:
			permissionAll: null
		roles:
			- guest
			- [owner, guest]
			- [admin, owner]

		resources:
			# presenters
			- Admin:Cibi
			- Admin:Autopilot
			- Admin:Rado
			- Admin:EntityGenerator
			- Admin:NeonGenerator
			- Admin:AttractionAttraction
			- Admin:AttractionType
			- Admin:AutopilotTask
			- Admin:AutopilotTaskArchived
			- Admin:AutopilotType
			- Admin:BaseEntity
			- Admin:BaseEntityDetails
			- Admin:CompanyBankAccount
			- Admin:CompanyCompany
			- Admin:CompanyOffice
			- Admin:ContactContact
			- Admin:ContactType
			- Admin:Currency
			- Admin:DictionaryLanguage
			- Admin:DictionaryType
			- Admin:Domain
			- Admin:EmailingBatch
			- Admin:EmailingTemplate
			- Admin:ExpenseExpense
			- Admin:ExpenseType
			- Admin:InvoicingCoupon
			- Admin:InvoicingMarketing
			- Admin:InvoicingPackage
			- Admin:InvoicingService
			- Admin:InvoicingServiceDuration
			- Admin:InvoicingServiceType
			- Admin:InvoicingUseType
			- Admin:LocationLocation
			- Admin:LocationType
			- Admin:MediumType
			- Admin:RentalAmenity
			- Admin:RentalAmenityType
			- Admin:RentalRental
			- Admin:RentalType
			- Admin:SeoSeoUrl
			- Admin:SeoTitleSuffix
			- Admin:UserCombination
			- Admin:UserInteraction
			- Admin:UserInteractionType
			- Admin:UserRole
			- Admin:UserUser

			# entities
			- Entity\Attraction\Attraction
			- Entity\Attraction\Type
			- Entity\Autopilot\Task
			- Entity\Autopilot\TaskArchived
			- Entity\Autopilot\Type
			- Entity\BaseEntity
			- Entity\BaseEntityDetails
			- Entity\Company\BankAccount
			- Entity\Company\Company
			- Entity\Company\Office
			- Entity\Contact\Contact
			- Entity\Contact\Type
			- Entity\Currency
			- Entity\Dictionary\Language
			- Entity\Dictionary\Type
			- Entity\Domain
			- Entity\Emailing\Batch
			- Entity\Emailing\Template
			- Entity\Expense\Expense
			- Entity\Expense\Type
			- Entity\Invoicing\Coupon
			- Entity\Invoicing\Marketing
			- Entity\Invoicing\Package
			- Entity\Invoicing\Service
			- Entity\Invoicing\ServiceDuration
			- Entity\Invoicing\ServiceType
			- Entity\Invoicing\UseType
			- Entity\Location\Location
			- Entity\Location\Type
			- Entity\Medium\Type
			- Entity\Rental\Amenity
			- Entity\Rental\AmenityType
			- Entity\Rental\Rental
			- Entity\Rental\Type
			- Entity\Seo\SeoUrl
			- Entity\Seo\TitleSuffix
			- Entity\User\Combination
			- Entity\User\Interaction
			- Entity\User\InteractionType
			- Entity\User\Role
			- Entity\User\User

		rules:
			allow:
				- [guest, NULL, NULL]
			deny: