nette:
	container:
		debugger: false  # aktivuje panel v Debugger baru


parameters:

	database:
		dbname: tralandia
		debugger: false

	templateCache:
		enabled: true

	# staticDomain: NULL
	# storageDir: /storage
	# storagePath: /storage

	maxReservationCountPerDay: 100
	rentalCountOnHome: 15
	rentalCountOnRootHome: 15

	testerEmail: 'tralandia.cibi@gmail.com'


services:
#	nette.mailer: \Mail\SendmailMailer
