nette:
	container:
		debugger: false  # aktivuje panel v Debugger baru


parameters:

	database:
		dbname: tralandia_test
		debugger: false

	templateCache:
		enabled: false

	staticDomain: NULL
	storageDir: /storage
	storagePath: /storage

	maxReservationCountPerDay: 100
	rentalCountOnHome: 9
	rentalCountOnRootHome: 9

	domainMask: "[!<www www.>][!<language ([a-z]{2}|www)>.]<host [a-z\\.]+>"

services:

	environment:
		class: Environment\Environment
		factory: Environment\Environment::createFromIso('gb', 'en')

	nette.mailer: \Mail\EmailerMailer(@environment::getPrimaryLocation(), ...)
#	nette.mailer: \Mail\SendmailMailer(@environment::getPrimaryLocation(), ...)


	tester: Tester\NoTester
