common:
	php:
		date.timezone: Europe/Bratislava
		zlib.output_compression: yes
		max_execution_time: 60

	nette:
		session:
			autoStart: smart
			expiration: '+1 year'

	parameters:
		ticketFetcherApi:
			email: tralandia.test@gmail.com
			password: tralandia1
			host: imap.gmail.com
			port: 993
			tls: imap/ssl
			maxEmails: 10

		security:
			salt: '8723lks762ngknl90835bkd'
			sender: 'noreply@tralandia.sk'

		envOptions:
			sendEmail: TRUE

		editor: 'txmt://open/?url=file://%file&line=%line'

		settingsDir: %appDir%/configs

		database:
			user: root
			password: root
			host: 127.0.0.1
			dbname: tralandia
			charset: utf8
			driver: pdo_mysql
			debugger: false

	doctrine:
		connections:
			default: %database%

		entityManagers:
			default:
				connection: default

		console:
			entityManager: default

	includes:
		- webLoader.neon
		- acl/acl.neon

	services:
		console: @doctrine.console
		model: @doctrine.entityManagers.default

		# nette.presenterFactory:
			# class: Extras\DynamicPresenterFactory
			# factory: Extras\DynamicPresenterFactory::factory

		# CACHE
		aclCache: Nette\Caching\Cache(@cacheStorage, 'Acl')
		routerCache: Nette\Caching\Cache(@cacheStorage, 'Router')

		user:
			class: Security\User

		authenticator: Security\Authenticator

		authorizator: 
			class: Security\Acl
			setup:
				# - $cache(@aclCache)
				- $config(%acl%)
				- setup()

		environment: Extras\Environment(@languageRepository, @locationRepository)


		translator: Extras\Translator(@environment, @cacheStorage)

		settings:
			factory: Extras\PresenterSettings::factory

		ticketFetcherApi:
			class: Horo\Api( %ticketFetcherApi.host%, %ticketFetcherApi.email%, %ticketFetcherApi.password%, 'INBOX', %ticketFetcherApi.port%, %ticketFetcherApi.tls% )
			setup:
				- setMaxEmails(%ticketFetcherApi.maxEmails%)

		ticketFetcher: Extras\TicketFetcher( @ticketFetcherApi )

		# repositories
		languageRepository: @model::getRepository('Entity\Dictionary\Language')
		locationRepository: @model::getRepository('Entity\Location\Location')

	factories:
		serviceCurrency:
			parameters: [entity]
			class: Service\Currency(@model, %entity%)

production < common:

console < common:

development < common:
	php:
		max_execution_time: 0
		memory_limit: 1024M

	parameters:
		envOptions:
			sendEmail: FASLE

		database:
			user: root
			password: root
			host: 127.0.0.1
			dbname: tralandia
			charset: utf8
			driver: pdo_mysql

vaculciak < development:
	parameters:

		editor: 'txmt://open/?url=file://%file&line=%line'

durika < development:
	parameters:
		editor: 'edit://open/?url=file://%file&line=%line'
		envOptions:
			email: tralandia.david@gmail.com

toth < development:
test < development:
