parameters:

	database:
		debugger: false

	cacheDatabase:
		database: tralandia_cache

	templateCache:
		enabled: true

#	staticDomain: NULL
#	storageDir: /storage
#	storagePath: /storage

	maxReservationCountPerDay: 100
	rentalCountOnHome: 9
	rentalCountOnRootHome: 9


services:
	nette.mailer: \Mail\SendmailMailer(@environment::getPrimaryLocation(), ...)
