nette:
	container:
		debugger: false  # aktivuje panel v Debugger baru


parameters:

	templateCache:
		enabled: no

#	staticDomain: NULL
#	storageDir: /storage
#	storagePath: /storage

	maxReservationCountPerDay: 100
#	rentalCountOnHome: 15
	rentalCountOnRootHome: 15

	testerEmail: 'durika.d@gmail.com'


services:
#	nette.mailer: \Mail\SendmailMailer
