services:
	attractionEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Attraction\Attraction')

	attractionTypeEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Attraction\Type')

	companyBankAccountEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Company\BankAccount')

	companyEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Company\Company')

	companyOfficeEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Company\Office')

	contactCacheEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\ContactCache')

	currencyEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Currency')

	dictionaryLanguageEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Dictionary\Language')

	dictionaryPhraseEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Dictionary\Phrase')

	dictionaryTranslationEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Dictionary\Translation')

	dictionaryTypeEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Dictionary\Type')

	domainEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Domain')

	emailingBatchEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Emailing\Batch')

	emailingTemplateEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Emailing\Template')

	emailingTemplateTypeEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Emailing\TemplateType')

	expenseEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Expense\Expense')

	expenseTypeEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Expense\Type')

	invoicingCouponEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Invoicing\Coupon')

	invoicingInvoiceEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Invoicing\Invoice')

	invoicingItemEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Invoicing\Item')

	invoicingMarketingEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Invoicing\Marketing')

	invoicingPackageEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Invoicing\Package')

	invoicingServiceEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Invoicing\Service')

	invoicingServiceDurationEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Invoicing\ServiceDuration')

	invoicingServiceTypeEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Invoicing\ServiceType')

	invoicingUseTypeEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Invoicing\UseType')

	locationEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Location\Location')

	locationRegionTypeEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Location\RegionType')

	locationTravelingEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Location\Traveling')

	locationTypeEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Location\Type')

	logChangeEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Log\Change')

	logChangeTypeEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Log\ChangeType')

	logSystemEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Log\System')

	mediumEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Medium\Medium')

	mediumTypeEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Medium\Type')

	pageEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Page')

	rentalAmenityEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Rental\Amenity')

	rentalAmenityTypeEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Rental\AmenityType')

	rentalFulltextEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Rental\Fulltext')

	rentalEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Rental\Rental')

	rentalTypeEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Rental\Type')

	routingPathSegmentEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Routing\PathSegment')

	routingPathSegmentOldEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Routing\PathSegmentOld')

	seoBackLinkEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Seo\BackLink')

	seoSeoUrlEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Seo\SeoUrl')

	seoTitleSuffixEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Seo\TitleSuffix')

	taskEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Task\Task')

	taskTypeEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Task\Type')

	ticketMessageEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Ticket\Message')

	ticketEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\Ticket\Ticket')

	userCombinationEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\User\Combination')

	userRentalQuestionEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\User\RentalQuestion')

	userRentalReservationEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\User\RentalReservation')

	userRentalReviewEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\User\RentalReview')

	userRentalToFriendEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\User\RentalToFriend')

	userRoleEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\User\Role')

	userSiteOwnerReviewEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\User\SiteOwnerReview')

	userSiteVisitorReviewEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\User\SiteVisitorReview')

	userEntityFactory:
		class: Extras\Models\Entity\EntityFactory('Entity\User\User')