services:

	- [class: Listener\ForgotPasswordEmailListener, tags: [kdyby.subscriber]]
	- [class: Listener\RegistrationEmailListener, tags: [kdyby.subscriber]]
	- [class: Tralandia\Rental\UnbanRentalListener, tags: [kdyby.subscriber]]
	- [class: Tralandia\Rental\RankCalculatorListener, tags: [kdyby.subscriber]]
	- [class: Tralandia\SearchCache\InvalidateRentalListener(@templateCache, @translatorCache, @mapSearchCache, ...), tags: [kdyby.subscriber]]
	- [class: Listener\ReservationOwnerEmailListener, tags: [kdyby.subscriber]]
	- [class: Listener\ReservationSenderEmailListener, tags: [kdyby.subscriber]]
	- [class: Listener\PolygonCalculatorListener, tags: [kdyby.subscriber]]
	- [class: Listener\RequestTranslationsEmailListener, tags: [kdyby.subscriber]]
	- [class: Listener\RequestTranslationsHistoryLogListener, tags: [kdyby.subscriber]]
	- [class: Listener\AcceptedTranslationsEmailListener, tags: [kdyby.subscriber]]
	- [class: Listener\TranslationsSetAsPaidHistoryLogListener, tags: [kdyby.subscriber]]
	- [class: Tralandia\Doctrine\TablePrefixListener, tags: [kdyby.subscriber]]
	- [class: Listener\RentalEditLogListener, tags: [kdyby.subscriber]]
	- [class: Listener\NotificationEmailListener, tags: [kdyby.subscriber]]
	- [class: Listener\PotentialMemberEmailListener, tags: [kdyby.subscriber]]
	- [class: Listener\BacklinkEmailListener, tags: [kdyby.subscriber]]
	- [class: Listener\PsOfferEmailListener, tags: [kdyby.subscriber]]
	- [class: Tralandia\SearchCache\UpdateCalendarListener, tags: [kdyby.subscriber]]

