php:
	max_execution_time: 60
	memory_limit: 1024M

nette:
	debugger:
		bar: [JanDrabek\MailPanel\MailPanel]


extensions:
	debugger.session: Kdyby\Diagnostics\SessionPanel\SessionPanelExtension

parameters:
	envOptions:
		sendEmail: FASLE

	database:
		user: root
		password: root
		host: 127.0.0.1
		dbname: tralandia
		charset: utf8
		driver: pdo_mysql
		debugger: true

services:
	debugger.session.panel:
		setup:
			- hideSection('Nette.Http.UserStorage/')
			- hideSection('Nette.Application/requests')
			- hideSection('Nette.Forms.Form/CSRF')
			- hideSection('TwiGrid\DataGrid-dataGrid')
			- hideSection('DumpMailerStorage')

#	nette.mailer: JanDrabek\MailPanel\SessionDumpMailer

