php:
	max_execution_time: 160
	memory_limit: 1024M

nette:
	debugger:
		bar: [JanDrabek\MailPanel\MailPanel]

	session:
		debugger: true


parameters:
	envOptions:
		sendEmail: FASLE

	database:
		user: root
		password: root
		host: 127.0.0.1
		dbname: tralandia
		charset: utf8
		driver: pdo_mysql
		debugger: false

services:
#	nette.mailer: JanDrabek\MailPanel\SessionDumpMailer

