common:
	left: # lava starana
		telmark:
			label: TelMark
			items: # ak ma potomkov
				telmarkOpen: # 2. uroven
					label: Open TelMark
					link: ':Admin:TelMark:'


		support:
			label: Support
			items:
				pendingTicket: 
					label: Pending Tickets
					link: ':Admin:Ticket:list'
					linkArgs:
						filter: pending
				ticket: 
					label: All Tickets
					link: ':Admin:Ticket:list'

				mailerResponse: 
					label: Mailer Responses
					link: ':Admin:mailerResponse'
				cannedResponse: 
					label: Canned Responses
					link: ':Admin:cannedResponse:list'


		statistics:
			label: Statistics #@todo
			items:
				one: 
					label: Pending Tickets
					link: ':Admin:Ticket:list'


		autopilot:
			items:
				pendingTask: 
					label: Pending Tasks
					link: ':Admin:AutopilotTask:list'
				completedTask: 
					label: Completed Tasks
					link: ':Admin:AutopilotTaskArchived:list'
				taskType: 
					label: Task Types
					link: ':Admin:AutopilotTaskType:list'

		user:
			label: Users
			items:
				user: 
					label: All Users
					link: ':Admin:UserUser:list'
				testimonial: 
					label: 'Testimonials (by owners)'
					link: ':Admin:UserTestimonial:list'
				role: 
					label: Roles
					link: ':Admin:UserRole:list'
				acl: 
					label: Acl
					link: ':Admin:Acl:list'


		rental:
			label: Rentals
			items:
				rental: 
					label: All Rentals
					link: ':Admin:RentalRental:list'
				reservation: 
					label: Reservations
					link: ':Admin:VisitorInteraction:list'
					linkArgs:
						filter: reservation
				question: 
					label: Questions
					link: ':Admin:VisitorInteraction:list'
					linkArgs:
						filter: question
				review: 
					label: Reviews
					link: ':Admin:VisitorInteraction:list'
					linkArgs:
						filter: review
				rentalType: 
					label: Rental Types
					link: ':Admin:RentalType:list'
					separator: true
				interactionType: 
					label: Interaction Types
					link: ':Admin:VisitorType:list'


		invoicing:
			label: Invoicing
			items:
				invoice: 
					label: Invoices
					items:
						pending: 
							label: Pending
							link: ':Admin:InvoicingInvoice:list'
							linkArgs:
								filter: pending
						paid: 
							label: Paid
							link: ':Admin:InvoicingInvoice:list'
							linkArgs:
								filter: paid
						overdue: 
							label: Overdue
							link: ':Admin:InvoicingInvoice:list'
							linkArgs:
								filter: overdue
				expense: 
					label: Expenses
					link: ':Admin:ExpenseExpense:list'
					items:
						type: 
							label: Types
							link: ':Admin:ExpenseType:list'
				package: 
					label: Packages
					link: ':Admin:InvoicingPackage:list'
				marketing: 
					label: Marketings
					link: ':Admin:InvoicingMarketing:list'
				coupon: 
					label: Coupons
					link: ':Admin:InvoicingCoupon:list'
				serviceType: 
					label: Service Types
					link: ':Admin:InvoicingServiceType:list'
				duration: 
					label: Durations
					link: ':Admin:InvoicingServiceDuration:list'
				use: 
					label: Use Types
					link: ':Admin:InvoicingUseType:list'
				export: 
					label: Export
					link: ':Admin:InvoicingExport:'
					separator: true

		dictionary:
			label: Dictionary
			items:
				addPhrase: 
					label: Add Phrase
					link: ':Admin:DictionaryPhrase:add'
				phrase: 
					label: Phrases
					link: ':Admin:DictionaryPhrase:list'
				phraseType: 
					label: Phrase Types
					link: ':Admin:DictionaryType:list'
				language: 
					label: Languages
					link: ':Admin:DictionaryLanguage:list'

		siteContent:
			label: Site Content
			items:
				seo: 
					label: SEO
					items:
						backlink: 
							label: Backlinks
							link: ':Admin:SeoBacklink:list'
						titleSuffix: 
							label: Title Suffixes
							link: ':Admin:SeoTitleSuffix:list'
				attraction: 
					label: Attractions
					items:
						atraction: 
							label: All Attractions
							link: ':Admin:AttractionAttraction:list'
						type: 
							label: Attraction Types
							link: ':Admin:AttractionType:list'
				location: 
					label: Locations
					items:
						location: 
							label: All Locations
							link: ':Admin:LocationLocation:list'
						type: 
							label: Location Types
							link: ':Admin:LocationType:list'
				amenity: 
					label: Amenities
					items:
						amenity: 
							label: All Amenities
							link: ':Admin:RentalAmenityAmenity:list'
						type: 
							label: Amenity Types
							link: ':Admin:RentalAmenityType:list'
		emailing:
			label: Emailing
			items:
				batch: 
					label: Batches
					link: ':Admin:EmailingBatch:list'
				email: 
					label: Emails
					link: ':Admin:EmailingEmail:list'
				emailType: 
					label: Email Types
					link: ':Admin:EmailingType:list'
		company:
			label: Company
			items:
				company: 
					label: Companies
					link: ':Admin:CompanyCompany:list'
				office: 
					label: Virtual Offices
					link: ':Admin:CompanyOffice:list'
				bankAccount: 
					label: Bank Accounts
					link: ':Admin:CompanyBankAccount:list'

	right: # parave strana
		account:
			items:
				wtt:
					icon: icon-time
					link: #@todo external URL, maybe use key "href"
				autopilot:
					label: Turn Autopilot ON
					separator: true
					icon: icon-plane
				taskee:
					icon: icon-ok
					link: #@todo external URL, maybe use key "href"
				wiki:
					icon: icon-book
					link: #@todo external URL, maybe use key "href"
				docs:
					label: Google Docs
					icon: icon-file
					link: #@todo external URL, maybe use key "href"
				gmail:
					separator: true
					icon: icon-inbox
					link: #@todo external URL, maybe use key "href"
				settings:
					label: Account Settings
					icon: icon-cog
					link: ':Admin:Settings' #@todo
				logout:
					icon: icon-off