common:
	left: # lava starana
		support:
			label: Support
			items:
				# pendingTicket:
				# 	label: Pending Tickets
				# 	link: ':Admin:Ticket:list'
				# 	linkArgs:
				# 		filter: pending
				# ticket:
				# 	label: All Tickets
				# 	link: ':Admin:Ticket:list'
				# 	separator: true

				faqCategory:
					label: FAQ Categories
					link: ':Admin:FaqCategory:list'
				faqQuestion:
					label: FAQ Questions
					link: ':Admin:FaqQuestion:list'

		statistics:
			label: Statistics #@todo
			items:
				# one:
				# 	label: Pending Tickets
				# 	link: ':Admin:Ticket:list'

				# dictionary:
				# 	label: Dictionary
				# 	link: ':Admin:StatisticsDictionary:list'

				registrations:
					label: Registrations
					link: ':Admin:StatisticsRegistrations:list'

		user:
			label: Users
			items:
				user:
					label: All Users
					link: ':Admin:UserUser:list'
				testimonial:
					label: 'Testimonials (by owners)'
					link: ':Admin:UserTestimonial:list'
				role:
					label: Roles
					link: ':Admin:UserRole:list'
				# acl:
				# 	label: Acl
				# 	link: ':Admin:Acl:list'


		rental:
			label: Rentals
			items:
				rental:
					label: All Rentals
					link: ':Admin:RentalRental:list'
				information:
					label: Rental Information
					link: ':Admin:RentalInformation:list'
				interviewQuestion:
					label: Interview Questions
					link: ':Admin:RentalInterviewQuestion:list'
				interviewAnswer:
					label: Interview Answers
					link: ':Admin:RentalInterviewAnswer:list'
				reservation:
					label: Reservations
					link: ':Admin:VisitorInteraction:list'
					linkArgs:
						filter: reservation
				review:
					label: Reviews
					link: ':Admin:VisitorInteraction:list'
					linkArgs:
						filter: review
				rentalType:
					label: Rental Types
					link: ':Admin:RentalType:list'
					separator: true
				roomType:
					label: Room Types
					link: ':Admin:RentalRoomType:list'
					separator: true
				interactionType:
					label: Interaction Types
					link: ':Admin:VisitorType:list'

		phrase:
			label: Dictionary
			items:
				phrase:
					label: Phrases
					link: ':Admin:Phrase:list'
				phraseType:
					label: Phrase Types
					link: ':Admin:PhraseType:list'
				addPhrase:
					label: Add Phrase
					link: ':Admin:Phrase:add'
				language:
					separator: true
					label: Languages
					link: ':Admin:Language:list'

		siteContent:
			label: Site Content
			items:
				seo:
					label: SEO
					items:
						backlink:
							label: Backlinks
							link: ':Admin:SeoBacklink:list'
						titleSuffix:
							label: Title Suffixes
							link: ':Admin:SeoTitleSuffix:list'
				location:
					label: Locations
					items:
						country:
							label: Countries
							link: ':Admin:Country:list'
						region:
							label: Regions
							link: ':Admin:Region:list'
						locality:
							label: Localities
							link: ':Admin:Locality:list'
				locationType:
					label: Location Types
					link: ':Admin:LocationType:list'
					separator: true
				amenity:
					label: Amenities
					link: ':Admin:RentalAmenity:list'
				amenityType:
					label: Amenity Types
					link: ':Admin:RentalAmenityType:list'
					separator: true
				currency:
					label: Currencies
					link: ':Admin:Currency:list'
				domain:
					label: Domains
					link: ':Admin:Domain:list'
		email:
			label: Email
			items:
				template:
					label: Templates
					link: ':Admin:EmailTemplate:list'
				layout:
					label: Layouts
					link: ':Admin:EmailLayout:list'

		# admin:
		# 	label: Admin
		# 	items:
		# 		import:
		# 			label: Import
		# 			link: ':Admin:Import:default'
		# 		entityGenerator:
		# 			label: Entity Generator
		# 			link: ':Admin:EntityGenerator:default'
		# 		searchCache:
		# 			label: Update Search Cache
		# 			link: ':Admin:RunRobot:searchCache'
		# 			target: _blank
		# 		memCache:
		# 			label: Memcache Viewer
		# 			link: ':Admin:Memcache:default'
		# 			target: _blank

	right: # parave strana
		account:
			items:
				# wtt:
				# 	icon: icon-time
				# 	link: #@todo external URL, maybe use key "href"
				# autopilot:
				# 	label: Turn Autopilot ON
				# 	separator: true
				# 	icon: icon-plane
				# taskee:
				# 	icon: icon-ok
				# 	link: #@todo external URL, maybe use key "href"
				# wiki:
				# 	icon: icon-book
				# 	link: #@todo external URL, maybe use key "href"
				# docs:
				# 	label: Google Docs
				# 	icon: icon-file
				# 	link: #@todo external URL, maybe use key "href"
				# gmail:
				# 	separator: true
				# 	icon: icon-inbox
				# 	link: #@todo external URL, maybe use key "href"
				# settings:
				# 	label: Account Settings
				# 	icon: icon-cog
				# 	link: ':Admin:Settings' #@todo
				logout:
					icon: icon-off
					link: ':Front:Sign:out'
