services:
	attractionRepository: @model::getRepository('Entity\Attraction\Attraction')

	attractionTypeRepository: @model::getRepository('Entity\Attraction\Type')

	companyBankAccountRepository: @model::getRepository('Entity\Company\BankAccount')

	companyRepository: @model::getRepository('Entity\Company\Company')

	companyOfficeRepository: @model::getRepository('Entity\Company\Office')

	contactCacheRepository: @model::getRepository('Entity\ContactCache')

	currencyRepository: @model::getRepository('Entity\Currency')

	domainRepository: @model::getRepository('Entity\Domain')

	emailBatchRepository: @model::getRepository('Entity\Email\Batch')

	emailTemplateRepository: @model::getRepository('Entity\Email\Template')

	emailTemplateTypeRepository: @model::getRepository('Entity\Email\TemplateType')

	expenseRepository: @model::getRepository('Entity\Expense\Expense')

	expenseTypeRepository: @model::getRepository('Entity\Expense\Type')

	invoiceRepository: @model::getRepository('Entity\Invoice\Invoice')

	invoiceCouponRepository: @model::getRepository('Entity\Invoice\Coupon')

	invoiceItemRepository: @model::getRepository('Entity\Invoice\Item')

	invoiceMarketingRepository: @model::getRepository('Entity\Invoice\Marketing')

	invoicePackageRepository: @model::getRepository('Entity\Invoice\Package')

	invoiceServiceRepository: @model::getRepository('Entity\Invoice\Service')

	invoiceServiceDurationRepository: @model::getRepository('Entity\Invoice\ServiceDuration')

	invoiceServiceTypeRepository: @model::getRepository('Entity\Invoice\ServiceType')

	invoiceUseTypeRepository: @model::getRepository('Entity\Invoice\UseType')

	languageRepository: @model::getRepository('Entity\Language')

	locationRepository: @model::getRepository('Entity\Location\Location')

	# locationTravelingRepository: @model::getRepository('Entity\Location\Traveling')

	locationTypeRepository: @model::getRepository('Entity\Location\Type')

	logChangeRepository: @model::getRepository('Entity\Log\Change')

	logChangeTypeRepository: @model::getRepository('Entity\Log\ChangeType')

	logSystemRepository: @model::getRepository('Entity\Log\System')

	mediumRepository: @model::getRepository('Entity\Medium\Medium')

	mediumTypeRepository: @model::getRepository('Entity\Medium\Type')

	pageRepository: @model::getRepository('Entity\Page')

	phraseRepository: @model::getRepository('Entity\Phrase\Phrase')

	phraseTypeRepository: @model::getRepository('Entity\Phrase\Type')

	rentalAmenityRepository: @model::getRepository('Entity\Rental\Amenity')

	rentalAmenityTypeRepository: @model::getRepository('Entity\Rental\AmenityType')

	rentalInformationRepository: @model::getRepository('Entity\Rental\Information')

	rentalFulltextRepository: @model::getRepository('Entity\Rental\Fulltext')

	rentalRepository: @model::getRepository('Entity\Rental\Rental')

	rentalTypeRepository: @model::getRepository('Entity\Rental\Type')

	routingPathSegmentRepository: @model::getRepository('Entity\Routing\PathSegment')

	routingPathSegmentOldRepository: @model::getRepository('Entity\Routing\PathSegmentOld')

	seoBackLinkRepository: @model::getRepository('Entity\Seo\BackLink')

	seoSeoUrlRepository: @model::getRepository('Entity\Seo\SeoUrl')

	seoTitleSuffixRepository: @model::getRepository('Entity\Seo\TitleSuffix')

	taskRepository: @model::getRepository('Entity\Task\Task')

	taskTypeRepository: @model::getRepository('Entity\Task\Type')

	ticketMessageRepository: @model::getRepository('Entity\Ticket\Message')

	ticketRepository: @model::getRepository('Entity\Ticket\Ticket')

	userCombinationRepository: @model::getRepository('Entity\User\Combination')

	userRentalQuestionRepository: @model::getRepository('Entity\User\RentalQuestion')

	userRentalReservationRepository: @model::getRepository('Entity\User\RentalReservation')

	userRentalReviewRepository: @model::getRepository('Entity\User\RentalReview')

	userRentalToFriendRepository: @model::getRepository('Entity\User\RentalToFriend')

	userRoleRepository: @model::getRepository('Entity\User\Role')

	userSiteOwnerReviewRepository: @model::getRepository('Entity\User\SiteOwnerReview')

	userSiteVisitorReviewRepository: @model::getRepository('Entity\User\SiteVisitorReview')

	userRepository: @model::getRepository('Entity\User\User')

	# Entities

	attractionEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Attraction\Attraction')

	attractionTypeEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Attraction\Type')

	companyBankAccountEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Company\BankAccount')

	companyEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Company\Company')

	companyOfficeEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Company\Office')

	contactCacheEntityFactory: Extras\Models\Entity\EntityFactory('Entity\ContactCache')

	currencyEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Currency')

	domainEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Domain')

	emailBatchEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Email\Batch')

	emailTemplateEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Email\Template')

	emailLayoutEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Email\Layout')

	expenseEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Expense\Expense')

	expenseTypeEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Expense\Type')

	invoiceEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Invoice\Invoice')

	invoiceCouponEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Invoice\Coupon')

	invoiceItemEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Invoice\Item')

	invoiceMarketingEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Invoice\Marketing')

	invoicePackageEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Invoice\Package')

	invoiceServiceEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Invoice\Service')

	invoiceServiceDurationEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Invoice\ServiceDuration')

	invoiceServiceTypeEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Invoice\ServiceType')

	invoiceUseTypeEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Invoice\UseType')

	languageEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Language')

	locationEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Location\Location')

	locationTypeEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Location\Type')

	logChangeEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Log\Change')

	logChangeTypeEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Log\ChangeType')

	logSystemEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Log\System')

	mediumEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Medium\Medium')

	mediumTypeEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Medium\Type')

	pageEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Page')

	phraseEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Phrase\Phrase')

	phraseTypeEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Phrase\Type')

	rentalEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Rental\Rental')

	rentalAmenityEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Rental\Amenity')

	rentalAmenityTypeEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Rental\AmenityType')

	rentalInformationEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Rental\Information')

	rentalFulltextEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Rental\Fulltext')

	rentalTypeEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Rental\Type')

	routingPathSegmentEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Routing\PathSegment')

	routingPathSegmentOldEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Routing\PathSegmentOld')

	seoBackLinkEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Seo\BackLink')

	seoSeoUrlEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Seo\SeoUrl')

	seoTitleSuffixEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Seo\TitleSuffix')

	taskEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Task\Task')

	taskTypeEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Task\Type')

	ticketMessageEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Ticket\Message')

	ticketEntityFactory: Extras\Models\Entity\EntityFactory('Entity\Ticket\Ticket')

	userEntityFactory: Extras\Models\Entity\EntityFactory('Entity\User\User')

	userCombinationEntityFactory: Extras\Models\Entity\EntityFactory('Entity\User\Combination')

	userRentalQuestionEntityFactory: Extras\Models\Entity\EntityFactory('Entity\User\RentalQuestion')

	userRentalReservationEntityFactory: Extras\Models\Entity\EntityFactory('Entity\User\RentalReservation')

	userRentalReviewEntityFactory: Extras\Models\Entity\EntityFactory('Entity\User\RentalReview')

	userRentalToFriendEntityFactory: Extras\Models\Entity\EntityFactory('Entity\User\RentalToFriend')

	userRoleEntityFactory: Extras\Models\Entity\EntityFactory('Entity\User\Role')

	userSiteOwnerReviewEntityFactory: Extras\Models\Entity\EntityFactory('Entity\User\SiteOwnerReview')

	userSiteVisitorReviewEntityFactory: Extras\Models\Entity\EntityFactory('Entity\User\SiteVisitorReview')


