parameters:

	database:
		user: tralandia
		password: 986269962525
		host: 127.0.0.1
		dbname: tralandia
		charset: utf8
		driver: pdo_mysql
		debugger: false

	cacheDatabase:
		user: tralandia
		password: 986269962525
		host: 127.0.0.1
		database: cache


	templateCache:
		enabled: true

	staticDomain: NULL
	storageDir: /storage
	storagePath: /storage

