nette:


parameters:

services:

factories:
	rentalDataFactory:
		class: \PersonalSite\RentalData
		arguments: [%slug%, ...]
		parameters: [slug]
		implement: \PersonalSite\IRentalDataFactory

	welcomeScreenControlFactory:
		class: PersonalSiteModule\WelcomeScreen\WelcomeScreenControl
		arguments: [%rentalData%]
		parameters: [PersonalSite\RentalData rentalData]
		implement: PersonalSiteModule\WelcomeScreen\IWelcomeScreenControlFactory

	amenitiesControlFactory:
		class: \PersonalSiteModule\Amenities\AmenitiesControl
		arguments: [%rentalData%]
		parameters: [PersonalSite\RentalData rentalData]
		implement: \PersonalSiteModule\Amenities\IAmenitiesControlFactory

	galleryControlFactory:
		class: \PersonalSiteModule\Gallery\GalleryControl
		arguments: [%rentalData%]
		parameters: [PersonalSite\RentalData rentalData]
		implement: \PersonalSiteModule\Gallery\IGalleryControlFactory

	pricesControlFactory:
		class: \PersonalSiteModule\Prices\PricesControl
		arguments: [%rentalData%]
		parameters: [PersonalSite\RentalData rentalData]
		implement: \PersonalSiteModule\Prices\IPricesControlFactory
