nette:


parameters:
	leanConnectionInfo:
		user: root
		password: root
		host: 127.0.0.1
		database: tralandia
		charset: utf8
		lazy: TRUE
		profiler: true

	showGaCode: false
	fireConversions: false

services:

factories:

	personalSiteRouteFactory:
		class: \Routers\PersonalSiteRoute
		arguments: [%mask%, %metadata%, ... ]
		parameters: [mask, metadata]
		implement: \Routers\IPersonalSiteRouteFactory


	customPersonalSiteRouteFactory:
		class: \Routers\CustomPersonalSiteRoute
		arguments: [%mask%, %metadata%, ... ]
		parameters: [mask, metadata]
		implement: \Routers\ICustomPersonalSiteRouteFactory


	welcomeScreenControlFactory:
		class: PersonalSiteModule\WelcomeScreen\WelcomeScreenControl
		arguments: [%rental%]
		parameters: [\Tralandia\Rental\Rental rental]
		implement: PersonalSiteModule\WelcomeScreen\IWelcomeScreenControlFactory

	amenitiesControlFactory:
		class: \PersonalSiteModule\Amenities\AmenitiesControl
		arguments: [%rental%]
		parameters: [\Tralandia\Rental\Rental rental]
		implement: \PersonalSiteModule\Amenities\IAmenitiesControlFactory

	galleryControlFactory:
		class: \PersonalSiteModule\Gallery\GalleryControl
		arguments: [%rental%]
		parameters: [\Tralandia\Rental\Rental rental]
		implement: \PersonalSiteModule\Gallery\IGalleryControlFactory

	videoControlFactory:
		class: \PersonalSiteModule\Video\VideoControl
		arguments: [%rental%]
		parameters: [\Tralandia\Rental\Rental rental]
		implement: \PersonalSiteModule\Video\IVideoControlFactory

	pricesControlFactory:
		class: \PersonalSiteModule\Prices\PricesControl
		arguments: [%rental%]
		parameters: [\Tralandia\Rental\Rental rental]
		implement: \PersonalSiteModule\Prices\IPricesControlFactory

	calendarControlFactory:
		class: \PersonalSiteModule\Calendar\CalendarControl
		arguments: [%rental%]
		parameters: [\Tralandia\Rental\Rental rental]
		implement: \PersonalSiteModule\Calendar\ICalendarControlFactory

	contactControlFactory:
		class: \PersonalSiteModule\Contact\ContactControl
		arguments: [%rental%, %fireConversions%]
		parameters: [\Tralandia\Rental\Rental rental]
		implement: \PersonalSiteModule\Contact\IContactControlFactory
