php:
	memory_limit: 1024M

nette:
	session:
		cookie_path: '/'
		cookie_domain: NULL




parameters:
	database:
		user: tralandia
		password: 986269962525
		host: 127.0.0.1
		dbname: tralandia
		charset: utf8
		driver: pdo_mysql
		debugger: false

	cacheDatabase:
		user: tralandia
		password: 986269962525
		host: 127.0.0.1
		database: cache

	domainMask: "[!<www www.>][!<language ([a-z]{2}|www)>.]<host [a-z\\.]+>"


	webTempDir: /webtemp
	webTempPath: /webtemp

	smtp:
		host: mail.tralandia.com
		username: robot@tralandia.com
		password: R03OT

	templateCache:
		enabled: TRUE


services:
#	nette.mailer: EmailerMailer(@environment::getPrimaryLocation(), ...)
	nette.mailer: \Mail\SmtpMailer(%smtp%, @environment::getPrimaryLocation(), ...)

	tester: Tester\NoTester
