php:
	memory_limit: 1024M
	max_execution_time: 240

nette:
	session:
		cookie_path: '/'
		cookie_domain: NULL


parameters:

	cacheDatabase:
		user: tralandia
		password: 986269962525
		host: 192.168.4.72
		database: cache

	domainMask: "[!<www www.>][!<language ([a-z]{2}|www)>.]<host [a-z\\.]+>"

	googleAnalytics:
		code: 'UA-1541490-17'

	webTempDir: /webtemp
	webTempPath: /webtemp

	templateCache:
		enabled: TRUE

doctrine:
	user: tralandia
	password: 986269962525
	host: 192.168.4.72
	dbname: tralandia
	charset: utf8
	driver: pdo_mysql
	debugger: false
	autoGenerateProxyClasses: true
	metadata:
		Entity: %appDir%/models


services:
#	nette.mailer: EmailerMailer(@environment::getPrimaryLocation(), ...)
	nette.mailer: \Mail\SmtpMailer(%smtp%, @environment::getPrimaryLocation(), ...)

	tester: Tester\NoTester
