common:
	parameters:		
		database:
			user: root
			password: root
			host: 127.0.0.1
			dbname: tralandia
			charset: utf8
			driver: pdo_mysql
			debugger: false

		proxyDir: '%tempDir%/proxies'

		entityDirs: '%appDir%/models/Entities'
	
		settingsDir: '%appDir%/configs'

		container: 
			class: ServiceContainer
			
	doctrine:
		connections:
			default: %database%


		entityManagers:
			default:
				connection: default

		console:
			entityManager: default
		
	services:	
		console: @doctrine.console
		
	factories:
		service: Extras\Models\Service::setEntityManager(@doctrine.entityManagers.default)
		list: Extras\Models\ServiceList::setEntityManager(@doctrine.entityManagers.default)

production < common:
	parameters:
		database:
			user: root
			password: root
			host: 127.0.0.1
			dbname: tralandia
			charset: utf8
			driver: pdo_mysql
			unix_socket: /var/run/mysqld/mysqld.sock
		
console < common:

development < common:

	parameters:
		database:
			user: root
			password: root
			host: 127.0.0.1
			dbname: tralandia
			charset: utf8
			driver: pdo_mysql
			debugger: false

		
vaculciak < development:

durika < development:
		


test < development:
	parameters:
		database:
			user: root
			password: root
			host: 127.0.0.1
			dbname: tralandia
			charset: utf8
			driver: pdo_mysql
			unix_socket: /var/run/mysqld/mysqld.sock
