parameters:
	envOptions:
		sendEmail: FASLE

	database:
		user: root
		password: root
		host: 127.0.0.1
		dbname: tralandia_test
		charset: utf8
		driver: pdo_mysql

	domainMask: "[!<www www.>][!<language ([a-z]{2}|www)>.]<host [a-z\\.]+>"
#	domainMask: "[!<www www.>][!<language ([a-z]{2}|www)>.]<hostLocal [a-z-\\.]+>"

services:
	session: Kdyby\Tests\Http\FakeSession

	environment:
		class: Environment\Environment
		factory: Environment\Environment::createFromIds(56, 144)

	databaseCacheClient:
		class: \Tralandia\Caching\Database\DatabaseClient(\DibiConnection(%cacheDatabase%), 'test')
		autowired: false
