nette:
	container:
		debugger: false  # aktivuje panel v Debugger baru
parameters:
	editor: 'edit://open/?url=file://%file&line=%line'
	envOptions:
		email: toth.radoslav@gmail.com

	database:
		debugger: false

	templateCache:
		enabled: false
