parameters:
	webloader:
		packages:

			adminFront:
				css:
					- front/admin/less/base.less
					- front/admin/less/datagrid.less
					- front/admin/less/adminMenuAside.less
					- front/admin/less/adminForms.less
					- front/admin/less/adminSearchForm.less
					- front/calendarWidget/less/calendarWidget.less
				js:
					- front/admin/js/admin.js

			texyla:
				css:
					- texyla/lib/texyla/css/style.css
					- texyla/lib/themes/default/theme.css
					- texyla/custom/less/custom.less
				js:
					# Texyla core
					- texyla/lib/texyla/js/texyla.js
					- texyla/lib/texyla/js/selection.js
					- texyla/lib/texyla/js/texy.js
					- texyla/lib/texyla/js/buttons.js
					- texyla/lib/texyla/js/dom.js
					- texyla/lib/texyla/js/view.js
					- texyla/lib/texyla/js/ajaxupload.js
					- texyla/lib/texyla/js/window.js
					# languages
					- texyla/lib/texyla/languages/cs.js
					- texyla/lib/texyla/languages/en.js
					- texyla/lib/texyla/languages/sk.js
					# plugins
					#- texyla/lib/texyla/plugins/keys/keys.js
					#- texyla/lib/texyla/plugins/resizableTextarea/resizableTextarea.js
					#- texyla/lib/texyla/plugins/img/img.js
					#- texyla/lib/texyla/plugins/table/table.js
					#- texyla/lib/texyla/plugins/link/link.js
					#- texyla/lib/texyla/plugins/emoticon/emoticon.js
					#- texyla/lib/texyla/plugins/symbol/symbol.js
					#- texyla/lib/texyla/plugins/files/files.js
					#- texyla/lib/texyla/plugins/color/color.js
					#- texyla/lib/texyla/plugins/textTransform/textTransform.js
					#- texyla/lib/texyla/plugins/youtube/youtube.js
					#- texyla/lib/texyla/plugins/gravatar/gravatar.js
					- texyla/custom/js/custom.js


			select2:
				css:
					- select2/lib/css/select2.css
					- select2/custom/less/select2.less
				js:
					- select2/lib/js/select2.js
					# - select2/custom/js/initSelect2.js
			fixTop:
				js:
					- front/fixTop/js/fixTop.js

			select2HideInputText:
				css:
					- select2/custom/less/select2HideInputText.less

			rentalMapPlugin:
				css: 
					- front/rentalMapPlugin/less/rentalMapPlugin.less

			jqueryCookie:
				js:
					- jqueryCookie/lib/jquery.cookie.js
			jstorage:
				js:
					- jstorage/lib/js/jstorage.min.js
			jqueryScrollTo:
				js:
					- jqueryScrollTo/lib/js/jquery.scrollTo-1.4.3.1-min.js
			jqueryUi:
				js:
					- jqueryUi/lib/js/jquery-ui-1.9.1.custom.min.js
				css:
					- jqueryUi/lib/css/tralandia/jquery-ui-1.9.1.custom.css
					- jqueryUi/custom/datepicker.css.less
			socialite:
				js:
					- socialite/lib/socialite.min.js
					- socialite/lib/extensions/socialite.pinterest.js

			fileUpload:
				js:
					#- fileUpload/lib/js/vendor/jquery.ui.widget.js
					- fileUpload/lib/js/jquery.iframe-transport.js
					- fileUpload/lib/js/jquery.fileupload.js

					#- fileUpload/lib/js/tmpl.min.js
					#- fileUpload/lib/js/load-image.min.js
					#- fileUpload/lib/js/canvas-to-blob.min.js
					#- fileUpload/lib/js/jquery.fileupload-fp.js
					#- fileUpload/lib/js/jquery.fileupload-ui.js
					#- fileUpload/lib/js/locale.js
					#- fileUpload/lib/js/main.js
				css:
					- fileUpload/lib/css/jquery.fileupload-ui.css
			fontEntypo:
				css:
					- fontEntypo/custom/less/entypoIcon.less
			fontAwesome:
				css:
					- fontAwesome/lib/less/font-awesome.less
			icoMoon:
				css:
					- icoMoon/custom/icoMoon.less

			jqueryPlacehoder:
				js:
					- jqueryPlaceholder/lib/jquery.placeholder.min.js
					- jqueryPlaceholder/custom/js/jqueryPlaceholderInit.js

			calendarIframe:
				css:
					- front/_base/less/calendar.less
					- front/calendarIframe/less/calendarIframe.less
			Front:
				css:
					#- front/_base/less/fonts.less
#
					#- front/form-registration.less
					#- front/calendar.less
					#- front/sidebar.less
					#- front/contact-page.less
					#- front/object-detail-favorites.less
					#- front/ticket.less
#
					#- front/reservation-form.less
					#- front/main.css.less
					#- front/object-list.less
					#- front/homepage-list.less
					#- front/rental-detail-navigation.less
					#- front/interview-list.less

					# favorites 
					- front/favorites/less/animate-custom.css

					# _base
					- front/_base/less/fonts.less
					- front/_base/less/base.less
					- front/_base/less/forms.less
					- front/_base/less/calendar.less
					- front/_base/less/photoUpload.less
					- front/_base/less/navTabs.less
					# header
					- front/header/less/header.less
					# navigationBar
					- front/navigationBar/less/navigationBar.less
					# rental detail
					- front/rentalDetail/less/rentalDetail.less
					# rental navigation
					- front/rentalNavigation/less/rentalNavigation.less
					#list
					- front/rentalList/less/rentalList.less
					#home
					- front/home/less/home.less
					- front/home/less/clickMap.less
					# rental registration
					- front/rentalRegistration/less/rentalRegistration.less

					# search sidebar
					- front/search/less/search.less
					# contact page
					- front/contact/less/contact.less
					# ticket
					- front/ticket/less/ticket.less
					# ie optimalizacia
					- front/_base/less/ie.less
					# retina display
					- front/_base/less/retina.less
				js:
					#- front/js/jquery-tra-map.js
					#- front/js/object-register-to-view-list.js
					#- front/js/favorite-active-links.js
					#- front/js/favorite-slider.js
					#- front/js/show-favorite-slider.js
					##- front/js/jquery.jcarousel.min.js
					#- front/js/ui-localization-datepicker.js
					#- front/js/trax-forms-ui.js
					#- front/js/main.js
					#- front/js/detail-navigation.js
					#- 'https://apis.google.com/js/plusone.js'

					# _base
					- front/_base/js/main.js
					- front/_base/js/forms.js
					# - front/_base/js/socialShitLoader.js
					# customAlert
					- front/_base/js/customAlerts.js
					# registration
					- front/rentalRegistration/js/rentalRegistration.js
					# favorites
					- front/favorites/js/favorites.js
					# rental detail
					- front/rentalDetail/js/rentalDetail.js
					- front/_base/js/rentalEditFormLocalize.js
					# rental navigation
					- front/rentalNavigation/js/rentalNavigation.js
					# calendar widget
					- front/calendarWidget/js/calendarWidget.js
					# search sidebar
					- front/search/js/search.js
					# - front/_base/js/antirobot.js
					- front/_base/js/reservationForm.js
					# root home
					- front/home/js/rootHome.js


			historyPlugin:
				css:
					- front/historiPlugin/less/main.less
				js:
					- front/historiPlugin/js/historyPlugin.js

			jqueryAppear:
				js:
					- jqueryAppear/lib/js/jquery.appear.js

			navigationBarScroll:
				js:
					- front/navigationBar/js/navigationBarScroll.js
			jscrollPane:
				js:
					- jscrollPane/lib/js/jquery.mousewheel.js
					- jscrollPane/lib/js/jquery.jscrollpane.js
				css:
					- jscrollPane/lib/css/jquery.jscrollpane.css
					- jscrollPane/custom/css/main.css
			nette:
				js:
					#- nette/lib/netteForms.js
					- nette/lib/nette.ajax.js
					- nette/custom/js/custom.js
			bootstrap:
				js:
					#- bootstrap/lib/js/bootstrap-alert.js
					#- bootstrap/lib/js/bootstrap-button.js
					#- bootstrap/lib/js/bootstrap-carousel.js
					#- bootstrap/lib/js/bootstrap-collapse.js
					- bootstrap/lib/js/bootstrap-dropdown.js
					- bootstrap/lib/js/bootstrap-modal.js
					- bootstrap/lib/js/bootstrap-alert.js
					- bootstrap/lib/js/bootstrap-tooltip.js
					- bootstrap/lib/js/bootstrap-popover.js
					#- bootstrap/lib/js/bootstrap-scrollspy.js
					- bootstrap/lib/js/bootstrap-tab.js
					#- bootstrap/lib/js/bootstrap-transition.js
					#- bootstrap/lib/js/bootstrap-typeahead.js
				css:
					- bootstrap/lib/less/bootstrap.less
					- bootstrap/custom/less/bootstrap.less

			jQuery:
				js:
					- jQuery/lib/jquery.js
					# - "http://code.jquery.com/jquery-1.9.1.min.js"
			gMap:
				js:
					# - "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"
					#- "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"
			navBar:
				js:
					# - front/navigationBar/js/navigationBar.js
		sets:

			'Admin:Ap':
				- %webloader.packages.jQuery%
				- %webloader.packages.bootstrap%

			Admin:

				-  %webloader.packages.fontEntypo%
				-  %webloader.packages.fontAwesome%
				-  %webloader.packages.jQuery%
				-  %webloader.packages.jqueryUi%
				-  %webloader.packages.jqueryAppear%
				-  %webloader.packages.jqueryCookie%
				-  %webloader.packages.bootstrap%
				-  %webloader.packages.adminFront%
				-  %webloader.packages.Front%
				-  %webloader.packages.select2%
				-  %webloader.packages.texyla%
				-  %webloader.packages.nette%

			Front:
				-  %webloader.packages.jQuery%
				-  %webloader.packages.jqueryAppear%
				-  %webloader.packages.jstorage%
				-  %webloader.packages.jqueryUi%
				-  %webloader.packages.jqueryCookie%
				-  %webloader.packages.fontEntypo%
				-  %webloader.packages.fontAwesome%
				-  %webloader.packages.bootstrap%
				-  %webloader.packages.jscrollPane%
				-  %webloader.packages.fileUpload%
				-  %webloader.packages.select2%
				-  %webloader.packages.navBar%
				-  %webloader.packages.gMap%
				-  %webloader.packages.Front%

				#-  %webloader.packages.texyla%
				-  %webloader.packages.historyPlugin%
				-  %webloader.packages.nette%
				-  %webloader.packages.jqueryScrollTo%
				-  %webloader.packages.socialite%
				-  %webloader.packages.icoMoon%
				-  %webloader.packages.jqueryPlacehoder%
				
			'Front:CalendarIframe':
				-  %webloader.packages.calendarIframe%
			'Front:Rental:detail':
				-  %webloader.packages.jQuery%
				-  %webloader.packages.jqueryAppear%
				-  %webloader.packages.jstorage%
				-  %webloader.packages.jqueryUi%
				-  %webloader.packages.jqueryCookie%
				-  %webloader.packages.fontEntypo%
				-  %webloader.packages.fontAwesome%
				-  %webloader.packages.socialite%
				# -  %webloader.packages.jscrollPane%
				-  %webloader.packages.jqueryScrollTo%
				-  %webloader.packages.bootstrap%
				-  %webloader.packages.select2%
				-  %webloader.packages.navBar%
				-  %webloader.packages.Front%
				-  %webloader.packages.historyPlugin%
				-  %webloader.packages.nette%
				-  %webloader.packages.select2HideInputText%
				-  %webloader.packages.jqueryPlacehoder%
				-  %webloader.packages.rentalMapPlugin%
				
			'Front:RentalList':
				-  %webloader.packages.jQuery%
				-  %webloader.packages.jqueryAppear%
				-  %webloader.packages.jstorage%
				-  %webloader.packages.jqueryCookie%
				-  %webloader.packages.jqueryUi%
				-  %webloader.packages.fontEntypo%
				-  %webloader.packages.fontAwesome%
				-  %webloader.packages.bootstrap%
				-  %webloader.packages.jscrollPane%
				-  %webloader.packages.Front%
				-  %webloader.packages.select2%
				-  %webloader.packages.navBar%
				-  %webloader.packages.texyla%
				-  %webloader.packages.historyPlugin%				
				-  %webloader.packages.nette%
				-  %webloader.packages.navigationBarScroll%
				-  %webloader.packages.socialite%
				-  %webloader.packages.icoMoon%
				-  %webloader.packages.jqueryPlacehoder%
			Owner:
				-  %webloader.packages.jQuery%
				-  %webloader.packages.jqueryAppear%
				-  %webloader.packages.jstorage%
				-  %webloader.packages.jqueryUi%
				-  %webloader.packages.jqueryCookie%
				-  %webloader.packages.fontEntypo%
				-  %webloader.packages.fontAwesome%
				-  %webloader.packages.bootstrap%
				-  %webloader.packages.jscrollPane%
				-  %webloader.packages.jqueryScrollTo%
				-  %webloader.packages.fileUpload%
				-  %webloader.packages.select2%
				-  %webloader.packages.gMap%
				-  %webloader.packages.Front%
				-  %webloader.packages.adminFront%
				#-  %webloader.packages.texyla%
				-  %webloader.packages.nette%
				-  %webloader.packages.socialite%
				-  %webloader.packages.fixTop%
				-  %webloader.packages.jqueryPlacehoder%

