parameters:
	webloader:
		packages:
			admin:
				js:
					- admin/admin.js
					- admin/main.js
				css:
					- admin/_bootstrap.less
			autopilot:
				js: 
					- autopilot/autopilot.js
				css: autopilot/_bootstrap.less
			nette:
				js: 
					- nette/nette.js
					- nette/netteForms.js
			bootstrap:
				js: bootstrap/bootstrap.min.js
			liveQuery:
				js: liveQuery/livequery.js
			jQuery:
				js: 
					- jQuery/jquery.js
					- jQuery/jquery.livequery.js
			jQueryCalendar:
				js: jQueryCalendar/jquery.calendar.js
				css: jQueryCalendar/jquery.calendar.css
			jQueryUI:
				js: 
					- jQueryUI/jquery.ui.js
					- jQueryUI/multiselect/ui.multiselect.js
					- jQueryUI/jquery.checkbox.js
				css: 
					- jQueryUI/jquery.ui.css
					- jQueryUI/ui.multiselect.css
					- jQueryUI/jquery.checkbox.css

		sets:
			'Admin:Autopilot':
				- %webloader.packages.jQuery%
				- %webloader.packages.jQueryCalendar%
				- %webloader.packages.bootstrap%
				- %webloader.packages.autopilot%

			Admin: 
				- %webloader.packages.jQuery%
				- %webloader.packages.jQueryUI%
				- %webloader.packages.nette%
				- %webloader.packages.liveQuery%
				- %webloader.packages.admin%
				- %webloader.packages.bootstrap%

