{block content}

{cache $homeCacheOptions['key'],
	if => $homeCacheOptions['enabled'],
	expire => $homeCacheOptions['expiration'],
	tags => $homeCacheOptions['tags']}

{include APP_DIR.'/FrontModule/templates/homeList.latte'}

{/cache}
