{*
	Fieldset -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	*}
	{define #fieldset}
	{default $text = ''}
	<tr>
		<td colspan="3" class="fieldset">{_$text}</td>
	</tr>
	{/define #fieldset}

	{*
	Text Control -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	*}
	{define #text}
	{include #baseControl, control => $control}
	{/define #text}


	{*
	Text Area Control -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	*}
	{define #textArea}
	{include #baseControl, control => $control}
	{/define #textArea}


	{*
	Password Control -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	*}
	{define #password}
	{include #baseControl, control => $control}
	{/define #password}


	{*
	Email Control -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	*}
	{define #email}
	{include #baseControl, control => $control}
	{/define #email}


	{*
	Url Control -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	*}
	{define #url}
	{include #baseControl, control => $control}
	{/define #url}


	{*
	Select Control -------------------------------------------
	@param $control \Nette\Forms\Controls\SelectControl
	@param $controlClass string
	*}
	{define #select}
	{default $controlClass = 'select2'}
	{default $class = ''}
	{include #baseControl, control => $control, controlClass => $controlClass , class => $class}
	{/define #select}


	{*
	Upload Control -------------------------------------------
	@param $control \Nette\Forms\Controls\UploadControl
	@param $controlClass string
	*}
	{define #upload}
	{include #baseControl, control => $control}
	{/define #upload}


	{*
	Texyla Control -------------------------------------------
	@param $control \Nette\Forms\Controls\TextAreaControl
	@param $controlClass string
	*}

	{define #texyla}
	<tr>
		<td>
			{label $control /}
		</td>
		<td>
			{input $control , class => "texyla"}
		</td>

		<td>
			<span class="help">{$control->getOption('description')}</span>
			<span class="alert">{include #controlErrors, errors => $control->getErrors()}</span>
		</td>
	</tr>
	{/define #texyla}


	{*
	===========================================================================================================
	===========================================================================================================
	===========================================================================================================
	===========================================================================================================
	===========================================================================================================
	*}


	{*
	Texyla Control -------------------------------------------
	@param $control \Nette\Forms\Controls\TextAreaControl
	@param $controlClass string
	*}
	{define #checkbox}
	<tr>
		<td>
			{_$control->caption}
		</td>
		<td>
			{input $control}
		</td>

		<td>
			<span class="help">{$control->getOption('description')}</span>
			<span class="alert">{include #controlErrors, errors => $control->getErrors()}</span>
		</td>
	</tr>
	{/define #checkbox}


	{*
	Base Control -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	@param $controlClass string
	@param $class string
	*}


	{define #baseControl}
	{default $class = ''}
	<tr class="simpleInput {$class}">
		<td>
			{_$control->caption}
		</td>
		<td>
			{capture $input}
			{ifset $controlClass}
			{input $control, class => $controlClass}
			{else}
			{input $control}
			{/ifset}
			{/capture}

			{if $control->getOption('prepend')}
			<div class="input-prepend">
				<table>
					<tr>
						<td class="prepend"><span class="add-on">{!$control->getOption('prepend')}</span></td>
						<td>{!$input} </td>
					</tr>
				</table>
			</div>
			{elseif $control->getOption('append')}
			<div class="input-append">
				<table>
					<tr>
						<td>{!$input}</td>
						<td class="append"><span class="add-on">{!$control->getOption('append')}</span></td>
					</tr>
				</table>
			</div>
			{else}
			<table>
				<tr>
					<td>{!$input}</td>
				</tr>
			</table>
			{/if}
		</td>
		<td>
			<span class="help">{$control->getOption('help')}</span>
			<span class="invalidAlert">{include #controlErrors, errors => $control->getErrors()}</span>
		</td>
	</tr>
	{/define #baseControl}


	{*
	Errors -------------------------------------------
	@param $errors array
	*}
	{define #controlErrors}
	{foreach $errors as $error}{$error}{/foreach}
	{/define #controlErrors}


	{*
	Checkbox List -------------------------------------------
	@param $control \Nextras\Forms\Container\MultiOptionList
	*}

	{define #checkboxList}
	{default $colCount = 1}
	{if $colCount == 1}
	<tr class="simpleInput">
		<td style="vertical-align: top; padding-top: 4px;">{_$control->caption}</td>
		<td>
			{foreach $control as $key => $label}
			{*!$control->getLabelItem($key)->addAttributes(['class' => 'checkbox'])->startTag()*}
			<label>
				{$control->getControlItem($key)}
				{_$label}
			</label>
			{/foreach}
		</td>
		<td></td>
	</tr>
	{else}
	{var $countPerCol = ceil(count($control->items)/$colCount)}
	<tr>
		<td colspan="3">
			<table class="checkboxes" style="width: 100%;">
				<tr>
					<td colspan="{$colCount-1}">{_$control->caption}</td>
					<td>
						<span class="help">{$control->getOption('help')}</span>
						<span class="invalidAlert">{include #controlErrors, errors => $control->getErrors()}</span>
					</td>
				</tr>
				<tr>
					<td width="{(int)(100/$colCount)}%">
						{var $i = 1}
						{foreach $control as $key => $label}
						{*!$control->getLabelItem($key)->addAttributes(['class' => 'checkbox'])->startTag()*}
						<label>{$control->getControlItem($key)}{_$label}</label>
						{if $i == $countPerCol}
					</td><td width="{(int)(100/$colCount)}%">
					{var $i = 0}
					{/if}
					{var $i++}
					{/foreach}
				</td>
			</tr>
		</table>
	</td>
</tr>

{/if}
{/define #checkboxList}



{*
	Price Container -------------------------------------------
	@param $control \Extras\Forms\Container\PriceContainer
	*}
	{define #price}
	{var
	$container = $control;
	$mainControl = $container->getMainControl()
}
{?unset($control)}

<tr>
	<td>
		{label $mainControl /}
	</td>
	<td>
		{input $container['amount']}
		{input $container['currency'], class => 'select2'}
	</td>

	<td>
		<span class="help">{$container->getOption('help')}</span>
		<span class="invalidAlert">{include #controlErrors, errors => $container->getAllErrors()}</span>
	</td>
</tr>
{/define #price}


{*
	Phone Container -------------------------------------------
	@param $control \Extras\Forms\Container\PhoneContainer
	*}
	{define #phone}
	{var
	$container = $control;
	$mainControl = $container->getMainControl()
}
{?unset($control)}

<tr class="simpleInput">
	<td>
		{_$mainControl->caption}
	</td>
	<td>
		<table>
			<tr>
				<td class="prepend">{input $container['prefix'], class => 'select2'}</td>
				<td>{input $container['number']}</td>
			</tr>
		</table>
	</td>

	<td>
		<span class="help">{$container->getDescription('description')}</span>
		<span class="alert">{include #controlErrors, errors => $container->getAllErrors()}</span>
	</td>
</tr>

{/define #phone}


{*
	Address Container -------------------------------------------
	@param $control \Extras\Forms\Container\AddressContainer
	*}
	{define #address}
	{var
	$container = $control;
	$mainControl = $container->getMainControl()
}
{?unset($control)}

<tr class="traMapcontrol" data-link="{plink validateAddress}">
	<td colspan="3">

{* 		<table>
			<tr>
				<td colspan="5"><span class="help">Text message about input method</span></td>
			</tr>
			<tr>
				<td>{input $container['address'], data-name => "address", placeholder => 'placeholder adress' , data-validation-message => "gps-validation-message"}</td>
				<td>{input $container['locality'], data-name => "locality", placeholder => 'placeholder locality' , data-validation-message => "gps-validation-message"}</td>
				<td>{input $container['postalCode'], data-name => "postalCode", placeholder => 'placeholder postal code' , data-validation-message => "gps-validation-message"}</td>
				<td>{input $container['location'], data-name => "primaryLocation", class => 'select2', data-validation-message =>"gps-validation-message"}</td>
				<td><button class="btn btn-orange"><i class="entypo-location"></i> #check</button>
					{input $container['latitude'], data-name => "latitude", class => "latitude"}
					{input $container['longitude'], data-name => "longitude", class => "longitude"}
				</td>
			</tr>

		</table> *}


		<table>
			<tr>
				<td colspan="5"><span class="help">{_o100090}</span></td>
			</tr>
			<tr>
				<td>{input $container['address'], data-name => "address", placeholder => 'o100091' , data-validation-message => "gps-validation-message"}</td>
			</tr>

		</table>

<!-- 		<div class="span12 control-error" id="gps-validation-message"></div> -->

		<div class="mapRender" id="map_canvas" data-zoom="{$container->getZoom()}" data-latitude="{$container['latitude']->getValue()}" data-longitude="{$container['longitude']->getValue()}" style="width:100%;height:400px;margin-top:10px;"><i class="icon-spin icon-spinner"></i></div>
		{* <div id="gps_position"></div> *}

	</td>
</tr>

{/define #address}

{*
	Phrase Container -------------------------------------------
	@param $control \Extras\Forms\Container\PhraseContainer
	*}
	{define #phrase}
	{var
	$container = $control;
	$phrase = $container->getPhrase();
}
{?unset($control)}
<div class="row-fluid phraseForm">

	<div class="span12">


		<div class="span2">
			{label $container['phraseType'] /}
			{input $container['phraseType'] , class => 'select2'}
		</div>


		<div class="span3">
			{label $container['sourceLanguage'] /}
			{input $container['sourceLanguage'], class => 'select2'}
		</div>

		<div class="span2">
			{input $container['ready']}
			{label $container['ready'] /}
			<b>Translation | <span id="phraseTranslateCurrent"></b>
		</div>
		<div class="span2">

			{input $container['corrected']}
			{label $container['corrected'] /}


			{input $container['changeToLanguage'] , class => 'select2 pull-right' , id => 'phraseLanguage'}

		</div>

	</div>
	<hr />
	<div class="span6">

		{include #translationVatiations, control => $container['fromVariations']}

	</div>
	<div class="span6">


		{foreach $container['to']->getComponents() as $languageContainer}
		{var $language = $languageContainer['variations']->getLanguage()}
		<div class="phrasecontrol hide" id="{$language->getId()}_phrase">


			{include #translationVatiations, control => $languageContainer['variations']}

			<div class="pull-left">
				{label $languageContainer['gender'] /}
				{input $languageContainer['gender'] , class => 'select2'}
			</div>

			<div class="pull-right">
				{label $languageContainer['position'] /}
				{input $languageContainer['position'] , class => 'select2'}
			</div>
			<div class="clearfix"></div>



		</div>
		{/foreach}


	</div>

</div>

{/define #phrase}


{*
	Translation Variations Container -------------------------------------------
	@param $control \Extras\Forms\Container\TranslationVariationsContainer
	*}
	{define #translationVatiations}
	{var
	$container = $control;
	$phrase = $container->getPhrase();
	$language = $container->getLanguage();
}
{?unset($control)}
<table class="phraseTable table-striped table">
	<tr>
		{if $phrase->type->pluralVariationsRequired}
		<th>Count</th>
		{/if}
		{if $phrase->type->genderVariationsRequired}
		{foreach $language->genders as $genderName}
		<th>{$genderName}</th>
		{/foreach}
		{/if}
	</tr>
	{foreach $container->getComponents() as $plural}
	<tr>
		{if $phrase->type->pluralVariationsRequired}
		<td>{$language->getPluralName($plural->getName())}</td>
		{/if}
		{foreach $plural->getComponents() as $genders}
		<td>
			{foreach $genders->getComponents() as $gender}
			{$gender->getControl()}
			{/foreach}
		</td>
		{/foreach}
	</tr>
	{/foreach}
</table>

{/define #translationVatiations}


{*
	Rental Photos Container -------------------------------------------
	@param $control \Extras\Forms\Container\RentalPhotosContainer
	*}
	{define #rentalPhotos}
	{var
	$container = $control;
}
{?unset($control)}
<tr class="control-photo"><!-- control photo start -->

	<td colspan="3">
		<div class="row-fluid">


			<div class="span12">
				<ul id="sortable" class="ui-sortable" n:inner-foreach="$container->getImages() as $image">
					<li data-id="{$image->getId()}" class="ui-state-default">
						<img n:image="$image">
						<a href="#" class="remove">{_o100088}</a>
					</li>
				</ul>
			</div>

		</div>
		<div class="row-fluid text">
			<div class="span3">


				<span class="btn btn-green fileinput-button">
					<i class="entypo-upload"></i>
					<span>{_o100087}</span>
					{input $container['upload']}
				</span>

			</div>

			<div class="span9">
			<p>{_o100097}</p>
			</div>

		</div>
	</td>




	{*<input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple="">*}

	{input $container['sort']}

</tr>
{/define #rentalPhotos}


{*
	Calendar Container -------------------------------------------
	@param $control \Nette\Forms\Controls\CalendarButton
	*}
	{define #calendar}
	{var
	$_control = $control;
	$container = $control;
	$months = $container->getMonths();
}
{?unset($control)}
<div class="calendarEdit">
	{control calendar:editable, 12}
	{input $container['data']}
</div>
{/define #calendar}



{*
	Submit Button Container -------------------------------------------
	@param $control \Nette\Forms\Controls\SubmitButton
	*}
	{define #submit}
	{default $class = null}
	<tr>
		<td>

		</td>
		<td colspan="2">
			<button type="submit" class="btn btn-orangeDark" name="{$control->getHtmlName()}" id="{$control->getHtmlId()}">
				<i class="entypo-send"></i> <i class="icon-spinner icon-spin"></i> {_$control->caption}
			</button>
		</td>
	</tr>
	{/define #submit}

{*
	Submit / Cancel Button Container -------------------------------------------
	@param $control \Nette\Forms\Controls\SubmitButton
	*}
	{define #submitCancel}
	{default $class = null}
	<tr>
		<td></td>
		<td colspan="2">
			<button type="submit" class="btn-orange" name="{$control->getHtmlName()}" id="{$control->getHtmlId()}">
				<i class="icon"></i> {_$control->caption}
			</button>
			<button type="button" class="btn-cancel" name="cancel">
				<i class="icon-trash"></i> {_o100089}
			</button>
		</td>
	</tr>
	{/define #submitCancel}

	{*
	Button Container -------------------------------------------
	@param $control \Nette\Forms\Controls\SubmitButton
	@param $icon string
	*}

	{define #button}
	<button type="button" n:class="$class ? 'btn ' .$class : btn" name="{$control->getHtmlName()}" id="{$control->getHtmlId()}">
		<i n:ifset="$icon" class="{$icon}"></i> {_$control->caption}
	</button>
	{/define #button}

{*
	Calendar Container -------------------------------------------
	@param $control \Nette\Forms\Controls\CalendarButton
*}
{define #rentalType}
	{var
		$_control = $control;
		$container = $control;
	}
	{?unset($control)}
	{include #select, control => $container['type'] , class => 'rentalType'}
	{include #select, control => $container['classification'] , class => 'classification' }
{/define #rentalType}








