{define #opentag}
	{default $class = ''}
	{default $dataLink = NULL}

	{if $control instanceof \Nette\Forms\Container}
		{var $hasErrors = count($control->getAllErrors())}
	{else}
		{var $hasErrors = $control->hasErrors()}
	{/if}

	<tr n:attr="data-link => $dataLink" n:class="$hasErrors ? 'invalid '.$class : $class">
{/define #opentag}


	{*
	Fieldset -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	*}
	{define #fieldset}
	{default $text = ''}
	{default $required = false}
	{default $id = ''}
	<tr>
		<td colspan="3" id="{$id}" class="fieldset"><div class="separator"></div>{_$text}<i n:if="$required" class="icon-asterisk"></i></td>
	</tr>
	{/define #fieldset}


	{*
	infobox -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	*}
	{define #infobox}
	{default $text = ''}
	<tr class="simpleInput">
		<td colspan=3>
			<div class="formHelpText info">{_$text}</div>
		</td>
	</tr>
	{/define #infobox}

	{*
	Text Control -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	*}
	{define #text}
	{default $class = ''}
	{include #baseControl, control => $control , class => $class}
	{/define #text}

	{*
	Text Area Control -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	*}
	{define #textArea}
	{include #baseControl, control => $control}
	{/define #textArea}


	{*
	Password Control -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	*}
	{define #password}
	{default $class = 'form-row'}
	{include #baseControl, control => $control, class => $class}
	{/define #password}


	{*
	Email Control -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	*}
	{define #email}
	{include #baseControl, control => $control}
	{/define #email}


	{*
	Url Control -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	*}
	{define #url}
	{include #baseControl, control => $control}
	{/define #url}


	{*
	Select Control -------------------------------------------
	@param $control \Nette\Forms\Controls\SelectControl
	@param $controlClass string
	*}
	{define #select}
	{default $controlClass = 'select2'}
	{default $class = ''}
	{include #baseControl, control => $control, controlClass => $controlClass , class => $class}
	{/define #select}


	{*
	Upload Control -------------------------------------------
	@param $control \Nette\Forms\Controls\UploadControl
	@param $controlClass string
	*}
	{define #upload}
	{include #baseControl, control => $control}
	{/define #upload}


	{*
	Texyla Control -------------------------------------------
	@param $control \Nette\Forms\Controls\TextAreaControl
	@param $controlClass string
	*}

	{define #texyla}
	<tr>
		<td>
			{label $control /}
		</td>
		<td>
			{input $control , class => "texyla"}
		</td>

		<td>
			<span class="help">{$control->getOption('help')}</span>
			<span class="invalidAlert">{include #controlErrors, errors => $control->getErrors()}</span>
		</td>
	</tr>
	{/define #texyla}


	{*
	===========================================================================================================
	===========================================================================================================
	===========================================================================================================
	===========================================================================================================
	===========================================================================================================
	*}


	{*
	Checkbox Control -------------------------------------------
	@param $control \Nette\Forms\Controls\CheckboxControl
	@param $controlClass string
	*}
	{define #checkbox}
	{default $class = 'simpleInput checkbox'}
	{include #opentag , control => $control, class => $class}

		<td>
			{_$control->caption}
		</td>
		<td>
			{input $control}

				<label for="{$control->getHtmlId()}">
					{$control->getOption('help')}
				</label>
		</td>

		<td>
			<span class="invalidAlert">{include #controlErrors, errors => $control->getErrors()}</span>
		</td>
	</tr>
	{/define #checkbox}




	{*
	Teaser Control -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	@param $controlClass string
	@param $class string
	*}


	{define #interview}
	{default $class = ''}
	{capture $input}
	{ifset $controlClass}
	{input $control, class => $controlClass}
	{else}
	{input $control}
	{/ifset}
	{/capture}
	{include #opentag , class => 'simpleInput '.$class , control => $control}
		<td colspan="3">
			<table class="interview">
				<tr>
					<td>{_$control->caption}</td>
				</tr>
				<tr>
					<td>{!$input}</td>
				</tr>
				<tr>
					<td>
						<span class="help">{$control->getOption('help')}</span>
						<span class="invalidAlert">{include #controlErrors, errors => $control->getErrors()}</span>
					</td>
				</tr>
			</table>
		</td>

	</tr>
	{/define #interview}

	{*
	Base Control -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	@param $controlClass string
	@param $class string
	*}


	{define #baseControl}
	{default $class = ''}
	{include #opentag , class => 'simpleInput '.$class , control => $control}
		<td>
			{_$control->caption}
			{if $control->isRequired()}
				<i class="icon-asterisk"></i>
			{/if}
		</td>
		<td>
			{capture $input}
			{ifset $controlClass}
			{input $control, class => $controlClass}
			{else}
			{input $control}
			{/ifset}
			{/capture}

			{if $control->getOption('prepend')}
			<div class="input-prepend">
				<table>
					<tr>
						<td class="prepend"><span class="add-on">{!$control->getOption('prepend')}</span></td>
						<td>{!$input} </td>
					</tr>
				</table>
			</div>
			{elseif $control->getOption('append')}
			<div class="input-append">
				<table>
					<tr>
						<td>{!$input}</td>
						<td class="append"><span class="add-on">{!$control->getOption('append')}</span></td>
					</tr>
				</table>
			</div>
			{else}
			<table>
				<tr>
					<td>{!$input}</td>
				</tr>
			</table>
			{/if}
		</td>
		<td>
			<span class="help">{$control->getOption('help')}</span>
			<span class="invalidAlert">{include #controlErrors, errors => $control->getErrors()}</span>
		</td>
	</tr>
	{/define #baseControl}


	{*
	Errors -------------------------------------------
	@param $errors array
	*}
	{define #controlErrors}
	{foreach $errors as $error}{$error}{/foreach}
	{/define #controlErrors}


	{*
	Checkbox List -------------------------------------------
	@param $control \Nextras\Forms\Container\MultiOptionList
	*}

	{define #checkboxList}
	{default $colCount = 1}
	{if $colCount == 1}
	{include #opentag , class => 'simpleInput' , control => $control}
		<td style="vertical-align: top; padding-top: 4px;">{_$control->caption}</td>
		<td>
			{foreach $control as $key => $label}
			{*!$control->getLabelItem($key)->addAttributes(['class' => 'checkbox'])->startTag()*}
			<label>
				{$control->getControlItem($key)}
				{_$label}
			</label>
			{/foreach}
		</td>
		<td></td>
	</tr>
	{else}
	{var $countPerCol = ceil(count($control->items)/$colCount)}
	<tr>
		<td colspan="3">
			<table class="checkboxes">
				<tr>
					{* <td colspan="{$colCount-1}" class="fieldset"><div class="separator"></div>{_$control->caption|firstUpper}</td> *}
					<td colspan="3" class="fieldset"><div class="separator"></div>{_$control->caption|firstUpper}</td>
					<td>
						<span class="help">{$control->getOption('help')}</span>
						<span class="invalidAlert">{include #controlErrors, errors => $control->getErrors()}</span>
					</td>
				</tr>
				<tr>
					<td width="{(int)(100/$colCount)}%">
						{var $i = 1}
						{foreach $control as $key => $label}
						{*!$control->getLabelItem($key)->addAttributes(['class' => 'checkbox'])->startTag()*}
						<label>{$control->getControlItem($key)}{_$label}</label>
						{if $i == $countPerCol}
					</td><td width="{(int)(100/$colCount)}%">
					{var $i = 0}
					{/if}
					{var $i++}
					{/foreach}
				</td>
			</tr>
		</table>
	</td>
</tr>

{/if}
{/define #checkboxList}



{*
	Price Container -------------------------------------------
	@param $control \Extras\Forms\Container\PriceContainer
	*}
	{define #price}
	{var
	$container = $control;
	$mainControl = $container->getMainControl()
}
{?unset($control)}

<tr>
	<td>
		{label $mainControl /}
	</td>
	<td>
		{input $container['amount']}
		{input $container['currency'], class => 'select2'}
	</td>

	<td>
		<span class="help">{$mainControl->getOption('help')}</span>
		<span class="invalidAlert">{include #controlErrors, errors => $container->getAllErrors()}</span>
	</td>
</tr>
{/define #price}


{*
	Phone Container -------------------------------------------
	@param $control \Extras\Forms\Container\PhoneContainer
	*}
	{define #phone}
	{var
	$container = $control;
	$mainControl = $container->getMainControl()
}
{?unset($control)}

{include #opentag , class => 'simpleInput ' , control => $container}
	<td>
		{_$mainControl->caption}
		{if $mainControl->isRequired()}
			<i class="icon-asterisk"></i>
		{/if}		
	</td>
	<td>
		<table>
			<tr>
				<td class="prepend">{input $container['prefix'], class => 'select2'}</td>
				<td>{input $container['number']}</td>
			</tr>
		</table>
	</td>

	<td>
		<span class="help">{$mainControl->getOption('help')}</span>
		<span class="invalidAlert">{include #controlErrors, errors => $container->getAllErrors()}</span>
	</td>
</tr>

{/define #phone}


{*
	Address Container -------------------------------------------
	@param $control \Extras\Forms\Container\AddressContainer
	*}
	{define #address}
	{var
	$container = $control;
	$mainControl = $container->getMainControl()
}
{?unset($control)}

{capture $datalink}
{plink validateAddress}
{/capture}

{include #opentag , class => 'mapControl' , dataLink => $datalink , control => $container}

	<td colspan="3">

{* 		<table>
			<tr>
				<td colspan="5"><span class="help">Text message about input method</span></td>
			</tr>
			<tr>
				<td>{input $container['address'], data-name => "address", placeholder => 'placeholder adress' , data-validation-message => "gps-validation-message"}</td>
				<td>{input $container['locality'], data-name => "locality", placeholder => 'placeholder locality' , data-validation-message => "gps-validation-message"}</td>
				<td>{input $container['postalCode'], data-name => "postalCode", placeholder => 'placeholder postal code' , data-validation-message => "gps-validation-message"}</td>
				<td>{input $container['location'], data-name => "primaryLocation", class => 'select2', data-validation-message =>"gps-validation-message"}</td>
				<td><button class="btn btn-orange"><i class="entypo-location"></i> #check</button>
					{input $container['latitude'], data-name => "latitude", class => "latitude"}
					{input $container['longitude'], data-name => "longitude", class => "longitude"}
				</td>
			</tr>

		</table> *}


		<table>
			<tr>
				<td colspan="5">
					<span class="invalidAlert">{include #controlErrors, errors => $mainControl->getErrors()}</span>
					<span class="help">{_o100090}</span>
				</td>
			</tr>
			<tr>
				<td>{input $container['address'], data-name => "address", class => 'rentalAutocompleteAddress' , data-validation-message => "gps-validation-message"}</td>
			</tr>

		</table>

<!-- 		<div class="span12 control-error" id="gps-validation-message"></div> -->

		<div class="mapRender" id="map_canvas"
			 data-zoom="{$container->getZoom()}"
			 data-show-marker="{$container->shouldShowMarker()}"
			 data-latitude="{$container['latitude']->getValue()}"
			 data-longitude="{$container['longitude']->getValue()}"
			 style="width:100%;height:400px;margin-top:10px;">
			<i class="icon-spin icon-spinner"></i>
		</div>
		{* <div id="gps_position"></div> *}

	</td>
</tr>

{/define #address}

{*
	Phrase Container -------------------------------------------
	@param $control \Extras\Forms\Container\PhraseContainer
*}
{define #phrase}
{var
	$container = $control;
	$phrase = $container->getPhrase();
}
{default $showDetails = TRUE}
{?unset($control)}

{var $hasErrors = count($container->getAllErrors())}

<div  n:class="$hasErrors ? 'invalid row-fluid phraseForm' : 'row-fluid phraseForm'">

	<div n:if="$container->getHelpDescription()">Help: {!$container->getHelpDescription()}</div>

	<div class="span5 phraseFormInputCover">

		{include #translationVatiations, control => $container['fromVariations']}

	</div>


		{foreach $container['to']->getComponents() as $languageContainer}
			{var $language = $languageContainer['variations']->getLanguage()}
			{var $status = $languageContainer['variations']->getStatusLabel()}

			{var $helpclass = ''}

			<div class="phrasecontrol hide {$language->getId()}_phrase ">

				<div class="span5 phraseFormInputCover">

				{include #translationVatiations, control => $languageContainer['variations']}
				</div>

				<div class="phraseFormHeaderCover span9">

					<small>
						#{$phrase->getId()}, {$container->getPhraseTypeString()}, {$container->getSourceLanguage()->getIso()|upper}
						{if $container->showUsedStatus()}
							({$phrase->getUsed() ? 'Used' : 'NOTused'})
						{/if}
					</small>

					{if $container->showPhraseStatus()}
						<small>{$status}</small>
					{/if}

					{ifset $languageContainer['gender']}
						{input $languageContainer['gender'] }
					{/ifset}

					{ifset $languageContainer['position']}
						{input $languageContainer['position'] }
					{/ifset}

					{if $container->isHtmlText()}
						<a href="#" data-preview-title="#title preview" class="preview" data-preview-link="{plink texylaPreview}">preview</a>
					{/if}

					{if $container->showDeleteLink()}
						<a href="{plink Phrase:delete $phrase->getId()}" class="ajaxDelete">delete</a>
					{/if}


					<div class="pull-right" n:ifset="$container['specialOptionValue']">
						{label $container['specialOptionValue']}
							{$container['specialOptionValue']->caption}
							{input $container['specialOptionValue'] }
						{/label}
					</div>


				</div>


			</div>


		{/foreach}

</div>


{/define #phrase}


{*
	Translation Variations Container -------------------------------------------
	@param $control \Extras\Forms\Container\TranslationVariationsContainer
	*}
	{define #translationVatiations}
	{var
	$container = $control;
	$phrase = $container->getPhrase();
	$language = $container->getLanguage();
}
{?unset($control)}
<table class="phraseTable table">
	<tr>
		{if $phrase->type->pluralVariationsRequired}

		{/if}
		{if $phrase->type->genderVariationsRequired}
		{foreach $language->genders as $genderName}
		<th>{$genderName}</th>
		{/foreach}
		{/if}
	</tr>
	{foreach $container->getComponents() as $plural}
	<tr>

		{foreach $plural->getComponents() as $genders}
		<td class="control">
			{foreach $genders->getComponents() as $gender}

			<span class="genderName">
				{$gender->getName()|firstUpper}
				{if $phrase->type->pluralVariationsRequired}
				{$language->getPluralName($plural->getName())}
				{/if}
			</span>

			{$gender->getControl()}

			{/foreach}
		</td>
		{/foreach}
	</tr>
	{/foreach}
</table>

{/define #translationVatiations}


{*
	Rental Photos Container -------------------------------------------
	@param $control \Extras\Forms\Container\RentalPhotosContainer
*}
{define #rentalPhotos}
{var
	$container = $control;
	$mainControl = $container->getMainControl()
}
{?unset($control)}
{include #opentag , class => 'control-photo' , control => $container}
<!-- control photo start -->

	<td colspan="3" class="photoControlParams" data-small-image-message="{_'o100199'}" data-wrong-file-message="{_'o100200'}" data-upload-fail-message="{_'o100201'}">
		<div class="row-fluid">

			<div class="span12">

				<ul class="ajaxErrors"></ul>

				<div class="help">{include #controlErrors, errors => $mainControl->getErrors()}</div>

				<ul id="sortable" class="ui-sortable">

					{foreach  $container->getImages() as $image } 
						<li data-id="{$image->getId()}" class="ui-state-default">
							<img n:image="$image">
							<a href="" class="remove" title="{_o100088}"></a>
						</li>				
					{/foreach}

					<li class="addPhotoButton">
						<span title="{_o100087}" data-placement="bottom" class="btn btn-green tooltipElem fileinput-button">
							<i class="icon-plus"></i>
							{input $container['upload']}
						</span>
					</li>

				</ul>
			</div>

		</div>
	</td>




	{*<input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple="">*}

	{input $container['sortInput']}

</tr>
{/define #rentalPhotos}


{*
	Rental Price List Container -------------------------------------------
	@param $control \Extras\Forms\Container\RentalPriceUploadContainer
*}
{define #rentalPriceUpload}
{var
	$container = $control;
	$mainControl = $container->getMainControl()
}
{?unset($control)}
{include #opentag , class => 'rentalPriceUpload' , control => $container}
<!-- control photo start -->

	<td colspan="3">
		<div class="row-fluid">
			<div class="help">{include #controlErrors, errors => $container->getAllErrors()}</div>
			{var $replicator = $container->getComponent('list')}
			<div class="priceListRowsContainer">
				{foreach $replicator->getComponents() as $component}
					<div class="rentalPriceRow">
						{input $component['name']}
						{input $component['language'] , class => 'notFulltext'}
						{if $component['filePath']->getValue()}
							<span class="file-placeholder">{$component['fileSize']->getValue()|bytes}</span>
						{else}
							<span data-placeholder="{_o100192}" class="btn btn-green fileinput-button">
								<i class="icon-upload-alt"></i>
								<span>{label $component['file']}{/label}</span>
								{input $component['file']}
							</span>
						{/if}
						{*{input $component['remove'] , class => 'btn btn-cancel remove ajax'}*}
						<span class="btn btn-cancel remove"><i class="icon-remove"></i></span>
						{input $component['fileSize']}
						{input $component['filePath']}
						{input $component['entity']}
					</div>
				{/foreach}
			</div>
			<a class="btn addLine btn-green"><i class="icon-plus"></i> {_o100168}</a>

		</div>
	</td>
	{*<input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple="">*}
</tr>
{/define #rentalPriceUpload}


{*
	Rental Price List Container -------------------------------------------
	@param $control \Extras\Forms\Container\RentalPriceUploadContainer
*}
{define #rentalPriceList}
{var
	$container = $control;
}
{?unset($control)}
{include #opentag , class => '' , control => $container}

	<td class="pricelistControl" colspan="3">
		{var $replicator = $container->getComponent('list')}
		{foreach $replicator->getComponents() as $component}
			<div class="priceList">
				{input $component['roomCount'] , class => ' pull-left'}
				{input $component['roomType'] , class => 'string pull-left'}
				{input $component['bedCount'] , class => 'string pull-left'}
				{input $component['extraBedCount'] , class => 'string pull-left'}

				{* {input $component['price']['currency'] , class => 'select2'} *}
				<div class="input-append pull-left">
					{input $component['price'] , class => 'price' }<span class="add-on">
						{$component['price']->getOption('append')}
					</span>
				</div>
				<span class="btn btn-cancel remove"><i class="icon-remove"></i></span>
			</div>

		{/foreach}
	</td>
</tr>
<tr class="pricelistControlButton">
	<td colspan="3"><a href="#" class="btn-green btn createNewLine"><i class="icon-plus"></i> {_o100168}</a></td>
</tr>
{/define #rentalPriceList}


{*
	Calendar Container -------------------------------------------
	@param $control \Nette\Forms\Controls\CalendarButton
	*}
	{define #calendar}
	{var
	$_control = $control;
	$container = $control;
	$months = $container->getMonths();
}
{?unset($control)}
<div class="calendarEdit">
	{control calendar:editable, 12}
	{input $container['data']}
</div>
{/define #calendar}



{*
	Submit Button Container -------------------------------------------
	@param $control \Nette\Forms\Controls\SubmitButton
	@param $dataLoadingText string
	*}
	{define #submit}
	{default $class = ''}
	{include #opentag , class => 'simpleImput' , control => $control}
		<td>

		</td>
		<td colspan="2">
			<button type="submit" {ifset $dataLoadingText}data-loading-text="{$dataLoadingText}"{/ifset} class="btn btn-greenDark {$class}" name="{$control->getHtmlName()}" id="{$control->getHtmlId()}">
				<i class="icon-ok"></i> <i class="icon-spinner icon-spin"></i> <small>{_$control->caption}</small>
			</button>
			<small class="sublitLoadingText"></small>
		</td>
	</tr>
	{/define #submit}

{*
	Submit / Cancel Button Container -------------------------------------------
	@param $control \Nette\Forms\Controls\SubmitButton
	*}
	{define #submitCancel}
	{default $class = null}
	<tr>
		<td></td>
		<td colspan="2">
			<button type="submit" class="btn-orange" name="{$control->getHtmlName()}" id="{$control->getHtmlId()}">
				<i class="icon"></i> {_$control->caption}
			</button>
			<button type="button" class="btn-cancel" name="cancel">
				<i class="icon-trash"></i> {_o100089}
			</button>
		</td>
	</tr>
	{/define #submitCancel}

	{*
	Button Container -------------------------------------------
	@param $control \Nette\Forms\Controls\SubmitButton
	@param $icon string
	*}

	{define #button}
	<button type="button" n:class="$class ? 'btn ' .$class : btn" name="{$control->getHtmlName()}" id="{$control->getHtmlId()}">
		<i n:ifset="$icon" class="{$icon}"></i> {_$control->caption}
	</button>
	{/define #button}

{*
	Calendar Container -------------------------------------------
	@param $control \Nette\Forms\Controls\CalendarButton
*}
{define #rentalType}
	{var
		$_control = $control;
		$container = $control;
	}
	{?unset($control)}
	{include #select, control => $container['type'] , class => 'rentalType' , controlClass => 'select2 notFulltext rentalType'}
	{include #select, control => $container['classification'] , class => 'classification' , controlClass => 'select2 notFulltext classification' }
{/define #rentalType}








