{*
	Fieldset -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	@param $prepend array
	@param $append array
*}
{define #fieldset}
	{default $text = ''}
	<tr>
		<td colspan="3" class="fieldset">{$text}</td>
	</tr>
{/define #fieldset}

{*
	Text Control -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	@param $prepend array
	@param $append array
*}
{define #text}
	{default $prepend = NULL}
	{default $append = NULL}
	{include #baseControl, control => $control, prepend => $prepend, append => $append}
{/define #text}


{*
	Text Area Control -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	@param $prepend array
	@param $append array
*}
{define #textArea}
	{include #baseControl, control => $control}
{/define #textArea}


{*
	Password Control -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	@param $prepend array
	@param $append array
*}
{define #password}
	{default $prepend = ['text' => '<i class="icon-lock"></i>']}
	{default $append = NULL}
	{include #baseControl, control => $control, prepend => $prepend, append => $append}
{/define #password}


{*
	Email Control -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	@param $prepend array
	@param $append array
*}
{define #email}
	{default $prepend = ['text' => '<i class="icon-envelope"></i>']}
	{default $append = NULL}
	{include #baseControl, control => $control, prepend => $prepend, append => $append}
{/define #email}


{*
	Url Control -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	@param $prepend array
	@param $append array
*}
{define #url}
	{default $prepend = ['text' => 'http://']}
	{default $append = NULL}
	{include #baseControl, control => $control, prepend => $prepend, append => $append}
{/define #url}


{*
	Select Control -------------------------------------------
	@param $control \Nette\Forms\Controls\SelectControl
	@param $controlClass string
*}
{define #select}
	{default $controlClass = 'select2'}
	{include #baseControl, control => $control, controlClass => $controlClass}
{/define #select}


{*
	Upload Control -------------------------------------------
	@param $control \Nette\Forms\Controls\UploadControl
	@param $controlClass string
*}
{define #upload}
	{include #baseControl, control => $control}
{/define #upload}


{*
	Texyla Control -------------------------------------------
	@param $control \Nette\Forms\Controls\TextAreaControl
	@param $controlClass string
*}

{define #texyla}
	<tr>
		<td>
			{label $control /}        
		</td>
		<td>
			{input $control , class => "texyla"}
		</td>
		
		<td>
			<span class="help">{$control->getOption('description')}</span>
			<span class="alert">{include #controlErrors, errors => $control->getErrors()}</span>
		</td>
	</tr>
{/define #texyla}


{* 
	===========================================================================================================	
	===========================================================================================================	
	===========================================================================================================	
	===========================================================================================================	
	===========================================================================================================	
*}


{*
	Texyla Control -------------------------------------------
	@param $control \Nette\Forms\Controls\TextAreaControl
	@param $controlClass string
*}
{define #checkbox}
	<tr>
		<td>
			{_$control->caption}       
		</td>
		<td>
			{input $control}
		</td>
		
		<td>
			<span class="help">{$control->getOption('description')}</span>
			<span class="alert">{include #controlErrors, errors => $control->getErrors()}</span>
		</td>
	</tr>
{/define #checkbox}


{*
	Base Control -------------------------------------------
	@param $control \Nette\Forms\Controls\BaseControl
	@param $prepend array
	@param $append array
	@param $controlClass string
*}
{define #baseControl}
<tr>
	<td>
		{_$control->caption}       
	</td>
	<td>
		{capture $input}
			{ifset $controlClass}
				{input $control, class => $controlClass}
			{else}
				{input $control}
			{/ifset}
		{/capture}

		{ifset $prepend}
			<div class="input-prepend">
				<table>
					<tr>
						<td class="prepend"><span class="add-on">{!$prepend['text']}</span></td>
						<td>{!$input}</td>
					</tr>
				</table>
			</div>
		{elseifset $append}
			<div class="input-append">
				<table>
					<tr>
						<td>{!$input}</td>
						<td class="append"><span class="add-on">{!$append['text']}</span></td>
					</tr>
				</table>
			</div>
		{else}
				<table>
					<tr>
						<td>{!$input}</td>
					</tr>
				</table>
		{/ifset}	
	</td>
	<td>
		<span class="help">{$control->getOption('description')}Select the country your rental is in. What if it was longer?</span>
		<span class="invalidAlert">{include #controlErrors, errors => $control->getErrors()}</span>
	</td>
</tr>
{/define #baseControl}


{*
	Errors -------------------------------------------
	@param $errors array
*}
{define #controlErrors}
	{foreach $errors as $error}{$error}{/foreach}
{/define #controlErrors}


{*
	Checkbox List -------------------------------------------
	@param $control \Nextras\Forms\Container\MultiOptionList
*}
{* {define #checkboxList}
<div class="control-group">
	<div class="form-label">
		{label $control /}
		<small>{$control->getOption('description')}</small>
	</div>
	<div class="controls">
		{foreach $control as $key => $label}
			{!$control->getLabelItem($key)->addAttributes(['class' => 'checkbox'])->startTag()}
			{$control->getControlItem($key)}
			{_$label}
			</label>
		{/foreach}
	</div>
</div>
{/define #checkboxList} *}

{define #checkboxList}
	<tr>
		<td colspan="3">
			<table>
				<tr>
					<td>{_$control->caption}</td>
				</tr>
				<tr>
					<td>
			{foreach $control as $key => $label}
				{!$control->getLabelItem($key)->addAttributes(['class' => 'checkbox'])->startTag()} {* <label ...> *}
				{$control->getControlItem($key)}
				{_$label}
				</label>
			{/foreach}

					</td>
				</tr>
			</table>
		</td>
	</tr>
{/define #checkboxList}



{*
	Price Container -------------------------------------------
	@param $control \Extras\Forms\Container\PriceContainer
*}
{define #price}
{var
	$container = $control;
	$mainControl = $container->getMainControl()
}
{?unset($control)}

	<tr>
		<td>
			{label $mainControl /}        
		</td>
		<td>
		{input $container['amount']}
		{input $container['currency'], class => 'select2'}
		</td>
		
		<td>
			<span class="help">{$container->getDescription('description')}</span>
			<span class="alert">{include #controlErrors, errors => $container->getAllErrors()}</span>
		</td>
	</tr>
{/define #price}


{*
	Phone Container -------------------------------------------
	@param $control \Extras\Forms\Container\PhoneContainer
*}
{define #phone}
{var
	$container = $control;
	$mainControl = $container->getMainControl()
}
{?unset($control)}

<tr>
	<td>
		{_$mainControl->caption}     
	</td>
	<td>
		<table>
			<tr>
				<td class="prepend">{input $container['prefix'], class => 'select2'}</td>
				<td>{input $container['number']}</td>
			</tr>
		</table>		
	</td>
	
	<td>
		<span class="help">{$container->getDescription('description')}</span>
		<span class="alert">{include #controlErrors, errors => $container->getAllErrors()}</span>
	</td>
</tr>

{/define #phone}


{*
	Address Container -------------------------------------------
	@param $control \Extras\Forms\Container\AddressContainer
*}
{define #address}
{var
	$container = $control;
	$mainControl = $container->getMainControl()
}
{?unset($control)}

<div class="control-group traMapcontrol" data-link="{plink validateAddress}">

	<div class="row-fluid">
		<div class="span2">
			{label $container['address'] /}
		</div>
		<div class="span2">
			{label $container['locality'] /}
		</div>
		<div class="span2">
			{label $container['postalCode'] /}
		</div>
		<div class="span2">
			{label $container['location'] /}
		</div>
	</div>


	<div class="row-fluid marginBottom">
		<div class="span2">
			{input $container['address'], data-name => "address", data-validation-message => "gps-validation-message"}
		</div>
		<div class="span2">
			{input $container['locality'], data-name => "locality", data-validation-message => "gps-validation-message"}
		</div>
		<div class="span2">
			{input $container['postalCode'], data-name => "postalCode", data-validation-message => "gps-validation-message"}
		</div>
		<div class="span3">
			{input $container['location'], data-name => "primaryLocation", class => 'select2', data-validation-message =>
			"gps-validation-message"}
		</div>
		{input $container['latitude'], data-name => "latitude", class => "latitude"}
		{input $container['longitude'], data-name => "longitude", class => "longitude"}
			  
		<div class="span2">
			<button class="btn btn-orange"><i class="entypo-location"></i> #check</button>
		</div>
							   
		<div class="span12 control-error" id="gps-validation-message"></div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<div class="mapRender" id="map_canvas" data-zoom="{$container->getZoom()}" style="width:100%;height:400px;"></div>
			<div id="gps_position"></div>
		</div>
	</div>
</div>

{/define #address}

{*
	Phrase Container -------------------------------------------
	@param $control \Extras\Forms\Container\PhraseContainer
*}
{define #phrase}
{var
	$container = $control;
	$phrase = $container->getPhrase();
}
{?unset($control)}
<div class="row-fluid phraseForm">

	<div class="span12">
	

	<div class="span2">
		{label $container['phraseType'] /}
		{input $container['phraseType'] , class => 'select2'}       
	</div>


	<div class="span3">
		{label $container['sourceLanguage'] /}
		{input $container['sourceLanguage'], class => 'select2'}
	</div>

	<div class="span2">        
		  {input $container['ready']}
		  {label $container['ready'] /}        
		<b>Translation | <span id="phraseTranslateCurrent"></b>
	</div>
	<div class="span2">
		
		  {input $container['corrected']}
		  {label $container['corrected'] /}
		

		{input $container['changeToLanguage'] , class => 'select2 pull-right' , id => 'phraseLanguage'} 

	</div>  

	</div>
	<hr />
	<div class="span6">
		
	{include #translationVatiations, control => $container['fromVariations']}

	</div>
	<div class="span6">

		
	{foreach $container['to']->getComponents() as $languageContainer}
	{var $language = $languageContainer['variations']->getLanguage()}
	<div class="phrasecontrol hide" id="{$language->getId()}_phrase"> 


		{include #translationVatiations, control => $languageContainer['variations']}

		<div class="pull-left">
		{label $languageContainer['gender'] /}
		{input $languageContainer['gender'] , class => 'select2'}
		</div>

		<div class="pull-right">
		{label $languageContainer['position'] /}
		{input $languageContainer['position'] , class => 'select2'}
		</div>
		<div class="clearfix"></div>



	</div>
	{/foreach}


	</div>

</div>

{/define #phrase}


{*
	Translation Variations Container -------------------------------------------
	@param $control \Extras\Forms\Container\TranslationVariationsContainer
*}
{define #translationVatiations}
{var
	$container = $control;
	$phrase = $container->getPhrase();
	$language = $container->getLanguage();
}
{?unset($control)}
<table class="phraseTable table-striped table">
	<tr>
		{if $phrase->type->pluralVariationsRequired}
			<th>Count</th>
		{/if}
		{if $phrase->type->genderVariationsRequired}
			{foreach $language->genders as $genderName}
				<th>{$genderName}</th>
			{/foreach}
		{/if}
	</tr>
	{foreach $container->getComponents() as $plural}
		<tr>
			{if $phrase->type->pluralVariationsRequired}
				<td>{$language->getPluralName($plural->getName())}</td>
			{/if}
			{foreach $plural->getComponents() as $genders}
				<td>
					{foreach $genders->getComponents() as $gender}
						{$gender->getControl()}
					{/foreach}
				</td>
			{/foreach}
		</tr>
	{/foreach}
</table>

{/define #translationVatiations}


{*
	Rental Photos Container -------------------------------------------
	@param $control \Extras\Forms\Container\RentalPhotosContainer
*}
{define #rentalPhotos}
{var
	$container = $control;
}
{?unset($control)}
<div class="control-photo"><!-- control photo start -->

	<div class="row-fluid">


		<div class="span12">
			<ul id="sortable" class="ui-sortable" n:inner-foreach="$container->getImages() as $image">
				<li data-id="{$image->getId()}" class="ui-state-default">
					<img n:image="$image">
					<a href="#" class="remove">#delete</a>
				</li>
			</ul>
		</div>

	</div>
	<div class="row-fluid text">
		<div class="span12">


				<span class="btn btn-green fileinput-button">
					<i class="entypo-upload"></i>
					<span>Add files...</span>
					{input $container['upload']}
				</span>
					
		</div>
	</div>
	<div class="row-fluid">
		<p>
			#Vyberte súbory alebo ich potiahnite z inej aplikácie sem.
			Nahrať môžete aj viac fotografií naraz. Maximálny rozmer je 1500 x 1500 pixelov.
			Minimálna šírka fotografie je 450px.
			Pridanie fotografie trvá niekoľko sekúnd v závislosti od rýchlosti vášho pripojenia.
		</p>
	</div>





	{*<input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple="">*}
	
	{input $container['sort']}
<div class="clearfix"></div>
</div>
{/define #rentalPhotos}


{*
	Calendar Container -------------------------------------------
	@param $control \Nette\Forms\Controls\CalendarButton
*}
{define #calendar}
{var
	$_control = $control;
	$container = $control;
	$months = $container->getMonths();
}
{?unset($control)}
<div class="calendarEdit">
	{control calendar:editable, 12}
	{input $container['data']}
</div>
{/define #calendar}



{*
	Submit Button Container -------------------------------------------
	@param $control \Nette\Forms\Controls\SubmitButton
	@param $icon string
	@param $class string
*}
{define #submit}
{default $class = null}
<tr>
	<td>
		      
	</td>
	<td colspan="2">
		<button type="submit" n:class="$class ? 'btn ' .$class : btn" name="{$control->getHtmlName()}" id="{$control->getHtmlId()}">
			<i n:ifset="$icon" class="{$icon}"></i> {$control->caption}
		</button>
	</td>
</tr>
{/define #submit}


{*
	Button Container -------------------------------------------
	@param $control \Nette\Forms\Controls\SubmitButton
	@param $icon string
*}
{define #button}
<button type="button" class="btn" name="{$control->getHtmlName()}" id="{$control->getHtmlId()}">
	<i n:ifset="$icon" class="{$icon}"></i> {$control->caption}
</button>
{/define #button}