<div class="tabBar" n:inner-foreach="$tabs as $id=>$v">
	<a href="#{$v->id}" n:class="$v->active ? active"><h2>{_$v->header}</h2></a>
	<div class="cleaner" n:if="$iterator->last"></div>
</div>
<div class="tabsContent" n:inner-foreach="$tabs as $id=>$v">
	<div id="tab-{$v->id}" class="{$v->active ? active} tabContent">
		{$v->content}
	</div>
</div>