{block content}

<pre class="brush: php">
{$newClass}
</pre>

{* <textarea style="width:900px;height:800px;">{$newClass}</textarea> *}

<script type="text/javascript">
     SyntaxHighlighter.all()
</script>