{block content}

<ul n:inner-foreach="$menu as $val">
	<li><a n:href="EntityGenerator:default $val['fullname']">{$val['name']}</a></li>
</ul>

<pre class="brush: php">
{$newClass}
</pre>

{* <textarea style="width:900px;height:800px;">{$newClass}</textarea> *}

<script type="text/javascript">
     SyntaxHighlighter.all()
</script>