{block content}

{includeblock APP_DIR.'/BaseModule/forms/@formControls.latte'}
{form phraseEditForm , class => 'phraseEditForm'}

		{include #phrase, control => $form['phrase']}

		{dump $form->getAllErrors()}

		{include #submit, control => $form['save']}
{/form}