{block content}

{includeblock APP_DIR.'/BaseModule/forms/@formControls.latte'}
{form phraseEditForm}
	
		<tr class="formHeading	">
			<td colspan="3">{_o100096}</td>
		</tr>


		{include #phrase, control => $form['phrase']}


{dump $form->getAllErrors()}
{/form}