{# content}

<h1>Update Phrase Status</h1>

{control phraseResolveForm}

<h1>Set As UpToDate</h1>

{control setAsUpToDateForm}


{ifset $viewPhrase}
	<h3>Phrase: {$viewPhrase->getId()} - {$viewPhrase->getStatusLabel()}</h3>
	<table class="table table-condensed">
		<tr n:foreach="$viewPhrase->getTranslations() as $translation">
			<td>{$translation->getLanguage()->getIso()}</td>
			<td>{$translation->getStatusLabel()}</td>
		</tr>
	</table>
{/ifset}

{/#}
