{block content}

<div class="row-fluid">
	<div class="span12 marginBottom">
		<h1>!nadpis!</h1>
	</div>
</div>

{includeblock APP_DIR.'/BaseModule/forms/@formControls.latte'}
{form newPasswordForm, class => "traform dashboard"}
	<table class="formTable innerPadding">
		{include #password, control => $form['password']}
		{include #password, control => $form['password2']}
		{include #submit, control => $form['submit']}
	</table>
{/form}
