{# content}
<h1>Cache</h1>

<p>
	<ul>
		<li><a n:href="invalidateTranslatorCache">Invalidate Translator Cache</a></li>
		<li><a n:href="invalidateSearchBarCache">Invalidate SearchBar Cache</a></li>
		<li><a n:href="invalidateHomeCache">Invalidate Home Cache</a></li>
	</ul>
</p>

{/#}
