name_show:
	guest: allow
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	telmarkmanager: deny
	telmarkoperator: deny
	manager: deny
	admin: deny
	superadmin: deny
	
name_edit:
	guest: allow
	potentialowner: allow
	owner: deny
	translator: deny
	assistant: deny
	telmarkmanager: deny
	telmarkoperator: deny
	manager: deny
	admin: deny
	superadmin: deny
	
id_show:
	guest: allow
	potentialowner: deny
	owner: allow
	translator: deny
	assistant: deny
	telmarkmanager: deny
	telmarkoperator: deny
	manager: deny
	admin: deny
	superadmin: deny
	
id_edit:
	guest: allow
	potentialowner: allow
	owner: deny
	translator: allow
	assistant: allow
	telmarkmanager: allow
	telmarkoperator: deny
	manager: deny
	admin: deny
	superadmin: deny
	
oldId_show:
	guest: allow
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	telmarkmanager: deny
	telmarkoperator: deny
	manager: deny
	admin: deny
	superadmin: deny
	
oldId_edit:
	guest: allow
	potentialowner: allow
	owner: deny
	translator: deny
	assistant: deny
	telmarkmanager: deny
	telmarkoperator: deny
	manager: deny
	admin: deny
	superadmin: deny
	
created_show:
	guest: allow
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	telmarkmanager: deny
	telmarkoperator: deny
	manager: deny
	admin: deny
	superadmin: deny
	
created_edit:
	guest: allow
	potentialowner: allow
	owner: deny
	translator: deny
	assistant: deny
	telmarkmanager: deny
	telmarkoperator: deny
	manager: deny
	admin: deny
	superadmin: deny
	
updated_show:
	guest: allow
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	telmarkmanager: deny
	telmarkoperator: deny
	manager: deny
	admin: deny
	superadmin: deny
	
updated_edit:
	guest: allow
	potentialowner: allow
	owner: deny
	translator: deny
	assistant: deny
	telmarkmanager: deny
	telmarkoperator: deny
	manager: deny
	admin: deny
	superadmin: deny