name_show:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
name_edit:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
description_show:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
description_edit:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
package_show:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
package_edit:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
locations_show:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
locations_edit:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
countTotal_show:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
countTotal_edit:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
countLeft_show:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
countLeft_edit:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
validFrom_show:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
validFrom_edit:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
validTo_show:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
validTo_edit:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
uses_show:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
uses_edit:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
id_show:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
id_edit:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
oldId_show:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
oldId_edit:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
created_show:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
created_edit:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
updated_show:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
updated_edit:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny