rental_show:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
rental_edit:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
lastChecked_show:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
lastChecked_edit:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
location_show:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
location_edit:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
language_show:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
language_edit:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
linkUrl_show:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
linkUrl_edit:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
linkAnchor_show:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
linkAnchor_edit:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
linkTitle_show:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
linkTitle_edit:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
htmlCode_show:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
htmlCode_edit:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
notes_show:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
notes_edit:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
id_show:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
id_edit:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
oldId_show:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
oldId_edit:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
created_show:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
created_edit:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
updated_show:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
updated_edit:
	guest: deny
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny