name_show:
	admin: deny
	assistant: deny
	guest: allow
	manager: deny
	owner: deny
	potentialowner: deny
	superadmin: deny
	telmarkmanager: deny
	telmarkoperator: deny
	translator: deny
	
name_edit:
	admin: deny
	assistant: deny
	guest: allow
	manager: deny
	owner: deny
	potentialowner: deny
	superadmin: deny
	telmarkmanager: deny
	telmarkoperator: deny
	translator: deny
	
iso_show:
	admin: deny
	assistant: deny
	guest: deny
	manager: deny
	owner: deny
	potentialowner: deny
	superadmin: deny
	telmarkmanager: deny
	telmarkoperator: deny
	translator: deny
	
iso_edit:
	admin: deny
	assistant: deny
	guest: deny
	manager: deny
	owner: deny
	potentialowner: deny
	superadmin: deny
	telmarkmanager: deny
	telmarkoperator: deny
	translator: deny
	
exchangeRate_show:
	admin: deny
	assistant: deny
	guest: allow
	manager: deny
	owner: deny
	potentialowner: deny
	superadmin: deny
	telmarkmanager: deny
	telmarkoperator: deny
	translator: deny
	
exchangeRate_edit:
	admin: deny
	assistant: deny
	guest: allow
	manager: deny
	owner: deny
	potentialowner: deny
	superadmin: deny
	telmarkmanager: deny
	telmarkoperator: deny
	translator: deny
	
rounding_show:
	admin: deny
	assistant: deny
	guest: allow
	manager: deny
	owner: deny
	potentialowner: deny
	superadmin: deny
	telmarkmanager: deny
	telmarkoperator: deny
	translator: deny
	
rounding_edit:
	admin: deny
	assistant: deny
	guest: allow
	manager: deny
	owner: deny
	potentialowner: deny
	superadmin: deny
	telmarkmanager: deny
	telmarkoperator: deny
	translator: deny
	
id_show:
	admin: deny
	assistant: deny
	guest: allow
	manager: deny
	owner: deny
	potentialowner: deny
	superadmin: deny
	telmarkmanager: deny
	telmarkoperator: deny
	translator: deny
	
id_edit:
	admin: deny
	assistant: deny
	guest: allow
	manager: deny
	owner: deny
	potentialowner: deny
	superadmin: deny
	telmarkmanager: deny
	telmarkoperator: deny
	translator: deny
	
oldId_show:
	admin: deny
	assistant: deny
	guest: allow
	manager: deny
	owner: deny
	potentialowner: deny
	superadmin: deny
	telmarkmanager: deny
	telmarkoperator: deny
	translator: deny
	
oldId_edit:
	admin: deny
	assistant: deny
	guest: allow
	manager: deny
	owner: deny
	potentialowner: deny
	superadmin: deny
	telmarkmanager: deny
	telmarkoperator: deny
	translator: deny
	
created_show:
	admin: deny
	assistant: deny
	guest: allow
	manager: deny
	owner: deny
	potentialowner: deny
	superadmin: deny
	telmarkmanager: deny
	telmarkoperator: deny
	translator: deny
	
created_edit:
	admin: deny
	assistant: deny
	guest: allow
	manager: deny
	owner: deny
	potentialowner: deny
	superadmin: deny
	telmarkmanager: deny
	telmarkoperator: deny
	translator: deny
	
updated_show:
	admin: deny
	assistant: deny
	guest: allow
	manager: deny
	owner: deny
	potentialowner: deny
	superadmin: deny
	telmarkmanager: deny
	telmarkoperator: deny
	translator: deny
	
updated_edit:
	admin: deny
	assistant: deny
	guest: allow
	manager: deny
	owner: deny
	potentialowner: deny
	superadmin: deny
	telmarkmanager: deny
	telmarkoperator: deny
	translator: deny