{control header:begin}
	{control css}
	<script type="text/javascript"> var baseUrl = '{!$baseUrl}'; </script>
	{control js}
{control header:end}
	<div class="container autopilot">
		{control navigation}
		<div class="inner">
			{control autopilot}
			{control flashes}
			{include #content}
		</div>
	</div>
</body>
</html>