{block title}{include #parent} | David{/block}

{block content}
<h1>Wacco List</h1>

{$form}


<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false"></script>
<script type="text/javascript" src="{$basePath}/scripts/nette.gpsPicker.js"></script>