list:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: deny
	
edit:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: allow
	translator: deny
	assistant: assert1
	vendor: deny
	manager: deny
	admin: deny
	
adsf:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: allow
	assistant: assert1
	vendor: deny
	manager: deny
	admin: deny