list:
	guest: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	telmarkmanager: deny
	telmarkoperator: deny
	manager: deny
	admin: deny
	
edit:
	guest: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	telmarkmanager: deny
	telmarkoperator: deny
	manager: deny
	admin: deny
	
add:
	guest: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	telmarkmanager: deny
	telmarkoperator: deny
	manager: deny
	admin: deny