list:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: allow
	
edit:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: allow
	
add:
	guest: allow
	visitor: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	vendor: deny
	manager: deny
	admin: allow