List:
	guest: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	telmarkmanager: deny
	telmarkoperator: deny
	manager: deny
	admin: deny
	
Add:
	guest: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	telmarkmanager: deny
	telmarkoperator: deny
	manager: deny
	admin: deny
	
Edit:
	guest: deny
	potentialowner: deny
	owner: deny
	translator: deny
	assistant: deny
	telmarkmanager: deny
	telmarkoperator: deny
	manager: deny
	admin: deny