{block content}
<h1>TRAx Import</h1>

<a href="?truncateDatabase=1">Truncate Database</a>
<ul>
{foreach $sections as $key => $value}
    <li>{$key} {if $value>0}<a href="?undoSection={$key}">UNDO</a>{/if} {if $value===0}<a href="?importSection={$key}">IMPORT</a>{/if}</li>
{/foreach}
</ul>
