/* ľšč*/
.registerRibbon {
    position: absolute;
    width: 255px;
    height: 101px;
    left: 729px;
    top: 3px;
    background: url(../images/matrix_main.png) -729px -2010px;
}
.registerRibbon .text {
    float: left;
    width: 128px;
    color: #fff;
    font-size: 14px;
    padding: 31px 2px 0;
    text-align: center;
    line-height: 1.1;
}
.registerRibbon .text span {
    color: #fff;
    font-size: 20px;
}
.registerRibbon .price {
    float: left;
    width: 95px;
    color: #000;
    padding: 23px 2px 0;
    text-align: center;
    line-height: 1.1;
}
.registerRibbon .price b {
    color: #cf2c16;
    font-size: 26px;
}
h1.register {
    padding-bottom: 45px;
}

/***********/

.registerPricesTab {
    padding: 15px;
}
.registerPricesTab table.holder {
    width: 700px;
}
.registerPricesTab table.holder td, .registerPricesTab table.holder th {
    border-top: 1px solid #ab947e;
    font-size: 12px;
    font-weight: normal;
    padding: 5px 5px 6px 5px;
    text-align: center;
}
.registerPricesTab table.holder tr.submit td div div {
    font-size: 14px;
    color: #fff;
    padding: 0px 0px 2px 0px;
    line-height: 0.8;
    /*
    padding: 7px 0px 4px 0px;*/
}
.registerPricesTab table.holder tr.submit td div div.value {
    font-size: 18px;
    color: #fff;
    padding-top: 2px;
}
.registerPricesTab table.holder tr.submit td.submitExtra div div.value {
    padding-top: 12px;
}
.registerPricesTab table.holder tr.submit td.submitKlasik div.value {
    font-size: 24px;
}
.registerPricesTab table.holder tr.submit td.submitKlasik div.value b {
    font-size: 30px;
}
.registerPricesTab table.holder td.extra, .registerPricesTab table.holder th.headerExtra, .registerPricesTab table.holder td.submitExtra {
    padding: 5px 0px 6px 16px;
}
.registerPricesTab table.holder td.klasik, .registerPricesTab table.holder th.headerKlasik, .registerPricesTab table.holder td.submitKlasik {
    padding: 5px 0px 6px 16px;
}
.registerPricesTab table.holder th.last {
    background: url(../images/matrix_main.png) -400px -2824px;
}
.registerPricesTab table.holder th, .registerPricesTab table.holder tbody tr:first-child td {
    border: 0;
}
.registerPricesTab table.holder td:first-child, .registerPricesTab table.holder th:first-child {
    text-align: left;
}
.registerPricesTab table.holder th:first-child {
    width: 90%;
}
.registerPricesTab tr.dark td {
    background: #faf6f4;
}
.registerPricesTab tr.light td {
    background: #fff;
}
.registerPricesTab tr.dark td.klasik {
    background: #fcfbf9;
    border-color: #d7caba;
}
.registerPricesTab tr.light td.klasik {
    border-color: #d7caba;
}
.registerPricesTab tr.transparent td.klasik {
    border-color: #d7caba;
}
.registerPricesTab tr.dark td.extra {
    background: url(../images/matrix_main.png) -216px -2910px;
}
.registerPricesTab tr.light td.extra {
    background: url(../images/matrix_main.png) -216px -2990px;
}
.registerPricesTab tr.transparent td.extra {
    background: url(../images/matrix_main.png) -216px -3070px;
}
.registerPricesTab tr.dark td.last {
    background: url(../images/matrix_main.png) -400px -2910px;
}
.registerPricesTab tr.light td.last {
    background: url(../images/matrix_main.png) -400px -2990px;
}
.registerPricesTab tr.transparent td.last {
    background: url(../images/matrix_main.png) -400px -3070px;
}
.registerPricesTab tr.submit td {
    border: 0;
}
.registerPricesTab tr.dark div.icon, .registerPricesTab tr.light div.icon {
    width: 20px;
    height: 20px;
    background: url(../images/matrix_main.png) -450px -1071px;
    margin: 0px auto;
}
.registerPricesTab tr.dark td.extra div.icon, .registerPricesTab tr.light td.extra div.icon {
    background-position: -450px -1111px;
}
.registerPricesTab th.shadow {
    background: url(../images/matrix_main.png) -4px -2824px;
}
.registerPricesTab th.shadow_2 {
    background: url(../images/matrix_main.png) -202px -2824px;
}
.registerPricesTab td.shadow {
    background: url(../images/matrix_main.png) -4px -3150px;
}
.registerPricesTab table.holder td.shadow_2 {
    background: url(../images/matrix_main.png) -202px -3070px;
    border-color: #D7CABA;
}
.registerPricesTab tr.dark td.shadow {
    background: url(../images/matrix_main.png) -4px -2910px;
}
.registerPricesTab tr.dark td.shadow_2 {
    background: url(../images/matrix_main.png) -202px -2910px;
    border-color: #D7CABA;
}
.registerPricesTab tr.light td.shadow {
    background: url(../images/matrix_main.png) -4px -2990px;
}
.registerPricesTab tr.light td.shadow_2 {
    background: url(../images/matrix_main.png) -202px -2990px;
    border-color: #D7CABA;
}
.registerPricesTab td.submitKlasik {
    background: url(../images/matrix_main.png) -18px -3150px;
}
.registerPricesTab td.submitKlasik div.price {
    height: 100px;
    overflow: hidden;
}
.registerPricesTab tr.submit td.shadow_2 {
    background: url(../images/matrix_main.png) -202px -3150px;
}
.registerPricesTab td.submitExtra {
    background: url(../images/matrix_main.png) -216px -3150px;
}
.registerPricesTab td.submitExtra div.price {
    height: 100px;
    overflow: hidden;
}
.registerPricesTab tr.submit td.last {
    background: url(../images/matrix_main.png) -400px -3150px;
}
.registerPricesTab th.headerKlasik {
    background: url(../images/matrix_main.png) -18px -2824px;
    color: #CF2C16;
    line-height: 1;
    padding-top: 20px!important;
    position: relative;
}
.registerPricesTab th.headerKlasik span {
    color: #CF2C16;
    font-size: 18px;
}
.registerPricesTab th.headerExtra {
    background: url(../images/matrix_main.png) -216px -2824px;
    color: #A0B325;
    line-height: 1;
    padding-top: 20px!important;
}
.registerPricesTab th.headerExtra span {
    color: #A0B325;
    font-size: 18px;
}

.registerPricesTab tr.submit a {
    font-weight: bold;
    color: #A0B325;
    text-decoration: none;
}
.registerPricesTab tr.submit a * {
    background: url(../images/matrix_bt.png);
    padding: 14px 0 17px;
    color: #A0B325;
    line-height: 40px;
}
.registerPricesTab tr.submit a .text {
    background-position: 0 -845px;
    padding-left: 15px;
}
.registerPricesTab tr.submit a .space {
    background-position: right -845px;
    padding-right: 10px;
}
.registerPricesTab tr.submit a:hover .text {
    background-position: 0 -895px;
}
.registerPricesTab tr.submit a:hover .space {
    background-position: right -895px;
}
.registerPricesTab tr.submit td.submitKlasik a .text {
    background-position: 0 -725px;
    padding-left: 15px;
}
.registerPricesTab tr.submit td.submitKlasik a .space {
    background-position: right -725px;
    padding-right: 10px;
}
.registerPricesTab tr.submit td.submitKlasik a:hover .text {
    background-position: 0 -785px;
}
.registerPricesTab tr.submit td.submitKlasik a:hover .space {
    background-position: right -785px;
}
.registerPricesTab tr.submit td.submitKlasik a * {
    padding: 19px 0 21px;
    color: #CF2C16;
    font-size: 12px;
    line-height: 52px;
}
.registerPricesTab .bullet {
    position: absolute;
    width: 14px;
    height: 18px;
    background: url(../images/matrix_main.png) -450px -1047px;
    margin: 0px 0px 0px 6px;
}
.registerPricesTab tr.red .bullet {
    background-position: -450px -1027px;
}
.registerPricesTab .itemText {
    font-size: 12px;
    padding: 0px 0px 0px 26px;
}
.registerPricesTab tr.red .itemText {
    font-weight: bold;
    color: #CF2C16;
}



/***********/

.registerRegisterTab {
    padding: 15px 20px;
}
.registerRegisterTab div.packages {
    height: 30px;
    width: 701px;
    margin: 0 0 5px 0px;
    cursor: pointer;
}
.registerRegisterTab div.packages.klasik {
    background: url(../images/matrix_main.png) 0px -2010px;
}
.registerRegisterTab div.packages.klasik:hover {
    background-position: 0px -2045px;
}
.registerRegisterTab div.packages.klasik.selected, .registerRegisterTab div.packages.klasik.selected:hover {
    background-position: 0px -2080px;
}
.registerRegisterTab div.packages.extra {
    background: url(../images/matrix_main.png) 0px -2115px;
}
.registerRegisterTab div.packages.extra:hover {
    background-position: 0px -2150px;
}
.registerRegisterTab div.packages.extra.selected, .registerRegisterTab div.packages.extra.selected:hover {
    background-position: 0px -2185px;
}
.registerRegisterTab div.packages.marketing {
    background: url(../images/matrix_main.png) 0px -2640px;
}
.registerRegisterTab div.packages.marketing * {
    color: #fff;
}
.registerRegisterTab div.packages div {
    float: left;
    padding-top: 8px;
    font-size: 11px;
    color: #663300;
}
.registerRegisterTab div.packages div.red {
    color: #f00;
}
.registerRegisterTab div.packages.selected div {
    color: #ffffff;
}
.registerRegisterTab div.packages div.aa {
    width: 300px;
}
.registerRegisterTab div.packages.marketing div.aa {
    width: 220px;
}
.registerRegisterTab div.packages div.bb {
    width: 70px;
    text-align: right;
}
.registerRegisterTab div.packages.marketing div.bb {
    width: 213px;
    text-align: right;
}
.registerRegisterTab div.packages div.cc {
    width: 60px;
    text-align: right;
}
.registerRegisterTab div.packages input {
    width: auto;
    position: relative;
    top: 0px;
    left: 0px;
    border: 0;
    float: none;
}
.registerRegisterTab div.packages .orange {
    color: #ff500d;
    font-weight: bold;
}
.registerRegisterTab div.packages .sea {
    color: #1c2e6e;
    font-weight: bold;
}
.registerRegisterTab div.packages .larger {
    font-size: 12px;
}
.registerRegisterTab div.splitter {
    text-align: center;
    padding: 10px 0 15px;
}
.registerRegisterTab div.splitter a {
    color: #a0b325;
}
.registerRegisterTab div.splitter_content p {
    color: #1c2e6e;
    padding: 2px 0 4px;
}
.registerRegisterTab div.splitter_content a, div.splitter_content a:visited {
    display: block;
    color: #ff0000;
    margin: 0 0 13px 16px;
}
.registerRegisterTab .registerSeparator {
    background: url(../images/matrix_main.png) 0px -1760px;
    font-size: 1px;
    height: 11px;
    width: 742px;
    display: block;
    position: relative;
    left: -20px;
    margin-top: 13px;
}
.registerRegisterTab div.packagesTotalPrice {
    background: url(../images/matrix_main.png) -520px -1771px;
    width: 214px;
    height: 83px;
    margin: 0px 0px 0px 459px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.registerRegisterTab div.packagesTotalPrice p {
    padding: 10px 0px 0px 0px;
    color: #fff;
}
.registerRegisterTab div.packagesTotalPrice p.price {
    font-weight: bold;
    font-size: 24px;
    padding: 6px 0px 0px 0px;
}


.changePackageWrapper {
    text-align: right;
    margin: 10px 1px 0px 0px;
}
.changePackageWrapper a {
    color: #fff;
    text-decoration: none;
}
.changePackageWrapper a:hover {
    color: #fff;
}
.changePackageWrapper a, .changePackageWrapper a * {
    line-height: 31px;
    font-size: 14px;
    font-weight: bold;
}
.changePackageWrapper a * {
    background: url(../images/matrix_bt.png);
    padding: 6px 0 7px;
    color: #fff;
}
.changePackageWrapper a:hover * {
    color: #fff;
}
.changePackageWrapper a .text {
    background-position: 0 -250px;
    padding-left: 49px;
}
.changePackageWrapper a .space {
    background-position: right -250px;
    padding-right: 9px;
}
.changePackageWrapper a:hover .text {
    background-position: 0 -285px;
}
.changePackageWrapper a:hover .space {
    background-position: right -285px;
}


/***********/

.registerLoginTab {
    padding: 15px 20px;
}


/***********/

.registerPasswordTab {
    padding: 15px 20px;
}
