@import './less-functions.less';

.rentaletailNavigaton {

	background: #eee;
	border: 1px solid rgb(213, 213, 213);
	height: 41px;
	line-height: 32px;
	text-align: center;
	width: 964px;
	margin: 0 auto;
	font-size: 13px;
	position: relative;
	bottom: -10px;
	.top-border-radius(5px);
	color: #777;
	overflow: hidden;
	
	margin-bottom: -10px;
	a {
		color: @darkGreen;
	}



	.prev , .next , .menu {
		background: #eee;

		background-image: linear-gradient(bottom, #E8E8E8 0%, #FAFAFA 100%);
		background-image: -o-linear-gradient(bottom, #E8E8E8 0%, #FAFAFA 100%);
		background-image: -moz-linear-gradient(bottom, #E8E8E8 0%, #FAFAFA 100%);
		background-image: -webkit-linear-gradient(bottom, #E8E8E8 0%, #FAFAFA 100%);
		background-image: -ms-linear-gradient(bottom, #E8E8E8 0%, #FAFAFA 100%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, #E8E8E8),
			color-stop(1, #FAFAFA)
		);	

		color: rgb(104, 104, 104);
		float: left;
		display: block;
		height: 32px;
		
		width:23px;

		i {
			float: left;
			height:0;
			&:before {
				height:0;
			}
		}

		&:hover {
			background: rgb(221, 221, 221);

		}

	}

	.prev {
		padding-left: 10px;

		i {
			&:before {

			}
		}

		.info {
			float: right;
		}
	}

	.next {
		float: right;
		padding-right: 10px;
		border-left: 1px solid rgb(213, 213, 213);
		i {
			float: right;
			margin-left: 10px;
			display: block;
		}
	}

	.menu {
		padding-left: 10px;
		padding-right: 5px;
		border-left: 1px solid rgb(213, 213, 213);
		border-right: 1px solid rgb(213, 213, 213);
		i {
			font-size: 19px;
			position: relative;
			top: -4px;
		}

		&:hover {
			text-decoration: none;
		}
	}

	.content {
		width: 857px;		
		height: 32px;
		float: left;
		overflow: hidden;
		background: #fff;
		padding-top: 1px;
	}

	ul {
		margin: 0;
		padding: 0;
		li {
			display: inline;

			img {
				max-height: 30px;
			}

			a {
				opacity: 0.7;
				&:hover {
					opacity: 1;
				}
			}
		}
	}

}