@bodyBg : #eef2d1;
@darkGreen : #698308;
@lightGreen: #b0c13b;
@brown : #7d3300 ;
@textGreen: #a8b938;
@orange: #f35405;
@white : #fff;
@supfooterBg : #fdfdf8;
@supfooterDropshadowColor: #3e4813;

/* content colors */
@contentBackground : @supfooterBg;

/* sidebar */
#sidebar {

	margin-bottom: 10px;

	h4 {
		font-size: 14px;
		margin: 0;
		padding: 0 10px;
		margin-bottom: 5px;

	
		margin-top: 10px;		
	}

	.widget {
		border-bottom: 1px solid @lightGreen;


	}	

	.widget:first-child {
		background: #f26900;
		margin: 0 1px;
		margin-bottom: 10px;			
		border-bottom: none;
	}

	.widget:last-child {
		border: none;
	}

	.searchForm {

			margin: 1px;			

			background: #f26900;

			-webkit-border-top-left-radius: 6px;
			-webkit-border-top-right-radius: 6px;
			-moz-border-radius-topleft: 6px;
			-moz-border-radius-topright: 6px;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;

margin-bottom: 0;
border-bottom: 1px solid rgb(170, 96, 40);
box-shadow: -1px 1px 1px #fff;

		padding: 10px 0;

	}

	.input-filltext {
		


		.select2-container {
			a {
				width: 190px;
				border: 1px solid #f26900;
				background: #fff;

				div {
					width: 22px;
					background: #fff;
					border: none;
				}
			}
		}


		margin: 0 auto;
		padding: 0;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		height: 28px;
		border: 1px solid #F26900;
		background: #fff;
		width: 200px;

		input[type=text] {
			width: 140px;
			color: @darkGreen;
			font-weight: bold;
			font-size: 16px;
		}

		input::-webkit-input-placeholder {
		    color:    #999;
		    font-weight: bold;
		}
		input:-moz-placeholder {
		    color:    #999;
		    font-weight: bold;
		}
		input:-ms-input-placeholder {
		    color:    #999;
		    font-weight: bold;
		}

		button.btn {
			width: 39px;
			height:38px;
			line-height: 30px;
			color: #F24100;

			i {
				&:before {
					font-size: 70px;
					position: relative;
					left: -3px;
					top: -5px;
				}
			}
		}

		input[type=text] , button.btn {
			float: left;
			border: none;
			height:30px;
			background: transparent;
		}
	}



	ul {

		list-style: none;	
		margin: 0 ;
		padding: 0 ;
		font-size: 13px;
		li {

			padding: 0 10px 0 25px;

			&.disabled {

				color: #ccc;

				&:hover {
					background: transparent;
					color: #ccc;
				}

				&:before {
					color: #ccc;
				}
			}

			span.counter {
				
				
				padding: 1px 2px;
				color: #ccc;
				font-size: 11px;

				&:before {
					content: '(';
				}

				&:after {
					content: ')';	
				}
			}

			a {
				display: block;	
				
				padding: 0 5px;
				&:hover {
					text-decoration: none;

					span.entypo-remove {
						visibility: visible;
					}					
				}

				span.entypo-remove {
					visibility: hidden;
				}
			}

			&:last-child {
				margin-bottom: 10px;
			}

			&:hover {
				background: #f5f7ea;
				color: @white;
				text-decoration: none;
			}
			
			&:before {
				  font-family: "entypo";
				  font-weight: normal;
				  font-style: normal;
				  
				  text-decoration: inherit;
				  content:'\E75E';
				  color: @brown;
				  font-size: 25px;
				  margin-right: 3px;
				  float: left;
				  line-height: 19px;
				  height: 20px;
				  position: relative;
				  left: -9px;
				  width: 0;

			}

			&.selected {


				&:last-child {
					margin-bottom: 20px;
				}

				margin: 0 1px;
				border: none;

				background: #f26900;




				a {
					padding: 6px 0;
					font-weight: bold;
					color: #d32c16;
					span {
						font-weight: normal;

						&.close {
							
							opacity:1;
							color: red;
							font-size: 15px;
							display: block;
							width: 20px;
							text-align: center;
							text-shadow: none;
						}

						&.counter {
							display: none;
						}
					}
				}

				&:hover {
					text-decoration: line-through;
				}

				&:before {
					content:'\2713';					
				}
			}

			&.more {

				a {
					color: @brown;
				}

				&:before {
					content:'\E75C';	
					left: -11px;
				}

				&.open {
					&:before {
						content:'\E75F';	
					}					
				}

			}
		}
	}

}