{block content}
{cache $rootHomeCacheOptions['key'],
	if => $rootHomeCacheOptions['enabled'],
	expire => $rootHomeCacheOptions['expiration'],
	tags => $rootHomeCacheOptions['tags']}


{include APP_DIR.'/FrontModule/templates/homeList.latte'}

{/cache}
