{block content}
{var $tempCacheOptions = $getCacheOptions('rootHome')}

{cache $tempCacheOptions['key'],
	if => $tempCacheOptions['enabled'],
	expire => $tempCacheOptions['expiration'],
	tags => $tempCacheOptions['tags']}


{include APP_DIR.'/FrontModule/templates/homeList.latte'}

{/cache}
