{block content}

		
		<ul class="homePageRentalList">
			 
			<li>
				<a href="http://www.sk.tra.com/">
					<div class="title">Slovensko <span>22</span> </div> <i class="icon-angle-right"></i>                    
				</a>
			</li>
            
		</ul>
		
	  
	   
		